<small-modal class="white text-center"
  id="modal-confirm-back"
  title="'Are you sure?'">
  <modal-body>
    <p>Going back to the previous step means that you will lose all
      <br/>your currently selected assets in Step 2: Apply.
    </p>
  </modal-body>
  <modal-footer>
    <button class="transparent-button-white"
      data-ng-click="$close(false)">Cancel</button>
    <button class="primary-button"
      data-ng-click="$close(true)">Continue to Step 1: Define</button>
  </modal-footer>
</small-modal>
