<html>
<head>
<meta charset="utf-8" />
<title>MAST JSON Schema Validator</title>

<script src="index.json"></script>
<script src="jsoneditor.js"></script>
<script
  src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script
  src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>
<link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.bootstrap3.css">

</head>
<body onLoad="load()">
  <h1>MAST JSON Schema Validator</h1>
  <ol>
    <li>Select a shema from the dropdown below this will populate the
      schema
    <li>Click edit JSON and paste in the json to be validated
    <li>Validation errors will shown below
  </ol>

  <span>Select SCHEMA <select id="SchemaList"
    onchange="onListChange()"></select>
  </span>
  <br>
  <button id='submit'>Submit (console.log)</button>
  <button id='restore'>Restore to Default</button>
  <button id='enable_disable'>Disable/Enable Form</button>
  <span id='valid_indicator'></span>
  <div id='error_holder'></div>
  <div id='editor_holder'></div>
  <h3>JSON SCHEMAS</h3>

  <script>
    this.starting_value = [ {} ];

    this.onListChange = function() {

      var selectBox = document.getElementById("SchemaList");
      var itemFile = selectBox.options[selectBox.selectedIndex].value;

      var itemsInner = new Array();

      var items = new Array();
      items.push({
        $ref : itemFile,
        title : itemFile
      });

      var item = new Object();
      item.title = itemFile;
      item.headerTemplate = "{{i}} - " + itemFile;
      item.oneOf = items;
      itemsInner.push(item);

      var myNode = document.getElementById("editor_holder");
      myNode.innerHTML = '';

      // Initialize the editor
      var editor = new JSONEditor(document
          .getElementById('editor_holder'), {
        // Enable fetching schemas via ajax
        ajax : true,

        // The schema for the editor
        schema : {
          path : "testing123",
          type : "array",
          title : "Mast Json Schema API",
          format : "tabs",
          items : itemsInner
        },

        // Seed the form with a starting value
        startval : this.starting_value,

        // Disable additional properties
        no_additional_properties : true,

        // Require all properties by default
        required_by_default : true
      });

      // Hook up the validation indicator to update its
      // status whenever the editor changes
      editor.on('change', function() {
        // Get an array of errors from the validator
        var errors = editor.validate();
        console.log(errors);

        var myNode = document.getElementById("error_holder");
        myNode.innerHTML = '<h4>Validation Errors</h4>';

        if (errors.length > 0) {
          for (var i = 0; i < errors.length; i++) {
            myNode.innerHTML += errors[i].message;
            myNode.innerHTML += ' - ';
            myNode.innerHTML += errors[i].path;
            myNode.innerHTML += '<br>';
          }
        }

        var indicator = document.getElementById('valid_indicator');

        // Not valid
        if (errors.length) {
          indicator.style.color = 'red';
          indicator.textContent = "not valid";
        }
        // Valid
        else {
          indicator.style.color = 'green';
          indicator.textContent = "valid";
        }
      });
      this.editor = editor;
    }

    this.load = function() {
      //JSONEditor.plugins.selectize.enable = true;

      var jsonFiles = JSON.parse(jsonFile);
      jsonFiles.sort();
      this.jsonFiles = jsonFiles;

      var select = document.getElementById("SchemaList");
      for (var i = 0; i < jsonFiles.length; i++) {
        var opt = jsonFiles[i];
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
      }

      // Hook up the submit button to log to the console
      document.getElementById('submit').addEventListener('click',
          function() {
            // Get the value from the editor
            console.log(editor.getValue());
          });

      // Hook up the Restore to Default button
      document.getElementById('restore').addEventListener('click',
          function() {
            editor.setValue(this.starting_value);
          });

      // Hook up the enable/disable button
      document.getElementById('enable_disable').addEventListener('click',
          function() {
            // Enable form
            if (!editor.isEnabled()) {
              editor.enable();
            }
            // Disable form
            else {
              editor.disable();
            }
          });

      //document.body.appendChild(document.createElement('JSON Schema Downloads'));
      var items = new Array();
      for (var i = 0; i < jsonFiles.length; i++) {
        var itemFile = jsonFiles[i];
        var a = document.createElement('a');
        var linkText = document.createTextNode(itemFile);
        a.appendChild(linkText);
        a.title = itemFile + "json schema";
        a.href = itemFile;
        document.body.appendChild(a);
        document.body.appendChild(document.createElement('br'));
      }
    }
  </script>
</body>
</html>
