<div class="case-management">
  <div class="grid-block case-management-header">
    <div class="grid-content small-3 medium-1 noscroll"
      data-back-button
      data-ng-click="vm.back()"
      title="Back to Case Type Selection">
    </div>
    <div class="grid-content small-9 medium-10">
      <h3>Edit Case</h3>
    </div>
  </div>

  <div class="grid-content small-12 form-content case-tab-content">
    <ng-form
      name="vm.editCaseForm"
      class="edit-case-form"
      id="edit-case-form"
      novalidate>

      <div
        class="grid-content small-12 case-type-header"
        data-ng-class="{'clickable': vm.validAttachment()}">
        <div
          class="noscroll icon"
          data-attachments-and-notes
          data-modal-title="'Case Attachments'"
          data-attachments="vm.attachments">
          <attachments-icon></attachments-icon>
        </div>
        <h5
          name="caseType"
          id="case-type">Case type: <span data-ng-bind="vm.caseType"></span>
        </h5>
      </div>

      <div data-ng-include="'app/asset/cases/edit/partials/case-details.html'"></div>
      <div data-ng-include="'app/asset/cases/edit/partials/asset-details.html'"></div>
      <div data-ng-include="'app/asset/cases/edit/partials/flag-details.html'"></div>
      <div data-ng-include="'app/asset/cases/edit/partials/rule-set.html'"></div>
      <div data-ng-include="'app/asset/cases/edit/partials/class-maintenance.html'"></div>
      <div data-ng-include="'app/asset/cases/edit/partials/key-dates.html'"></div>
      <div data-ng-include="'app/asset/cases/edit/partials/offices-surveyors.html'"></div>
      <div data-ng-include="'app/asset/cases/edit/partials/customers.html'"></div>
    </ng-form>
  </div>
</div>

<div
  data-sticky-footer
  id="edit-case-footer"
  class="edit-case-footer">
  <div class="grid-block">
    <div class="grid-content small-3">
      <button
        data-ng-click="vm.back()"
        class="transparent-dark-button"
        id="edit-case-cancel">
        Cancel edit case
      </button>
    </div>

    <div class="grid-content small-6-up text-right">
      <button
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.save(true)"
        data-ng-class="{'disabled': !vm.validForm()}"
        class="primary-button"
        name="editCaseSave"
        id="edit-case-save">
        Save
      </button>
    </div>
  </div>
</div>
