<div class="build grid-block vertical">
  <div class="grid-block">
    <div class="grid-content small-1">
      <div
        data-back-button
        data-ng-click="vm.back()"
        title="Back to Jobs"
        id="edit-job-back-button">
      </div>
    </div>
    <div class="grid-block vertical small-12">
      <div class="grid-content">
        <h2>
          <span>Edit job</span>
        </h2>
      </div>
    </div>
  </div>

  <div
    class="grid-block vertical content-body-no-padding"
    id="build-container">
    <div class="grid-content content-body-padding">
      <ng-form
        name="vm.editJobForm"
        class="edit-job-form"
        id="edit-job-form"
        novalidate>

        <div class="grid-block vertical form-control background-pure-white">
          <!-- Zero visit -->
          <div>
            <label for="edit-job-zero-visit">Zero visit</label>
          </div>
          <div
            class="radio grid-block"
            id="edit-job-zero-visit">
            <div class="grid-content shrink">
              <input
                disabled
                data-ng-model="vm.jobmodel.zeroVisitJob"
                data-ng-value="true"
                id="edit-job-zero-visit-yes"
                name="zeroVisitJob"
                type="radio"
                role="radio">
              <label for="edit-job-zero-visit-yes">Yes</label>
            </div>
            <div class="grid-content">
              <input
                disabled
                data-ng-model="vm.jobmodel.zeroVisitJob"
                data-ng-value="false"
                id="edit-job-zero-visit-no"
                name="zeroVisitJob"
                type="radio"
                role="radio">
              <label for="edit-job-zero-visit-no">No</label>
            </div>
          </div>
        </div>
        <br />
        <div class="grid-block vertical background-pure-white">
          <!-- Job category -->
          <div class="form-control">
            <label for="add-job-job-category">Job category</label>
            <div
              class="radio grid-block"
              id="add-job-job-category">
              <div class="grid-content shrink">
                <input
                  disabled
                  data-ng-model="vm.jobmodel.jobCategory.id"
                  data-ng-value="vm.jobCategory.survey"
                  id="add-job-job-category-survey"
                  name="jobCategory"
                  type="radio"
                  role="radio">
                <label for="add-job-job-category-survey">Survey</label>
              </div>
              <div class="grid-content">
                <input
                  disabled
                  data-ng-model="vm.jobmodel.jobCategory.id"
                  data-ng-value="vm.jobCategory.auditMms"
                  id="add-job-job-category-audit"
                  name="jobCategory"
                  type="radio"
                  role="radio">
                <label for="add-job-job-category-audit">Audit (MMS)</label>
              </div>
            </div>
          </div>

          <!-- SDO, NOT selectable, remove typeahead -->
          <div class="grid-block form-control">
            <div class="grid-content small-5">
              <label for="edit-job-sdo">SDO</label>
              <input
                data-ng-model="vm.jobmodel.sdo"
                data-typeahead="office as office.name for office in vm.sdoTypeahead($viewValue)"
                data-typeahead-editable="true"
                data-clearable='null'
                data-ng-if="vm.editableForm() && vm.editableSDO()"
                data-ng-class="{ 'readonly': !vm.editableForm() || !vm.editableSDO() }"
                required
                type="text"
                name="sdo"
                id="edit-job-sdo" />
              <input
                data-ng-model="vm.jobmodel.sdo"
                data-typeahead="office as office.name for office in vm.sdoTypeahead($viewValue)"
                data-typeahead-editable="true"
                data-ng-if="!vm.editableForm() || !vm.editableSDO()"
                data-ng-disabled="true"
                data-ng-class="{ 'readonly': !vm.editableForm() || !vm.editableSDO() }"
                required
                type="text"
                name="sdo"
                id="edit-job-sdo" />
              <ul
                data-ng-messages="vm.editJobForm.sdo.$error"
                data-ng-if="vm.validFormItem(vm.editJobForm.sdo)"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/edit/validation/sdo.html')}"></li>
              </ul>
            </div>

            <!--Case, Needs to display the -currently- loaded job's Case ID -->
            <div
              data-ng-if="!vm.jobmodel.zeroVisitJob"
              class="grid-content small-5">
              <label for="edit-job-case">Case (optional)</label>
              <select
                data-ng-model="vm.jobmodel.caseId"
                data-ng-options="caseId for caseId in vm.caseIds"
                data-ng-disabled="!vm.editableForm()"
                data-ng-class="{ 'readonly': !vm.editableForm() }"
                name="case"
                id="edit-job-case">
                <option value="">Please Select</option>
              </select>
              <ul
                data-ng-messages="vm.editJobForm.case.$error"
                data-ng-if="vm.validFormItem(vm.editJobForm.case)"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/edit/validation/case.html')}"></li>
              </ul>
            </div>
          </div>

          <!-- Location -->
          <div
            data-ng-if="!vm.jobmodel.zeroVisitJob"
            class="grid-content small-10 form-control">
            <label for="edit-job-location">Job location</label>
            <input
              data-ng-model="vm.jobmodel.location"
              data-ng-disabled="vm.jobLocationDisabled"
              data-ng-class="{'readonly': !vm.editableForm() || !vm.editableSDO() }"
              data-spellcheck="true"
              required
              type="text"
              name="location"
              placeholder="Enter port name"
              id="edit-job-location" />
            <ul
              data-ng-messages="vm.editJobForm.location.$error"
              data-ng-if="vm.validFormItem(vm.editJobForm.location)"
              role="alert"
              class="validation-error">
              <li data-ng-messages-include="${require('app/asset/jobs/edit/validation/port.html')}"></li>
            </ul>
          </div>

          <!-- Description //-->
          <div class="grid-content small-10 form-control">
            <label for="edit-job-description">Job description (optional)</label>
            <textarea
              data-ng-model="vm.jobmodel.description"
              data-ng-maxlength="50"
              data-ng-disabled="!vm.editableForm()"
              data-ng-class="{ 'readonly': !vm.editableForm() }"
              data-spellcheck="true"
              required
              name="description"
              rows="5"
              id="edit-job-description">
            </textarea>
            <ul
              data-ng-messages="vm.editJobForm.description.$error"
              data-ng-if="vm.validFormItem(vm.editJobForm.description)"
              role="alert"
              class="validation-error">
              <li data-ng-messages-include="${require('app/asset/jobs/edit/validation/description.html')}"></li>
            </ul>
          </div>

          <!-- Change of Flag not able to be edited or displayed -->

          <div
            data-ng-if="!vm.jobmodel.zeroVisitJob"
            class="grid-block form-control">
            <!-- ETA Editable -->
            <div class="grid-content small-5">
              <label for="edit-job-eta">ETA</label>
              <input
                data-ng-model="vm.jobmodel.etaDate"
                data-ng-disabled="!vm.editableForm()"
                data-ng-class="{ 'readonly': !vm.editableForm() }"
                date-time
                min-date="vm.dates.etaDate"
                max-date="vm.jobETD"
                view="date"
                min-view="date"
                format="{{vm.dateFormat}}"
                auto-close="true"
                class="date-field"
                required
                name="etaDate"
                id="edit-job-eta" />
              <span
                date-picker-icon
                sibling-id="edit-job-eta">
                ${require('content/images/inline/mast-icon-calendar.svg')}
              </span>
              <ul
                data-ng-messages="vm.editJobForm.etaDate.$error"
                data-ng-if="vm.validFormItem(vm.editJobForm.etaDate)"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/edit/validation/eta.html')}"></li>
              </ul>
            </div>

            <!-- ETD Editable -->
            <div class="grid-content small-5">
              <label for="edit-job-etd">ETD</label>
              <input
                data-ng-model="vm.jobmodel.etdDate"
                data-ng-disabled="!vm.editableForm()"
                data-ng-class="{ 'readonly': !vm.editableForm() }"
                date-time
                min-date="vm.jobETA"
                max-date="vm.dates.etdDate"
                view="date"
                min-view="date"
                format="{{vm.dateFormat}}"
                auto-close="true"
                class="date-field"
                required
                name="etdDate"
                id="edit-job-etd" />
              <span
                date-picker-icon
                sibling-id="edit-job-etd">
                ${require('content/images/inline/mast-icon-calendar.svg')}
              </span>
              <ul
                data-ng-messages="vm.editJobForm.etdDate.$error"
                data-ng-if="vm.validFormItem(vm.editJobForm.etdDate)"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/edit/validation/etd.html')}"></li>
              </ul>
            </div>
          </div>

          <!-- Requested Attendance Date Editable -->
          <div
            data-ng-if="!vm.jobmodel.zeroVisitJob"
            class="grid-content small-5 form-control">
            <label for="edit-job-rad">Requested attendance date</label>
            <input
              data-ng-model="vm.jobmodel.requestedAttendanceDate"
              date-time
              min-date="vm.jobETA"
              max-date="vm.jobETD"
              view="date"
              min-view="date"
              format="{{vm.dateFormat}}"
              auto-close="true"
              class="date-field"
              required
              name="requestedAttendanceDate"
              id="edit-job-rad" />
            <span
              date-picker-icon
              sibling-id="edit-job-rad">
              ${require('content/images/inline/mast-icon-calendar.svg')}
            </span>
            <ul
              data-ng-messages="vm.editJobForm.requestedAttendanceDate.$error"
              data-ng-if="vm.validFormItem(vm.editJobForm.requestedAttendanceDate)"
              role="alert"
              class="validation-error">
              <li data-ng-messages-include="${require('app/asset/jobs/edit/validation/requested.html')}"></li>
            </ul>
          </div>
        </div>
      </ng-form>
    </div>
  </div>
</div>

<div
  data-sticky-footer
  id="edit-job-preview-footer"
  class="jobs-preview-footer">
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-click="vm.back()"
        class="transparent-dark-button"
        id="edit-job-preview-cancel">
        Cancel
      </button>
      <button
        data-ng-if="vm.editableForm()"
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.saveJob(vm.jobmodel)"
        data-ng-class="{ 'active': vm.validForm(), 'disabled': !vm.validForm() }"
        class="primary-button"
        id="edit-job-preview-save">
        Save
      </button>
    </div>
  </div>
</div>
