<div
  data-ng-message="min"
  class="validation-light"
  id="validation-message-edit-job-eta">
  'ETD' date cannot be before 'ETA' date
</div>
<div
  data-ng-message="max"
  class="validation-light"
  id="validation-message-edit-job-etd">
  'ETA' date cannot be after 'ETD' date
</div>
<div
  data-ng-message="nonExistentDate"
  class="validation-light"
  id="validation-message-edit-job-date-format">
  Please select a valid date.
</div>
<div
  data-ng-message="dateFormat"
  class="validation-light"
  id="validation-message-edit-job-date-format">
  Please select a valid formatted date.
</div>
<div
  data-ng-message="required"
  class="validation-light"
  id="validation-message-edit-job-date-format">
  The ETA date is required
</div>
<div
  data-ng-message="isDateLength"
  class="validation-light"
  id="validation-message-date-min-length">
  Invalid date format.
</div>
