<div
  data-ng-message="min"
  class="validation-light"
  id="validation-message-edit-job-eta">
  'Requested Attendance Date' must be between the 'ETA' and 'ETD' Dates
</div>
<div
  data-ng-message="max"
  class="validation-light"
  id="validation-message-edit-job-etd">
  'Requested Attendance Date' must be between the 'ETA' and 'ETD' Dates
</div>
<div
  data-ng-message="dateFormat || nonExistentDate"
  class="validation-light"
  id="validation-message-edit-job-date-format">
  Please select a valid date.
</div>
<div
  data-ng-message="required"
  class="validation-light"
  id="validation-message-edit-job-date-required">
  Requested attendance date is a required field
</div>
<div
  data-ng-message="isDateLength"
  class="validation-light"
  id="validation-message-date-min-length">
  Invalid date format.
</div>
