<div class="grid-block value-picker">
  <div
    class="background-light-grey grid-block shrink"
    data-ng-repeat="item in vm.selection">
    <div class="grid-content">
      <strong
        class="very-dark-grey"
        data-ng-bind="item.name"></strong>
    </div>
    <div
      class="grid-content grey actionable"
      data-ng-click="vm.removeItem(item)">
      &#10005;
    </div>
  </div>
  <button
    class="grid-content small-3 medium-2 grey-button"
    data-ng-click="vm.openModal()">
    {{vm.buttonText}}
  </button>
</div>
