<div class="grid-content small-12 job-scope-selection asset-model-hierarchy">
  <ul>
    <li data-ng-class="{'is-expanded': vm.jobAssetNotes.expanded}">
      <div
        data-ng-class="{'is-selected' : vm.jobAssetNotes.expanded}"
        id="job-scope-node">
        <span
          data-ng-click="vm.expand(vm.jobAssetNotes)"
          class="node-expand-toggle">
          <span
            data-ng-if="vm.jobAssetNotes.length && vm.jobAssetNotes.expanded">
            ${require('content/images/inline/mast-icon-minus-circle.svg')}
          </span>

          <span
            data-ng-if="vm.jobAssetNotes.length && !vm.jobAssetNotes.expanded">
            ${require('content/images/inline/mast-icon-plus-circle.svg')}
          </span>
        </span>

        <span class="node-name grid-container">
          <h5 id="job-scope-type" class="job-scope-type">
            Asset Notes ({{ vm.jobAssetNotes.length }})
          </h5>
        </span>
      </div>

      <div data-ng-if="vm.jobAssetNotes.expanded">
        <ol>
          <li
            data-ng-init="type='vm.jobAssetNotes'"
            data-ng-repeat="node in vm.jobAssetNotes | orderBy: 'imposedDate' track by $index"
            data-ng-class="{'is-expanded': node.expanded, 'unselectable':node.unselectable}"
            data-ng-include="'nested.html'"></li>
        </ol>
      </div>
    </li>
  </ul>
</div>
