<div class="grid-content small-12 job-scope-selection asset-model-hierarchy">
  <ul>
    <li data-ng-class="{'is-expanded': vm.jobCocs.expanded}">
      <div id="job-scope-node" data-ng-class="{'is-selected' : vm.jobCocs.expanded}">
        <span
          data-ng-click="vm.expand(vm.jobCocs)"
          class="node-expand-toggle">
          <span data-ng-if="vm.jobCocs.length && vm.jobCocs.expanded">
            ${require('content/images/inline/mast-icon-minus-circle.svg')}
          </span>

          <span data-ng-if="vm.jobCocs.length && !vm.jobCocs.expanded">
            ${require('content/images/inline/mast-icon-plus-circle.svg')}
          </span>
        </span>

        <span class="node-name grid-container">
          <h5 id="job-scope-type" class="job-scope-type">
            Conditions of Class ({{ vm.jobCocs.length }})
          </h5>
        </span>
      </div>

      <div data-ng-if="vm.jobCocs.expanded">
        <ol>
          <li
            data-ng-init="type='vm.jobCocs'"
            data-ng-repeat="node in vm.jobCocs | orderBy: 'dueDate' track by $index"
            data-ng-class="{'is-expanded': node.expanded, 'unselectable':node.unselectable}"
            data-ng-include="'nested.html'"></li>
        </ol>
      </div>
    </li>
  </ul>
</div>
