<!-- Services //-->
<div class="grid-content small-12">
  <div data-ng-if="vm.emptyService('overdue')">
    <p>No due or overdue services for this asset.</p>
  </div>
  <div data-ng-if="vm.emptyService('schedule')">
    <p>No services in the service schedule for this asset.</p>
  </div>

  <div data-ng-repeat="(family, value) in vm.scopeServices() track by $index"
    class="job-scope-selection asset-model-hierarchy">
    <ul data-ng-if="!value.hide">
      <li data-ng-class="{'is-expanded': value.expanded}">
        <div data-ng-class="{'is-selected': value.expanded}">
          <span
            data-ng-click="value.expanded = !value.expanded"
            class="node-expand-toggle">
            <span data-ng-if="value.expanded">
              ${require('content/images/inline/mast-icon-minus-circle.svg')}
            </span>
            <span data-ng-if="!value.expanded">
              ${require('content/images/inline/mast-icon-plus-circle.svg')}
            </span>
          </span>
          <span class="node-name">
            <h5 class="job-scope-type" data-ng-bind="family"></h5>
          </span>
        </div>
        <div
          data-ng-if="value.expanded"
          data-ng-repeat="(product, item) in value track by $index">
          <div
            data-ng-if="!item.hide && product !== 'expanded' && product !== 'selected'"
            class="asset-model-hierarchy child">
            <ul class="job-scope-hierarchy-list">
              <li data-ng-class="{'is-expanded': item.expanded}">
                <div class="dark-blue">
                  <span data-ng-click="item.expanded = !item.expanded"
                    class="node-expand-toggle">
                    <span data-ng-if="item.expanded">
                      ${require('content/images/inline/mast-icon-minus-circle.svg')}
                    </span>
                    <span data-ng-if="!item.expanded">
                      ${require('content/images/inline/mast-icon-plus-circle.svg')}
                    </span>
                  </span>
                  <span class="node-name">
                    <h5 class="job-scope-type" data-ng-bind="product"></h5>
                  </span>
                </div>
                <ol
                  data-ng-if="item.expanded"
                  data-ng-repeat="service in item track by $index">
                  <li
                    data-ng-class="{'unselectable':service.unselectable}"
                    data-ng-if="!service.hide"
                    class="job-scope-hierarchy-node no-border grid-block">
                    <div class="job-scope-hierarchy-node no-border grid-block">
                      <div class="grid-content small-1 checkbox-container node-checkbox">
                        <checkbox
                          data-ng-model="service.checkBoxModel"
                          data-ng-true-value="1"
                          data-ng-false-value="0"
                          data-ng-click="vm.addSelectedScopeItems(service)"
                          data-ng-disabled="service.untickable"
                          name="job-scope-hierarchy-{{service.id}}-checkbox"
                          largest>
                        </checkbox>
                      </div>
                      <div class="grid-content small-1 node-service-code">
                        <span data-ng-bind="service.code"></span>
                      </div>
                      <div class="grid-content small-4 node-service-name">
                        <span data-ng-bind="service.name"></span>
                      </div>
                      <div class="grid-content small-4 node-service-dates">
                        <!-- todo - only show these dates if part of service schedule -->
                        <span
                          data-ng-if="service.scheduledService.dueDate"
                          data-ng-bind="service.scheduledService.dueDate |  moment"></span>
                        <span
                          data-ng-if="service.scheduledService.dueDate && service.scheduledService.lowerRangeDate"> | </span>
                        <span
                          data-ng-if="service.scheduledService.lowerRangeDate"
                          data-ng-bind="service.scheduledService.lowerRangeDate | moment"></span>
                        <span
                          data-ng-if="service.scheduledService.lowerRangeDate && service.scheduledService.upperRangeDate"> - </span>
                        <span
                          data-ng-if="service.scheduledService.upperRangeDate"
                          data-ng-bind="service.scheduledService.upperRangeDate | moment"></span>
                      </div>
                      <div class="grid-content small-2 node-service-warning">
                        <div
                          data-ng-if="vm.requiresWarning(service).length"
                          data-ng-class="{'added': vm.requiresWarning(service) === 'Added',
                            'due': vm.requiresWarning(service) === 'Due',
                            'overdue': vm.requiresWarning(service) === 'Overdue'}">
                          <span
                            data-ng-class="{'added': vm.requiresWarning(service) === 'Added'}"
                            class="glyph">
                            <i
                              data-ng-hide="vm.requiresWarning(service) === 'Added'"
                              class="svg-icon-Alert"></i>
                            <span class="glyph-text">
                              {{vm.requiresWarning(service)}}
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
