<div class="view-block">
  <h5
    class="view-label"
    data-ng-bind="data.label">
  </h5>

  <ul class="item-list">
    <li data-ng-repeat="item in data.value">
      <div class="nr"></div>

      <!-- Title and ID -->
      <div>
        <div
          class="title"
          data-ng-bind="(item.title || 'No Title') | ellipsise: 18">
        </div>
        <div class="desc">
          <span
            data-ng-if="item.id"
            data-ng-bind="item.id | zeropad: 5">
          </span>
        </div>
      </div>

      <!-- Repair Items -->
      <div>
        <div data-ng-repeat="repairItem in vm.item.repairs">
          <div data-ng-bind="repairItem.item.item.name"></div>
        </div>
        <div data-ng-if="repairItem.items.length > 2">
          (<span data-ng-bind="vm.item.repairs.length"></span>)
        </div>
      </div>

      <!-- Date Added -->
      <div class="dates">

        <div>
          Imposed date:
          <strong data-ng-bind="item.imposedDate | moment: '-'"></strong>
        </div>

        <div>
          Due date:
          <strong data-ng-bind="item.dueDate | moment: '-'"></strong>
        </div>
      </div>

      <!-- View Defect button -->
      <div class="actions">
        <a data-ng-click="data.select(item)">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
        </a>
      </div>
    </li>
  </ul>

</div>
