<div
  report-banner
  report="vm.report"></div>

<div data-ng-include="'app/asset/jobs/view/reporting/view/partials/service-details.html'"></div>
<div data-ng-include="'app/asset/jobs/view/reporting/view/partials/class-recommendation.html'"></div>
<div
  data-ng-if="vm.reportTypeId === vm.reportTypes.dar"
  data-ng-include="'app/asset/jobs/view/reporting/view/partials/job-scope.html'"></div>
<div
  data-ng-if="vm.reportTypeId === vm.reportTypes.dar"
  data-ng-include="'app/asset/jobs/view/reporting/view/partials/tasks-credited.html'"></div>
<div
  data-ng-if="vm.reportTypeId !== vm.reportTypes.dar"
  data-ng-include="'app/asset/jobs/view/reporting/view/partials/surveys-credited.html'"></div>
<div data-ng-include="'app/asset/jobs/view/reporting/view/partials/action-cocs.html'"></div>
<div data-ng-include="'app/asset/jobs/view/reporting/view/partials/action-actionable-items.html'"></div>
<div data-ng-include="'app/asset/jobs/view/reporting/view/partials/action-asset-notes.html'"></div>
<div
  data-ng-if="vm.reportTypeId === vm.reportTypes.dsr || vm.reportTypeId === vm.reportTypes.fsr"
  data-ng-include="'app/asset/jobs/view/reporting/view/partials/narrative.html'"></div>
<div data-ng-include="'app/asset/jobs/view/reporting/view/partials/notes.html'"></div>

<div class="report-space"></div>

<div
  data-sticky-footer
  id="report-footer"
  class="report-preview-footer">
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-if="vm.showCancelButton"
        data-ui-sref="asset.jobs.view({ jobId: vm.job.id })"
        class="transparent-dark-button"
        id="report-preview-cancel">
        Cancel
      </button>
      <button
        data-ng-disabled="!vm.activeSubmitButton"
        data-ng-if="vm.reportNotSubmitted"
        data-ng-click="vm.submit()"
        data-ng-class="{'disabled': !vm.activeSubmitButton}"
        class="primary-button submit-dar-button"
        id="submit-dar">
        Submit {{vm.reportType}}
      </button>
      <button
        data-ng-click="vm.print()"
        class="primary-button report-generate-pdf-button"
        id="report-generate-pdf-button">
        Generate PDF
      </button>
    </div>
  </div>
</div>
