<ng-form name="dynamicInputForm">
  <div data-ng-switch="vm.category">
    <div data-ng-switch-when="string">
      <input
        data-ng-model="vm.ngModel"
        data-ng-maxlength="vm.lengthLimit"
        data-ng-disabled="vm.ngDisabled"
        type="text"
        name="text"
        id="{{vm.inputId}}" />
      <label
        data-ng-if="::vm.label"
        for="{{vm.inputId}}"
        data-ng-bind="::vm.label"></label>
      <ul
        data-ng-if="dynamicInputForm.text.$invalid && !dynamicInputForm.text.$pristine"
        data-ng-messages="dynamicInputForm.text.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/dynamic-input.html')}"></li>
      </ul>
    </div>
    <div data-ng-switch-when="float">
      <input
        data-integer
        data-hard-min="vm.numHardMin"
        data-hard-max="vm.numHardMax"
        data-length-limit="vm.lengthLimit"
        type="text"
        data-ng-model="vm.ngModel"
        data-ng-disabled="vm.ngDisabled"
        id="{{vm.inputId}}"
        name="number" />
      <label
        data-ng-if="::vm.label"
        for="{{vm.inputId}}"
        data-ng-bind="::vm.label"></label>
      <ul
        data-ng-if="dynamicInputForm.number.$invalid && !dynamicInputForm.number.$pristine"
        data-ng-messages="dynamicInputForm.number.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/dynamic-input.html')}"></li>
      </ul>
    </div>
    <div data-ng-switch-when="boolean">
      <checkbox
        data-ng-model="vm.ngModel"
        data-ng-true-value="'true'"
        data-ng-false-value="'false'"
        data-ng-disabled="vm.ngDisabled"
        id="{{vm.inputId}}"
        data-largest />
    </div>

    <div ng-switch-when="lookup">
      <label
        data-ng-if="::vm.label"
        for="{{vm.inputId}}"
        data-ng-bind="::vm.label"></label>
      <select
        data-ng-model="vm.ngModel"
        data-ng-disabled="vm.ngDisabled"
        id="{{vm.inputId}">
        <option
          data-ng-repeat="option in vm.dropdownOptions"
          data-ng-bind="option[vm.dropdownDisplayProperty]"
          value="{{option[vm.dropdownDisplayProperty]}}"></option>
      </select>
    </div>

    <div ng-switch-when="dropdown-boolean">
      <label
        data-ng-if="::vm.label"
        for="{{vm.inputId}}"
        data-ng-bind="::vm.label"></label>
      <select
        data-ng-model="vm.ngModel"
        data-ng-disabled="vm.ngDisabled"
        id="{{vm.inputId}">
        <option value="YES">YES</option>
        <option value="NO">NO</option>
      </select>
    </div>

    <div data-ng-switch-when="date">
      <input
        date-time
        data-ng-model="vm.ngModel"
        data-ng-disabled="vm.ngDisabled"
        id="{{vm.inputId}}"
        data-view="date"
        data-min-view="date"
        data-format="{{vm.dateFormat}}"
        name="date" />
      <span
        data-sibling-id="{{vm.inputId}}"
        date-picker-icon>
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-if="dynamicInputForm.date.$invalid && !dynamicInputForm.date.$pristine"
        data-ng-messages="dynamicInputForm.date.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/dynamic-input.html')}"></li>
      </ul>
    </div>
  </div>
</ng-form>
