<small-modal
  class="white text-center create-asset-modal"
  id="value-picker-modal">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Select asset type</h2>
      <a
        data-ng-click="$dismiss()"
        class="small-1 white close-button"
        id="close-button">&#10005;</a>
    </div>
  </modal-header>
  <modal-body>
    <div class="grid-block">
      <p class="white">
        Select the asset type to the level 5 using LR Statcode
      </p>
    </div>
    <div class="grid-block horizontal small-up-3">
      <div class="grid-content statcode">
        <label
          for="asset-type-picker-statcode-1"
          class="white">
          Statcode 1
        </label>
        <select
          data-ng-model="vm.statcodes[0]"
          data-ng-change="vm.updateStatcodes(0)"
          name="statcode1"
          id="asset-type-picker-statcode-1">
          <option value="0">Select statcode</option>
          <option
            data-ng-repeat="statcode in vm.assetTypes | filter: {parentId: null} | filter: {levelIndication: 1} track by statcode.id"
            data-ng-bind="::statcode.name"
            value="{{statcode.id}}"></option>
        </select>
      </div>
      <div class="grid-content statcode">
        <label
          for="asset-search-filter-asset-type-statcode-2"
          class="white">
          Statcode 2
        </label>
        <select
          data-ng-model="vm.statcodes[1]"
          data-ng-change="vm.updateStatcodes(1)"
          data-ng-disabled="!(vm.statcodes[0] !== '0' && vm.statcodes[1] !== '-1')"
          name="statcode2"
          id="asset-type-picker-statcode-2">
          <option value="0">Select statcode</option>
          <option
            data-ng-repeat="statcode in vm.assetTypes | filter: {parentId: vm.statcodes[0]} : integerComparator | filter: {levelIndication: 2} track by statcode.id"
            data-ng-bind="::statcode.name"
            value="{{statcode.id}}"></option>
        </select>
      </div>
      <div class="grid-content statcode">
        <label
          for="asset-type-picker-statcode-3"
          class="white">
          Statcode 3
        </label>
        <select
          data-ng-model="vm.statcodes[2]"
          data-ng-change="vm.updateStatcodes(2)"
          data-ng-disabled="!(vm.statcodes[1] !== '0' && vm.statcodes[2] !== '-1')"
          name="statcode3"
          id="asset-type-picker-statcode-3">
          <option value="0">Select statcode</option>
          <option
            data-ng-repeat="statcode in vm.assetTypes | filter: {parentId: vm.statcodes[1]} : integerComparator | filter: {levelIndication: 3} track by statcode.id"
            data-ng-bind="::statcode.name"
            value="{{statcode.id}}"></option>
        </select>
      </div>
      <div class="grid-content statcode">
        <label
          for="asset-type-picker-statcode-4"
          class="white">
          Statcode 4
        </label>
        <select
          data-ng-model="vm.statcodes[3]"
          data-ng-change="vm.updateStatcodes(3)"
          data-ng-disabled="!(vm.statcodes[2] !== '0' && vm.statcodes[3] !== '-1')"
          name="statcode4"
          id="asset-type-picker-statcode-4">
          <option value="0">Select statcode</option>
          <option
            data-ng-repeat="statcode in vm.assetTypes | filter: {parentId: vm.statcodes[2]} : integerComparator | filter: {levelIndication: 4} track by statcode.id"
            data-ng-bind="::statcode.name"
            value="{{statcode.id}}"></option>
        </select>
      </div>
      <div class="grid-content statcode">
        <label
          for="asset-type-picker-statcode-5"
          class="white">
          Statcode 5
        </label>
        <select
          data-ng-model="vm.statcodes[4]"
          data-ng-change="vm.updateStatcodes(4)"
          data-ng-disabled="!(vm.statcodes[3] !== '0' && vm.statcodes[4] !== '-1')"
          name="statcode5"
          id="asset-type-picker-statcode-5">
          <option value="0">Select statcode</option>
          <option
            data-ng-repeat="statcode in vm.assetTypes | filter: {parentId: vm.statcodes[3]} : integerComparator | filter: {levelIndication: 5} track by statcode.id"
            data-ng-bind="::statcode.name"
            value="{{statcode.id}}"></option>
        </select>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button
        data-ng-click="$dismiss()"
        class="transparent-button-white">Cancel</button>
      <button
        data-ng-disabled="!vm.levelFiveSelected"
        data-ng-click="vm.confirm()"
        class="primary-button">Select asset type</button>
    </div>
  </modal-footer>
</small-modal>
