<div class="grid-block vertical job-search" id="job-search">
  <ng-form
    name="jobSearchQuery"
    class="grid-content"
    id="job-search-query-form">
    <label
      for="job-search-query"
      class="grey">
      Search
    </label>
    <input
      data-ng-model="vm.parameters.search"
      type="text"
      placeholder="Job ID"
      id="job-search-query"/>
  </ng-form>
  <div class="grid-block vertical">
    <div class="grid-content">
      <label class="grey header">
        Filter
      </label>
    </div>
    <div
      class="grid-block vertical">
      <div class="grid-block small-up-4">
        <div
          data-ng-repeat="filter in row = vm.getFilters(0)"
          class="grid-content">
          <span
            data-ng-click="vm.getFiltersValidity() ? vm.toggleFilterSelected(filter) : null"
            data-ng-class="{'white-button arrowed': filter.selected }"
            aria-label="Select {{::filter.name}} filter"
            class="expand dark-button icon-button no-margin">
            <span
              data-ng-bind="::filter.name"
              id="job-search-filter-row-{{::$parent.$index}}-col-{{::$index}}-toggle-selected"></span>
            <img
              data-ng-if="filter.active"
              data-ng-click="vm.setFilterInactive(filter)"
              src="${require('content/images/sprites/icons-small.png')}"
              alt="Filter active"
              title="Filter active"
              class="icon-small-check"
              id="job-search-filter-row-{{::$parent.$index}}-col-{{::$index}}-active" />
          </span>
        </div>
      </div>
      <div
        data-ng-show="(row | filter : {selected: true}).length"
        class="grid-content"
        id="job-search-filter-{{::$index}}">
        <hr />
        <div
          data-ng-include="(row | filter : {selected: true})[0].templateUrl"
          class="no-margin"
          id="job-search-filter-current"></div>
        <hr />
      </div>
    </div>
  </div>
  <div class="grid-block small-up-2">
    <div class="grid-content">
      <button
        data-ng-click="vm.resetFilters()"
        type="button"
        class="white-button no-margin float-right"
        id="job-search-reset">
        Reset
      </button>
    </div>
    <div class="grid-content">
      <button
        ng-disabled="!vm.getFiltersValidity()"
        data-ng-click="vm.applyFilters()"
        type="button"
        class="primary-button no-margin float-left"
        id="job-search-apply">
        Search
      </button>
    </div>
  </div>
</div>
