<small-modal
  class="white text-center modal-complete-batch-action"
  id="modal-complete-batch-action"
  title="">
  <modal-header>
    <h1>Batch Action Successful</h1>
  </modal-header>
  <modal-body>

    <div class="grid-block vertical">
      <div>
        <p data-ng-if="vm.itemType.id">
          You successfully applied an <em>{{vm.actionType.title}}:
          '{{vm.actionType.data.title}}'</em> to 
          <span data-ng-if="vm.totalSaved === vm.totalSelectedAssets">
            all 
          </span>
          {{vm.totalSaved}} of the {{vm.totalSelectedAssets}} 
          {{vm.itemType.name}} assets selected.
          <span data-ng-if="vm.totalSaved > 0">
            This resulted in the 
            <em>{{vm.actionType.title}}: {{vm.actionType.data.title}}</em> 
            being added to: 
          </span>
        </p>
        <p data-ng-if="!vm.itemType.id">
          You successfully applied an <em>{{vm.actionType.title}}: 
          '{{vm.actionType.data.title}}' </em> to all
          of the {{vm.totalSaved}} assets
          selected:
        </p>
        <ul>
          <li
            class="modal-batch-action-item-list"
            data-ng-repeat="(i, item) in ::vm.savedItems">
            {{item.length}} x
            {{vm.itemType ? vm.itemType.name + ' in ' : ''}}
            '{{vm.assetName(i)}}' {{vm.assetImo(i)}}
          </li>
        </ul>
      </div>
      <div data-ng-if="::vm.rejectedAssets.length">
        <p>
          The <em>{{vm.actionType.title}}: '{{vm.actionType.data.title}}'</em> 
          was not added to the following assets due to these assets 
          not having any {{vm.itemType.name}} items:
        </p>
        <ul>
          <li
            class="modal-batch-action-item-list"
            data-ng-repeat="asset in ::vm.rejectedAssets">
            '{{asset.name}}' (IMO no. {{asset.ihsAsset.id}})
          </li>
        </ul>
      </div>
    </div>

  </modal-body>
  <modal-footer>
    <button
      class="primary-button"
      data-ng-click="$close()">OK</button>
  </modal-footer>
</small-modal>
