<small-modal
  class="white text-center modal-choose-item-type"
  id="modal-choose-item-type"
  title="">
  <modal-body>
    <ng-form
      name="vm.chooseItemTypeForm"
      novalidate>
      <div class="grid-block vertical">
        <p>
          Please use the typeahead to define the item type:
        </p>
        <input
          data-ng-model="vm.itemType"
          type="text"
          data-typeahead="item as item.name for item in vm.findItemType($viewValue)"
          data-clearable
          name="itemType"
          id="item-type"
          placeholder="Start typing item type" />
      </div>
    </ng-form>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="$close(false)">Cancel
    </button>
    <button
      class="primary-button"
      data-ng-disabled="vm.chooseItemTypeForm.$invalid"
      data-ng-click="$close(vm.itemType)">OK
    </button>
  </modal-footer>
</small-modal>
