<section class="service-schedule add-service footer-follows">
  <div class="grid-block vertical">
    <!-- Banner -->
    <div class="grid-block vertical banner">
      <div class="grid-block">
        <div class="grid-content small-1">
          <div id="add-product-header-back"
            data-back-button
            data-ng-click="vm.back()"
            title="Back">
          </div>
        </div>

        <div class="grid-content">
          <h2>
            <span>Add services to:</span>
            <strong>{{vm.product.name}}</strong>
          </h2>
        </div>
      </div>
    </div>

    <!-- Sequence Tabs -->
    <div class="grid-block small-12">
      <div class="tabs">
        <div
          data-ng-repeat="step in vm.sequenceSteps"
          data-ng-class="{ 'is-active': step === vm.sequenceConfig.currentStep }"
          class="grid-content small-6 tab-item">
          <a data-ng-bind="step.name"></a>
        </div>
      </div>
    </div>

    <!-- Tab Contents -->
    <div
      data-ng-switch="vm.sequenceConfig.currentStep.slug"
      class="grid-block">
      <div class="content-body">
        <div
          data-ng-switch-when="select_services"
          class="grid-block vertical select-services">
          <div
            data-ng-repeat="opt in vm.availableOptions | orderBy: 'catalogue.displayOrder'"
            data-ng-if="vm.showOption(opt)"
            class="grid-block service nowrap">

            <div class="grid-content list-checkbox shrink">
              <checkbox
                data-ng-model="opt.selected"
                data-ng-change="vm.toggleOption(opt)"
                data-largest
                id="catalogue-{{opt.catalogue.id}}-select"></checkbox>
            </div>

            <div
              class="grid-content"
              data-ng-if="!opt.counterpart">
              <label for="catalogue-{{opt.catalogue.id}}-select">
                <span
                  data-ng-bind="opt.catalogue.code"
                  class="code"></span>
                {{ opt.catalogue.name }}
              </label>
            </div>

            <div
              class="grid-block radio radio-selectors"
              data-ng-if="opt.counterpart">
              <div
                class="grid-block vertical small-4">
                <input
                  data-ng-value="true"
                  data-ng-change="vm.toggleCounterpart(opt, opt.counterpart)"
                  data-ng-model="opt.catalogue.selected"
                  name="counterpart-{{opt.catalogue.id}}"
                  id="counterpart-{{opt.catalogue.id}}"
                  type="radio"
                  role="radio"/>
                <label
                  class="text-left"
                  for="counterpart-{{opt.catalogue.id}}">
                    <span
                      data-ng-bind="opt.catalogue.code"
                      class="code"></span>
                    {{ opt.catalogue.name }}
                </label>
              </div>
              <div
                class="grid-block vertical small-4">
                <input
                  data-ng-value="true"
                  data-ng-change="vm.toggleCounterpart(opt, opt.catalogue)"
                  data-ng-model="opt.counterpart.selected"
                  name="counterpart-{{opt.catalogue.id}}"
                  id="counterpart-{{opt.counterpart.id}}"
                  type="radio"
                  role="radio"/>
                <label
                  class="text-left"
                  for="counterpart-{{opt.counterpart.id}}">
                  <span
                    data-ng-bind="opt.counterpart.code"
                    class="code"></span>
                  {{ opt.counterpart.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-ng-switch-when="specify_details"></div>
    </div>
  </div>
</section>

<!-- Footer -->
<div
  data-sticky-footer
  id="add-service-footer"
  class="service-add-footer">
  <div class="grid-block align-right">
    <div class="grid-content shrink">
      <button
        data-ng-click="vm.back()"
        class="transparent-dark-button"
        id="footer-cancel">
        Cancel
      </button>
      <button
        data-ng-disabled="!vm.hasSelectedCatalogues()"
        data-ng-click="vm.next()"
        class="primary-button"
        id="footer-confirm">
        Next
      </button>
    </div>
  </div>
</div>
