<div class="grid-block vertical codicil-search">
  <ng-form
    name="codicilSearchQuery"
    class="grid-content">
    <label for="codicil-search-query">Search:</label>
    <input
      data-ng-model="vm.parameters.searchString"
      placeholder="Title / Description / Surveyor guidance"
      type="text"
      id="codicil-search-query">
  </ng-form>

  <div
    data-ng-if="vm.codicilType"
    class="grid-content horizontal">
    <div class="grid-block">
      <div class="grid-content radio small-1">
        <div>
          <input id="searchTextFieldTitle" type="radio"
          name="searchTextField"
          data-ng-model="vm.search.text_field"
          value="title"
          role="radio">
          <label for="searchTextFieldTitle">Title</label>
        </div>
      </div>
      <div class="grid-content radio small-2">
        <div>
          <input id="searchTextFieldDesc" type="radio"
          name="searchTextField"
          data-ng-model="vm.search.text_field"
          value="description"
          role="radio">
          <label for="searchTextFieldDesc">Description</label>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-content vertical">
    <div>
      <label>Filter:</label>
    </div>
    <div data-ng-repeat="row in [0,1]">
      <div class="grid-block small-up-3">
        <div
          data-ng-repeat="filter in row = vm.filterRows[$index]">
          <span
            data-ng-click="vm.checkFilterValidity() ? vm.toggleSelectedFilter(filter) : null"
            data-ng-class="{'arrowed white-button-grey-border': filter.selected }"
            class="expand transparent-light-button no-margin codicil-filter-button">
            <span
              data-ng-bind="::filter.label"
              id="codicil-search-filter-row-{{::$parent.$index}}-col-{{::$index}}-toggle-selected">
            </span>
            <span
              data-ng-show="filter.active"
              class="filter-active">
              ${require('content/images/inline/mast-icon-filter.svg')}
            </span>
          </span>
        </div>
      </div>
      <div
        data-ng-show="(row | filter : {selected: true}).length"
        id="codicil-search-filter-{{::$index}}">
        <hr />
        <div
          data-ng-include="(row | filter : {selected: true})[0].templateUrl"
          class="no-margin"
          id="codicil-search-filter-current"></div>
        <hr />
      </div>
    </div>
  </div>

  <div
    data-ng-if="vm.codicilType"
    class="grid-content vertical">
    <div>
      <label>View:</label>
    </div>
    <div>
      <ul class="button-group segmented">
        <li data-ng-repeat="(key, view) in vm.viewTypes">
          <input
            data-ng-model="vm.viewType"
            id="view-type-{{key}}"
            name="viewType"
            value="{{key}}"
            type="radio"
            required/>
          <label
            for="view-type-{{key}}"
            data-ng-bind="view.label">
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid-block small-up-2">
    <div class="grid-content">
      <button
        data-ng-click="vm.resetFilters()"
        type="button"
        class="white-button no-margin float-right"
        id="codicil-search-reset">
        Reset
      </button>
    </div>
    <div class="grid-content">
      <button
        data-ng-click="vm.applyFilters()"
        type="button"
        data-ng-disabled="!vm.getFiltersValidity()"
        class="primary-button no-margin float-left"
        id="codicil-search-button">
        Search
      </button>
    </div>
  </div>
</div>
