<small-modal
  class="text-center"
  id="modal-swap-services">
  <modal-body>
    <p>
      <strong
        data-ng-bind="title"
        class="light-blue">
      </strong>
    </p>
    <p class="light-blue">
      <span data-ng-bind="vm.outgoingServiceCatalogue.code"></span>
      <span data-ng-bind="vm.outgoingServiceCatalogue.name"></span>
    </p>
    <p class="light-blue">to</p>
    <p class="light-blue">
      <span data-ng-bind="vm.incomingServiceCatalogue.code"></span>
      <span data-ng-bind="vm.incomingServiceCatalogue.name"></span>
    </p>
  </modal-body>
  <modal-footer>
    <button
      data-ng-click="$dismiss()"
      class="transparent-button-white">Cancel
    </button>
    <button
      data-ng-click="vm.confirm()"
      class="primary-button">Swap
    </button>
  </modal-footer>
</small-modal>
