<div class="grid-block align-justify">
  <div class="grid-block vertical">
    <strong class="dark-blue white-space">{{task.workItemAction.name}} {{task.assetItem.name}}</strong>
    <span data-ng-bind="task.taskNumber"></span>
  </div>
  <div class="grid-block small-6 dates">
    <div class="grid-content">
    <span>
      Assigned date: <strong data-ng-bind="(task.assignedDate | moment) || '-'"></strong>
    </span>
  </div>
  <div class="grid-content">
    <span>
      Due date: <strong data-ng-bind="(task.dueDate | moment) || '-'"></strong>
    </span>
  </div>
  </div>
</div>
