<div
  data-ng-message="min"
  class="validation-light"
  id="validation-message-manage-crediting-eta">
  'ETD' date cannot be before 'ETA' date
</div>
<div
  data-ng-message="max"
  class="validation-light"
  id="validation-message-manage-crediting-etd">
  'ETA' date cannot be after 'ETD' date
</div>
<div
  data-ng-message="invalid"
  class="validation-light"
  id="validation-message-manage-crediting-invalid">
  Date format required: {{vm.dateFormat}}
</div>
<div
  data-ng-message="pattern"
  class="validation-light"
  id="validation-message-manage-crediting-invalid-pattern">
  Date format required: {{vm.dateFormat}}
</div>
<div
  data-ng-message="dateFormat"
  class="validation-light"
  id="validation-message-manage-crediting-date-format">
  Date format required: {{vm.dateFormat}}
</div>
