<div
  data-ng-class="{ 'white-button arrowed blue expanded': vm.attachment.isExpanded}"
  data-ng-click="vm.attachment.isExpanded = !vm.attachment.isExpanded"
  class="grid-block vertical noscroll attachment-summary">
  <small data-ng-bind="vm.attachment.updatedDate || vm.attachment.creationDate | moment"></small>

  <div
    class="grid-block align-center noscroll attachment-icon">
    <span
      data-ng-class="{ 'expanded': vm.attachment.isExpanded, 'note': vm.attachment.isNote() }"
      class="attachment-type-container">
      <span attachment-type="vm.attachment.type"></span>
    </span>
  </div>

  <div class="noscroll center info">
    <div data-ng-if="vm.attachment.isAttachment()">
      <strong data-ng-bind="vm.attachment.title"></strong>
    </div>
    <p
      data-ng-if="!vm.attachment.isAttachment()"
      data-ng-bind="vm.attachment.note | ellipsise: 135"
      class="center">
    </p>
  </div>

  <footer class="grid-block noscroll">
    <div class="small-10"><strong data-ng-bind="vm.attachment.updatedBy || vm.attachment.creator"></strong></div>
     <div
      data-ng-if="vm.attachment.isAttachment()"
      class="small-2" >
        <i
          data-ng-if="vm.attachment.showDownloadIcon"
          class="svg-icon-Download"></i>
    </div>
  </footer>
</div>
