<div
  data-ng-class="{'expanded-card-container': vm.expanded}"
  class="grid-block">
  <div
    data-ng-class="{ 'expanded': vm.expanded, 'selected': vm.asset.selected }"
    class="asset-card corner-cut">
    <section
      data-ng-if="!vm.expanded"
      class="image-container">
      <img
        data-asset-image="vm.asset.assetType"
        alt="outline image of asset type"
        class="asset-class" />
    </section>
    <section
      data-ng-if="vm.expanded"
      class="image-container">
      <div class="grid-block">
        <img
          data-asset-image="vm.asset.assetType"
          alt="outline image of asset type"
          class="grid-content small-7 asset-class" />
        <i class="grid-content small-offset-3 svg-icon-Information"></i>
      </div>
    </section>
    <section
      data-ng-if="vm.asset.isManagementSystemAsset"
      class="asset-brief small-12" >
      <h3
        data-ng-if="vm.asset.name"
        data-ng-bind="vm.asset.name"></h3>
      <div
        data-ng-if="vm.asset.imo"
        class="grid-block">
        <div class="grid-content small-4">
          IMO number:
        </div>
        <div class="grid-content small-8">
          <strong data-ng-bind="vm.asset.imo"></strong>
        </div>
      </div>
      <div
        data-ng-if="vm.asset.town"
        class="grid-block">
        <div class="grid-content small-4">
          Town:
        </div>
        <div class="grid-content small-8">
          <strong data-ng-bind="vm.asset.town"></strong>
        </div>
      </div>
      <div
        data-ng-if="vm.asset.country"
        class="grid-block">
        <div class="grid-content small-4">
          Country:
        </div>
        <div class="grid-content small-8">
          <strong data-ng-bind="vm.asset.country"></strong>
        </div>
      </div>
    </section>
    <section
      data-ng-if="!vm.asset.isManagementSystemAsset"
      class="asset-brief small-12">
      <h3
        data-ng-if="vm.asset.name"
        data-ng-bind="vm.asset.name"></h3>
      <div
        data-ng-if="vm.asset.ihsAsset.id"
        class="grid-block">
        <div class="grid-content small-4">
          IMO number:
        </div>
        <div class="grid-content small-8">
          <strong data-ng-bind="vm.asset.ihsAsset.id"></strong>
        </div>
      </div>
      <div
        data-ng-if="!vm.asset.ihsAsset.id"
        class="grid-block">
        <div class="grid-content small-4">
          Asset ID:
        </div>
        <div class="grid-content small-8">
          <strong data-ng-bind="vm.asset.id"></strong>
        </div>
      </div>
      <div
        data-ng-if="vm.asset.assetType"
        class="grid-block">
        <div class="grid-content small-4">
          Asset type:
        </div>
        <div class="grid-content small-8">
          <strong data-ng-bind="vm.asset.assetType.name | ellipsise: 20"></strong>
        </div>
      </div>
      <div
        data-ng-if="vm.asset.buildDate"
        class="grid-block">
        <div class="grid-content small-4">
          Date of build:
        </div>
        <div class="grid-content small-8">
          <strong data-ng-bind="vm.asset.buildDate | date:'dd MMM yyyy'"></strong>
        </div>
      </div>
      <div
        data-ng-if="vm.asset.grossTonnage"
        class="grid-block">
        <div class="grid-content small-4">
          GRT:
        </div>
        <div class="grid-content small-8">
          <strong data-ng-bind="vm.asset.grossTonnage"></strong>
        </div>
      </div>
      <div
        data-ng-if="vm.asset.flagState"
        class="grid-block">
        <div class="grid-content small-4">
          Flag:
        </div>
        <div class="grid-content small-8">
          <strong
            data-ng-bind="vm.asset.flagState.name"
            class="ellipsise"></strong>
        </div>
      </div>
      <div
        data-ng-if="vm.asset.classStatus"
        class="grid-block">
        <div class="grid-content small-4">
          Class status:
        </div>
        <div class="grid-content small-8">
          <strong
            data-ng-bind="vm.asset.classStatus.name"
            class="ellipsise"></strong>
        </div>
      </div>
    </section>
    <section
      class="small-12"
      data-ng-transclude="cta"></section>
  </div>
</div>
