<!-- todo check data looks sensible once wired up properly -->
<a class="grid-block">
  <div class="grid-content small-4">
    <div class="status">{{case.caseStatus.name}}</div>
  </div>
  <div class="grid-content small-4">
    <div>Case type: <strong>{{case.caseType.name}}</strong></div>
    <div>CFO: <strong>{{case.cfo}}</strong></div>
  </div>
  <div class="grid-content small-4 ends">
    <img src="${require('content/images/sprites/icons-small.png')}"
         class="float-right icon icon-small-arrow-right"/>
    <div>
      Case surveyor: <strong>{{case.caseSurveyor}}</strong>
    </div>
    <div>SDO: <strong>{{case.sdo}}</strong></div>
  </div>
</a>
