<!-- todo check data looks sensible once wired up properly -->
<a class="grid-block" data-ui-sref="asset.jobs.view({assetId: vm.asset.id, jobId: job.id})">
  <div class="grid-content small-3">
    <div>{{job.id | zeropad: 9}}</div>
    <div class="status">{{job.jobStatus.name}}</div>
  </div>
  <div class="grid-content small-3">
    <div>SDO: <strong>{{job.sdo}}</strong></div>
    <div>Service type: <strong>{{job.serviceType}}</strong></div>
  </div>
  <div class="grid-content small-6 ends">
    <img src="${require('content/images/sprites/icons-small.png')}"
      class="float-right icon icon-small-arrow-right"/>
    <div>
      <!-- ETA = Estimated Time of Arrival -->
      ETA: <strong>{{job.etaDate | date:'dd MMM yyyy' }}</strong>
    </div>
    <div>
      <!-- ETD = Estimated Time of Departure -->
      ETD: <strong>{{job.etdDate | date:'dd MMM yyyy' }}</strong>
    </div>
  </div>
</a>
