<div class="grid-content">
  <span>
    Data and associated attachments will be lost if you uncredit this {{vm.uncreditTargetType}}.
  </span>
</div>

<div class="grid-content shrink">
  <button
    data-ng-click="vm.uncreditCancel()"
    class="transparent-button-white"
    id="uncredit-cancel">
    Cancel
  </button>
  <button
    data-ng-click="vm.uncreditConfirm()"
    class="primary-button"
    id="uncredit-uncredit">
    Uncredit
  </button>
</div>
