<div class="grid-block">
  <div
    data-ng-form="narrativeForm"
    class="grid-block vertical">
    <div class="grid-block">
      <div class="grid-content">
        <textarea
          type="text"
          data-ng-disabled="!vm.jobStatusValidity"
          data-ng-maxlength="vm.creditingNarrativeLength"
          maxlength="{{vm.creditingNarrativeLength}}"
          data-ng-pattern="vm.allowedSpecialCharactersRegex"
          placeholder="Start typing the narrative"
          data-spellcheck="true"
          name="narrative"
          rows="1"
          id="task-narrative"
          data-ng-model="survey.narrative">
        </textarea>
        <ul
          data-ng-messages="narrativeForm.narrative.$error"
          data-ng-if="vm.validNarrative(narrativeForm.narrative)"
          role="alert"
          class="validation-error">
          <li data-ng-messages-include="${require('app/components/crediting-hierarchy/validation/narrative.html')}">
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-content">
        <div class="checkbox-container">
          <checkbox
            data-ng-model="survey.requiresFollowUp"
            data-largest
            class=""
            id="task-requires-follow-up-action"></checkbox>
          <label
            for="task-requires-follow-up-action"
            class="white">
            Requires follow up action
          </label>
        </div>
      </div>

      <div class="grid-content shrink end">
        <button
          data-ng-disabled="narrativeForm.$invalid"
          data-ng-click="vm.editSave(survey)"
          class="primary-button">
          Save
        </button>
      </div>
    </div>
  </div>

  <div class="grid-block shrink end">
    <span
      data-ng-click="vm.editCancel(survey)"
      class="close-mode">
      &#10005;
    </span>
  </div>
</div>
