<div class="grid-content">
  <span>
    Apply cascade credit for the task list items
  </span>
</div>

<div class="grid-content shrink">
  <button
    data-ng-click="vm.cascadeWaive(survey, 'survey')"
    data-ng-bind="vm.waive"
    data-ng-blur="vm.undoWaive = false"
    class="transparent-button-white"
    id="survey-cascade-waive">
  </button>
  <button
    data-ng-click="vm.cascadeConfirm(survey, 'survey')"
    data-ng-bind="vm.confirm"
    data-ng-blur="vm.undoConfirm = false"
    class="transparent-button-white"
    id="survey-cascade-confirm">
  </button>
  <button
    data-ng-click="vm.cascadeComplete(survey, 'survey')"
    data-ng-bind="vm.complete"
    data-ng-blur="vm.undoComplete = false"
    class="transparent-button-white"
    id="survey-cascade-complete">
  </button>
  <span
    data-ng-click="survey.cascading = false"
    class="close-mode">
    &#10005;
  </span>
</div>
