<div class="build grid-block vertical">
  <div class="grid-block">
    <div class="grid-content small-1">
      <div id="add-job-back-button"
        data-back-button
        data-ng-click="vm.back()"
        title="Back to Jobs">
      </div>
    </div>
    <div class="grid-block vertical small-12">
      <div class="grid-content">
        <h2>
          <span>Add new job</span>
        </h2>
      </div>
    </div>
  </div>
  <div
    class="grid-block vertical content-body-no-padding"
    id="build-container">
    <div class="grid-content content-body-padding">
      <ng-form
        name="vm.addJobForm"
        class="add-job-form"
        id="add-job-form"
        novalidate>
        <!-- Zero visit -->
        <div class="grid-block vertical form-control background-pure-white">
          <div>
            <label for="add-job-zero-visit">Zero visit</label>
          </div>
          <div
            class="radio grid-block"
            id="add-job-zero-visit">
            <div class="grid-content shrink">
              <input
                data-ng-model="vm.jobmodel.zeroVisitJob"
                data-ng-value="true"
                id="add-job-zero-visit-yes"
                name="zeroVisitJob"
                type="radio"
                role="radio">
              <label for="add-job-zero-visit-yes">Yes</label>
            </div>
            <div class="grid-content">
              <input
                data-ng-model="vm.jobmodel.zeroVisitJob"
                data-ng-value="false"
                id="add-job-zero-visit-no"
                name="zeroVisitJob"
                type="radio"
                role="radio">
              <label for="add-job-zero-visit-no">No</label>
            </div>
          </div>
        </div>
        <br />
        <div class="grid-block vertical background-pure-white">
          <!-- Job category -->
          <div class="form-control">
            <label for="add-job-job-category">Job category</label>
            <div
              class="radio grid-block"
              id="add-job-job-category">
              <div class="grid-content shrink">
                <input
                  data-ng-model="vm.jobmodel.jobCategory.id"
                  data-ng-value="vm.jobCategory.survey"
                  id="add-job-job-category-survey"
                  name="jobCategory"
                  type="radio"
                  role="radio"
                  required>
                <label for="add-job-job-category-survey">Survey</label>
              </div>
              <div class="grid-content">
                <input
                  data-ng-model="vm.jobmodel.jobCategory.id"
                  data-ng-value="vm.jobCategory.auditMms"
                  id="add-job-job-category-audit"
                  name="jobCategory"
                  type="radio"
                  role="radio"
                  required>
                <label for="add-job-job-category-audit">Audit (MMS)</label>
              </div>
            </div>
          </div>

          <!-- SDO -->
          <div class="grid-block form-control">
            <div class="grid-content small-5">
              <label for="add-job-sdo">SDO</label>
              <input
                type="text"
                data-ng-model="vm.jobmodel.sdo"
                data-ng-bind="vm.jobmodel.sdo.name"
                data-typeahead="office as office.name for office in vm.sdoTypeahead($viewValue)"
                data-typeahead-editable="false"
                data-clearable='null'
                name="sdo"
                id="add-job-sdo"
                placeholder="Please start typing SDO code"
                required />
                <ul
                  data-ng-messages="vm.addJobForm.sdo.$error"
                  data-ng-if="vm.validFormItem(vm.addJobForm.sdo)"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/asset/jobs/add/validation/sdo.html')}"></li>
                </ul>
            </div>

            <!-- Case -->
            <div
              data-ng-if="!vm.jobmodel.zeroVisitJob"
              class="grid-content small-5">
              <label for="add-job-case">Case (optional)</label>
              <select
                data-ng-model="vm.jobmodel.caseId"
                data-bg-bind="vm.jobmodel.caseId"
                data-ng-options="caseId as caseId for caseId in vm.caseIds"
                name="case"
                id="add-job-case"
                data-ng-disabled="vm.selectDisabled">
                <option value="">Please Select</option>
              </select>
              <ul
                data-ng-messages="vm.addJobForm.case.$error"
                data-ng-if="vm.validFormItem(vm.addJobForm.case)"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/add/validation/case.html')}"></li>
              </ul>
            </div>
          </div>

          <!-- Location -->
          <div
            data-ng-if="!vm.jobmodel.zeroVisitJob"
            class="grid-content small-10 form-control">
            <label for="add-job-location">Job location</label>
            <input
              maxlength="50"
              data-ng-maxlength="50"
              type="text"
              data-ng-model="vm.jobmodel.location"
              data-spellcheck="true"
              name="location"
              placeholder="Enter port name"
              required
              id="add-job-location" />
            <ul
              data-ng-messages="vm.addJobForm.location.$error"
              data-ng-if="vm.validFormItem(vm.addJobForm.location)"
              role="alert"
              class="validation-error">
              <li data-ng-messages-include="${require('app/asset/jobs/add/validation/location.html')}"></li>
            </ul>
          </div>

          <!-- Description -->
          <div class="grid-content small-10 form-control">
            <label for="add-job-description">Job description{{vm.jobmodel.zeroVisitJob ? '' : ' (optional)'}}</label>
            <textarea
              data-ng-required="vm.jobmodel.zeroVisitJob"
              rows="5"
              data-ng-model="vm.jobmodel.description"
              maxlength="50"
              data-ng-maxlength="50"
              data-spellcheck="true"
              name="description"
              placeholder="50 character limit"
              id="add-job-description">
            </textarea>
            <ul
              data-ng-messages="vm.addJobForm.description.$error"
              data-ng-if="vm.validFormItem(vm.addJobForm.description)"
              role="alert"
              class="validation-error">
              <li data-ng-messages-include="${require('app/asset/jobs/add/validation/description.html')}"></li>
            </ul>
          </div>

          <!-- Change of flag -->
          <div
            data-ng-if="!vm.jobmodel.zeroVisitJob"
            class="form-control">
            <label for="add-job-change-of-flag">Change of flag</label>
              <div class="grid-block">
                <div class="grid-content small-1">
                  <checkbox
                    data-ng-model="vm.jobmodel.changeOfFlag"
                    data-ng-change="vm.jobmodel.proposedFlagState = null"
                    id="add-job-change-of-flag"
                    data-largest></checkbox>
                </div>
                <div class="grid-content small-4">
                  <input
                    type="text"
                    data-ng-if="vm.jobmodel.changeOfFlag"
                    data-ng-model="vm.jobmodel.proposedFlagState"
                    data-ng-bind="vm.jobmodel.proposedFlagState.name"
                    data-typeahead="flag as flag.name for flag in vm.flagTypeahead($viewValue)"
                    data-typeahead-editable="false"
                    data-clearable='null'
                    name="proposedFlagState"
                    id="add-job-proposed-flag"
                    placeholder="Start typing new flag"
                    required />
                </div>
              </div>
              <ul
                data-ng-messages="vm.addJobForm.proposedFlagState.$error"
                data-ng-if="vm.validFormItem(vm.addJobForm.proposedFlagState)"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/add/validation/flag.html')}"></li>
              </ul>
          </div>

          <!-- ETA / ETD -->
          <div
            data-ng-if="!vm.jobmodel.zeroVisitJob"
            class="grid-block form-control">
            <div class="grid-content small-5">
              <label for="add-job-eta">ETA</label>
              <input
                data-ng-model="vm.jobmodel.etaDate"
                date-time
                max-date="vm.jobETD"
                min-date="vm.dates.etaDate"
                view="date"
                min-view="date"
                format="{{vm.dateFormat}}"
                auto-close="true"
                name="etaDate"
                class="date-field"
                id="add-job-eta"
                required />
              <span
                date-picker-icon
                sibling-id="add-job-eta">
                ${require('content/images/inline/mast-icon-calendar.svg')}
              </span>
              <ul
                data-ng-messages="vm.addJobForm.etaDate.$error"
                data-ng-if="vm.validFormItem(vm.addJobForm.etaDate)"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/add/validation/eta.html')}"></li>
              </ul>
            </div>
            <div class="grid-content small-5">
              <label for="add-job-etd">ETD</label>
              <input
                data-ng-model="vm.jobmodel.etdDate"
                date-time
                max-date="vm.dates.etdDate"
                min-date="vm.jobETA"
                view="date"
                min-view="date"
                format="{{vm.dateFormat}}"
                auto-close="true"
                name="etdDate"
                class="date-field"
                id="add-job-etd"
                required />
              <span
                date-picker-icon
                sibling-id="add-job-etd">
                ${require('content/images/inline/mast-icon-calendar.svg')}
              </span>
              <ul
                data-ng-messages="vm.addJobForm.etdDate.$error"
                data-ng-if="vm.validFormItem(vm.addJobForm.etdDate)"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/add/validation/etd.html')}"></li>
              </ul>
            </div>
          </div>

          <!-- Requested Attendance Date //-->
          <div
            data-ng-if="!vm.jobmodel.zeroVisitJob"
            class="grid-content small-5 form-control">
            <label for="add-job-rad">Requested attendance date</label>
            <input
              data-ng-model="vm.jobmodel.requestedAttendanceDate"
              date-time
              min-date="vm.jobETA"
              max-date="vm.jobETD"
              view="date"
              min-view="date"
              format="{{vm.dateFormat}}"
              auto-close="true"
              name="requestedAttendanceDate"
              class="date-field"
              id="add-job-rad"
              required />
            <span
              date-picker-icon
              sibling-id="add-job-rad">
              ${require('content/images/inline/mast-icon-calendar.svg')}
            </span>
            <ul
              data-ng-messages="vm.addJobForm.requestedAttendanceDate.$error"
              data-ng-if="vm.validFormItem(vm.addJobForm.requestedAttendanceDate)"
              role="alert"
              class="validation-error">
              <li data-ng-messages-include="${require('app/asset/jobs/add/validation/requested.html')}"></li>
            </ul>
          </div>
        </div>
      </ng-form>
    </div>
  </div>
</div>

<div
  data-sticky-footer
  id="add-job-preview-footer"
  class="jobs-preview-footer">
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-click="vm.cancel()"
        class="transparent-dark-button"
        id="add-job-preview-cancel">
        Cancel
      </button>
      <button
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.save()"
        class="primary-button"
        id="add-job-preview-save">
        Save
      </button>
    </div>
  </div>
</div>
