<small-modal
  class="text-center"
  id="modal-edit-harmonisation-date">
  <modal-body>
    <p>
      <strong
        data-ng-bind="title"
        class="light-blue">
      </strong>
    </p>
    <ng-form name="vm.modalForm">
      <input
        data-ng-model="vm.harmonisationDate"
        data-format="{{vm.dateFormat}}"
        data-min-date="vm.harmonisationLowerBound"
        data-max-date="vm.harmonisationUpperBound"
        data-view="date"
        data-min-view="date"
        data-auto-close="true"
        date-time
        class="date-time"
        name="harmonisationDatePicker"
        id="harmonisation-date-picker"
        required />
      <span
        date-picker-icon
        data-sibling-id="harmonisation-date-picker"
        class="harmonisation-date-picker-icon white">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="vm.modalForm.harmonisationDatePicker.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/service-schedule/list/validation/harmonisation-date.html')}"></li>
      </ul>
    </ng-form>
  </modal-body>
  <modal-footer>
    <button
      data-ng-click="$dismiss()"
      class="transparent-button-white">Cancel
    </button>
    <button
      data-ng-disabled="!vm.validForm()"
      data-ng-click="vm.confirm()"
      class="primary-button">OK
    </button>
  </modal-footer>
</small-modal>
