<small-modal
  class="text-center"
  id="modal-edit-rule-set">
  <modal-body>
    <p>
      <strong
        data-ng-bind="title"
        class="light-blue">
      </strong>
    </p>
    <ng-form name="modalForm">
      <table>
        <tbody>
          <tr ng-repeat="option in vm.runtimeOptions">
            <td>
              <div class="checkbox-container">
                <checkbox
                  data-ng-model="option.selected"
                  data-ng-change="vm.singleSelect(option)"
                  id="option-{{::$index}}-select"
                  data-largest></checkbox>
                <label
                  data-ng-bind="option.name"
                  class="white"
                  for="option-{{::$index}}-select"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-form>
  </modal-body>
  <modal-footer>
    <button
      data-ng-click="$dismiss()"
      class="transparent-button-white">Cancel
    </button>
    <button
      data-ng-click="vm.confirm()"
      class="primary-button">OK
    </button>
  </modal-footer>
</small-modal>
