<small-modal
  class="text-center"
  id="modal-remove-product">
  <modal-body>
    <p>
      <strong
        data-ng-bind="title"
        class="light-blue">
      </strong>
    </p>
  </modal-body>
  <modal-footer>
    <button
      data-ng-click="$dismiss()"
      class="transparent-button-white">Cancel
    </button>
    <button
      data-ng-click="$close(true)"
      class="primary-button">Remove product
    </button>
  </modal-footer>
</small-modal>
