<small-modal
  class="text-center"
  id="modal-remove-services">
  <modal-body>
    <p>
      <strong
        data-ng-bind="title"
        class="light-blue">
      </strong>
    </p>

    <div class="light-blue">
      <ul>
        <li
          data-ng-repeat="selectedName in vm.selectedNames"
          data-ng-bind="selectedName">
        </li>
      </ul>
    </div>

    <div
      data-ng-if="vm.relatedNames.length"
      class="light-blue">
      <p>
        <strong>The following services will also be removed:</strong>
      </p>
      <ul>
        <li
          data-ng-repeat="relatedName in vm.relatedNames"
          data-ng-bind="relatedName">
        </li>
      </ul>
    </div>
  </modal-body>
  <modal-footer>
    <button
      data-ng-click="$dismiss()"
      class="transparent-button-white">Cancel
    </button>
    <button
      data-ng-click="vm.confirm()"
      class="primary-button">Remove Services
    </button>
  </modal-footer>
</small-modal>
