<div class="grid-block vertical background-inspection header noscroll service-banner">
  <div class="grid-block">
    <div class="grid-content small-1">
      <div
        data-back-button
        data-ng-click="vm.back()"
        title="Back to Service Schedule"
        id="view-service-back-button">
      </div>
    </div>

    <div class="grid-block small-11">
      <div class="grid-content small-6 title">
        <h2>
          <span>Service:</span>
          <span
            data-ng-bind="vm.displayName"
            class="name"></span>
        </h2>
      </div>
      <div class="grid-content small-6 controls">
        <button
          data-ng-if="vm.hasCounterHalf()"
          data-ng-click="vm.swapService()">
          Swap
        </button>
        <button
          data-ng-click="vm.editService()"
          data-rbac="{ groups: vm.user.groups, action: 'updateAssetServiceSchedule'  }">
          Edit <i class="svg-icon-Edit"></i>
        </button>
        <attachments-and-notes
          modal-title="vm.item.name"
          path="vm.attachmentPath"
          attachments="vm.attachments"
          class="actionable">
          <attachments-icon dark="true"></attachments-icon>
        </attachments-and-notes>
      </div>
    </div>
  </div>

  <div class="grid-content status">
    <p>
      <span data-ng-bind="vm.displayStatuses"></span>
      <span
        data-ng-if="vm.product.schedulingRegime"
        data-ng-bind="vm.product.schedulingRegime.name"></span>
    </p>
  </div>

  <div class="grid-block summary">
    <div class="grid-block">
      <div class="grid-block">
        <div class="grid-content">Product:</div>
        <div
          data-ng-bind="vm.product.name || '-'"
          class="grid-content"></div>
      </div>
      <div class="grid-block">
        <div class="grid-content">Periodicity:</div>
        <div
          data-ng-bind="vm.serviceModel.cyclePeriodicity || '-' | unitise: 'month'"
          class="grid-content"></div>
      </div>
      <div
        data-ng-if="vm.serviceModel.specialSurveyIndicator"
        class="grid-block">
        <div class="grid-content">Special survey indicator:</div>
        <div
          data-ng-bind="vm.serviceModel.specialSurveyIndicator"
          class="grid-content"></div>
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-block">
        <div class="grid-content">Assigned date:</div>
        <div
          data-ng-bind="vm.serviceModel.effectiveAssignedDate | moment: '-'"
          class="grid-content"></div>
      </div>
      <div class="grid-block">
        <div class="grid-content">Due date:</div>
        <div
          data-ng-bind="vm.serviceModel.effectiveDueDate | moment: '-'"
          class="grid-content"></div>
      </div>
      <div
        data-ng-if="!vm.serviceModel.effectiveRangeIsNull"
        class="grid-block">
        <div class="grid-content">Date range:</div>
        <div class="grid-content">
          <span data-ng-bind="vm.serviceModel.effectiveLowerRangeDate | moment:'-'"></span>
          -
          <span data-ng-bind="vm.serviceModel.effectiveUpperRangeDate | moment:'-'"></span>
        </div>
      </div>
    </div>

    <div class="grid-block">
      <div
        data-ng-if="vm.serviceModel.lastCreditedOn"
        class="grid-block">
        <div class="grid-content">Last credited on:</div>
        <div
          data-ng-bind="vm.serviceModel.lastCreditedOn"
          class="grid-content"></div>
      </div>
      <div
        data-ng-if="vm.serviceModel.partHeldOn"
        class="grid-block">
        <div class="grid-content">Part held on:</div>
        <div
          data-ng-bind="vm.serviceModel.partHeldOn"
          class="grid-content"></div>
      </div>
      <div
        data-ng-if="vm.serviceModel.dateOnCompletion"
        class="grid-block">
        <div class="grid-content">Date on completion:</div>
        <div
          data-ng-bind="vm.serviceModel.dateOnCompletion"
          class="grid-content"></div>
      </div>

      <div
        data-ng-if="vm.serviceModel.postponedDate"
        class="grid-block">
        <div class="grid-content">Postponed date:</div>
        <div
          data-ng-bind="vm.serviceModel.postponedDate"
          class="grid-content"></div>
      </div>
      <div
        data-ng-if="vm.serviceModel.postponedStatus"
        class="grid-block">
        <div class="grid-content">Postponed status:</div>
        <div
          data-ng-bind="vm.serviceModel.postponedStatus"
          class="grid-content"></div>
      </div>
    </div>
  </div>
</div>
