<full-screen-modal
  id="modal-attribute-selector">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Select one or more attributes</h2>
      <a
        data-ng-click="$dismiss()"
        class="small-1 white close-button"
        id="close-button">&#10005;</a>
    </div>
  </modal-header>
  <modal-body>
    <div class="grid-block">
      <table class="modal-table">
        <thead>
          <tr
            role="row"
            class="white">
            <th role="columnheader">Attribute name</th>
            <th role="columnheader">Multiple</th>
            <th role="columnheader">Naming order</th>
            <th role="columnheader">No. of instances</th>
          </tr>
        </thead>
        <tbody>
          <tr
            data-ng-repeat="attr in vm.attributeList"
            data-ng-class="{'selected': attr.selected}"
            role="row"
            id="attribute-{{$index}}">
            <td role="gridcell">
              <div class="checkbox-container">
                <checkbox
                  data-ng-model="attr.selected"
                  data-ng-change="vm.selectAttribute(attr)"
                  id="attribute-{{::$index}}-select"
                  data-largest></checkbox>
                <label
                  data-ng-bind="attr.name"
                  class="white"
                  for="attribute-{{::$index}}-select"></label>
                &nbsp;
                <span
                  data-ng-bind="attr.added"
                  class="white"></span>
              </div>
            </td>
            <td
              role="gridcell"
              class="white"
              id="attribute-{{::$index}}-max-ocurrs">{{attr.maxOccurs ? 'No' : 'Yes'}}</td>
            <td
              role="gridcell"
              class="white"
              id="attribute-{{::$index}}-naming-order">{{attr.namingOrder}}</td>
            <td role="gridcell">
              <counter
                data-ng-if="attr.maxOccurs !== 1"
                data-ng-disabled="!attr.selected"
                data-value="attr.instances"
                data-min="attr.minOccurs || 1"
                data-max="attr.maxOccurs ? attr.maxOccurs : undefined"
                id="attribute-{{::$index}}-count"></counter>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </modal-body>
  <modal-footer>
    <div class="grid-block align-right">
      <div
        class="white info-text"
        id="attribute-selected-count-label">
        <strong data-ng-bind="vm.numSelected"></strong>
        attributes selected
      </div>
      <button
        class="primary-button"
        data-ng-disabled="!vm.numSelected"
        data-ng-click="vm.cleanAndClose()"
        id="add-attribute-button">Add attributes
      </button>
    </div>
  </modal-footer>
</full-screen-modal>
