<small-modal
  class="white text-center"
  id="modal-discard-changes"
  title="'Discard changes'">
  <modal-body>
    <p>Are you sure you want to discard your changes?</p>
  </modal-body>
  <modal-footer>
      <button
        class="primary-button"
        ng-click="$close(true)">Discard changes</button>
      <button
        class="transparent-button-white"
        ng-click="$close(false)">Cancel</button>
  </modal-footer>
</small-modal>
