<small-modal
  class="white text-center"
  id="modal-item-name-updated"
  title="'Item name updated'">
  <modal-body>
    <p>{{vm.oldName}} changed to {{vm.newName}}</p>
  </modal-body>
  <modal-footer>
    <button
      data-ng-click="$close(true)"
      class="primary-button">
      OK
    </button>
  </modal-footer>
</small-modal>
