<span>
  <span
    aria-label="Search"
    class="lr-icon light actionable"
    id="info-header-search">
    ${require('content/images/inline/mast-icon-search.svg')}
  </span>
  <print id="info-header-print"></print>
  <span
    aria-label="User"
    class="lr-icon light actionable"
    id="info-header-user">
    ${require('content/images/inline/mast-icon-person.svg')}
  </span>
</span>
<span class="text-right">
  <span
    data-ng-bind="vm.user.fullName"
    id="info-header-username"></span>
  <strong>
    Working
  </strong>
  <strong
    data-ng-bind="OFFLINE ? 'offline' : 'online'"
    id="info-header-online-status"></strong>
</span>
<a id="config-icon" class="lr-icon" ui-sref="config" data-ng-if="::DEBUG">
  ${require('content/images/inline/mast-icon-lr.svg')}
</a>
