<section class="service-schedule add-product footer-follows">
  <div class="grid-block vertical">
    <!-- Banner -->
    <div class="grid-block banner">
      <div class="grid-content small-1">
        <div id="add-product-header-back"
          data-back-button
          data-ng-click="vm.back()"
          title="Back">
        </div>
      </div>

      <div class="grid-content">
        <h2>
          <span>Select products:</span>
          <strong>{{vm.productType.name}}</strong>
        </h2>
      </div>
    </div>

    <!-- Flag filter on/off - restricts product list by asset's flag -->
    <div
      data-ng-if="vm.flagControlsRequired()"
      class="grid-block flag-controls">
      <ul class="button-group segmented">
        <li data-ng-repeat="item in vm.flagControls">
          <input
            data-ng-model="vm.formConfig.flag"
            data-ng-click="vm.updateVisibleOptions()"
            id="flag-control-{{$index}}"
            name="flagControl"
            value="{{item.value}}"
            type="radio"
            required />
          <label
            data-ng-bind="item.label"
            for="flag-control-{{$index}}">
          </label>
        </li>
      </ul>
    </div>

    <!-- Product list -->
    <ng-form
      class="grid-block"
      name="productForm">
      <div class="grid-block vertical">
        <div
          data-ng-repeat="option in vm.visibleOptions"
          class="grid-block product">
          <div class="grid-block small-6 product-name">
            <checkbox
              data-ng-model="option.selected"
              data-ng-change="vm.singleSelect(option)"
              class="grid-content shrink"
              id="option-{{::$index}}-select"
              data-largest></checkbox>
            <label
              data-ng-bind="option.name"
              class="grid-content"
              for="option-{{::$index}}-select"></label>
          </div>

          <div
            data-ng-if="vm.schedulingRegimeControlsRequired()"
            class="grid-content small-6">
            <select
              data-ng-model="option.schedulingRegime"
              data-ng-options="regime.name for regime in option.schedulingRegimes track by regime.id">
            </select>
          </div>
        </div>
      </div>
    </ng-form>
  </div>
</section>

<!-- Footer -->
<div
  data-sticky-footer
  id="add-products-footer"
  class="products-add-footer">
  <div class="grid-block align-right">
    <div class="grid-content shrink">
      <button
        data-ng-click="vm.back()"
        class="transparent-dark-button"
        id="footer-cancel">
        Cancel
      </button>
      <button
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.confirm()"
        class="primary-button"
        id="footer-confirm">
        Add
      </button>
    </div>
  </div>
</div>
