<ng-form
  name="jobSearchFilterJobStatus"
  class="grid-block vertical"
  id="job-search-filter-job-status-form">
  <div
    data-ng-init="vm.filters.jobStatus.form = jobSearchFilterJobStatus"
    class="grid-block">
    <div class="grid-content">
      <div class="float-right">
        <p>
          <span
            data-ng-click="vm.jobStatuses = vm.setListSelected(vm.jobStatuses, true); vm.filters.jobStatus.active = false;"
            type="button"
            class="actionable"
            id="job-search-filter-job-status-select-all">
            Select All
          </span>
          |
          <span
            data-ng-click="vm.jobStatuses = vm.setListSelected(vm.jobStatuses, false); vm.filters.jobStatus.active = true; vm.checkValidation()"
            type="button"
            class="actionable"
            id="job-search-filter-job-status-clear-all">
            Clear
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-block horizontal small-up-2">
    <div
      data-ng-repeat="jobStatus in vm.jobStatuses track by jobStatus.id"
      class="grid-content">
      <div class="checkbox-container">
        <checkbox
          data-ng-model="jobStatus.selected"
          data-ng-change="vm.filters.jobStatus.active = !vm.getFilterActivation(vm.jobStatuses, vm.defaultJobStatuses); vm.checkValidation()"
          name="jobStatus{{$index}}"
          id="job-search-filter-job-status-select-{{$index}}"
          largest></checkbox>
        <label
          data-ng-bind="jobStatus.name"
          class="grey"
          for="job-search-filter-job-status-select-{{$index}}"></label>
      </div>
    </div>
      <ul
        data-ng-messages="vm.filters.jobStatus.form.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/job-status.html')}"></li>
      </ul>
  </div>
</ng-form>
