<ng-form
  name="jobSearchFilterSdoName"
  class="grid-block vertical white"
  id="job-search-filter-sdo-name-form">
  <div
    data-ng-init="vm.filters.serviceDeliveryOffice.form = jobSearchFilterSdoName"
    class="grid-block horizontal small-up-3">
    <div class="grid-content">
      <label
        for="job-search-filter-sdo-name"
        class="grey">
        SDO
      </label>
      <input
        data-ng-model="vm.parameters.officeId"
        data-typeahead-on-select="vm.filters.serviceDeliveryOffice.active = vm.parameters.officeId"
        data-typeahead="office as office.name for office in vm.sdoTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable="null"
        type="text"
        name="officeId"
        placeholder="Start typing in SDO"
        id="job-search-filter-sdo-name"/>
      <ul
        data-ng-messages="jobSearchFilterSdoName.officeId.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/service-delivery-office.html')}"></li>
      </ul>
    </div>
    </div>
  </div>
</ng-form>
