<ng-form novalidate
  name="jobSearchFilterStartDate"
  class="grid-block vertical white"
  id="job-search-filter-start-date-form">
  <div
    data-ng-init="vm.filters.startDate.form = jobSearchFilterStartDate"
    class="grid-block small-up-3 blue">
    <div class="grid-content">
      <label
        for="startDateMin"
        class="grey">
        From
      </label>
      <input
        data-ng-model="vm.parameters.startDateMin"
        date-time
        max-date="vm.maxSetDate"
        min-date="vm.dates.startDateMin"
        view="date"
        min-view="date"
        format="{{vm.dateFormat}}"
        auto-close="true"
        name="startDateMin"
        id="job-search-filter-start-date-min" />
      <span
        date-picker-icon
        sibling-id="job-search-filter-start-date-min"
        class="blue">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="jobSearchFilterStartDate.startDateMin.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/start-date.html')}"></li>
      </ul>
    </div>
    <div class="grid-content">
      <label
        for="startDateMax"
        class="grey">
        To
      </label>
      <input
        data-ng-model="vm.parameters.startDateMax"
        date-time
        min-date="vm.minSetDate"
        max-date="vm.dates.startDateMax"
        view="date"
        min-view="date"
        format="{{vm.dateFormat}}"
        auto-close="true"
        name="startDateMax"
        id="job-search-filter-start-date-max" />
      <span
        date-picker-icon
        sibling-id="job-search-filter-start-date-max"
        class="blue">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="jobSearchFilterStartDate.startDateMax.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/start-date.html')}"></li>
      </ul>
    </div>
  </div>
</ng-form>
