<ng-form
  name="jobSearchFilterSurveyorName"
  class="grid-block vertical white"
  id="job-search-filter-surveyor-name-form">
  <div
    data-ng-init="vm.filters.surveyorName.form = jobSearchFilterSurveyorName"
    class="grid-block horizontal small-up-3">
    <div class="grid-content">
      <label
        for="job-search-filter-surveyor-name"
        class="grey">
        Surveyors name
      </label>
      <input
        data-ng-model="vm.parameters.employeeId"
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-on-select="vm.filters.surveyorName.active = vm.parameters.employeeId"
        data-typeahead-editable="false"
        data-clearable
        type="text"
        name="employeeId"
        placeholder="Start typing in Surveyor name"
        id="job-search-filter-surveyor-name"/>
      <ul
        data-ng-messages="jobSearchFilterSurveyorName.surveyorName.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/surveyor.html')}"></li>
      </ul>
    </div>
    </div>
  </div>
</ng-form>
