<div class="asset grid-block vertical create-asset">
  <div class="grid-block create">
    <div class="grid-content small-1">
      <div id="create-asset-header-back"
        data-back-button
        data-ng-click="vm.back()"
        title="Back to Dashboard">
      </div>
    </div>
    <div class="grid-content small-11">
      <h2>Add new asset</h2>
    </div>
  </div>
  <div class="grid-block vertical content-body footer-follows">
    <br />
    <div class="grid-block shrink radio radio-selectors">
      <div class="grid-block shrink">
        <span>I want to create:</span>
      </div>
      <div class="grid-block shrink">
        <input
          data-ng-value="true"
          data-ng-model="vm.registered"
          data-ng-change="vm.reset()"
          data-ng-checked="true"
          type="radio"
          id="imo-registered-asset"
          name="imo-registered"
          role="radio"
          required />
        <label for="imo-registered-asset">IMO registered asset</label>
      </div>
      <div class="grid-block shrink">
        <input
          data-ng-value="false"
          data-ng-model="vm.registered"
          data-ng-change="vm.reset()"
          type="radio"
          id="non-imo-registered-asset"
          name="imo-registered"
          role="radio"
          required />
        <label for="non-imo-registered-asset">non-IMO registered asset</label>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <ng-form
          name="vm.createAssetForm"
          novalidate>
          <div
            data-ng-if="vm.registered"
            data-ng-include="'app/create-asset/partials/imo-registered-details.html'">
          </div>
          <div
            data-ng-if="!vm.registered || vm.ihsLookupComplete"
            data-ng-include="'app/create-asset/partials/non-imo-registered-details.html'">
          </div>
          <div class="grid-block vertical form-control">
            <div class="grid-block">
              <div class="grid-content">
                <label for="name">Asset name:</label>
              </div>
            </div>
            <div class="grid-block">
              <div class="grid-content">
                <input
                  data-ng-model="vm.asset.name"
                  data-ng-maxlength="50"
                  data-ng-pattern="/^[ a-zA-Z0-9]*$/"
                  type="text"
                  name="name"
                  placeholder="50 character limit"
                  id="asset-name"
                  required />
                <div
                  class="validation-error"
                  role="alert"
                  data-ng-show="vm.createAssetForm.name.$dirty && vm.createAssetForm.name.$invalid && !vm.createAssetForm.name.$pristine">
                  <span data-ng-if="vm.createAssetForm.name.$error.required">Asset name is a required field.</span>
                  <span data-ng-if="vm.createAssetForm.name.$error.maxlength">Maximum of 50 characters.</span>
                  <span data-ng-if="vm.createAssetForm.name.$error.pattern">Special characters are not allowed.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-block vertical form-control">
            <div class="grid-block">
              <div class="grid-content">
                <label for="category">Asset category:</label>
              </div>
            </div>
            <div class="grid-block">
              <div class="grid-content">
                <value-picker
                  data-ng-model="vm.asset.category"
                  data-ng-change="vm.categoryChanged(vm.asset.category)"
                  available-options="vm.categories"
                  button-text="Select category"
                  modal-title="Select one asset category"
                  name="category"
                  id="asset-category"
                  input-type="radio"
                  not-empty>
                </value-picker>
                <ul
                  data-ng-if="vm.createAssetForm.category.$invalid && !vm.createAssetForm.category.$pristine"
                  data-ng-messages="vm.createAssetForm.category.$error"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/components/validation/asset-category.html')}"></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-block vertical form-control">
            <div class="grid-block">
              <div class="grid-content">
                <label for="type">Asset type:</label>
              </div>
            </div>
            <div class="grid-block">
              <div class="grid-content">
                <value-picker
                  data-ng-model="vm.asset.type"
                  data-ng-change="vm.typeChanged(vm.asset.type)"
                  available-options="vm.types"
                  button-text="Select type"
                  custom-template="{{vm.atpModalTemplate}}"
                  custom-controller="vm.AtpModalController"
                  modal-title="Select one asset category"
                  name="type"
                  id="asset-type"
                  not-empty>
                </value-picker>
                <ul
                  data-ng-if="vm.createAssetForm.type.$invalid && !vm.createAssetForm.type.$pristine"
                  data-ng-messages="vm.createAssetForm.type.$error"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/components/validation/asset-type.html')}"></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-block vertical form-control">
            <div class="grid-block">
              <div class="grid-content">
                <label for="class-section">Class section:</label>
              </div>
            </div>
            <div class="grid-block">
              <div class="grid-content">
                <select
                  data-ng-model="vm.asset.classDepartment"
                  data-ng-options="section.name for section in vm.classDepartments track by section.id"
                  data-ng-disabled="!(vm.asset.type)"
                  id="class-section"
                  name="class-section"
                  required></select>
                  <ul
                    data-ng-if="vm.createAssetForm.class-section.$invalid && !vm.createAssetForm.class-section.$pristine"
                    data-ng-messages="vm.createAssetForm.class-section.$error"
                    role="alert"
                    class="validation-error">
                    <li data-ng-messages-include="${require('app/components/validation/asset-class-section.html')}"></li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="grid-block vertical form-control">
            <div class="grid-block">
              <div class="grid-content">
                <label for="date">Date of build:</label>
              </div>
            </div>
            <div class="grid-block">
              <div class="grid-content">
                <input
                  data-ng-model="vm.asset.buildDate"
                  date-time
                  view="date"
                  min-view="date"
                  format="{{vm.dateFormat}}"
                  class="blue"
                  name="date"
                  id="asset-build-date"
                  required />
                <span
                  sibling-id="asset-build-date"
                  date-picker-icon>
                  ${require('content/images/inline/mast-icon-calendar.svg')}
                </span>
                <ul
                  data-ng-if="vm.createAssetForm.date.$invalid && !vm.createAssetForm.date.$pristine"
                  data-ng-messages="vm.createAssetForm.date.$error"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-block vertical form-control">
            <div class="grid-block">
              <div class="grid-content">
                <label for="attachments">Add attachment &amp; note (optional)</label>
              </div>
            </div>
            <div class="grid-block">
              <div class="grid-content">
                <button
                  class="grey-button"
                  name="attachments"
                  id="asset-attachments"
                  attachments-and-notes
                  modal-title="'Asset'"
                  attachments="vm.attachments">
                  <i class="svg-icon-Attachment"></i>
                  Add attachment &amp; note
                </button>
                <span
                  attachments-and-notes
                  modal-title="'Asset'"
                  attachments="vm.attachments">
                  <attachments-icon></attachments-icon>
                </span>
              </div>
            </div>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
  <div
    sticky-footer
    id="create-asset-footer">
    <div class="grid-block">
      <div class="grid-content text-right">
        <button
          ng-click="vm.back()"
          class="transparent-dark-button"
          id="create-asset-cancel">
          Cancel
        </button>
        <button
          ng-click="vm.create()"
          ng-disabled="vm.creating || vm.validateForm()"
          class="primary-button"
          id="create-asset-create">
          Create asset
        </button>
      </div>
    </div>
  </div>
</div>
