<img
  data-asset-image="vm.asset.assetType"
  alt="outline image of asset type"
  class="asset-class" />
<h3
  data-ng-bind="case.assetName | ellipsise: 8"
  class="item-card-face-name"></h3>
<i
  data-ng-mouseover="vm.showAssetCard(case.asset.id, 'case', $index)"
  class="item-card-face-icon svg-icon-Information"
  id="my-work-show-asset-{{case.asset.id}}"></i>
<i class="item-card-face-icon svg-icon-View"></i>
<div
  data-ng-if="vm.isCurrentExpandedCard(case.asset.id, 'case', $index)"
  data-ng-mouseleave="vm.hideAssetCard()"
  class="asset-card-detail expanded"
  id="my-work-asset-{{vm.expandedAsset.id}}-card">
  <asset-card
    data-asset="vm.expandedAsset"
    data-expanded="true">
    <asset-card-cta class="grid-block btn-container">
      <div class="grid-content small-3">
        <a
          data-ui-sref="asset.assetModel.view({ assetId: vm.expandedAsset.id })"
          class="secondary-button">View</a>
      </div>
      <div class="grid-content small-4">
        <div
          data-ui-sref="asset.jobs.list({ assetId: vm.expandedAsset.id })"
          class="transparent-dark-button grid-block vertical">
          <span>
            <strong data-ng-bind="vm.expandedAsset.jobs.length"></strong>
          </span>
          <span>
            Active {{'jobs' | singularise: vm.expandedAsset.jobs.length}}
          </span>
        </div>
      </div>
      <div class="grid-content small-4">
        <div
          data-ui-sref="asset.cases.list({ assetId: vm.expandedAsset.id })"
          class="transparent-dark-button grid-block vertical">
          <span>
            <strong data-ng-bind="vm.expandedAsset.cases.length"></strong>
          </span>
          <span>
            Active {{'cases' | singularise: vm.expandedAsset.cases.length}}
          </span>
        </div>
      </div>
    </asset-card-cta>
  </asset-card>
</div>
