<div>
  <pagination
    data-pageable="vm.assets"
    data-type="'assets'">
    <pagination-header-left class="small-3">
      <i
        data-ng-click="vm.setTeamState(false)"
        data-ng-class="{'selected': !vm.teamState('team')}"
        class="svg-icon-Profile me-and-my-team blue"
        title="My Jobs"></i>
      <i
        data-ng-click="vm.setTeamState(true)"
        data-ng-class="{'selected': vm.teamState('team')}"
        class="svg-icon-Profile me-and-my-team bright-red"
        title="My Teams' Jobs"></i>
    </pagination-header-left>

    <pagination-header-right class="small-3">
      <sort-by
        data-sortable="vm.assets"
        data-sort-options="{
          name: {
            title: 'Asset Name', asc: 'A>Z', desc: 'Z>A'
          },
          buildDate: {
            title: 'Date of build'
          }
        }"
        data-sort-order="vm.sortOrder"
        data-on-update="vm.reload()">
      </sort-by>
    </pagination-header-right>

    <h3
      data-ng-bind="vm.teamState('team') ? 'Team Jobs' : 'Jobs'"
      class="blue"></h3>

    <h4
      data-ng-bind="vm.showAmounts('jobs')"
      class="show-amounts"></h4>

    <div class="grid-block">
      <div
        data-ng-repeat="job in vm.selectedItems[0] | orderBy: ['assetName', 'createdOn']"
        class="grid-content small-12">
        <div
          data-ng-class-odd="'item-card-odd'"
          data-ng-class-even="'item-card-even'"
          class="grid-block small-12 item-card"
          id="item-card-job-{{$index}}">
          <div
            data-ng-include="'app/dashboard/my-work/item-card-face-job.html'"
            class="item-card-face small-3">
          </div>

          <div class="job-status small-2">
            <span class="job-status-imo">
              <strong data-ng-bind="job.imoNumber || '-'"></strong>
            </span>
            <span class="job-status-status">
              <strong data-ng-bind="job.jobStatus.name"></strong>
            </span>
          </div>

          <div class="job-type small-2">
            <span class="job-type-type">Service Type: </span>
            <span class="job-type-sdo">
              SDO:
              <strong data-ng-bind="job.location"></strong>
            </span>
          </div>

          <div class="job-date small-2">
            <span class="job-date-eta">
              ETA:
              <strong data-ng-bind="job.etaDate | moment"></strong>
            </span>
            <span class="job-date-etd">
              ETD:
              <strong data-ng-bind="job.etdDate | moment"></strong>
            </span>
          </div>

          <div class="job-info small-3">
            <a data-ng-click="vm.jobView(job, job.asset)">
              ${require('content/images/inline/mast-icon-chevron-right.svg')}
            </a>
            <span class="job-info-date">
              Requested attendance date:
              <strong data-ng-bind="job.requestedAttendanceDate"></strong>
            </span>
            <span class="job-info-surveyor">
              Lead surveyor:
              <strong data-ng-bind="vm.jobSurveyor(job)"></strong>
            </span>
          </div>
        </div>
      </div>

      <div
        data-ng-if="!vm._selectedItems[0].length"
        class="grid-block">
        <p data-ng-if="vm.teamState('team')">
          Your team is currently not assigned to any jobs.
        </p>
        <p data-ng-if="!vm.teamState('team')">
          You are currently not assigned to any jobs.
        </p>
      </div>
    </div>

    <br /><br />

    <h3
      data-ng-bind="vm.teamState('team') ? 'Team Cases' : 'Cases'"
      class="blue"></h3>

    <h4
      data-ng-bind="vm.showAmounts('cases')"
      class="show-amounts"></h4>

    <div
      data-ng-class="{
        'case-padding-1': vm.casePaddingOffset === 1,
        'case-padding-2': vm.casePaddingOffset === 2,
        'case-padding-3': vm.casePaddingOffset === 3,
        'case-padding-4': vm.casePaddingOffset === 4
      }"
      class="grid-block">
      <div
        data-ng-repeat="case in vm.selectedItems[1] | orderBy: ['assetName', 'createdOn']"
        class="grid-content small-12">
        <div
          data-ng-class-odd="'item-card-odd'"
          data-ng-class-even="'item-card-even'"
          class="grid-block small-12 item-card"
          id="item-card-case-{{$index}}">
          <div
            data-ng-include="'app/dashboard/my-work/item-card-face-case.html'"
            class="item-card-face small-3">
          </div>

          <div class="job-status small-2">
            <span class="job-status-imo">
              <strong data-ng-bind="case.id || '-'"></strong>
            </span>
            <span class="job-status-status">
              <strong data-ng-bind="case.caseStatus.name"></strong>
            </span>
          </div>

          <div class="job-type small-2">
            <span class="job-type-type">
              Case Type:
              <strong data-ng-bind="case.caseType.name"></strong>
            </span>
            <span class="job-type-sdo">
              Case CFO:
              <strong data-ng-bind="vm.caseOffice('cfo', case)"></strong>
            </span>
          </div>

          <div class="job-date small-2">
            <span class="job-date-eta">
              Case SDO:
              <strong data-ng-bind="vm.caseOffice('caseSdo', case)"></strong>
            </span>
            <span class="job-date-etd">
              Case owner:
              <strong data-ng-bind="vm.caseSurveyor('management', case)"></strong>
            </span>
          </div>

          <div class="job-info small-3">
            <a data-ng-click="vm.caseView(case)">
              ${require('content/images/inline/mast-icon-chevron-right.svg')}
            </a>
            <span class="job-info-date">
              Case date:
              <strong data-ng-bind="case.tocAcceptanceDate | moment"></strong>
            </span>
            <span></span>
          </div>
        </div>
      </div>

      <div
        data-ng-if="!vm._selectedItems[1].length"
        class="grid-block">
        <p data-ng-if="vm.teamState('team')">
          Your team is currently not assigned to any cases.
        </p>
        <p data-ng-if="!vm.teamState('team')">
          You are currently not assigned to any cases.
        </p>
      </div>
    </div>
  </pagination>
</div>
