<div
  job-banner
  job="vm.job"
  attachment-count="vm.jobAttachmentCount"
  attachment-path="vm.jobAttachmentPath"
  back-target="'asset.jobs.view'">
</div>

<div class="grid-block vertical content-body job-codicil-list">
  <div class="grid-block header">
    <div class="grid-block">
      <h2 data-ng-bind="vm.listContents"></h2>
    </div>
    <div class="grid-block align-right">
      <button
        data-ng-disabled="!vm.ctaVisible()"
        data-ng-click="vm.addCodicil()"
        class="white primary-button"
        id="add-attributes-button">
        + Add new
      </button>
    </div>
  </div>

  <nav class="grid-block actions">
    <div>
      <button
        data-ng-class="{'white-button arrowed': vm.searchMode, 'transparent-light-button': !vm.searchMode}"
        data-ng-click="vm.searchMode = !vm.searchMode"
        class="expand">
        Search/Filter {{vm.listContents}}
      </button>
    </div>
  </nav>
  <codicil-search
    data-ng-if="vm.searchMode"
    data-codicil-filter="vm.codicilFilter"
    codicil-type="vm.itemType">
  </codicil-search>

  <div data-ng-if="vm.viewType !== 'other'">
    <div class="grid-block section-header">
      <h5 class="dark-grey">
        <strong>Job related</strong>
        <strong class="dark-blue">({{ vm.jobCodicils.length }})</strong>
      </h5>
    </div>
    <codicil-info
      data-ng-class="{'background-pure-white': $even}"
      data-ng-repeat="codicil in vm.jobCodicils"
      item="codicil"
      item-type="vm.itemType"
      job-id="vm.job.id"
      asset-id="vm.job.asset.id"
      view-state-name="vm.viewStateName"
      context="'job'">
    </codicil-info>
  </div>
  <div
    data-ng-if="!vm.jobCodicils.length && vm.viewType !== 'other'"
    class="grid-block background-pure-white codicil-no-result">
    <div class="grid-content">There are no {{vm.prettyPluralItemType}} for this Job</div>
  </div>

  <div data-ng-if="vm.viewType !== 'job'">
    <div class="grid-block section-header">
      <h5 class="dark-grey">
        <strong>Other</strong>
        <strong class="dark-blue">({{ vm.otherCodicils.length }})</strong>
      </h5>
    </div>
    <codicil-info
      data-ng-class="{'background-pure-white': $even}"
      data-ng-repeat="codicil in vm.otherCodicils"
      item="codicil"
      item-type="vm.itemType"
      asset-id="vm.job.asset.id"
      job-id="vm.job.id"
      view-state-name="vm.viewStateName"
      context="'asset'">
    </codicil-info>
  </div>
  <div
    data-ng-if="!vm.otherCodicils.length && vm.viewType !== 'job'"
    class="grid-block background-pure-white codicil-no-result">
    <div class="grid-content">There are no other {{vm.prettyPluralItemType}} for this Asset</div>
  </div>
</div>
