<div class="background-pure-white-full">
  <div
    data-ng-click="vm.showBanner()"
    class="grid-block case-banner-collapsible">
    <div class="grid content small-11 case-list-item">
      <h3 class="dark-blue">Case header</h3>
    </div>
    <div class="grid-content small-1 case-list-item align-right">
      <i
        data-ng-hide="vm.isBannerOpen"
        class="svg-icon-Right"></i>
      <i
        data-ng-show="vm.isBannerOpen"
        class="svg-icon-Down"></i>
    </div>
  </div>
  <div data-ng-if="vm.isBannerOpen"
    data-case-banner
    data-case="vm.assetCase"
    data-collapsible="true"
    data-attachment-count="vm.attachmentCount"
    data-attachment-path="vm.attachmentPath"
    class="case-banner">
  </div>
  <div class="grid-block">
    <div class="grid-content">
      <h3 class="dark-blue">Manage Milestones</h3>
    </div>
  </div>
  <div class="grid-block">
    <div
      class="milestone-tab-container grid-block wrap"
      id="milestone-tab-container">
      <div class="tabs">
        <div
          data-ng-click="vm.onInScope()"
          data-ng-class="{'is-active': vm.inScope}"
          class="grid-content small-6 tab-item">
          <a id="milestone-management-view-inscope">
            In scope ({{vm.inScopeMilestones.length}})</a>
        </div>
        <div
          data-ng-class="{'is-active': !vm.inScope}"
          data-ng-click="vm.onOutScope()"
          class="grid-content small-6 tab-item">
          <a id="milestone-management-view-outscope">
            Out of scope ({{vm.outScopeMilestones.length}})</a>
        </div>
      </div>
    </div>
  </div>
  <section class="milestone-list-container">
    <div class="grid-block">
      <div
        data-ng-show="vm.inScope"
        class="grid-content small-12">
        <button
          data-ng-click="vm.changeScope(false, vm.inScope)"
          class="secondary-button no-margin float-right">
          Mark as out of scope
        </button>
      </div>
      <div
        data-ng-hide="vm.inScope"
        class="grid-content small-12">
        <button
          data-ng-click="vm.changeScope(true, vm.inScope)"
          class="secondary-button no-margin float-right">
          Mark as in scope
        </button>
      </div>
    </div>
    <div class="grid-block footer-follows">
      <div>
        <case-milestone-list
          data-case="vm.assetCase"
          data-milestones="vm.milestones"
          data-scope="vm.inScope"
          data-manage="true">
        </case-milestone-list>
      </div>
    </div>
    <div data-sticky-footer>
      <div class="small-3 small-offset-6 text-right">
        <button
          data-ui-sref="asset.cases.view.milestones"
          class="transparent-button-white"
          id="manage-milestones-button">Cancel changes
        </button>
      </div>
      <div class="small-3">
        <button
          data-ng-click="vm.save()"
          class="primary-button"
          id="save-changes-button">Save and confirm
        </button>
      </div>
    </div>
  </section>
</div>
