<section>
  <header><h3 class="dark-grey bold">Asset Details</h3></header>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('assetName')"
      class="grid-content small-6">
      <label for="case-asset-name">Asset name</label>
      <input
        data-ng-model="vm.model.assetName"
        maxlength="50"
        data-ng-maxlength="50"
        type="text"
        name="assetName"
        id="case-asset-name"
        placeholder="50 character limit"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.assetName)"
        data-ng-messages="vm.editCaseForm.assetName.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/asset-name.html')}"></li>
      </ul>
    </div>

    <div
      class="grid-content small-6">
      <label for="imo-number">IMO no.</label>
      <span
        id="imo-number"
        name="imoNumber"
        class="text"
        data-ng-model="vm.model.imoNumber"
        data-ng-bind="vm.model.imoNumber"
        data-ng-disabled="true"></span>
    </div>
  </div>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('grossTonnage')"
      class="grid-content small-6">
      <label for="case-gross-tonnage">Gross tonnage (m<sup>3</sup>)</label>
      <input
        data-ng-model="vm.model.grossTonnage"
        type="number"
        name="grossTonnage"
        maxlength="7"
        id="case-gross-tonnage"
        placeholder="Gross tonnage"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.grossTonnage)"
        data-ng-messages="vm.editCaseForm.grossTonnage.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/gross-tonnage.html')}"></li>
      </ul>
    </div>

    <div
      data-ng-if="vm.canDisplayField('assetLifecycleStatus')"
      class="grid-content small-6">
      <label for="case-asset-lifecycle-status">Lifecycle status</label>
      <select
        data-ng-model="vm.model.assetLifecycleStatus"
        data-ng-options="cycle.name for cycle in vm.lifecycleStatuses track by cycle.id"
        name="assetLifecycleStatus"
        id="case-asset-lifecycle-status"
        required></select>
        <ul
          data-ng-messages="vm.editCaseForm.assetLifecycleStatus.$error"
          data-ng-if="vm.validFormItem(vm.editCaseForm.assetLifecycleStatus)"
          role="alert"
          class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/lifecycle-status.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('assetType')"
      class="grid-content small-6">
      <label for="case-asset-type">Asset type</label>
      <button
        class="grey-button"
        data-ng-click="vm.selectAssetTypes()">Select type</button>
    </div>

    <div
      data-ng-if="vm.canDisplayField('classStatus')"
      class="grid-content small-6">
      <label for="case-class-status">Class status</label>
      <select
        data-ng-model="vm.model.classStatus"
        data-ng-options="class.name for class in vm.classStatuses track by class.id"
        name="classStatus"
        id="case-class-status"
        required></select>
      <ul
        data-ng-messages="vm.editCaseForm.classStatus.$error"
        data-ng-if="vm.validFormItem(vm.editCaseForm.classStatus)"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/class-status.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('assetType')"
      class="grid-content small-6">
      <input
        data-ng-model ="vm.model.assetType.name"
        type="text"
        name="assetType"
        id="case-asset-type"
        required
        readonly
        placeholder="Asset Type" />
      <ul
        data-ng-messages="vm.editCaseForm.assetType.$error"
        data-ng-if="vm.validFormItem(vm.editCaseForm.assetType)"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/asset-type.html')}"></li>
      </ul>
    </div>
  </div>

  <hr />
</section>
