<section>
  <header><h3 class="dark-grey bold">Case Details</h3></header>

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="contract-reference-number">Contract Reference</label>
      <input
        data-ng-model="vm.model.contractReferenceNumber"
        data-ng-maxlength="{{vm.contractReferenceLength}}"
        maxlength="{{vm.contractReferenceLength}}"
        type="text"
        name="contractReferenceNumber"
        id="contract-reference-number"
        placeholder="30 character limit"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.contractReferenceNumber)"
        data-ng-messages="vm.editCaseForm.contractReferenceNumber.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/contract.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('riskAssessmentStatus')"
      class="grid-content small-6">
      <label for="risk-assessment-status">Risk assessment checks</label>
      <ul class="button-group segmented">
        <li ng-repeat="item in vm.riskAssessmentTypes">
          <input
            data-ng-model="vm.model.riskAssessmentStatus.id"
            name="riskAssessmentStatus"
            id="risk-assessment-status-type-{{$index}}"
            value="{{item.id}}"
            type="radio"
            required />
          <label
            for="risk-assessment-status-type-{{$index}}"
            data-ng-bind="item.name">
          </label>
        </li>
      </ul>
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.riskAssessmentStatus)"
        data-ng-messages="vm.editCaseForm.riskAssessmentStatus.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/risk-assessment.html')}"></li>
      </ul>
    </div>

    <div
      data-ng-if="vm.canDisplayField('preEicInspectionStatus')"
      class="grid-content small-6">
      <label for="pre-eic-inspection-status">Pre-inspection checks</label>
      <ul class="button-group segmented">
        <li ng-repeat="item in vm.preEicInspectionTypes">
          <input
            data-ng-model="vm.model.preEicInspectionStatus.id"
            name="preEicInspectionStatus"
            id="pre-eic-inspection-status-type-{{$index}}"
            value="{{item.id}}"
            type="radio"
            required />
          <label
            for="pre-eic-inspection-status-type-{{$index}}"
            data-ng-bind="item.name">
          </label>
        </li>
      </ul>
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.preEicInspectionStatus)"
        data-ng-messages="vm.editCaseForm.preEicInspectionStatus.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/pre-inspection.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('losingSociety')"
      class="grid-content small-6">
      <label for="losing-society">Losing society</label>
      <input
        data-typeahead="society as society.name for society in vm.losingSocietyTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        data-ng-model="vm.model.losingSociety"
        name="losingSociety"
        id="losing-society"
        type="text"
        placeholder="Start typing name"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.losingSociety)"
        data-ng-messages="vm.editCaseForm.losingSociety.$error"
        role="alert"
        class="validation-error">
        <li ng-messages-include="${require('app/asset/cases/add/validation/losing-society.html')}"></li>
      </ul>
    </div>

    <div
      data-ng-if="vm.canDisplayField('caseAcceptanceDate')"
      class="grid-content small-6">
      <label for="case-acceptance-date">Case acceptance date</label>
      <input
        data-ng-model="vm.model.caseAcceptanceDate"
        data-ng-disabled="vm.isFieldDisabled"
        name="caseAcceptanceDate"
        id="case-acceptance-date"
        date-time
        auto-close="true"
        view="date"
        min-view="date"
        class="date-time"
        format="{{vm.dateFormat}}"
        placeholder="DD MMM YYYY" />
      <span
        date-picker-icon
        sibling-id="case-acceptance-date">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.caseAcceptanceDate)"
        data-ng-messages="vm.editCaseForm.caseAcceptanceDate.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/date.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('estimatedBuildDate')"
      class="grid-content small-6">
      <label for="estimatedBuildDate">Estimated build date</label>
      <input
        data-ng-model="vm.model.estimatedBuildDate"
        name="estimatedBuildDate"
        id="estimated-build-date"
        date-time
        auto-close="true"
        view="date"
        min-view="date"
        class="date-time"
        format="{{vm.dateFormat}}"
        placeholder="DD MMM YYYY"
        required />
      <span
        date-picker-icon
        sibling-id="estimated-build-date">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.estimatedBuildDate)"
        data-ng-messages="vm.editCaseForm.estimatedBuildDate.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/date.html')}"></li>
      </ul>
    </div>
  </div>

  <hr />
</section>
