<section>
  <header><h3 class="dark-grey bold">Class maintenance regime</h3></header>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('maintainenceRegime')"
      class="grid-content small-6">
      <label for="maintainence-regime-{{$index}}">Class maintenance regime</label>
      <ul class="button-group segmented">
        <li data-ng-repeat="classMaintenanceStatus in vm.classMaintenanceStatuses">
          <input
            id="maintainence-regime-{{$index}}"
            name="maintainenceRegime"
            value="{{classMaintenanceStatus.id}}"
            type="radio"
            data-ng-model="vm.model.classMaintenanceStatus.id"
            required />
          <label
            for="maintainence-regime-{{$index}}"
            data-ng-bind="classMaintenanceStatus.name">
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="co-classification-society">
        Co-classification society
        <span>Note: Upload the agreement to the case</span>
      </label>
      <input
        data-ng-if="vm.isDualMaintenance"
        data-ng-model="vm.model.coClassificationSociety"
        type="text"
        data-typeahead="society as society.name for society in vm.losingSocietyTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        name="coClassificationSociety"
        id="co-classificiation-society"
        placeholder="Start typing name" />
      <input
        data-ng-if="!vm.isDualMaintenance"
        data-ng-model="vm.null"
        data-typeahead="society as society.name for society in vm.losingSocietyTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        type="text"
        name="coClassificationSociety"
        id="co-classificiation-society"
        data-ng-disabled=true />
    </div>
  </div>

  <hr />
</section>
