<section>
  <header><h3 class="dark-grey bold">Customers</h3></header>

  <div data-ng-repeat="(i, customer) in vm.caseCustomers" class="grid-block case-customer">
    <div class="grid-content small-3 case-customer-relationship">
      <h6
        data-ng-model="vm.model.customers[i].relationship"
        data-ng-bind="customer.relationship.name"></h6>
    </div>

    <div class="grid-content small-5 case-customer-name">
      <label
        class="left"
        for="relationship-{{$index}}-customer">Name</label>
      <input
        data-typeahead="customer.name for customer in vm.customerTypeahead($viewValue, customer)"
        data-typeahead-editable="true"
        data-typeahead-on-select="vm.setCustomerName(customer, vm.model.customers[i].customer.name)"
        data-clearable='null'
        data-ng-model="vm.model.customers[i].customer.name"
        data-ng-bind="vm.model.customers[i].customer.name"
        data-ng-value="vm.model.customers[i].customer.name"
        type="text"
        name="{{customer.name}}"
        id="relationship-{{$index}}-customer"
        placeholder="Start typing name"
        required />
      <ul
        data-ng-messages="vm.editCaseForm[customer.elm].$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/customer-name.html')}"></li>
      </ul>
    </div>

    <div class="grid-content small-3 case-customer-functions">
      <label
        class="left"
        for="relationship-{{$index}}-functions">
        Functions
      </label>
      <button
        class="primary-button"
        name="relationshipFunctions"
        id="relationship-{{$index}}-functions"
        data-ng-click="vm.selectCustomerFunctions(customer)">Select function</button>

      <div class="case-customer-selected-functions">
        <div
          class="grid-content small-12"
          data-ng-repeat="(j, item) in vm.caseCustomerFunctions(customer)">
          <button
            data-ng-model="vm.model.customers[i].functions[j].customerFunction"
            data-ng-click="vm.removeCustomerFunction(customer, item)"
            name="{{item.customerFunction.name}}"
            id="{{item.customerFunction.name}}"
            class="primary-button close-icon-button">
            <span data-ng-bind="item.customerFunction.name"></span>
            <i class="svg-icon-Close"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="grid-content small-1 case-customer-delete">
      <span data-ng-click="vm.removeCustomer(customer)">&#10005;</span>
    </div>
  </div>

  <br />

  <div class="grid-block">
    <div class="grid-content small-6">
      <button
        data-ng-click="vm.selectRelationship()"
        class="grey-button">Add customer</button>
    </div>
    <div class="grid-content small-6"></div>
  </div>
</section>
