<section>
  <header><h3 class="dark-grey bold">Offices and surveyors</h3></header>

  <div class="grid-block">
    <div
      data-ng-if="vm.canDisplayField('caseOffice')"
      class="grid-content small-6">
      <label for="case-sdo">Case office</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'sdo')"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.offices.caseSdo.office"
        type="text"
        name="caseSdo"
        id="case-sdo"
        placeholder="Start typing office code"
        required />
    </div>

    <div
      data-ng-if="vm.canDisplayField('caseOwner')"
      class="grid-content small-6">
      <label for="case-owner">Case owner</label>
      <input
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.surveyors.caseOwner.surveyor"
        type="text"
        name="caseOwner"
        id="case-owner"
        placeholder="Start typing name"
        required />
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-6"></div>
    <div
      data-ng-if="vm.canDisplayField('caseAdmin')"
      class="grid-content small-6">
      <label for="case-admin">Case admin</label>
      <input
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.surveyors.caseAdmin.surveyor"
        type="text"
        name="caseAdmin"
        id="case-admin"
        placeholder="Start typing name"
        required />
    </div>
  </div>

  <hr />

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="case-cfo">Case CFO</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'cfo')"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.offices.caseCfo.office"
        type="text"
        name="caseCfo"
        id="case-cfo"
        placeholder="Start typing CFO name" />
    </div>

    <div class="grid-content small-6">
      <label for="contract-holder">Contract holder</label>
      <input
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.surveyors.contractHolder.surveyor"
        type="text"
        name="contractHolder"
        id="contract-holder"
        placeholder="Start typing name" />
    </div>
  </div>

  <hr />

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="job-sdo">Job SDO</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'sdo')"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.offices.jobSdo.office"
        type="text"
        name="jobSdo"
        id="job-sdo"
        placeholder="Start typing SDO code" />
    </div>

    <div class="grid-content small-6">
      <label for="lead-surveyor">Lead surveyor</label>
      <input
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.surveyors.leadSurveyor.surveyor"
        type="text"
        name="leadSurveyor"
        id="lead-surveyor"
        placeholder="Start typing name" />
    </div>
  </div>

  <hr />

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="tso">TSO</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'tso')"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.offices.tso.office"
        type="text"
        name="TSO"
        id="tso"
        placeholder="Start typing TSO code" />
    </div>
    <div class="grid-content small-6"></div>
  </div>

  <hr />

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="tso-stat">TSO (stat)</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'tsoStat')"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.offices.tsoStat.office"
        type="text"
        name="TSOSTAT"
        id="tso-stat"
        placeholder="Start typing SDO (stat) code" />
    </div>
    <div class="grid-content small-6"></div>
  </div>

  <hr />

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="mmso">MMSO</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'mmso')"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.offices.mmso.office"
        type="text"
        name="MMSO"
        id="mmso"
        placeholder="Start typing MMSO code" />
    </div>
    <div class="grid-content small-6"></div>
  </div>

  <script type="text/ng-template" id="office.html">
    <hr />

    <div class="grid-block">
      <div class="grid-content small-6">
        <label
          data-ng-bind="office.name"
          for="{{office.name | kebabise}}"></label>
        <input
          data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, office.id)"
          data-typeahead-editable="false"
          data-clearable='null'
          data-ng-model="vm.offices[office.nickname].office"
          id="{{office.name | kebabise}}"
          type="text"
          placeholder="Start typing office code" />
      </div>
      <div class="grid-content small-6"></div>
    </div>
  </script>

  <div
    data-ng-repeat="office in vm.extraOffices"
    data-ng-include="'office.html'">
  </div>

  <div class="grid-block">
    <div class="grid-content small-6">
      <button
        data-ng-click="vm.selectOfficeType()"
        class="grey-button">Add office</button>
    </div>
  </div>

  <hr />
</section>
