<section data-ng-if="vm.canDisplayField('ruleSet')">
  <header><h3 class="dark-grey bold">Rule set</h3></header>

  <div class="grid-block">
    <div class="grid-content small-6">
      <button
        class="grey-button"
        data-ng-click="vm.buildRuleSet()">Build rule set</button>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-12">
      <input
        data-ng-model="vm.model.ruleSet.name"
        class="full"
        type="text"
        readonly
        required
        name="ruleSet"
        placeholder="Rule Set"
        id="rule-set" />
      <ul
        data-ng-if="vm.validFormItem(vm.editCaseForm.ruleSet)"
        data-ng-messages="vm.editCaseForm.ruleSet.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/rule-set.html')}"></li>
      </ul>
    </div>
  </div>

  <hr />
</section>
