<div class="grid-block vertical codicil-and-defects">
  <nav class="grid-block actions">
    <div class="grid-content small-4">
      <button
        data-ng-class="{'white-button arrowed': vm.searchMode, 'transparent-light-button': !vm.searchMode}"
        data-ng-click="vm.searchMode = !vm.searchMode"
        class="expand">
        Search/Filter codicils and defects
      </button>
    </div>
  </nav>

  <codicil-search
    data-ng-if="vm.searchMode"
    data-codicil-filter="vm.codicilFilter"
    data-defect-search-filter="vm.defectSearchFilter"
    class="grid-block">
  </codicil-search>

  <div
    data-ng-if="vm.searched"
    class="grid-block">
    <span>Found {{ vm.totalResults }} results:</span>
  </div>

  <nav class="codicil-result-header grid-block">
    <h3 class="dark-blue">
      <strong>Codicils</strong>
      <small>
        Open, inactive &amp; recommended change <strong class="dark-blue">({{ vm.totalCodicils }})</strong>
      </small>
    </h3>
  </nav>

  <div class="grid-block codicil-subsection">
    <div class="grid-content small-8">
        <h5 class="dark-grey">
          <strong>Conditions of Class</strong>
          <strong class="dark-blue">({{ vm.countElements('coc') }})</strong>
        </h5>
    </div>
    <div class="grid-content small-4">
      <button ui-sref="coc.add({ assetId: vm.asset.id })" class="primary-button no-margin float-right add">
        <i data-ng-if="!vm.buildMode" class="svg-icon-Plus"></i>
        Add New
      </button>
    </div>
  </div>

  <div
    data-ng-if="!vm.cocs.length"
    class="grid-block background-pure-white codicil-no-result">
    <div class="grid-content">No items found.</div>
  </div>

  <pagination
    data-pageable="vm.cocs"
    data-type="'codicils'"
    data-hide-count="true"
    class="grid-block vertical">
    <codicil-info
      data-ng-repeat="item in vm.cocs"
      data-ng-class="{'background-pure-white': $even, 'background-very-light-grey': $odd}"
      data-item="item"
      data-item-type="'coc'"
      data-asset-id="vm.asset.id"
      data-context="'asset'"
      data-view-state-name="'coc.view'">
    </codicil-info>
  </pagination>

  <br />

  <div class="grid-block">
    <div class="grid-content small-8">
        <h5 class="dark-grey">
          <strong>Actionable Items</strong>
          <strong class="dark-blue">({{ vm.countElements('actionable-item') }})</strong>
        </h5>
    </div>
    <div class="grid-content small-4">
      <button
        ui-sref="actionableItem.add({ assetId: vm.asset.id })"
        class="primary-button no-margin float-right">
        <i data-ng-if="!vm.buildMode" class="svg-icon-Plus"></i>
        Add New
      </button>
    </div>
  </div>

  <div
    data-ng-if="!vm.actionableItems.length"
    class="grid-block background-pure-white codicil-no-result">
    <div class="grid-content">No items found.</div>
  </div>

  <pagination
    data-pageable="vm.actionableItems"
    data-type="'codicils'"
    data-hide-count="true"
    class="grid-block vertical">
    <codicil-info
      data-ng-class="{'background-pure-white': $even, 'background-very-light-grey': $odd}"
      data-ng-repeat="item in vm.actionableItems"
      data-item="item"
      data-item-type="'actionable-item'"
      data-asset-id="vm.asset.id"
      data-context="'asset'"
      data-view-state-name="'actionableItem.view'">
    </codicil-info>
  </pagination>

  <br />

  <div class="grid-block">
    <div class="grid-content small-8">
        <h5 class="dark-grey">
          <strong>Asset Notes</strong>
          <strong class="dark-blue">({{ vm.countElements('asset-note') }})</strong>
        </h5>
    </div>
    <div class="grid-content small-4">
      <button ui-sref="assetNote.add({ assetId: vm.asset.id })" class="primary-button no-margin float-right">
        <i data-ng-if="!vm.buildMode" class="svg-icon-Plus"></i>
        Add New
      </button>
    </div>
  </div>

  <div
    data-ng-if="!vm.assetNotes.length"
    class="grid-block background-pure-white codicil-no-result">
    <div class="grid-content">No items found.</div>
  </div>

  <pagination
    data-pageable="vm.assetNotes"
    data-type="'codicils'"
    data-hide-count="true"
    class="grid-block vertical">
    <codicil-info
      data-ng-class="{'background-pure-white': $even, 'background-very-light-grey': $odd}"
      data-ng-repeat="item in vm.assetNotes"
      data-item="item"
      data-item-type="'asset-note'"
      data-asset-id="vm.asset.id"
      data-context="'asset'"
      data-view-state-name="'assetNote.view'">
    </codicil-info>
  </pagination>

  <br />

  <hr/>

  <div class="grid-block">
    <div class="grid-content small-8">
      <h3 class="dark-blue">
        <strong>Defects</strong>
        <small>Open <strong class="dark-blue">({{ vm.countElements('defect') }})</strong></small>
      </h3>
    </div>
    <!--div class="grid-content small-4">
      <span ui-sref="defect.add({ assetId: vm.asset.id })" class="primary-button float-right no-margin">Add New</span>
    </div-->
  </div>

  <pagination
    data-pageable="vm.defects"
    data-type="'codicils'"
    data-hide-count="true"
    class="grid-block vertical">
    <codicil-info
      data-ng-class="{'background-pure-white': $even, 'background-very-light-grey': $odd}"
      data-ng-repeat="item in vm.defects"
      data-item="item"
      data-item-type="'defect'"
      data-asset-id="vm.asset.id"
      data-context="'asset'"
      data-view-state-name="'defect.view'">
    </codicil-info>
  </pagination>

  <div
    data-ng-if="!vm.defects.length"
    class="grid-block background-pure-white codicil-no-result">
    <div class="grid-content">No items found.</div>
  </div>
</div>
