<div
  data-ng-hide="vm.loaded"
  class="content-body"
  id="state-loader">
  <div
    data-ng-style="{'margin-top': vm.offsetTopPixels + 'px'}"
    class="grid-content text-center">
    <spinner data-theme="dark" />
  </div>
</div>
<div
  data-ng-show="vm.loaded"
  data-ng-transclude
  id="state-content"></div>
