<div
  data-ng-message="required"
  class="validation-light"
  id="validation-message-add-job-date-required">
  ETA is a required field
</div>
<div
  data-ng-message="min"
  class="validation-light"
  id="validation-message-add-job-eta">
  'ETD' date cannot be before 'ETA' date
</div>
<div
  data-ng-message="max"
  class="validation-light"
  id="validation-message-add-job-etd">
  'ETA' date cannot be after 'ETD' date
</div>
<div
  data-ng-message="invalid"
  class="validation-light"
  id="validation-message-add-job-invalid">
  Date format required: {{vm.dateFormat}}
</div>
<div
  data-ng-message="pattern"
  class="validation-light"
  id="validation-message-add-job-invalid-pattern">
  Date format required: {{vm.dateFormat}}
</div>
<div
  data-ng-message="dateFormat"
  class="validation-light"
  id="validation-message-add-job-date-format">
  Date format required: {{vm.dateFormat}}
</div>
<div
  data-ng-message="isDateLength"
  class="validation-light"
  id="validation-message-date-min-length">
  Invalid date format.
</div>
