<div
  data-ng-message="required"
  class="validation-light"
  id="validation-message-add-job-date-required">
  Requested attendance date is a required field
</div>
<div
  data-ng-message="min"
  class="validation-light"
  id="validation-message-add-job-eta">
  'Requested Attendance Date' must be between the 'ETA' and 'ETD' Dates
</div>
<div
  data-ng-message="max"
  class="validation-light"
  id="validation-message-add-job-etd">
  'Requested Attendance Date' must be between the 'ETA' and 'ETD' Dates
</div>
<div
  data-ng-message="dateFormat"
  class="validation-light"
  id="validation-message-add-job-date-format">
  Date format required: {{vm.dateFormat}}
</div>
<div
  data-ng-message="isDateLength"
  class="validation-light"
  id="validation-message-date-min-length">
  Invalid date format.
</div>
