<a zf-open="basicModal" class="button" data-ng-bind="vm.example"></a>
<div zf-modal="" id="basicModal">
  <a zf-close="" class="close-button">x</a>
  <spinner></spinner>
  <img src="${require('content/images/mast-logo.png')}" />
</div>
