<pagination
  data-pageable="vm.assets"
  data-type="'assets'">
  <pagination-header-right class="small-3">
    <sort-by
      data-sortable="vm.assets"
      data-sort-options="{
        name: {
          title: 'Asset Name', asc: 'A>Z', desc: 'Z>A'
        },
        buildDate: {
          title: 'Date of build'
        },
        'ihsAsset.id,id': {
          title: 'IMO Number/Asset Identifier'
        }
      }"
      data-sort-order="vm.sortOrder"
      data-on-update="vm.reload()">
    </sort-by>
  </pagination-header-right>

  <div class="grid-block">
    <div
      data-ng-repeat="asset in vm.assets"
      class="small-4 medium-4 large-3 asset-card-container">
      <asset-card
         data-asset="asset"
         id="asset-list-asset-{{::asset.id}}-card">
        <asset-card-cta class="grid-block btn-container">
          <div class="grid-content small-3">
            <a
              data-ui-sref="asset.assetModel.view({ assetId: asset.id })"
              class="secondary-button">View</a>
          </div>
          <div class="grid-content small-4">
            <div
              data-ui-sref="asset.jobs.list({ assetId: asset.id })"
              class="transparent-dark-button grid-block vertical">
              <span>
                <strong data-ng-bind="asset.jobs.length"></strong>
              </span>
              <span>
                Active {{'jobs' | singularise: asset.jobs.length}}
              </span>
            </div>
          </div>
          <div class="grid-content small-4">
            <div
              data-ui-sref="asset.cases.list({ assetId: asset.id })"
              class="transparent-dark-button grid-block vertical">
              <span>
                <strong data-ng-bind="asset.cases.length"></strong>
              </span>
              <span>
                Active {{'cases' | singularise: asset.cases.length}}
              </span>
            </div>
          </div>
        </asset-card-cta>
      </asset-card>
    </div>
    <div
      data-ng-if="!vm.assets.length"
      class="grid-content">
      <p data-ng-if="vm.filtered">
        <strong>No results found.</strong> Please try searching again.
      </p>
    </div>
  </div>
</pagination>
