<small-modal
  class="white text-center"
  id="modal-mark-complete"
  title="'Mark in scope'">
  <modal-body>
    <p>You've chosen to take the following milestones in scope</p>
    <p data-ng-bind="milestoneList"></p>
    <p>It will also move the following milestone(s) in scope:</p>
    <div data-ng-repeat="dependent in dependentList">
      <p>'Dependent milestone {{dependent.milestone.id}}'</p>
    </div>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="$close(false)">Cancel</button>
    <button
      class="primary-button"
      data-ng-click="$close(true)">OK</button>
  </modal-footer>
</small-modal>
