<small-modal
  class="white text-center"
  id="modal-mark-complete"
  title="'Mark out of scope'">
  <modal-body>
    <p>You've chosen to take the following milestones out of scope</p>
    <p data-ng-bind="milestoneList"></p>
    <p>It will also move the following milestone(s) out of scope:</p>
    <div data-ng-repeat="successor in successorsList">
      <p>'Successor milestone {{successor.milestone.id}}'</p>
    </div>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="$close(false)">Go back</button>
    <button
      class="primary-button"
      data-ng-click="$close(true)">OK</button>
  </modal-footer>
</small-modal>
