<section class="grid-content text-center">
  <h1 class="subheader blue">Application Error</h1>

  <pre
    data-ng-if="vm.debug"
    class="text-left">
    {{ vm.stack }}
  </pre>
  <h3
    data-ng-if="::DEBUG"
    data-ng-click="vm.back()"
    class="blue actionable">
    Back
    </h3>
</section>
