<div
  data-ng-click="vm.viewReport(vm.item)"
  class="report-content"
  data-ng-class="{'report-technical-review': vm.review}">
  <div>
    ${require('content/images/inline/mast-icon-report.svg')}
    <span class="title">{{ vm.reportType | uppercase }} v{{ vm.item.reportVersion }}</span>
    <span
      data-ng-bind="vm.reportDate"
      class="date"></span>
    <span
      data-ng-if="vm.item.approved"
      class="label approved">Approved</span>
    <span
      data-ng-if="vm.item.rejected"
      class="label rejected">Rejected</span>
    <span
      data-ng-if="vm.item.reportStatus === 'Pending'"
      class="label pending">Pending</span>
    <span
      data-ng-if="vm.review && item.authorisedBy"
      data-ng-bind="vm.reportUser"
      class="report-user"></span>
  </div>
  <p
    data-ng-if="vm.review"
    data-ng-bind="vm.rejectionReason | ellipsise: 130"></p>
  <a
    data-ng-if="vm.review && vm.rejectionReason.length > 130"
    data-ng-click="vm.generateRejectionModal()">Show more</a>
</div>
<div
  data-ng-if="this.reportType === 'fsr'"
  data-ng-bind="vm.item.rejectionComments"
  class="rejection-comment"></div>
