<spinner
  data-ng-if="vm.saving"
  data-theme="dark">
</spinner>
<div
  data-ng-show="!vm.saving"
  class="grid-block">
  <div
    data-ng-if="vm.numAttributes"
    class="small-4 grid-container"
    id="attribute-count-label">
    Showing <strong class="dark-blue">{{vm.numAttributes}} attributes</strong>
  </div>
  <div
    data-ng-if="!vm.numAttributes"
    class="small-4 grid-container"
    id="attribute-count-label">
    No attributes have been added to this item.
  </div>
  <div class="small-2 small-offset-6 grid-container">
    <button
      data-ng-if="vm.checkedOut"
      data-ng-click="vm.addNewAttributes()"
      class="white primary-button"
      id="add-attributes-button">
      + Add attributes
    </button>
  </div>
</div>
<div
  data-ng-show="!vm.saving"
  class="grid-block footer-follows">
  <section
    data-ng-if="vm.numAttributes"
    class="asset-model-list">
    <ng-form
      name="vm.form"
      novalidate>
      <table id="attribute-table">
        <!-- The class defines the column widths -->
        <colgroup class="item-attributes-columns">
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>Attribute name</th>
            <th>Value</th>
            <th>Decorator</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="attr in vm.item.attributes | filter: {deleted:false}">
            <td>
              <label for="attribute-{{$index}}-value">
                <strong
                  class="dark-blue"
                  data-ng-bind="attr.attributeType.name"></strong>
              </label>
            </td>
            <td>
              <div class="attributes">
                <dynamic-input
                  data-ng-disabled="!vm.checkedOut"
                  data-ng-model="attr.value"
                  data-type="attr.attributeType.valueType.id"
                  data-label="{{::attr.attributeType.description}}"
                  data-input-id="attribute-{{$index}}-value"
                  data-dropdown-options="attr.attributeType.allowedValues"
                  data-dropdown-display-property="'name'"
                  data-num-hard-max=""
                  data-length-limit="250"
                  data-num-hard-min="">
                </dynamic-input>
              </div>
            </td>
            <td>
              <div
                data-ng-bind="attr.attributeType.namingDecoration"
                id="attribute-{{$index}}-naming-decoration" />
            </td>
            <td>
              <span
                data-ng-if="!attr.isDeletable"
                class="blue">
                Mandatory
              </span>
              <span
                data-ng-if="attr.isDeletable && vm.checkedOut"
                data-ng-click="vm.removeAttribute(attr)"
                class="actionable"
                id="attribute-{{$index}}-remove-button">
                ${require('content/images/inline/mast-icon-bin.svg')}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-form>
  </section>
</div>
<div data-sticky-footer>
  <div class="small-4 small-offset-8 text-right">
    <button
      data-ng-disabled="vm.form.$pristine"
      data-ng-click="vm.discardChanges()"
      class="transparent-button-white"
      id="discard-changes-button">Discard changes</button>
    <button
      data-ng-disabled="vm.saveButtonDisabled || !vm.checkedOut"
      data-ng-click="vm.save()"
      class="primary-button"
      id="save-changes-button">Save changes</button>
  </div>
</div>
