<script type="text/ng-template" id="nested.html">
  <div
    id="hierarchy-node-{{node.id}}"
    data-ng-class="{'is-selected': node.selected, 'has-items': node.items.length }">
    <span class="node-expand-toggle" data-ng-click="vm.expand(node)">
      <span data-ng-if="node.items.length && node.expanded">
        ${require('content/images/inline/mast-icon-minus-circle.svg')}
      </span>

      <span data-ng-if="node.items.length && !node.expanded">
        ${require('content/images/inline/mast-icon-plus-circle.svg')}
      </span>
    </span>

    <span class="node-name"
      data-ng-click="vm.select(node)"
      data-ng-bind="node.name | ellipsise: 40"></span>
    <a
      data-ng-click="vm.openItem(node)"
      class="node-link open-arrow-button text-center">
      <div class="wrapper">
        <span class="text">Open</span>
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
      </div>
    </a>

    <asset-model-hierarchy-metadata
      data-ng-if="vm.debug"
      data-item="node"></asset-model-hierarchy-metadata>
  </div>

  <div data-ng-if="node.expanded">
    <ol>
      <li
        data-ng-class="{
          'is-expanded': node.expanded,
          'only-child': $first && $last
        }"
        data-ng-repeat="node in node.items | filter: vm.filterItems track by node.id"
        data-ng-include="'nested.html'"></li>
    </ol>
  </div>
</script>

<section class="asset-model-hierarchy">
  <ul>
    <li data-ng-class="{
        'is-expanded': vm.assetModel.expanded,
        'none-expanded': vm.noChildItemsExpanded()
      }">
      <div
        data-ng-class="{
          'is-selected': vm.assetModel.selected,
          'is-child-selected': vm.assetModel.childSelected,
          'has-items': vm.assetModel.items.length
        }"
        id="hierarchy-node-{{vm.assetModel.node.id}}">

        <span
          data-ng-click="vm.expand(vm.assetModel)"
          class="node-expand-toggle">
          <span data-ng-if="vm.assetModel.items.length && vm.assetModel.expanded">
            ${require('content/images/inline/mast-icon-minus-circle.svg')}
          </span>

          <span data-ng-if="vm.assetModel.items.length && !vm.assetModel.expanded">
            ${require('content/images/inline/mast-icon-plus-circle.svg')}
          </span>
        </span>

        <span class="node-name"
          data-ng-click="vm.select(vm.assetModel)"
          data-ng-bind="vm.assetModel.name"></span>
        <a
          data-ui-sref="item({itemId: vm.assetModel.id})"
          class="node-link open-arrow-button text-center">
          <div class="wrapper">
            <span class="text">Open</span>
            ${require('content/images/inline/mast-icon-chevron-right.svg')}
          </div>
        </a>

      </div>
      <div data-ng-if="vm.assetModel.expanded">
        <ol>
          <li
            data-ng-class="{'is-expanded': node.expanded, 'last-expanded': node.lastExpandedItem, 'only-child':$first && $last}"
            data-ng-repeat="node in vm.assetModel.items track by node.id"
            data-ng-include="'nested.html'"></li>
        </ol>
      </div>
    </li>
  </ul>
</section>
