<small-modal
  class="white text-center report-modal generate-far-dialog"
  id="modal-discard-changes">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Generate FAR for:</h2>
    </div>
  </modal-header>
  <modal-body>
    <p>
      You have selected to generate a FAR for first visit date
      {{vm.firstVisitDate}}.
    </p>
    <p>
      The last visit date for this FAR will be:
    </p>
    <ng-form name="vm.generateFARForm">
      <div class="grid-block">
        <div class="grid-content small-2"></div>
        <div class="grid-content small-8">
          <input
            data-ng-model="vm.far.lastVisitDate"
            date-time
            max-date="vm.dates.maxDate"
            min-date="vm.farFormMinDate"
            view="date"
            min-view="date"
            format="{{vm.dateFormat}}"
            placeholder="DD MMM YYYY"
            auto-close="true"
            class="date"
            name="lastVisitDate"
            id="last-visit-date"
            required />
          <span
            date-picker-icon
            sibling-id="last-visit-date">
            ${require('content/images/inline/mast-icon-calendar.svg')}
          </span>
          <ul
            data-ng-if="vm.generateFARForm.lastVisitDate.$invalid"
            data-ng-messages="vm.generateFARForm.lastVisitDate.$error"
            role="alert"
            class="validation-error">
            <li data-ng-messages-include="${require('app/asset/jobs/view/crediting/manage/validation/far-date.html')}"></li>
          </ul>
        </div>
        <div class="grid-content small-2"></div>
      </div>
    </ng-form>
  </modal-body>
  <modal-footer>
    <div>
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        data-ng-disabled="!vm.generateFARActive"
        data-ng-class="{'disabled': !vm.generateFARActive}"
        class="primary-button"
        data-ng-click="vm.saveFAR()">Generate FAR</button>
    </div>
  </modal-footer>
</small-modal>
