<small-modal
  class="white text-center report-modal generate-dar-dialog"
  id="modal-discard-changes">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Generate DAR for:</h2>
    </div>
  </modal-header>
  <modal-body>
    <ng-form
      name="vm.generateDARForm"
      id="generate-dar-form">
      <div class="grid-block">
        <div class="grid-content small-2"></div>
        <div class="grid-content small-8">
          <input
            data-ng-model="vm.dar.firstVisitDate"
            max-date="vm.dates.now"
            min-date="vm.dates.minDate"
            date-time
            view="date"
            min-view="date"
            format="{{vm.dateFormat}}"
            placeholder="DD MMM YYYY"
            auto-close="true"
            class="date"
            name="firstVisitDate"
            id="first-visit-date"
            required />
          <span
            date-picker-icon
            sibling-id="first-visit-date">
            ${require('content/images/inline/mast-icon-calendar.svg')}
          </span>
          <ul
            data-ng-if="vm.generateDARForm.firstVisitDate.$invalid"
            data-ng-messages="vm.generateDARForm.firstVisitDate.$error"
            role="alert"
            class="validation-error">
            <li data-ng-messages-include="${require('app/asset/jobs/view/crediting/manage/validation/dar-date.html')}"></li>
          </ul>
        </div>
        <div class="grid-content small-2"></div>
      </div>
    </ng-form>
  </modal-body>
  <modal-footer>
    <div>
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <a
        data-ng-disabled="!vm.generateDARActive"
        data-ng-class="{'disabled': !vm.generateDARActive}"
        class="primary-button"
        data-ng-click="vm.saveDAR()">Generate DAR</a>
    </div>
  </modal-footer>
</small-modal>
