<small-modal
  class="white text-center"
  id="modal-discard-changes"
  title="">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-12">Reject DSR</h2>
    </div>
  </modal-header>
  <modal-body>
    <ng-form
      name="vm.rejectDSRForm"
      id="reject-dsr-form"
      novalidate>
      <div class="grid-block vertical">
        <p>
          You have selected to reject the DSR. Please add comments:
        </p>
        <textarea
          type="text"
          data-ng-model="vm.dsr.reason"
          data-ng-pattern="vm.allowedSpecialCharactersRegex"
          data-ng-maxlength="1000"
          maxlength="1000"
          name="rejectDSRReason"
          id="reject-dsr-reason"
          rows="10"
          cols="50"
          placeholder="Type your reason for DSR rejection here"
          required>
        </textarea>
        <ul
          data-ng-if="vm.validateForm(vm.rejectDSRForm.rejectDSRReason)"
          data-ng-messages="vm.rejectDSRForm.rejectDSRReason.$error"
          role="alert"
          class="validation-error">
          <li data-ng-messages-include="${require('app/asset/jobs/view/crediting/manage/validation/dsr-reject.html')}"></li>
        </ul>
      </div>
    </ng-form>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="vm.decline()">Cancel
    </button>
    <button
      data-ng-disabled="vm.validForm()"
      class="primary-button"
      data-ng-click="vm.confirm()">Reject DSR
    </button>
  </modal-footer>
</small-modal>
