<div class="view-block">
  <div class="view-label">
    <span>{{data.label}}</span>
  </div>
  <div class="view-text">
    <attachments-and-notes
      modal-title="data.modalTitle"
      path="data.path"
      attachments="data.value"
      disabled="data.disabled"
      class="actionable">
      <attachments-icon></attachments-icon>
    </attachments-and-notes>
  </div>
</div>
