<div class="view-block">
  <div class="view-label">
    <span>{{data.label}}</span>
  </div>

  <!-- If it's a Repair -->
  <ul class="item-list">
    <li data-ng-repeat="item in [data.value]">
      <div class="nr">&nbsp;</div>

      <!-- Title and ID -->
      <div>
        <div class="title">
          {{ item.title || 'No Title' | ellipsise: 18 }}
        </div>
        <div class="desc">
          <span data-ng-bind="item.id | zeropad: 5"></span>
        </div>
      </div>

      <!-- Category -->
      <div>
        <span data-ng-bind="item.defectCategory.name"></span>
      </div>

      <!-- Items -->
      <div>
        <div data-ng-repeat="item in vm.itemSubset">
          <div data-ng-bind="item.item.name | ellipsise: 20"></div>
        </div>
        <div data-ng-if="vm.item.items.length > 2">
          and <span data-ng-bind="vm.item.items.length - 2"></span> more
        </div>
      </div>

      <!-- Courses of Action Total and Repairs Total -->
      <div class="desc">
        <div data-ng-if="item.courseOfActionCount">
          Courses of Action: <strong data-ng-bind="item.courseOfActionCount"></strong>
        </div>
        <div data-ng-if="item.repairCount">
          <strong>(<span data-ng-bind="item.repairCount"></span> repairs)</strong>
        </div>
      </div>

      <!-- Status -->
      <div class="status">
        <strong data-ng-bind="item.defectStatus.name"></strong>
      </div>

      <!-- View Defect button -->
      <div class="actions">
        <a data-ui-sref="{{ data.viewState }}(data.viewParams)">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
        </a>
      </div>
    </li>
  </ul>
</div>
