<div class="view-block">
  <div class="view-label">
    <span>{{data.label}}</span>
  </div>
  <div class="view-text">
    <span
      class="box"
      data-ng-bind="data.value.name">
    </span>
  </div>
</div>
