<div class="view-block">
  <div class="view-label">
    <span>{{data.label}}</span>
  </div>

  <!-- If it's a Repair -->
  <ul class="item-list">
    <li data-ng-repeat="item in data.value">
      <div class="nr"></div>

      <!-- Title and ID -->
      <div>
        <div class="title">
          {{ item.repairTypeDescription || 'No Title' | ellipsise: 18 }}
        </div>
        <div class="desc">
          <span data-ng-bind="item.id | zeropad: 5"></span>
        </div>
      </div>

      <!-- Repair Items -->
      <div>
        <div data-ng-repeat="repairItem in vm.item.repairs">
          <div data-ng-bind="repairItem.item.item.name"></div>
        </div>
        <div data-ng-if="repairItem.items.length > 2">
          (<span data-ng-bind="vm.item.repairs.length"></span>)
        </div>
      </div>

      <!-- Date Added -->
      <div>
        <div>Date added:</div>
        <div>
          <span data-ng-bind="item.updatedDate | moment: '-'"></span>
        </div>
      </div>

      <!-- Repair Action -->
      <div>
        <div>
          <strong data-ng-bind="item.repairAction.name | capitalise"></strong>
        </div>
      </div>

      <!-- View Defect button -->
      <div class="actions">
        <a data-ng-click="data.select(item)">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
        </a>
      </div>
    </li>
  </ul>

</div>
