<div class="view-block">
  <div class="view-label">
    <span>{{data.label}}</span>
  </div>
  <div>
    <span
      data-ng-repeat="item in data.value"
      data-ng-bind="item.name"
      class="list-box">
    </span>
  </div>
</div>
