<div class="grid-block">
  <asset-model-search
    data-in-search-mode="vm.searchMode"
    data-search-id="vm.asset.id"
    data-search-service="vm.searchService"
    class="small-10"
    pager="vm.pager">
  </asset-model-search>
</div>

<div
  data-ng-if="!vm.searchMode && vm.activeView === 'list'"
  class="grid-block">
  <asset-model-list
    data-asset="vm.asset"
    data-asset-model="vm.assetModel"
    data-selected-item="vm.selectedItem"
    data-current-level="vm.currentLevel">
  </asset-model-list>
</div>

<div
  data-ng-if="!vm.searchMode && vm.activeView === 'hierarchy'"
  class="grid-block">

  <asset-model-hierarchy
    data-asset="vm.asset"
    data-asset-model="vm.assetModel"
    data-selected-item="vm.selectedItem"
    data-current-level="vm.currentLevel"
    class="small-12">
  </asset-model-hierarchy>
</div>
