<div class="grid-block vertical dashboard">
  <div class="grid-block">
    <div class="grid-content">
      <h2 id="dashboard-title">
        My work hub
      </h2>
    </div>
    <div class="grid-content actions" data-ng-if="vm.isCaseUser">
      <a
        data-ng-if="!OFFLINE"
        data-ui-sref="batch-actions.define({ from: vm.currentTab })">
        <img
          src="${require('content/images/sprites/icons-small.png')}"
          class="icon-small-select" />
        Batch actions
      </a>
      <a data-ui-sref="createAsset">
        <img
          src="${require('content/images/sprites/icons-small.png')}"
          class="icon-small-add" />
        Add new asset
      </a>
    </div>
  </div>

  <div
    class="dashboard-tab-container grid-block wrap"
    id="dashboard-tab-container">
    <div class="small-4 grid-content">
      <span
        data-ng-click="vm.filterOpen = !vm.filterOpen"
        data-ng-class="{'white-button arrowed': vm.filterOpen}"
        aria-label="Toggle search filter"
        class="transparent-dark-button"
        id="dashboard-asset-search-filter-toggle">
        <span>Search / Filter assets</span>
        <img
          data-ng-show="vm.filterActive"
          src="${require('content/images/sprites/icons-small.png')}"
          alt="Asset search filter active"
          title="Asset search filter active"
          class="icon-small-check"
          id="dashboard-asset-search-filter-active" />
      </span>
    </div>
    <div
      data-ng-show="vm.filterOpen"
      class="small-8 grid-content"></div>
    <div
      data-ng-show="vm.filterOpen"
      class="small-12 grid-block row">
      <div class="small-10 small-offset-1 columns">
        <asset-search
          data-ng-model="vm.assetFilter"
          data-ng-change="vm.updateList(vm.assetFilter)"
          data-default-model="vm.assetFilterDefault"
          id="dashboard-asset-search-filter-container"></asset-search>
      </div>
    </div>
    <div
      data-ng-show="vm.filterOpen"
      class="small-4 grid-content"></div>
    <div
      class="grid-content small-8"
      id="dashboard-asset-tabs">
      <div class="tabs">
        <div
          data-ng-class="{ 'is-active': 'dashboard.myWork' === vm.currentTab }"
          class="grid-content tab-item">
          <a
            data-ng-click="vm.switchTab('dashboard.myWork')"
            id="dashboard-tab-my-work">
            My/Team's work
          </a>
        </div>
        <div
          data-ng-class="{ 'is-active': 'dashboard.assetList' === vm.currentTab }"
          class="grid-content tab-item">
          <a
            data-ng-click="vm.switchTab('dashboard.assetList')"
            id="dashboard-tab-all-assets">
            All assets
          </a>
        </div>
        <div
          data-ui-sref-active="is-active"
          class="grid-content tab-item">
          <a
            data-ui-sref="dashboard.reminders"
            id="dashboard-tab-reminders">
            Reminders
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--
    The content body;
  //-->
  <state-loader offset-top-pixels="200">
    <div class="content-body" id="asset-list-container">
      <div class="grid-content">
        <div data-ui-view class="tab-contents"></div>
      </div>
    </div>
  </state-loader>
</div>
