<div data-tpl="vm.header"></div>

<div class="asset-details content-body">
  <div class="grid-block">

    <div
      class="grid-block vertical small-12"
      data-ng-if="vm.activeTab.assetDetails">
      <div>
        <a
          class="secondary-button float-right"
          data-ng-if="vm.isCheckedOut"
          data-ui-sref="asset.details.edit({ tab: 'assetDetails'})">Edit</a>
      </div>
      <div class="grid-block vertical">
        <div data-ng-include="'app/asset/asset-details/view/partials/basic-asset-details.html'"></div><hr/>
        <div data-ng-include="'app/asset/asset-details/view/partials/build-details.html'"></div><hr/>
        <div data-ng-include="'app/asset/asset-details/view/partials/ruleset.html'"></div><hr/>
        <div data-ng-include="'app/asset/asset-details/view/partials/class-maintenance.html'"></div><hr/>
        <div data-ng-include="'app/asset/asset-details/view/partials/flag-details.html'"></div><hr/>
      </div>
    </div>

    <div
      class="grid-block vertical small-12"
      data-ng-if="vm.activeTab.customersAndOffices">
      <div>
        <a
          class="secondary-button float-right"
          data-ng-if="vm.isCheckedOut"
          data-ui-sref="asset.details.edit({ tab: 'customersAndOffices'})">Edit</a>
      </div>
      <div class="grid-block vertical">
        <div data-ng-include="'app/asset/asset-details/view/partials/customers.html'"></div><hr/>
        <div data-ng-include="'app/asset/asset-details/view/partials/offices.html'"></div><hr/>
      </div>
    </div>
</div>
