<div class="grid-frame dashboard">
  <div class="grid-block">
    <div class="grid-block vertical align-center">
      <div class="grid-container align-center" >
        <spinner />
      </div>
    </div>
  </div>
</div>
