<div
  class="grid-block crediting-info">
  <div class="grid-content small-2">
    <span class="dark-blue crediting-title">
      {{ vm.creditable.title || vm.creditable.name || 'No Title' | ellipsise: 18 }}
      <small data-ng-bind="vm.creditable.id | zeropad: 5"></small>
    </span>
  </div>
  <div class="grid-content small-1 crediting-content">
  </div>
  <div class="grid-content">
    <ul
      data-ng-if="vm.creditable.dueDate"
      class="list-unstyled no-margin crediting-content">
      <li>
        Due date:
        <strong data-ng-bind="vm.creditable.dueDate | moment"></strong>
      </li>
    </ul>
  </div>
  <div class="grid-content small-3 crediting-content">
    <ul class="list-unstyled">
      <li data-ng-if="vm.creditable.dateOfCrediting">
        Credited on:
        <strong data-ng-bind="vm.creditable.dateOfCrediting | moment"></strong>
      </li>
      <li data-ng-if="vm.creditable.creditedBy">
        Credited by:
        <strong data-ng-bind="vm.creditable.creditedBy.name"></strong>
      </li>
    </ul>
  </div>
  <div class="grid-content end">
    <a
      data-ng-if="vm.viewStateName"
      data-ng-click="vm.viewCodicil(vm.creditable._id, vm.creditableType)"
      class="float-right view-crediting">
      ${require('content/images/inline/mast-icon-chevron-right.svg')}
    </a>
  </div>
  <div class="grid-content vertical small-2">
    <div class="crediting-status">
      <span data-ng-bind="vm.creditingStatus.name"></span>
    </div>
  </div>
</div>

