<div
  data-ng-message="min"
  class="validation-dark"
  id="validation-message-build-date-min">
  'To' date cannot be before 'From' date
</div>
<div
  data-ng-message="max"
  class="validation-dark"
  id="validation-message-build-date-max">
  'From' date cannot be after 'To' date
</div>
<div
  data-ng-message="isDateLength"
  class="validation-dark"
  id="validation-message-date-min-length">
  Invalid date format.
</div>
<div
  data-ng-message="dateFormat"
  class="validation-dark"
  id="validation-message-build-date-format">
  Please select a valid date.
</div>
<div
  data-ng-message="nonExistentDate"
  class="validation-dark"
  id="validation-message-non-existent-format">
  Please select an existing date.
</div>

