<div
  data-ng-message="required"
  class="validation-light"
  id="validation-message-builder-required">
  Builder is a required field
</div>
<div
  data-ng-message="editable"
  class="validation-light"
  id="validation-message-builder-editable">
  Please enter a valid builder
</div>
<div
  data-ng-message="pattern"
  class="validation-light"
  id="validation-message-builder-pattern">
  Builder cannot contain special characters
</div>
<div
  data-ng-message="maxlength"
  class="validation-light"
  id="validation-message-builder-maxlength">
  Maximum of 50 characters including spaces
</div>
