<div
  data-ng-message="required"
  class="validation-light"
  id="validation-message-date-required">
  Date is a required field
</div>
<div
  data-ng-message="dateFormat"
  class="validation-light"
  id="validation-message-date-format">
  Please select a valid date
</div>
<div
  data-ng-message="nonExistentDate"
  class="validation-light"
  id="validation-message-non-existent-format">
  Please select an existing date.
</div>
<div
  data-ng-message="max"
  class="validation-light"
  id="validation-message-max-date-format">
  Invalid date entered
</div>
<div
  data-ng-message="min"
  class="validation-light"
  id="validation-message-min-date-format">
  Invalid date entered
</div>
