<!--
  Really, really nasty validation. Only really makes sense on the attributes.html page.
  We really need to find a way to generalise these messages via a directive or something -->
<div
  data-ng-message="maxlength"
  class="validation-light"
  id="validation-message-dynamic-input-maxlength">
  The value cannot be longer than 250 characters
</div>
<div
  data-ng-message="min"
  class="validation-light"
  id="validation-message-dynamic-input-min">
  The value cannot be below the minimum allowed
</div>
<div
  data-ng-message="max"
  class="validation-light"
  id="validation-message-dynamic-input-max">
  The value cannot be above the maximum allowed
</div>
<div
  data-ng-message="dateFormat"
  class="validation-light"
  id="validation-message-dynamic-input-date-format">
  Please select a valid date
</div>
<div
  data-ng-message="parse"
  class="validation-light"
  id="validation-message-dynamic-input-number">
  Please enter a valid number
</div>
<div
  data-ng-message="isDateLength"
  class="validation-light"
  id="validation-message-date-min-length">
  Invalid date format.
</div>

