<div class="build grid-block vertical footer-follows">
  <div class="grid-block">
    <div class="grid-content small-1">
      <div
        data-back-button
        data-ng-click="vm.back()"
        id="add-defect-back-button"
        title="Back">
      </div>
    </div>
    <div class="grid-content">
      <h2>
        <span>Add Defect</span>
      </h2>
    </div>
  </div>

  <div class="grid-block vertical content-body footer-follows defect-form">
    <ng-form
      name="vm.addDefectForm"
      novalidate>
      <br/>
      <!-- Title -->
      <div class="grid-block vertical form-control">
        <div class="grid-block small-3">
          <div class="grid-content top-header">
            <label>
              Title
            </label>
          </div>
        </div>
        <div class="grid-block small-5">
          <input
            data-ng-model="vm.defect.title"
            data-validate="vm.section.title"
            id="add-defect-title"
            type="text"
            name="title"
            placeholder="50 character limit">
        </div>
        <div data-error-msg="vm.section.title"></div>
      </div>

      <!-- Defect Category -->
      <div class="form-control">
        <label
          class="top-header"
          for="add-defect-category">Defect category (select one)</label>
        <div data-ng-repeat="row in vm.rowIndices(vm.topLevelCategories, 4)">
          <!-- A row of expandable buttons -->
          <div class="grid-block vertical">
            <!-- Buttons, horizontal -->
            <div class="grid-block small-up-4">
              <!-- Button -->
              <div
                data-ng-repeat="category in vm.rowSlice(vm.topLevelCategories, row, 4)"
                data-ng-click="vm.toggleCategory(category, row)"
                class="grid-content">
                <span
                  data-ng-class="{'white-button': category.selected, 'arrowed': category.selected && vm.subCategories(category).length}"
                  data-ng-bind="category.name"
                  class="transparent-light-button icon-button expand">
                </span>
              </div>
            </div>
            <!-- Expandable area -->
            <div
              data-ng-if="vm.currentRow === row && vm.currentCategory.selected && vm.subCategories(vm.currentCategory).length"
              class="grid-block vertical">
              <hr class="grid-content">
              <div
                class="radio grid-block"
                id="">
                <div
                  data-ng-repeat="subCategory in vm.subCategories(vm.currentCategory)"
                  class="grid-content shrink">
                  <input
                    data-ng-checked="vm.selectedSubCategory(subCategory)"
                    data-ng-click="vm.toggleSubCategory(subCategory, vm.currentCategory, row)"
                    id="subCategory{{subCategory.id}}"
                    name="category{{vm.currentCategory.id}}-subCategories"
                    type="radio"
                    role="radio"
                    value="subCategory.id"/>
                  <label
                    data-ng-bind="subCategory.name"
                    for="subCategory{{subCategory.id}}">
                  </label>
                </div>
              </div>
              <hr class="grid-content">
            </div>
          </div>
        </div>
      </div>

      <!-- Item Selection -->
      <div class="grid-block form-control vertical">
        <div class="grid-block small-4">
          <label for="add-defect-item-selection">
            Items (you must select at least one)
          </label>
        </div>
        <div class="grid-block">
          <search-asset-item search-data="vm.section.items"></search-asset-item>
        </div>
      </div>

      <div class="grid-content">
        <hr />
      </div>

      <!-- Required Repair Type -->
      <div class="grid-block vertical form-control">
        <div class="grid-block small-4">
          <label for="add-defect-required-repair-type">
            Prompt and thorough repair required
          </label>
        </div>
        <div class="grid-block">
          <!-- Radio Button Group: requiredRepairType -->
          <div
            class="radio grid-block"
            id="add-defect-required-repair-type">
            <div class="grid-content shrink">
              <input
                data-ng-model="vm.defect.promptThoroughRepair"
                data-ng-value="true"
                id="required-repair-type-yes"
                name="promptThoroughRepair"
                type="radio"
                role="radio">
              <label for="required-repair-type-yes">Yes</label>
            </div>
            <div class="grid-content">
              <input
                data-ng-model="vm.defect.promptThoroughRepair"
                data-ng-value="false"
                id="required-repair-type-no"
                name="promptThoroughRepair"
                type="radio"
                role="radio">
              <label for="required-repair-type-no">No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-content">
        <hr />
      </div>

      <!-- Defect Type -->
      <div
        data-ng-if="vm.showAllForm && vm.defectTypes.length > 0"
        class="grid-block vertical form-control">
        <div class="grid-block small-3">
          <label for="add-defect-type">Defect type</label>
        </div>
        <div class="grid-block">
          <div class="grid-content">
            <value-picker
              data-ng-model="vm.defectType"
              data-ng-change="vm.defectTypeChanged(vm.defectType)"
              available-options="vm.defectTypes"
              button-text="Select type"
              modal-title="Select defect type"
              name="defectType"
              id="defect-type">
            </value-picker>
          </div>
        </div>
      </div>
      <br data-ng-if="vm.showAllForm" />

      <!-- Defect Descriptor -->
      <div
        data-ng-if="vm.showAllForm && vm.defectDescriptors.length > 0"
        class=" grid-block vertical form-control">
        <div class="grid-block small-3">
          <label for="add-defect-descriptor">Defect Descriptor</label>
        </div>
        <div class="grid-block">
          <div class="grid-content">
            <value-picker
              data-ng-model="vm.defectDescriptor"
              data-ng-change="vm.defectDescriptorChanged(vm.defectDescriptor)"
              available-options="vm.defectDescriptors"
              button-text="Select descriptor"
              modal-title="Select descriptor"
              multi-select="true"
              name="defectDescriptor"
              id="defect-descriptor">
            </value-picker>
          </div>
        </div>
      </div>
      <div
        data-ng-show="vm.showAllForm"
        class="grid-content">
        <hr />
      </div>

      <!--
        Ship Loading Condition

        Select an appropriate category and sub-category to reveal this section.

        See also: shouldHaveShipLoadingCondition()
      -->
      <div
        data-ng-show="vm.showAllForm"
        data-ng-if="vm.shouldHaveShipLoadingCondition()"
        class="form-control grid-block vertical">
        <div class="grid-block small-3">
          <label for="add-defect-ship-loading-condition">Ship loading condition</label>
        </div>

        <!-- Radio Button Group: shipLoadingConditions -->
        <div class="grid-block">
          <div
            class="radio grid-block wrap"
            id="add-defect-ship-loading-condition">
            <!-- As transit cargo -->
            <!-- Empty -->
            <!-- In ballast -->
            <!-- Loaded -->
            <div
              data-ng-repeat="loadingCondition in vm.shipLoadingConditions"
              class="grid-content shrink">
              <input
                data-ng-model="vm.shipLoadingCondition"
                data-ng-value="loadingCondition"
                data-ng-click="vm.loadingConditionChanged(vm.shipLoadingCondition)"
                id="ship-loading-condition-{{$index}}"
                name="shipLoadingConditions"
                type="radio"
                role="radio">
              <label
                data-ng-bind="loadingCondition.name"
                for="ship-loading-condition-{{$index}}">
              </label>
            </div>
          </div>
        </div>
      </div>

      <!--
        Ship Location

        Select an appropriate category and sub-category to reveal this section.

        See also: shouldHaveShipLocation()
      -->
      <div
        data-ng-show="vm.showAllForm"
        data-ng-if="vm.shouldHaveShipLocation()"
        class="form-control">
        <label for="add-defect-ship-location">Ship location</label>
        <!-- Radio Button Group: shipLocations -->
        <div
          class="radio grid-block wrap"
          id="add-defect-ship-location">
          <!-- At anchorage -->
          <!-- At sea -->
          <!-- Drydock/slipway -->
          <!-- Sheltered waters -->
          <!-- Restricted waters -->
          <!-- Other -->
          <div
            data-ng-repeat="location in vm.shipLocations"
            class="grid-content shrink">
            <input
              data-ng-model="vm.shipLocation"
              data-ng-value="location.id"
              data-ng-click="vm.locationChanged(location)"
              id="ship-location-{{$index}}"
              name="shipLocations"
              type="radio"
              role="radio">
            <label
              data-ng-bind="location.name"
              for="ship-location-{{$index}}">
            </label>
          </div>
        </div>
        <div
          class="grid-block small-4"
          data-ng-show="vm.otherLocationSpecified">
          <input
            data-ng-model="vm.otherLocation"
            data-validate="vm.section.otherLocation"
            id="add-defect-ship-location-other"
            type="text"
            name="otherLocation"
            placeholder="Please specify"/>
        </div>
        <div data-error-msg="vm.section.otherLocation"></div>
      </div>

      <!--
        Ship Activity

        Select an appropriate category and sub-category to reveal this section.

        See also: shouldHaveShipActivity()
      -->
      <div
        data-ng-show="vm.showAllForm"
        data-ng-if="vm.shouldHaveShipActivity()"
        class="form-control">
        <label for="add-defect-ship-activity">Ship activity</label>
        <!-- Radio Button Group: shipActivities -->
        <div
          class="radio grid-block wrap"
          id="add-defect-ship-activity">
          <!-- Anchoring -->
          <!-- Anchoring/heaving -->
          <!-- At anchor -->
          <!-- Berthed -->
          <!-- Berthed/Deberthing -->
          <!-- Heaving -->
          <!-- STS Transfer -->
          <!-- Underway -->
          <!-- Other -->
          <div
            data-ng-repeat="activity in vm.shipActivities"
            class="grid-content shrink">
            <input
              data-ng-model="vm.shipActivity"
              data-ng-click="vm.activityChanged(activity)"
              data-ng-value="activity.id"
              id="ship-activity-{{$index}}"
              name="shipActivities"
              type="radio"
              role="radio">
            <label
              data-ng-bind="activity.name"
              for="ship-activity-{{$index}}">
            </label>
          </div>
        </div>
        <div
          class="grid-block small-4"
          data-ng-show="vm.otherActivitySpecified">
          <input
            data-ng-model="vm.otherActivity"
            data-validate="vm.section.otherActivity"
            id="add-defect-ship-activity-other"
            type="text"
            placeholder="Please specify"/>
        </div>
        <div
          data-ng-show="vm.otherActivitySpecified"
          data-error-msg="vm.section.otherActivity"></div>
      </div>

      <!-- In Way Of -->
      <div
        data-ng-if="vm.showAllForm && vm.onBoardLocations.length > 0"
        class="form-control">
        <label for="add-defect-in-way-of">In way of</label>
        <div class="grid-content">
          <value-picker
            data-ng-model="vm.onBoardLocation"
            data-ng-change="vm.onBoardLocationChanged(vm.onBoardLocation)"
            available-options="vm.onBoardLocations"
            button-text="Select option"
            modal-title="Select onboard location"
            multi-select="true"
            name="onBoardLocation"
            id="onboard-location">
            </value-picker>
        </div>
        <br />
        <div
          class="grid-block small-4"
          data-ng-show="vm.onBoardLocationSpecified">
          <input
            data-ng-model="vm.otherOnBoard"
            data-validate="vm.section.otherOnBoard"
            id="add-defect-ship-activity-other"
            type="text"
            placeholder="Please specify"/>
        </div>

        <div
          data-ng-show="vm.onBoardLocationSpecified"
          data-error-msg="vm.section.otherOnBoard"></div>
      </div>

      <br data-ng-if="vm.showAllForm"/>

      <!-- Affected Section -->
      <div
        class="grid-block form-control"
        data-ng-show="vm.showAllForm">
        <div class="grid-block small-4 vertical">
          <div class="grid-block small-11">
            <label for="add-defect-affected-section-from">Affected section (from)</label>
          </div>
          <div class="grid-block small-11">
            <input
              data-ng-model="vm.defect.firstFrameNumber"
              id="add-defect-affected-section-from"
              type="text"
              placeholder="Frame no">
          </div>
        </div>
        <div class="grid-block small-4 vertical">
          <div class="grid-block">
            <label for="add-defect-affected-section-to">Affected section (to)</label>
          </div>
          <div class="grid-block">
            <input
              data-ng-model="vm.defect.lastFrameNumber"
              id="add-defect-affected-section-to"
              type="text"
              placeholder="Frame no">
          </div>
        </div>
      </div>
      <!-- Longitudinal-->
      <div data-ng-if="vm.longitudinalLocations.length > 0 && vm.showAllForm">
        <div class="grid-block">
          <div class="grid-content">
            <label for="add-defect-affected-section-to">Longitudinal Locations</label>
          </div>
        </div>

        <div class="grid-block">
          <!-- Radio Button Group: locationLongitudinal -->
          <table class="grid-content">
            <tbody>
              <tr data-ng-repeat="location in vm.longitudinalLocations">
                <td>
                  <div class="checkbox-container">
                    <checkbox
                      data-ng-model="location.selected"
                      data-ng-change="vm.selectLongitudinal()"
                      id="location-{{::$index}}-select"
                      largest></checkbox>
                    <label
                      data-ng-bind="location.name"
                      class="white"
                      for="location-{{::$index}}-select">
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br data-ng-if="vm.showAllForm">

      <!-- Radio Button Group: locationTransverse -->
      <div data-ng-if="vm.transverseLocations.length > 0 && vm.showAllForm">
        <div class="grid-block">
          <div class="grid-content">
            <label for="add-defect-affected-section-to">Transverse Locations</label>
          </div>
        </div>

        <div
          class="grid-block"
          data-ng-if="vm.showAllForm">
          <!-- Radio Button Group: locationLongitudinal -->
          <table class="grid-content">
            <tbody>
              <tr data-ng-repeat="location in vm.transverseLocations">
                <td>
                  <div class="checkbox-container">
                    <checkbox
                      data-ng-model="location.selected"
                      data-ng-change="vm.selectTransverse()"
                      id="transverse-{{::$index}}-select"
                      largest></checkbox>
                    <label
                      data-ng-bind="location.name"
                      class="white"
                      for="transverse-{{::$index}}-select">
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Grounding Involved -->
      <div
        data-ng-show="vm.showAllForm"
        class="form-control grid-block vertical">
        <div class="grid-block small-3">
          <label for="add-defect-grounding-involved">Grounding involved</label>
        </div>
        <div class="grid-block">
          <div
            class="radio grid-block wrap"
            id="add-defect-grounding-involved">
            <div
              data-ng-repeat="grounding in vm.groundingInvolved"
              class="grid-content shrink">
              <input
                data-ng-model="vm.grounding"
                data-ng-click="vm.addGrounding()"
                data-ng-value="grounding"
                id="grounding-involved-{{grounding.name}}"
                name="groundingInvolved"
                type="radio"
                role="radio">
              <label
                data-ng-bind="grounding.name"
                for="grounding-involved-{{grounding.name}}">
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Polution Type -->
      <div
        data-ng-if="vm.pollutionTypes.length > 0"
        class="grid-block vertical form-control">
        <div class="grid-block small-5">
          <label for="add-defect-pollution-type">Select pollution type</label>
        </div>
        <div class="grid-block">
          <div class="grid-content">
            <value-picker
              data-ng-model="vm.pollutionType"
              data-ng-change="vm.pollutionTypeChanged(vm.pollutionType)"
              available-options="vm.pollutionTypes"
              button-text="Select pollution type"
              modal-title="Select pollution type"
              multi-select="true"
              name="pollutionType"
              id="pollution-type">
            </value-picker>
          </div>
        </div>
        <br>
        <div>
          <div
            data-ng-show="vm.otherPollutionSpecified"
            class="grid-block small-4">
            <input
              data-ng-model="vm.otherPollutionText"
              data-validate="vm.section.otherPollution"
              id="add-defect-ship-activity-other"
              type="text"
              placeholder="Please specify"/>
          </div>
          <div
            data-ng-show="vm.otherPollutionSpecified"
            data-error-msg="vm.section.otherPollution"></div>
        </div>
      </div>
      <br/>

      <!-- Description-->
      <div class="form-control grid-block vertical">
        <div class="grid-block small-3">
          <label for="add-defect-pollution-description">Description</label>
        </div>
        <div class="grid-block">
          <textarea
            data-ng-model="vm.defect.incidentDescription"
            data-validate="vm.section.description"
            id="add-defect-pollution-description"
            name="description"
            placeholder="2000 character limit">
          </textarea>
        </div>
        <div data-error-msg="vm.section.description"></div>
      </div>

      <!-- Caused by Fire and Explosion  -->
      <div
        data-ng-show="vm.showAllForm"
        class="form-control grid-block vertical">
        <div class="grid-block small-3">
          <label for="add-defect-fire-explosion">Caused by fire &amp; explosion</label>
        </div>
        <div class="grid-block">
          <div
            class="radio grid-block wrap"
            id="add-defect-fire-explosion">
            <div
              data-ng-repeat="explosion in vm.fireExplosion"
              class="grid-content shrink">
              <input
                data-ng-model="vm.explosion"
                data-ng-click="vm.addExplosion()"
                data-ng-value="explosion"
                id="fire-explosion-{{explosion.name}}"
                name="fire-explosion"
                type="radio"
                role="radio">
              <label
                data-ng-bind="explosion.name"
                for="fire-explosion-{{explosion.name}}">
              </label>
            </div>
          </div>
        </div>
      </div>


      <!--Occured or Reported-->
      <div class="grid-block vertical form-control">
        <div class="grid-block small-3">
          <label for="add-defect-date-occurred-or-reported">Occurred or reported</label>
        </div>
        <div class="grid-block">
          <input
            data-ng-model="vm.defect.incidentDate"
            id="add-defect-date-occurred-or-reported"
            date-time
            auto-close="true"
            view="date"
            min-view="date"
            name="OccurredOrReportedDate"
            class="date-time">
          <span
            date-picker-icon
            sibling-id="add-defect-date-occurred-or-reported">
            ${require('content/images/inline/mast-icon-calendar.svg')}
          </span>
        </div>
      </div>

      <!-- Add Attachments and Notes -->
      <div class="grid-block vertical form-control">
        <div class="grid-block small-3">
          <label for="add-defect-attachments">Add attachments &amp; notes (optional)</label>
        </div>
        <div class="grid-block">
          <div class="grid-block noscroll icon">
            <div
              attachments-and-notes
              modal-title="'Add Defect'"
              attachments="vm.attachments"
              class="actionable">
              <attachments-icon attachments="vm.attachments"></attachments-icon>
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />

      <!-- Crosslinks to Codicils (Conditions of Class, Actionable Items, Repairs) -->
      <!--<div-->
        <!--class='grid-block vertical form-control'>-->
        <!--<div-->
          <!--class="grid-block small-3">-->
          <!--<label>Add Course of action</label>-->
        <!--</div>-->
        <!--<div-->
          <!--class="grid-block">-->
          <!--<button-->
            <!--class="button secondary-button"-->
            <!--data-ng-click="vm.addCodicil('coc')">Add condition of class</button>-->
          <!--<button-->
            <!--data-ng-click="vm.addCodicil('actionableItem')"-->
            <!--class="button secondary-button">Add actionable item</button>-->
          <!--<button-->
            <!--data-ng-click="vm.addCodicil('repair')"-->
            <!--class="button secondary-button">Add repair</button>-->
        <!--</div>-->
      <!--</div>-->

      <!-- List of COCs -->
      <!--<div-->
        <!--class="grid-content"-->
        <!--data-ng-if="vm.section.coc.value.length"-->
        <!--data-tpl="vm.section.coc">-->
      <!--</div>-->

      <!--<br/>-->

       <!-- List of AIs -->
      <!--<div-->
        <!--class="grid-content"-->
        <!--data-ng-if="vm.section.actionableItem.value.length"-->
        <!--data-tpl="vm.section.actionableItem">-->
      <!--</div>-->

      <!--<pagination-->
        <!--data-ng-if="vm.totalCodicils"-->
        <!--data-pageable="vm.defect.cocs"-->
        <!--data-type="'codicils'"-->
        <!--data-hide-count="true">-->
        <!--<codicil-info-->
          <!--data-ng-repeat="item in vm.cocs"-->
          <!--data-ng-class="{'background-pure-white': $even, 'background-very-light-grey': $odd}"-->
          <!--data-item="item"-->
          <!--data-item-type="'coc'"-->
          <!--data-asset-id="vm.asset.id"-->
          <!--data-view-state-name="'coc.view'">-->
        <!--</codicil-info>-->
      <!--</pagination>-->
    </ng-form>
  </div>
</div>

<!-- Cancel and Save in footer -->
<div data-sticky-footer>
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-click="vm.back()"
        class="transparent-dark-button"
        id="add-defect-preview-cancel">
        Cancel
      </button>
      <button
        data-ng-click="vm.save()"
        data-ng-disabled="!vm.formValid()"
        data-ng-class="{'active': vm.formValid(), 'disabled': !vm.formValid()}"
        class="primary-button"
        id="add-defect-preview-save">
        Save
      </button>
    </div>
  </div>
</div>
