<small-modal
  class="white text-center"
  id="modal-mark-complete"
  title="'Mark as complete'">
  <modal-body>
    <p data-ng-bind="completeMilestoneText"></p>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="$close(false)">Go back</button>
    <button
      class="primary-button"
      data-ng-click="$close(true)">Complete</button>
  </modal-footer>
</small-modal>
