<div
  data-case-banner
  data-case="vm.assetCase"
  data-attachment-count="vm.attachmentCount"
  data-attachment-path="vm.attachmentPath"
  class="case-banner">
</div>

<div class="grid-block vertical">
  <div class="grid-content">
    <h2 class="mid">Milestones</h2>
  </div>

  <div class="grid-content footer-follows">
    <div data-ng-if="!vm.milestones.length">
      There are no milestones confirmed for this case.
    </div>
    <case-milestone-list
      data-case="vm.assetCase"
      data-milestones="vm.milestones"
      data-scope="true"
      data-is-on-hold="vm.isOnHold">
    </case-milestone-list>
  </div>
</div>

<div
  data-sticky-footer
  data-ng-if="!vm.hideStickyFooter">
  <div class="small-3 small-offset-5 text-right">
    <button
      data-ng-disabled="vm.isOnHold || !vm.isCommitted"
      data-ui-sref="asset.cases.view.manage-milestones"
      class="transparent-button-white"
      id="manage-milestones-button">
      Manage milestones
    </button>
  </div>
  <div class="small-4">
    <button
      data-ng-disabled="vm.isOnHold || !vm.selectedMilestones().length"
      data-ng-click="vm.completeMilestones()"
      class="primary-button full-button"
      id="save-changes-button">
      Complete selected milestones
    </button>
  </div>
</div>
