<ul
  data-ng-style="{
    display: isOpen() && 'block' || 'none',
    top: position.top + 'px',
    left: position.left + 'px'}"
  class="f-dropdown">
  <li
    data-ng-repeat="match in matches"
    data-ng-class="{active: isActive($index)}"
    data-ng-mouseenter="selectActive($index)"
    data-ng-click="selectMatch($index)">
    <div
      data-typeahead-match
      data-index="$index"
      data-match="match"
      data-query="query"
      data-template-url="templateUrl"></div>
  </li>
  <li data-ng-if="!matches.length">
    <a>No matches found</a>
  </li>
</ul>
