<state-loader class="grid-block vertical"
 data-offset-top-pixels="150">
  <div class="case-management">
    <div class="grid-block case-management-header">
      <div class="grid-content small-3 medium-1"
        data-back-button
        data-ng-click="vm.confirmBackNav()"
        title="Back to Case Type Selection">
      </div>
      <div class="grid-content small-9 medium-10">
        <h3>Specify details</h3>
      </div>
    </div>

    <div class="grid-block">
      <div class="tabs">
        <div class="grid-content small-6 tab-item">
          <a
            data-ng-disabled="true"
            id="select-case-type">
            Select case type
          </a>
        </div>
        <div class="grid-content small-6 tab-item is-active">
          <a id="specify-details">
            Specify details
          </a>
        </div>
      </div>
    </div>

    <div class="grid-content small-12 form-content case-tab-content">
      <ng-form
        name="vm.addCaseForm"
        class="add-case-form"
        id="add-case-form"
        novalidate>

        <div
          class="grid-content small-12 case-type-header">
          <div
            class="icon"
            data-attachments-and-notes
            data-modal-title="'Case Attachments'"
            data-attachments="vm.attachments">
            <attachments-icon></attachments-icon>
          </div>
          <h5
            name="caseType"
            id="case-type"
            data-ng-model="vm.case.caseType"
            value="{{vm.caseType}}">Case Type: {{ vm.caseType }}
          </h5>
        </div>

        <div data-ng-include="'app/asset/cases/add/details/partials/case-details.html'"></div>
        <div data-ng-include="'app/asset/cases/add/details/partials/asset-details.html'"></div>
        <div data-ng-include="'app/asset/cases/add/details/partials/flag-details.html'"></div>
        <div data-ng-include="'app/asset/cases/add/details/partials/rule-set.html'"></div>
        <div data-ng-include="'app/asset/cases/add/details/partials/class-maintenance.html'"></div>
        <div data-ng-include="'app/asset/cases/add/details/partials/key-dates.html'"></div>
        <div data-ng-include="'app/asset/cases/add/details/partials/offices-surveyors.html'"></div>
        <div data-ng-include="'app/asset/cases/add/details/partials/customers.html'"></div>
      </ng-form>
    </div>
  </div>

  <div
    data-sticky-footer
    id="add-case-footer"
    class="add-case-footer">
    <div class="grid-block">
      <div class="grid-content small-3">
        <button
          data-ui-sref="asset.cases.list"
          class="transparent-dark-button"
          id="add-case-cancel">
          Cancel add case
        </button>
      </div>

      <div class="grid-content small-6-up text-right">
        <button
          data-ng-disabled="!vm.validateForm()"
          data-ng-click="vm.save(false)"
          class="primary-button active"
          name="addCaseSaveInProgress"
          id="add-case-save-in-progress">
          Save in progress
        </button>
        <button
          data-ng-disabled="!vm.validateForm()"
          data-ng-click="vm.save(true)"
          data-ng-class="{
            'active': vm.validateForm(),
            'disabled': !vm.validateForm()
          }"
          class="primary-button"
          name="addCaseSaveAndCommit"
          id="add-case-save-and-commit">
          Save and commit
        </button>
      </div>
    </div>
  </div>
</state-loader>
