<small-modal
  class="white text-center select-rule-set-dialog"
  id="modal-discard-changes">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Select a Rule Set</h2>
    </div>
  </modal-header>
  <modal-body>
    <div class="grid-block">
      <ng-form
        name="vm.ruleSetForm"
        id="rule-set-form">
        <select
          data-ng-model="vm.ruleSet"
          name="ruleSet"
          id="rule-set"
          data-ng-options="rule.name for rule in vm.ruleSets track by rule.id">
          <option value="">Select a rule set</option>
        </select>
      </ng-form>
    </div>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        data-ng-class="{'disabled': !vm.validForm()}"
        class="primary-button"
        data-ng-click="vm.confirm()">Select</button>
    </div>
  </modal-footer>
</small-modal>
