<small-modal
  class="white text-center select-relationship-dialog"
  id="modal-discard-changes">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Are you sure?</h2>
    </div>
  </modal-header>
  <modal-body>
    <p>Going back to the previous step means that you will lose all your
      currently input data in Step 2: Specify details.</p>
  </modal-body>
  <modal-footer>
    <div>
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        class="primary-button"
        data-ng-click="vm.confirm()">Continue to Step 1: Select case type</button>
    </div>
  </modal-footer>
</small-modal>
