<small-modal
  class="white text-center select-asset-types-dialog"
  id="modal-discard-changes">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Select one or more asset type(s)</h2>
      <a
        data-ng-click="$dismiss()"
        class="small-1 white close-button"
        id="close-button">&#10005;</a>
    </div>
  </modal-header>
  <modal-body>
    <div class="grid-block">
      <ng-form
        name="vm.CaseAssetSelection"
        id="case-asset-selection">
        <table>
          <tbody>
            <tr>
              <td>
                <select
                  name="Dropdown1"
                  id="dropdown-1"
                  data-ng-model="vm.assetType.dropdown1"
                  data-ng-options="asset.name for asset in vm.getLevel(1) track by asset.id">
                  <option value="">Select 1st statcode</option>
                </select>
              </td>
              <td>
                <select
                  name="Dropdown2"
                  id="dropdown-2"
                  data-ng-model="vm.assetType.dropdown2"
                  data-ng-options="asset.name for asset in vm.getLevel(2) track by asset.id">
                  <option value="">Select 2nd statcode</option>
                </select>
              </td>
              <td>
                <select
                  name="Dropdown3"
                  id="dropdown-3"
                  data-ng-model="vm.assetType.dropdown3"
                  data-ng-options="asset.name for asset in vm.getLevel(3) track by asset.id">
                  <option value="">Select 3rd statcode</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <select
                  name="Dropdown1"
                  id="dropdown-1"
                  data-ng-model="vm.assetType.dropdown4"
                  data-ng-options="asset.name for asset in vm.getLevel(4) track by asset.id">
                  <option value="">Select 4th statcode</option>
                </select>
              </td>
              <td>
                <select
                  name="Dropdown2"
                  id="dropdown-2"
                  data-ng-model="vm.assetType.dropdown5"
                  data-ng-options="asset.name for asset in vm.getLevel(5) track by asset.id">
                  <option value="">Select 5th statcode</option>
                </select>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </ng-form>
    </div>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        data-ng-class="{'disabled': !vm.validForm()}"
        class="primary-button"
        data-ng-click="vm.confirm()">Select</button>
    </div>
  </modal-footer>
</small-modal>
