<small-modal
  class="white text-center select-relationship-dialog"
  id="modal-discard-changes">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Select relationship</h2>
      <a
        data-ng-click="$dismiss()"
        class="small-1 white close-button"
        id="close-button">&#10005;</a>
    </div>
  </modal-header>
  <modal-body>
    <div class="grid-block">
      <ng-form
        name="vm.relationshipSelection"
        id="relationship-selection">
        <select
          data-ng-model="vm.relationship"
          name="relationshipType"
          id="relationship-type"
          data-ng-options="rel.name for rel in vm.relationshipTypes track by rel.id">
          <option value="">Select a relationship type</option>
        </select>
      </ng-form>
    </div>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        data-ng-class="{'disabled': !vm.validForm()}"
        class="primary-button"
        data-ng-click="vm.confirm()">Select</button>
    </div>
  </modal-footer>
</small-modal>
