<checked-out-by asset="vm.asset" ></checked-out-by>
<!-- Harmonisation Date and Rule Set -->
<div class="grid-block service-schedule list-harmonisation-rule-set">
  <div class="grid-content small-4">
    <label for="list-harmonisation-date">Harmonisation date:</label>
    <strong
      data-ng-bind="vm.listConfig.harmonisationDate | moment:vm.dateFormat"
      class="dark-blue"
      id="list-harmonisation-date">
    </strong>
    <i
      data-ng-if="vm.isCheckedOut"
      data-ng-click="vm.editHarmonisationDate()"
      class="dark-blue svg-icon-Edit">
    </i>
  </div>
  <div class="grid-content">
    <label for="list-rule-set">Rule set:</label>
    <strong
      data-ng-bind="vm.ruleName(vm.listConfig.ruleSet)"
      class="dark-blue"
      id="list-rule-set">
    </strong>
    <i
      data-ng-if="vm.isCheckedOut"
      data-ng-click="vm.editRuleSet()"
      class="dark-blue svg-icon-Edit">
    </i>
  </div>
</div>

<!-- Schedule List context controls -->
<section class="service-schedule list-context-controls">

  <!-- Classification / Statutory Tabs -->
  <div class="grid-block align-justify">
    <div class="grid-block small-6 antifudge">
      <div
        data-ng-repeat="option in vm.tabOptions"
        data-ng-click="vm.selectTab(option)"
        data-ng-class="{
          'transparent-light-button': !vm.isTabSelected(option),
          'white-button-grey-border': vm.isTabSelected(option),
          'arrowed': vm.isTabSelected(option)
        }"
        data-ng-bind="option.name"
        class="grid-content small-5 control-tab">
      </div>
    </div>

    <!-- View By dropdown -->
    <div class="grid-block small-3 align-right antifudge">
      <div class="grid-content shrink view-by">
        <label for="list-view-by">View by:</label>
        <select
          data-ng-model="vm.listConfig.viewBy"
          data-ng-change="vm.viewByChanged()"
          data-ng-options="option.name for option in vm.viewByOptions track by option.id"
          id="list-view-by">
        </select>
      </div>
    </div>
  </div>


</section>

<!-- Schedule List editing controls -->
<section class="grid-block align-justify antifudge service-schedule list-editing-controls">

  <!-- Selection controls -->
  <div class="grid-block shrink">
    <div data-ng-show="vm.assignedServices.length" class="grid-content shrink service-selectors">
      <span
        data-ng-click="vm.selectServices('all')"
        class="actionable dark-blue">
        Select all
      </span>
      <span> | </span>
      <span
        data-ng-click="vm.selectServices('none')"
        class="actionable dark-blue">
        Clear all
      </span>
    </div>
  </div>

  <!-- Delete / Add -->
  <div class="grid-block shrink">

    <!-- Delete a selected service -->
    <div
      data-ng-show="vm.listConfig.showDeleteServicesButton"
      class="grid-content shrink">
      <span
        data-ng-show="vm.assignedServices.length"
        data-ng-click="vm.deleteSelectedServices()"
        class="actionable delete-service disabled">
        ${require('content/images/inline/mast-icon-bin.svg')}
      </span>
    </div>

    <!-- Add one or more products (ignores any selection) -->
    <div
      data-ng-show="vm.listConfig.showAddProductsButton"
      class="grid-content shrink">
      <button
        data-ng-class="{ 'disabled': !vm.listConfig.enableAddProductsButton }"
        data-ng-click="vm.addProduct()"
        class="primary-button add-product">
        <i class="svg-icon-Plus"></i> Add products
      </button>
    </div>
  </div>
</section>

<!-- Only displayed when the asset's service schedule is completely empty -->
<section
  data-ng-if="vm.isEmptySchedule()">
  There are no products or services in the service schedule for this product family
</section>

<!-- Product / Service list (or are they sufficiently different that these should be separate?) -->
<section
  data-ng-if="!vm.isEmptySchedule()"
  class="service-schedule">

  <div data-ng-switch="vm.listConfig.viewBy.slug">
    <div data-ng-switch-when="product">
      <!-- Product -->
      <div
        data-ng-repeat="product in vm.assignedProductsByType(vm.listConfig.currentTab.model.id)"
        class="grid-block vertical product">

        <!-- Product header -->
        <div class="grid-block align-justify product-header">
          <!-- Product Name -->
          <div class="grid-content header-name">
            <strong data-ng-bind="product.name"></strong>
          </div>

          <!-- Delete product / Add service controls -->
          <div class="grid-block shrink controls">
            <!-- Delete Product -->
            <div
              data-ng-show="!vm.productServiceModels(product.id).length"
              class="grid-content shrink control">
              <button
                data-ng-click="vm.deleteProduct(product)"
                class="grey-button">
                <i class="svg-icon-Delete"></i>
              </button>
            </div>

            <!-- Add service -->
            <div class="grid-content shrink control">
              <button
                data-ng-click="vm.addService(product)"
                data-ng-class="{ disabled: !vm.hasUnassignedServices(product) }"
                class="primary-button">
                <i class="svg-icon-Plus"></i>
              </button>
            </div>
          </div>
        </div>

        <div
          data-ng-repeat="serviceModel in vm.productServiceModels(product.id)"
          class="grid-block service nowrap">
          <!-- Select for deletion -->
          <div class="grid-content list-checkbox shrink">
            <checkbox
              data-ng-model="serviceModel.selected"
              data-ng-change="vm.selectServiceModel(serviceModel)"
              id="service-{{serviceModel.id}}-select"
              data-largest></checkbox>
          </div>

          <div
            data-service-summary
            data-asset="vm.asset"
            data-service-model="serviceModel"
            data-service-catalogue-model="vm.serviceCatalogueModel(serviceModel)"
            data-product-type-id="vm.listConfig.currentTab.model.id"
            class="grid-block nowrap">
          </div>
        </div>
      </div>
    </div>

    <div data-ng-switch-when="service_type">
      <div data-ng-if="vm.isProductsOnlySchedule()">
        No services have been added for the selected products
      </div>

      <div data-ng-if="!vm.isProductsOnlySchedule()">
        <!-- Service Type -->
        <div
          data-ng-repeat="serviceType in vm.assignedServiceTypes"
          class="grid-block vertical service-type">

          <div class="grid-block service-type-header">
            <div class="grid-content header-name">
              <span data-ng-bind="serviceType.name"></span>
            </div>
          </div>

          <!-- Service Type services (summary) -->
          <div
            data-ng-repeat="serviceModel in vm.serviceTypeServiceModels(serviceType.id)"
            class="grid-block service nowrap">
            <!-- Select for deletion -->
            <div class="grid-content list-checkbox shrink">
              <checkbox
                data-ng-model="serviceModel.selected"
                data-ng-change="vm.selectServiceModel(serviceModel)"
                id="service-{{serviceModel.model.id}}-select"
                data-largest></checkbox>
            </div>

            <!--directive -->
            <div
              data-service-summary
              data-asset="vm.asset"
              data-service-model="serviceModel"
              data-service-catalogue-model="vm.serviceCatalogueModel(serviceModel)"
              data-product-type-id="vm.listConfig.currentTab.model.id"
              class="grid-block nowrap">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
