<div
  class="check-in fade"
  data-ng-repeat="item in checkIn.list track by item.id">

  <div class="title">
    You have checked out
    <span
      data-ng-click="checkIn.openAsset(item)"
      data-ng-bind="item.name">
    </span>
    for editing
  </div>

  <div class="control">
    <button
      class="white-button"
      data-ng-click="checkIn.checkIn(item);">Check-in</button>
    <button
      class="transparent-button"
      data-ng-click="checkIn.discard(item)">Discard check out</button>
    <button
      class="transparent-button">Update tasklist</button>
  </div>
</div>
