<ng-form
  name="assetSearchQuery"
  class="grid-block vertical asset-search"
  id="asset-search-form">
  <div class="grid-block vertical">
    <div class="grid-block vertical">
      <label
        for="asset-search-query"
        class="white text-left grid-content">
        Search
      </label>
    </div>
    <div class="grid-block horizontal">
      <div
        data-ng-class="vm.asset"
        class="grid-content">
        <input
          data-ng-model="vm.parameters.search"
          data-enter="vm.applyFilters()"
          type="text"
          name="searchQuery"
          placeholder="Asset ID/IMO number/Asset name"
          id="asset-search-query" />
      </div>
    </div>
  </div>
  <div class="grid-block vertical">
    <div class="grid-content">
      <label class="white header">
        Filter
      </label>
    </div>
    <div
      data-ng-repeat="row in [0, 1, 2]"
      class="grid-block vertical">
      <div class="grid-block small-up-4">
        <div
          data-ng-repeat="filter in row = vm.getFilters($index)"
          class="grid-content">
          <span
            data-ng-click="vm.getFiltersValidity() ? vm.toggleFilterSelected(filter) : null"
            data-ng-class="{'white-button arrowed': filter.selected }"
            aria-label="Select {{::filter.name}} filter"
            class="expand transparent-dark-button icon-button no-margin">
            <span
              data-ng-bind="::filter.name"
              id="asset-search-filter-row-{{::$parent.$index}}-col-{{::$index}}-toggle-selected"></span>
            <span
              data-ng-if="filter.active"
              data-ng-click="vm.setFilterInactive(filter)"
              class="tick"
              id="asset-search-filter-row-{{::$parent.$index}}-col-{{::$index}}-active">
              ${require('content/images/inline/mast-icon-tick.svg')}
            </span>
          </span>
        </div>
      </div>
      <div
        data-ng-show="(row | filter : {selected: true}).length"
        class="grid-block vertical"
        id="asset-search-filter-{{::$index}}">
        <div class="grid-content">
          <hr />
        </div>
        <div
          data-ng-include="(row | filter : {selected: true})[0].templateUrl"
          class="grid-block"
          id="asset-search-filter-current"></div>
        <div class="grid-content">
          <hr />
        </div>
      </div>
    </div>
  </div>
  <div class="grid-block small-up-2">
    <div class="grid-content">
      <button
        data-ng-click="vm.resetFilters()"
        type="button"
        class="white-button no-margin float-right"
        id="asset-search-reset">
        Reset
      </button>
    </div>
    <div class="grid-content">
      <button
        data-ng-disabled="!vm.getFiltersValidity()"
        data-ng-click="vm.applyFilters()"
        type="button"
        class="primary-button no-margin float-left"
        id="asset-search-apply">
        Search
      </button>
    </div>
  </div>
</ng-form>
