<div class="grid-block application-header">
  <logo-asset-header
    asset="vm.asset"
    subheader-open="vm._pageService.header.open"
    enabled="HEADER_ENABLED"
    class="grid-block"></logo-asset-header>
  <div class="app-state grid-block">
    <info-header data-user="vm.user"></info-header>
  </div>
</div>
<div class="grid-block asset">
  <asset-subheader
    data-ng-show="vm._pageService.header.open"
    asset="vm.asset"
    attachment-path="vm.assetAttachmentPath"
    class="small-12"></asset-subheader>
</div>
