<small-modal
  class="white text-center"
  id="modal-discard-changes"
  title="title">
  <modal-body>
    <p data-ng-bind="customText"></p>
    <textarea data-ng-if="vm.isCancel"
      rows="5"
      maxlength="{{vm.cancelTextMaxLength}}"
      data-ng-maxlength="vm.cancelTextMaxLength"
      placeholder="Specify the reason for cancelling this case"
      data-ng-model="vm.statusReason"></textarea>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="vm.close(false)">Go Back</button>
    <button
      class="primary-button"
      data-ng-bind="confirmBtnText"
      data-ng-click="vm.close(true)"></button>
  </modal-footer>
</small-modal>
