<div class="grid-block">
  <div class="grid-content small-12">
    <h3 class="dark-blue">Online/Offline test</h3>
    <div data-ng-if="::OFFLINE">
      We're offline lads
    </div>
    <div class="grid-content small-12">
      <button data-ng-click="vm.testServiceGet()">Get</button>
    </div>
    <div class="grid-content small-12">
      <span>Resolved thing: {{vm.onlineOfflineThing}}</span>
    </div>
  </div>

  <div class="grid-content small-12">
    <h3 class="dark-blue">Alerts</h3>
    <div class="alert warning">
      Something went wrong
    </div>
    <div class="alert info">
      What lovely weather
    </div>
    <div class="alert success">
      Your thing was updated
    </div>

  </div>
  <div class="grid-content small-12">
    <h3 class="dark-blue">Testing Radio Button Groups / 'Segmented'</h3>

    <div>
      <ul class="button-group segmented">
        <li data-ng-repeat="item in vm.cTypes">
          <input
            id="c-type-{{$index}}"
            name="c-type"
            value="item"
            type="radio"
            data-ng-model="vm.confidentialityType" />
          <label
            for="c-type-{{$index}}"
            data-ng-bind="item.description">
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid-content small-12">
    <h3 class="dark-blue">Testing Job Planning / Editing</h3>
    This is a job, click the link to
    <a data-ui-sref="asset.jobs.edit({ jobId: 5 })">-edit-</a> the job.
  </div>

  <!-- <div class="grid-content small-12">
    <h3 class="dark-blue">Testing Value Picker</h3>
    <value-picker
      selection="vm.vpSelection"
      available-options="vm.vpOptions"
      button-text="Change category">
    </value-picker>
  </div> -->

  <div class="grid-content small-12">
    <h3 class="dark-blue" style="padding:0 0 0 25px">Testing Modals</h3>
    <br /><br />
    <button ng-click="vm.modalTest()">I am a modal please click me!</button>
    <a class="primary-button" ng-click="vm.modalTest()">I'm also a modal!</a>
    <br /><br />
  </div>

  <div class="grid-content small-12">
    Testing Date picker
    <br /><br />

    <ng-form name="demoForm">
      <br />

      <div>
        <label for="pickerMaxDate">Shows 'date' view, minimum view of 'hours';
          Max ({{demoForm.pickerMaxDate.$error.max ?
          'Max: invalid' : 'Max: valid'}})</label><br />
        <input
          date-time
          name="pickerMaxDate"
          ng-model="dates.today"
          id="pickerMaxDate"
          max-date="vm.maxDate"
          min-date="vm.minDate"
          view="date"
          min-view="hours"
          format="lll"
          watch-direct-changes="true"
          date-change="changeDate" />
        <span sibling-id="pickerMaxDate" date-picker-icon>
          ${require('content/images/inline/mast-icon-calendar.svg')}
        </span>
      </div>
      <br />

      <div>
        <label for="pickerMaxDate">Shows 'date' view, minimum view of 'hours';
          Max ({{demoForm.pickerMaxDate2.$error.max ?
          'Max: invalid' : 'Max: valid'}})</label><br />
        <input date-time name="pickerMaxDate2" ng-model="dates.today"
          id="pickerMaxDate2" max-date="vm.maxDate" min-date="vm.minDate"
          view="date" min-view="hours" format="lll" watch-direct-changes="true"
          date-change="changeDate" />
        <span sibling-id="pickerMaxDate2" date-picker-icon>
          ${require('content/images/inline/mast-icon-calendar.svg')}
        </span>
        <br />
      </div>
      <br />
    </ng-form>

    <br /><br />
  </div>

  <!--
    Testing select dropdown boxes;
  //-->
  <div class="grid-content small-5">
    <h3 class="dark-blue" style="padding:0 0 0 25px">Testing Dropdown Components</h3>
    <br /><br />

    <div dropdown-select="vm.ddSelectOptions"
      dropdown-model="vm.ddSelectSelected"
      dropdown-item-label="text"
      dropdown-align="left">
    </div>

    <div dropdown-select="vm.ddSelectOptions2"
      dropdown-model="vm.ddSelectSelected2"
      dropdown-item-label="text"
      dropdown-align="right">
    </div>

    <div dropdown-select="vm.ddSelectOptions3"
      dropdown-model="vm.ddSelectSelected3"
      dropdown-item-label="text"
      dropdown-disabled="true">
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-12">
      <h3 class="dark-blue" style="padding:0 0 0 25px">Testing Checkbox Directive</h3>
      <hr />
    </div>
    <div class="grid-content small-3">
      <div class="checkbox-container">
        <label for="checkbox-name">Label Before: Truth or Lies, size "largest"</label>
        <checkbox
          ng-model="vm.checkboxModel[0]"
          name="checkbox-name"
          id="checkbox-name"
          ng-true-value="truth"
          ng-false-value="lies"
          largest></checkbox>
      </div>
    </div>
    <div class="grid-content small-3">
      <div class="checkbox-container">
        <checkbox
          ng-model="vm.checkboxModel[1]"
          name="checkbox-name-2"
          id="checkbox-name-2"
          ng-true-value="truth"
          ng-false-value="lies"
          largest></checkbox>
        <label for="checkbox-name-2">Label after: Lies or Truth; that is the question we should be asking qweqwe qweqweqweqw eqweq weqwe qwe q</label>
      </div>
    </div>
    <div class="grid-content small-3">
      <div class="checkbox-container">
        <label for="checkbox-name-3">Label Before: 1 or 0, size "large"</label>
        <checkbox
          ng-model="vm.checkboxModel[2]"
          name="checkbox-name-3"
          id="checkbox-name-3"
          ng-true-value="1"
          ng-false-value="0"
          large></checkbox>
      </div>
    </div>
    <div class="grid-content small-3">
      <div class="checkbox-container">
        <checkbox
          ng-model="vm.checkboxModel[3]"
          name="checkbox-name-4"
          id="checkbox-name-4"
          ng-true-value="truth"
          ng-false-value="lies"
          default></checkbox>
        <label for="checkbox-name-4">Label after: This is a standard sized checkbox put in 'default' for this one.</label>
      </div>
    </div>
    <div class="grid-content small-12">
      <div class="grid-content small-6">
        <ng-form>
          <fieldset class="form-control">
            <legend>Behold, a Legend!</legend>
            <div class="checkbox-container">
              <checkbox
                ng-model="vm.checkboxModel[4]"
                name="checkbox-name-5"
                id="checkbox-name-5"
                ng-true-value="truth"
                ng-false-value="lies"
                largest></checkbox>
              <label for="checkbox-name-5">Label after: Lies or Truth; that is the question we should be asking qweqwe qweqweqweqw eqweq weqwe qwe q</label>
            </div>
          </fieldset>
        </ng-form>
      </div>
      <div class="grid-content small-6">
        <ng-form>
          <fieldset class="form-control">
            <legend>This, is a Legend</legend>
            <div class="checkbox-container">
              <label for="checkbox-name-6">Label before: Part of a fieldset installation of a checkbox;</label>
              <checkbox
                ng-model="vm.checkboxModel[5]"
                name="checkbox-name-6"
                id="checkbox-name-6"
                ng-true-value="truth"
                ng-false-value="lies"
                largest></checkbox>
            </div>
          </fieldset>
        </ng-form>
      </div>
    </div>
    <div class="grid-content small-12">
      <hr />
    </div>
  </div>


  <!--
    Testing select dropdown boxes;
  //-->
  <div class="grid-content small-12">
    <h3 class="dark-blue" style="padding:0 0 0 25px">Testing Forms</h3>
    <br /><br />
  </div>

  <!--
    Button testing;
  //-->
  <div class="grid-block small-12">
    <div class="grid-content small-6" style="background-color:#dddddd">
      <br />
      <a class="transparent-button">Transparent Button</a>
      <a class="grey-button">Grey Button</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
        justo luctus, blandit ligula ut, eleifend lectus.</p>
    </div>

    <div class="grid-content small-6" style="background-color:#113344">
      <br />
      <a class="white-button">White Button</a>
      <a class="primary-button">Primary Button</a>
      <br />
      <a class="transparent-dark-button">Transparent Dark (Good :)</a>
      <a class="transparent-button">Transparent Light (Bad!)</a>
      <p style="color:#fff;">The above (bottom right) is an example of what
        you should NOT do. If you know background is dark, use the
        transparent-dark-button class.</p>
      <br /><br />
      <ul class="button-group segmented dark">
        <li data-ng-repeat="item in vm.cTypes">
          <input
            id="c-type-{{$index}}-segmented"
            name="c-type"
            data-ng-value="item"
            type="radio"
            data-ng-model="vm.confidentialityTypeAgain" />
          <label
            for="c-type-{{$index}}-segmented"
            data-ng-bind="item.description">
          </label>
        </li>
      </ul>
      <div data-ng-bind="vm.confidentialityTypeAgain"></div>
      <!--
        This is a pure CSS version of the clipped corner button -
        just for kicks to see if it can be done;
      //-->
      <div class="dar-button-small">
        <div class="dar-br"></div>
        <div class="dar-r"></div>
        <div class="dar-tr"></div>
        <span>126</span>
        <img class="icon-small-lines"
          src="${require('content/images/sprites/icons-small.png')}" />
      </div>

      <div class="dar-button-medium">
        <div class="dar-br"></div>
        <div class="dar-r"></div>
        <div class="dar-tr"></div>
        <span>126</span>
        <img class="icon-small-lines"
          src="${require('content/images/sprites/icons-small.png')}" />
      </div>

      <div class="dar-button-large">
        <div class="dar-br"></div>
        <div class="dar-r"></div>
        <div class="dar-tr"></div>
        <span>126</span>
        <img class="icon-small-lines"
          src="${require('content/images/sprites/icons-small.png')}" />
      </div>
    </div>
  </div>

  <div class="grid-block small-12">
    <div class="grid-content small-6" style="background-color:#dddddd">
      <br />
      <a class="secondary-button">Secondary Button</a>
      <a class="grey-button">Gray Button</a>
      <a class="primary-button icon-button">
        <span>Edit</span>
        <img class="icon-small-tablet"
          src="${require('content/images/sprites/icons-small.png')}" />
      </a>
      <p>Grey is the same as grey, in cases of bad spellers.</p>

      <!--
        Circular button, included in the mockups;
      //-->
      <div class="circle-button">
        <span>12</span>
      </div>
      <p>A circular button, included on several of the MAST mockups.</p>

      <a class="secondary-button square-button">
        <img class="icon-small-tablet"
          src="${require('content/images/sprites/icons-small.png')}" />
      </a>
      <a class="grey-button square-button">
        <img class="icon-small-calendar"
          src="${require('content/images/sprites/icons-small.png')}" />
      </a>
      <a class="primary-button square-button">
        <img class="icon-small-paper"
          src="${require('content/images/sprites/icons-small.png')}" />
      </a>
      <a class="gray-button square-button">
        <img class="icon-small-play"
          src="${require('content/images/sprites/icons-small.png')}" />
      </a>
      <a class="primary-button square-button">
        <img class="icon-small-tablet"
          src="${require('content/images/sprites/icons-small.png')}" />
      </a>
      <a class="white-button-grey-border square-button">
        <img class="icon-small-print"
          src="${require('content/images/sprites/icons-small.png')}" />
      </a>
      <br /><br />
    </div>

    <div class="grid-content small-6" style="background-color:#d64309">
      <br />

      <div class="grid-block">
        <div class="grid-content small-4">
          <div class="corner-button-small">
            <div class="corner corner-right"></div>
            <span>Button<br />White<br />&amp; with<br />corners!</span>
          </div>
          <br /><br />
          <p>A small corner button.</p>
        </div>
        <div class="grid-content small-4">
          <div class="corner-button-medium">
            <div class="corner corner-right"></div>
            <span>Button<br />White<br />&amp; with<br />corners!</span>
          </div>
          <br /><br />
          <p>A medium corner button.</p>
        </div>
        <div class="grid-content small-4">
          <div class="corner-button-large">
            <div class="corner corner-right"></div>
            <span>Button<br />White<br />&amp; with<br />corners!</span>
          </div>
          <br /><br />
          <p>A large corner button.</p>
        </div>
      </div>

      <div class="corner-button-large icon-button icon-button-vertical">
        <div class="corner corner-right"></div>
        <img class="mast-icon mast-icon-print"
          src="${require('content/images/arrow-blue-down.png')}" />
        <span>Notes</span>
      </div>

      <p style="color:#fff;">Some buttons have corners, this is a fact from
        MAST guide. Need to account for this. Some must also have icons in
        them.</p>
    </div>
  </div>

  <div class="grid-block small-12">
    <div class="grid-content small-6">
      <br />
      <a class="secondary-button">Secondary Button</a>
      <a class="icon-button">
        <img class="icon-small-graph"
          src="${require('content/images/sprites/icons-small.png')}"/>
        <span>Nice Graphs!</span>
      </a>
      <a class="icon-button">
        <img class="icon-small-paper"
          src="${require('content/images/sprites/icons-small.png')}"/>
        <span>Reading Material</span>
      </a>
      <a class="icon-button">
        <span>Remember Me!</span>
        <img class="icon-small-paperclip"
          src="${require('content/images/sprites/icons-small.png')}"/>
      </a>
      <a class="white-button-grey-border">
        This is a white button
      </a>
    </div>

    <div class="grid-content small-6" style="background-color:#666666">
      <br />
      <a class="primary-button">Primary Button</a>
      <a class="grey-button">Grey button</a>
      <br />
      <br />
      <a class="transparent-dark-button">Transparent Dark</a>
      <a class="icon-button">
        <img class="icon-small-mag"
          src="${require('content/images/sprites/icons-small.png')}"/>
        <span>Examine This</span>
      </a>
      <a class="icon-button">
        <span>Check This</span>
        <img class="icon-small-check"
          src="${require('content/images/sprites/icons-small.png')}"/>
      </a>
      <br />
      <a class="primary-button arrowed">Primary Button, Selected</a>
      <a class="secondary-button arrowed">Secondary Button, Selected</a>
      <a class="grey-button arrowed">Grey Button, Selected</a>
      <a class="white-button arrowed">White Button, Selected</a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
      justo luctus, blandit ligula ut, eleifend lectus. Aliquam varius, ante sed
      lacinia luctus, purus lorem tincidunt eros, eget fermentum erat nisl non
      magna. Mauris quis vestibulum enim, id dictum massa. Quisque luctus a
      lacus eget faucibus.</p>
  </div>

  <!--
    Testing form content;
  //-->
  <div class="grid-block">
    <div class="grid-content small-12">
      <ng-form name="lregForm" novalidate ng-submit="vm.submitForm();">
        <div class="form-control">
          <label for="name">Name:</label>
          <input type="text" name="userName" id="name"
            placeholder="Your name?"
            ng-model="lreg.userName"
            required
            ng-maxlength="30" ng-minlength="10">
          <div class="validation-error" role="alert"
            ng-show="lregForm.userName.$dirty && lregForm.userName.$invalid && !lregForm.userName.$pristine">
            <span>Error! Username is a required field.</span>
            <span ng-if="lregForm.userName.$error.minlength">Error! Minimum of 10 characters.</span>
            <span ng-if="lregForm.userName.$error.maxlength">Error! Maximum of 30 characters.</span>
          </div>
        </div>

        <div class="form-control">
          <label for="hometown">Home town:</label>
          <input type="text" name="hometown" placeholder="Home town?" disabled="true" />
        </div>

        <div class="form-control">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email"
            placeholder="Email: foo@bar.com"
            ng-model="lreg.email"
            required
            ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
          <div class="validation-error" role="alert"
            ng-show="lregForm.email.$dirty && lregForm.email.$invalid && !lregForm.email.$pristine">
            <span>Error! Email is a required field.</span>
          </div>
        </div>

        <div class="form-control">
          <label for="grossTonnage">Gross tonnage:</label>
          <input name="grossTonnage" id="grossTonnage"
            type="number"
            min="1" max="999999"
            ng-model="lreg.grossTonnage"
            required>
          <div class="validation-error" role="alert"
             ng-show="lregForm.grossTonnage.$dirty && lregForm.grossTonnage.$invalid && !lregForm.grossTonnage.$pristine">
             <span>Error: The gross tonnage is required</span>
             <span ng-show="lregForm.grossTonnage.$error.min">Error: The gross tonnage must be a number greater than 0</span>
             <span ng-show="lregForm.grossTonnage.$error.max">Error: The gross tonnage must be a number less than 999999</span>
             <span ng-if="lregForm.grossTonnage.$error.number">Error: The gross tonnage must be an actual number</span>
          </div>
        </div>

        <fieldset class="form-control" style="background-color:#333 !important;">
          <legend>This, is a legend</legend>
          <label class="white" for="unknown">This (special 'white' class labelled field) is required:</label>
          <input type="text" name="special" id="special"
            ng-model="lreg.special"
            required>
          <div class="validation-error" role="alert"
            ng-show="lregForm.special.$dirty && !lregForm.special.$pristine && lregForm.special.$invalid">
            <span class="light" ng-show="lregForm.special.$error.required">Error: This field is required</span>
          </div>
          <label for="explain">Explanation:</label>
          <textarea name="explanation">This is a textarea.</textarea>
        </fieldset>

        <div class="form-control grid-block">
          <div class="grid-content small-12">
            <label for="tel">Your telephone number (0xxxx-xxx-xxx):</label>
            <input type="tel" name="tel" id="tel"
              ng-minlength="10" ng-maxlength="13"
              placeholder="Telephone number"
              ng-model="lreg.tel" title="Telephone numbers only please."
              required>
            <div class="validation-error" role="alert"
              ng-show="lregForm.tel.$dirty && lregForm.tel.$invalid && !lregForm.tel.$pristine">
              <span>Error! Telephone number required.</span>
              <span ng-show="lregForm.tel.$error.minlength">Error! Minimum of 10 numbers.</span>
              <span ng-show="lregForm.tel.$error.maxlength">Error! Maximum of 13 numbers.</span>
              <span ng-show="lregForm.tel.$error.number">Error! Invalid telephone number.</span>
            </div>
          </div>

          <div class="radio grid-content small-2">
            <div>
              <input id="radio_yes" type="radio"
                name="yes_or_no" value="yes"
                ng-model="lreg.yes_or_no"
                required role="radio">
              <label for="radio_yes">Yes</label>
            </div>
            <div>
              <input id="radio_no" type="radio"
                name="yes_or_no" value="no"
                ng-model="lreg.yes_or_no"
                required role="radio">
              <label for="radio_no">No</label>
            </div>
            <div class="validation-error" role="alert"
              ng-show="lregForm.yes_or_no.$error.required && !lregForm.yes_or_no.$pristine">
              <span ng-show="lregForm.yes_or_no.$error || (lRegForm.yes_or_no.$pristine && lregForm.$submitted)">Error! Radio 'Yes' or 'No' is required.</span>
            </div>
          </div>

          <div class="radio horizontal grid-content small-3">
            <div>
              <input id="radio2_yes" type="radio"
                name="radio2" value="yes"
                ng-model="lreg.radio2"
                required role="radio">
              <label for="radio2_yes">Asset note</label>
            </div>
            <div>
              <input id="radio2_no" type="radio"
                name="radio2" value="no"
                ng-model="lreg.radio2"
                required role="radio">
              <label for="radio2_no">Old Asset Note</label>
            </div>
            <div class="validation-error" role="alert"
              ng-show="(lregForm.radio2.$error.required && !lregForm.radio2.$pristine) || (lregForm.$submitted && $lregForm.radio2.$invalid)">
              <span ng-show="lregForm.radio2.$error || (lRegForm.radio2.$pristine && lregForm.$submitted)">Error! Radio 'Yes' or 'No' is required.</span>
            </div>
          </div>

          <div class="radio horizontal grid-content small-3">
            <div>
              <input id="radio3_yes" type="radio"
                name="radio3" value="yes"
                ng-model="lreg.radio3" role="radio"
                required disabled="true">
              <label for="radio3_yes">Actionable Item</label>
            </div>
            <div>
              <input id="radio3_no" type="radio"
                name="radio3" value="no"
                ng-model="lreg.radio3" role="radio"
                required disabled="true">
              <label for="radio3_no">Inactionable Item</label>
            </div>
            <div class="validation-error" role="alert"
              ng-show="(lregForm.radio3.$error.required && !lregForm.radio3.$pristine) || (lregForm.$submitted && $lregForm.radio3.$invalid)">
              <span ng-show="lregForm.radio3.$error || (lRegForm.radio3.$pristine && lregForm.$submitted)">Error! Radio 'Yes' or 'No' is required.</span>
            </div>
          </div>
        </div>

        <fieldset class="form-control">
          <legend>Checkbox Test</legend>
          <div class="checkbox">
            <div>
              <input
                type="checkbox" id="check1"
                name="checkset1" value="yes"
                ng-model="lreg.checkset1"
                required role="checkbox">
              <label for="check1">Checkbox [yes]</label>
            </div>
            <div class="validation-error" role="alert"
              ng-show="lregForm.checkset1.$dirty && lregForm.checkset1.$invalid">
              <span>Error! Checkbox 'Yes' is required.</span>
            </div>
            <div>
              <input
                type="checkbox" id="check2"
                name="checkset2" value="no"
                ng-model="lreg.checkset2"
                required role="checkbox">
              <label for="check2">Checkbox [no]</label>
            </div>
            <div class="validation-error" role="alert"
              ng-show="lregForm.checkset2.$dirty && lregForm.checkset2.$invalid">
              <span>Validation Error! Checkbox 'No' is required.</span>
            </div>
          </div>

          <p>Some text here as a spacer.</p>

          <div class="checkbox horizontal">
            <div>
              <input type="checkbox"
                id="check3" name="check"
                value="yes" role="checkbox">
              <label for="check3">Checkbox2 [yes]</label>
            </div>
            <div>
              <input type="checkbox"
                id="check4" name="check"
                value="no" role="checkbox">
              <label for="check4">Checkbox2 [no]</label>
            </div>
          </div>

          <p>Some more text here as a spacer, disabled checkboxes below!</p>

          <div class="checkbox horizontal">
            <div>
              <input
                type="checkbox" id="check5"
                name="foo" value="yes"
                disabled="true" role="checkbox">
              <label for="check5">Checkbox3 [yes]</label>
            </div>
            <div>
              <input
                type="checkbox" id="check6"
                name="foo" value="no"
                disabled="true" role="checkbox">
              <label for="check6">Checkbox3 [no]</label>
            </div>
          </div>
        </fieldset>

        <div class="form-control">
          <input type="submit" value="Submit Form" data-ng-disabled="lregForm.$pristine || lregForm.$invalid"/>
          <input type="reset" value="Reset Form" data-ng-click="lregForm.$setPristine(true); vm.reset()" />
        </div>
      </ng-form>
    </div>
  </div>

  <!--
    Dynamic input test
  //-->
  <div class="grid-content small-12">
    <fieldset>
      <legend>Dynamic Input test</legend>
      <div data-ng-repeat="di in vm.dynamicInputData">
        <dynamic-input
          ng-model="di.model"
          type="di.type"
          label="{{di.label}}"
          input-id="dynamic-input-{{$index}}"
          dropdown-display-property="'text'"
          dropdown-options="di.dropdownOptions">
        </dynamic-input>
        <p>Value: {{di.model}}</p>
      </div>
    </fieldset>
  </div>
  <div data-sticky-footer>
    <div class="text-right">
      <span class="transparent-button-white" data-ng-click="vm.modalTest()">Discard</span>
      <span class="primary-button" data-ng-click="vm.modalTest()">Show me a modal</span>
    </div>
  </div>
</div>
