<!-- Task -->
<script
  type="text/ng-template"
  id="task.html">
  <div
    data-ng-if="!node.uncrediting"
    data-ng-class="{'edit-mode': node.editMode}"
    data-ng-include="'app/components/crediting-hierarchy/partials/view/task-main.html'"
    class="outer-div task"
    id="hierarchy-node-{{node.id}}">
  </div>
  <div
    data-ng-if="node.uncrediting"
    class="node-cascade grid-block align-justify"
    data-ng-include="'app/components/crediting-hierarchy/partials/edit/confirm-uncredit.html'"
    class="outer-div"
    id="hierarchy-node-{{node.id}}-confirm-uncredit">
  </div>
</script>

<!-- Item -->
<script
  type="text/ng-template"
  id="item.html">
  <div
    data-ng-if="!node.cascading"
    data-ng-class="{'has-items': node.items.length || node.tasks.length}"
    data-ng-include="'app/components/crediting-hierarchy/partials/view/item-main.html'"
    class="outer-div"
    id="hierarchy-node-{{node.id}}">
  </div>
  <div
    data-ng-if="node.cascading"
    class="node-cascade grid-block align-justify"
    data-ng-include="'app/components/crediting-hierarchy/partials/edit/item-cascade.html'"
    class="outer-div"
    id="hierarchy-node-{{node.id}}-cascade">
  </div>

  <div
    data-ng-if="node.expanded"
    class="outer-div">
    <ol data-ng-if="node.tasks">
      <li
        data-ng-class="{'is-expanded': node.expanded, 'last-expanded': node.lastExpandedItem, 'only-child':$first && $last}"
        data-ng-repeat="node in node.tasks track by node.id"
        data-ng-include="'task.html'"></li>
    </ol>
  </div>
  <div
    data-ng-if="node.expanded"
    class="outer-div">
    <ol data-ng-if="node.items">
      <li
        data-ng-class="{'is-expanded': node.expanded, 'last-expanded': node.lastExpandedItem, 'only-child':$first && $last}"
        data-ng-repeat="node in node.items track by node.id"
        data-ng-include="'item.html'"></li>
    </ol>
  </div>
</script>

<!-- Survey -->
<section class="crediting-hierarchy">
  <ul>
    <li
      data-ng-repeat="survey in vm.surveys track by survey.id"
      data-ng-class="{
        'is-expanded': survey.expanded,
        'none-expanded': vm.noChildItemsExpanded(survey)}">

      <div
        data-ng-if="!survey.cascading && !survey.uncrediting"
        data-ng-class="{
          'is-child-selected': survey.childSelected,
          'has-items': survey.crediting.items.length,
          'edit-mode': survey.editMode}"
        data-ng-include="'app/components/crediting-hierarchy/partials/view/survey-main.html'"
        class="outer-div"
        id="hierarchy-node-{{survey.id}}">
      </div>
      <div
        data-ng-if="survey.cascading && !survey.uncrediting"
        class="node-cascade grid-block align-justify"
        data-ng-include="'app/components/crediting-hierarchy/partials/edit/survey-cascade.html'"
        class="outer-div"
        id="hierarchy-node-{{survey.id}}-cascade">
      </div>
      <div
        data-ng-if="survey.uncrediting"
        class="node-cascade grid-block align-justify"
        data-ng-include="'app/components/crediting-hierarchy/partials/edit/confirm-uncredit.html'"
        class="outer-div"
        id="hierarchy-node-{{survey.id}}-confirm-uncredit">
      </div>

      <div
        data-ng-if="survey.expanded"
        class="outer-div">
        <ol>
          <li
            data-ng-class="{'is-expanded': node.expanded, 'last-expanded': node.lastExpandedItem, 'only-child':$first && $last}"
            data-ng-repeat="node in survey.crediting.items | orderBy: 'displayOrder' track by node.id"
            data-ng-include="'item.html'"></li>
        </ol>
      </div>
    </li>
  </ul>
</section>
