<div class="grid-block application-logo-container">
  <div
    data-ng-class="{'light': !vm.asset, 'dark': vm.asset}"
    class="mast-icon">
    <div class="corner corner-right"></div>
    <span>
      <a
        data-ng-click="vm.home()"
        title="Back to home"
        class="white"
        id="logo-asset-header-logo">
        M
      </a>
    </span>
  </div>
  <div class="mast-text">
    <a
      data-ng-click="vm.home()"
      title="Back to home"
      class="white"
      id="logo-asset-header-logo-text">
      MAST
    </a>
  </div>
</div>

<div
  data-ng-if="vm.asset"
  class="application-job-container grid-block"
  id="logo-asset-header-asset-container">
  <div class="grid-content small-5">
    <img
      data-asset-image="vm.asset.assetType"
      alt="outline image of asset type"
      class="asset-class"
      id="logo-asset-header-asset-image" />
  </div>
  <div class="grid-content small-7">
    <div class="grid-block">
      <div class="asset-text">
        <a
          data-ng-bind="vm.asset.name | ellipsise: 9"
          data-ui-sref="asset.assetModel.view({ assetId: vm.asset.id })"
          data-ng-disabled="OFFLINE"
          class="white"
          id="logo-asset-header-asset-name" ></a>
        <img
          data-ng-if="!vm.subheaderOpen && vm.enabled"
          data-ng-click="vm.subheaderOpen = true"
          src="${require('content/images/sprites/icons-small.png')}"
          alt="Open asset subheader"
          class="icon-small-plus float-right actionable"
          id="logo-asset-header-toggle-subheader" />
        <img
          data-ng-if="vm.subheaderOpen && vm.enabled"
          data-ng-click="vm.subheaderOpen = false"
          src="${require('content/images/sprites/icons-small.png')}"
          alt="Close asset subheader"
          class="icon-small-minus float-right actionable"
          id="logo-asset-header-toggle-subheader" />
      </div>
    </div>
  </div>
</div>
