<div class="grid-block">
  <div class="grid-content title">
    <div>Select assets to apply <strong data-ng-bind="vm.batch.title"></strong> to.</div>
  </div>
</div>

<pagination
  data-ng-if="!vm.filterOpen"
  data-pageable="vm.allAssets"
  data-type="'assets'">
  <pagination-header-left
    class="filter-assets">
    <span
      data-ng-click="vm.filterOpen = !vm.filterOpen"
      aria-label="Toggle search filter"
      class="secondary-button icon-button"
      id="dashboard-asset-search-filter-toggle">
      <span>Search / Filter assets</span>
      <img
        data-ng-show="vm.filterActive"
        src="${require('content/images/sprites/icons-small.png')}"
        alt="Asset search filter active"
        title="Asset search filter active"
        class="icon-small-check"
        id="dashboard-asset-search-filter-active" />
    </span>
  </pagination-header-left>
  <pagination-header-mid>
    <button
      class="secondary-button full-button icon-button"
      data-ng-if="vm.selected.total < vm.allAssets.length"
      data-ng-click="vm.selectAll()">
      <i class="svg-icon-Plus"></i>
      Add all ({{vm.totalElements - vm.selected.total}})
    </button>
  </pagination-header-mid>
  <pagination-header-right>
    <sort-by
      data-sortable="vm.allAssets"
      data-sort-options="{
        name: { title: 'Asset name', asc: 'A-Z', desc: 'Z-A' },
        buildDate: { title: 'Build date' }
      }"
      data-sort-order="vm.sortOrder"
      data-on-update="vm.reload()">
    </sort-by>
  </pagination-header-right>
  <div
    class="grid-block">
    <div
      data-ng-repeat="asset in vm.allAssets"
      class="small-4 medium-4 large-3 asset-card-container nonselected-asset-card-container">
      <asset-card
        data-asset="asset"
        data-expanded="false"
        id="batch-actions-asset-{{::asset.id}}-card">
        <asset-card-cta
          data-ng-if="vm.isSelected(asset)"
          class="grid-block btn-container small-2-up">
          <div
            class="grid-content">
            <a
              class="secondary-button icon-button">
              <i class="svg-icon-Tick"></i>
              <span>Added to selection</span>
            </a>
          </div>
        </asset-card-cta>
        <asset-card-cta
          data-ng-if="!vm.isSelected(asset)"
          class="grid-block btn-container small-2-up">
          <div
            class="grid-content">
            <a
              class="grey-button icon-button"
              data-ng-click="vm.select(asset)">
              <i
                class="svg-icon-Plus"></i>
              <span>Add</span>
            </a>
          </div>
        </asset-card-cta>
      </asset-card>
    </div>
  </div>
</pagination>
<div
  data-ng-if="vm.filterOpen"
  class="grid-content small-12 filter-assets">
  <span
    data-ng-click="vm.filterOpen = !vm.filterOpen"
    aria-label="Toggle search filter"
    class="transparent-dark-button white-button-arrowed"
    id="batch-action-asset-search-filter-toggle">
    <span>Search / Filter assets</span>
  </span>
  <div class="small-8 grid-content"></div>
  <div
    class="small-12 grid-block row">
    <div
      class="small-10 small-offset-1 columns">
      <asset-search
        data-ng-model="vm.assetFilter"
        data-ng-change="vm.updateList(vm.assetFilter)"
        data-default-model="vm.assetFilterDefault"
        id="batch-action-asset-search-filter-container"></asset-search>
    </div>
  </div>
</div>
<div
  data-ng-if="vm.filteredAndZeroAssets"
  class="grid-block">
  <div
    class="grid-content small-12">
    <span
      data-ng-click="vm.filterOpen = !vm.filterOpen"
      aria-label="Toggle search filter"
      class="secondary-button icon-button"
      id="dashboard-asset-search-filter-toggle">
      <span>Search / Filter assets</span>
      <img
        data-ng-show="vm.filterActive"
        src="${require('content/images/sprites/icons-small.png')}"
        alt="Asset search filter active"
        title="Asset search filter active"
        class="icon-small-check"
        id="dashboard-asset-search-filter-active" />
    </span>
  </div>
  <div
    class="grid-content small-12">
    <p>
      <strong>No results found.</strong> Please try searching again.
    </p>
  </div>
</div>
