<section>
  <div class="grid-block">
    <div class="grid-content small-2">
      <span>I want to add</span>
    </div>
    <div class="grid-content small-5 radio">
      <div>
        <input
          id="batch-action-type-asset-notes"
          type="radio"
          role="radio"
          required
          name="batchActionType"
          value="assetNote"
          data-ng-change="vm.change()"
          data-ng-model="vm.type" />
        <label for="batch-action-type-asset-notes">Asset note</label>
      </div>
    </div>
    <div class="grid-content small-5 radio">
      <div>
        <input
          id="batch-action-type-actionable-items"
          type="radio"
          role="radio"
          required
          name="batchActionType"
          value="actionableItem"
          data-ng-change="vm.change()"
          data-ng-model="vm.type" />
        <label for="batch-action-type-actionable-items">Actionable item</label>
      </div>
    </div>
  </div>

</section>
