<div>
  <div
    class="grid-block selected-batch-actions-actions"
    data-ng-if="vm.selected.total">
    <div class="grid-content small-6">
      <button
        class="secondary-button"
        name="selectedCasesCounter"
        id="selected-cases-counter">
        {{vm.selected.total}} selected
        {{'assets' | singularise: vm.selected.total }}
      </button>
    </div>
    <div class="grid-content small-6 text-right">
      <button
        class="primary-button icon-button"
        name="batch-actions-selected-content-remove"
        id="batch-actions-selected-content-remove"
        data-ng-click="vm.deselectAll()">
        <i class="svg-icon-Close"></i>
        <span>Remove all</span>
      </button>
    </div>
  </div>

  <div class="grid-block">
    <div
      data-ng-repeat="asset in visible = (vm.selected.list | limitTo : vm.selected.perPage * vm.selected.page)"
      class="small-4 medium-4 large-3 asset-card-container selected-asset-card-container">
      <asset-card
        data-display-type="'selected'"
        data-asset="asset"
        data-expanded="false"
        id="batch-actions-asset-{{::asset.id}}-card">
        <asset-card-cta
          class="grid-block btn-container selected small-2-up">
          <div class="grid-content">
            <a
              class="secondary-button icon-button"
              data-ng-click="vm.deselect(asset)">
              <i class="svg-icon-Delete"></i>
              <span>Remove from selection</span>
            </a>
          </div>
        </asset-card-cta>
      </asset-card>
    </div>
  </div>

  <div
    data-ng-if="vm.selected.total"
    class="grid-block">
    <div class="grid-content text-center asset-count">
      <p>
        Showing <strong>{{visible.length}}</strong> of
        <strong>{{vm.selected.total}}</strong> assets
      </p>
      <div data-ng-if="vm.selected.total > visible.length">
        <button data-ng-click="vm.selected.page = vm.selected.page + 1" class="button">
          Load more
        </button>
      </div>
    </div>
  </div>

</div>
