<div
  class="asset-details asset-subheader grid-block horizontal"
  id="asset-subheader-container">
  <div class="grid-block small-2 vertical">
    <div class="grid-content">
      <img
        data-asset-image="vm.asset.assetType"
        alt="outline image of asset type"
        class="asset-class"
        id="asset-subheader-asset-image"/>
    </div>
    <div class="grid-content">
      <h2
        data-ng-bind="vm.asset.name | ellipsise: 10"
        title="{{vm.asset.name}}"
        id="asset-subheader-asset-name-abbreviated"></h2>
    </div>
  </div>
  <div class="grid-block small-6">
    <div class="grid-block bottom details">
      <div class="grid-block vertical">
        <div
          data-ng-if="vm.asset.ihsAsset.id"
          class="grid-block">
          <div class="grid-block small-5">
            IMO number:
          </div>
          <div class="grid-block small-7">
            <strong data-ng-bind="vm.asset.ihsAsset.id"></strong>
          </div>
        </div>
        <div
          data-ng-if="vm.asset.assetType"
          class="grid-block">
          <div class="grid-block small-5">
            Asset type:
          </div>
          <div class="grid-block small-7">
            <strong data-ng-bind="vm.asset.assetType.name | ellipsise : 18"></strong>
          </div>
        </div>
        <div
          data-ng-if="vm.asset.buildDate"
          class="grid-block">
          <div class="grid-block small-5">
            Date of build:
          </div>
          <div class="grid-block small-7">
            <strong data-ng-bind="vm.asset.buildDate | date:'dd MMM yyyy'"></strong>
          </div>
        </div>
      </div>
      <div class="grid-block vertical">
        <div
          data-ng-if="vm.asset.grossTonnage"
          class="grid-block">
          <div class="grid-block small-4">
            GRT:
          </div>
          <div class="grid-block small-8">
            <strong data-ng-bind="vm.asset.grossTonnage"></strong>
          </div>
        </div>
        <div
          data-ng-if="vm.asset.flagState.name"
          class="grid-block">
          <div class="grid-block small-4">
            Flag:
          </div>
          <div class="grid-block small-8">
            <strong data-ng-bind="vm.asset.flagState.name"></strong>
          </div>
        </div>
        <div
          data-ng-if="vm.asset.classStatus"
          class="grid-block">
          <div class="grid-block small-4">
            Class status:
          </div>
          <div class="grid-block small-8">
            <strong data-ng-bind="vm.asset.classStatus.name"></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-block small-4">
    <div class="grid-block bottom align-right">
      <div class="grid-content text-right">
        <button
          data-ui-sref="asset.details({ assetId: vm.asset.id })"
          data-ui-sref-opts="{reload: true}"
          class="transparent-dark-button">
          View more
        </button>
      </div>
      <div class="grid-content attachments">
        <attachments-and-notes
          modal-title="vm.asset.name"
          path="vm.attachmentPath"
          attachments="vm.attachments"
          class="actionable">
          <attachments-icon dark="true"></attachments-icon>
        </attachments-and-notes>
      </div>
    </div>
  </div>
</div>
