<full-screen-modal>
  <modal-header>
    <h2>Some Fancy Header</h2>
    <a zf-close="" class="close-button">×</a>
  </modal-header>

  <modal-body>
    <p class="white">This is some really important text.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet
      turpis sodales, molestie ipsum eu, tincidunt libero. Curabitur molestie
      urus libero, condimentum aliquam lorem condimentum id.</p>
    <p>Vestibulum pharetra ullamcorper ante, sit amet egestas elit. Aenean id
      rhoncus mauris. Morbi est turpis, elementum eget ligula non, molestie
      tristique nulla. Nam non gravida libero.</p>
    <p>Nam porta dolor et lacinia aliquam. Curabitur tempor pharetra odio, ac
      eleifend lectus dapibus eget. Donec at viverra sapien. Nam vel tempor neque.
      Phasellus imperdiet cursus accumsan. Nunc quis velit et enim sagittis
      cursus. Pellentesque tempor nunc non tortor posuere sollicitudin.
      Cras commodo ante tellus, nec vulputate tortor viverra eget.
      Suspendisse commodo justo rutrum, imperdiet quam eget, lacinia odio.
      Aenean volutpat tellus ut quam luctus viverra.</p>

    <button class="white-button">Button 1 (real 'button')</button>

    <a class="white-button">Button 2 (link 'button')</a>

    <button class="primary-button">Primary Button (3)</button>

    <a class="secondary-button">Button 4 ('secondary')</a>
  </modal-body>

  <modal-footer>
    <h5>This is a footer. Hear me roar.</h5>
  </modal-footer>
<full-screen-modal>
