<div class="case-banner-container background-inspection">
<div class="grid-block header">
  <div class="grid-block small-1">
    <div
      data-ng-show="!vm.collapsible"
      data-back-button
      data-ui-sref="asset.cases.list"
      data-ui-sref-opts="{reload: true}"
      id="view-case-back-button"
      title="Back to Cases">
    </div>
  </div>
  <div class="grid-block vertical small-11">
    <div class="grid-block">
      <div class="case-id grid-content small-6">
        <h2>Case ID: <strong>{{ vm.case.id | zeropad: 8}}</strong></h2>
        <h5 data-ng-bind="vm.caseStatusName()"></h5>
      </div>
      <div class="grid-block small-1">
        <attachments-and-notes
          modal-title="vm.asset.name"
          path="vm.attachmentPath"
          attachments="vm.attachments"
          class="actionable">
          <attachments-icon dark="true"></attachments-icon>
        </attachments-and-notes>
      </div>
      <div class="grid-block small-5 align-right btn-container">
        <button
          data-ng-repeat="button in vm.availableActions"
          data-ng-click="button.fn()"
          data-ng-bind="button.label"
          class="transparent-dark-button"></button>
      </div>
    </div>

    <div class="grid-block case-summary">
      <div class="grid-content small-3">
        <div>Case type: <strong data-ng-bind="vm.caseStatusType()"></strong></div>
        <div>Case SDO: <strong data-ng-bind="vm.caseOffice('jobSdo')"></strong>
        </div>
      </div>
      <div class="grid-content small-3">
        <div>
          Case owner:
          <strong data-ng-bind="vm.caseSurveyor('management')"></strong>
        </div>
        <div>
          Case admin:
          <strong data-ng-bind="vm.caseSurveyor('eicAdmin')"></strong>
        </div>
      </div>
      <div class="grid-content small-3">
        <div>
          CFO: <strong data-ng-bind="vm.caseOffice('cfo')"></strong>
        </div>
        <div>
          Contract holder:
          <strong data-ng-bind="vm.caseSurveyor('salesCRM')"></strong>
        </div>
      </div>
    </div>
  </div>
</div>
  <div data-ng-show="!vm.collapsible"
       class="grid-content small-12 case-tabs" >
    <div class="tabs">
      <div
        data-ui-sref-active="is-active"
        class="grid-content tab-item">
        <a
          data-ui-sref="asset.cases.view.details"
          id="asset-cases-view-details">
          Case details
        </a>
      </div>
      <div
        data-ui-sref-active="is-active"
        class="grid-content tab-item">
        <a
          data-ui-sref="asset.cases.view.milestones"
          id="asset-cases-view-milestones">
          Milestones
        </a>
      </div>
      <div
        data-ui-sref-active="is-active"
        class="grid-content tab-item">
        <a
          data-ui-sref="asset.cases.view.jobs"
          id="asset-cases-view-jobs">
          Jobs
        </a>
      </div>
    </div>
  </div>
</div>
<div class="grid-block small-12 case-status-reason" data-ng-if="vm.isCancelled">
  <div class="grid-content">
    <strong>Reason for cancelling:</strong>
    <span data-ng-bind="vm.case.statusReason | ellipsise: 150"></span>
  </div>
</div>
