<small-modal
  class="white text-center"
  id="modal-discard-changes"
  title="'Cannot close case'">
  <modal-body>
    <p>The case is unable to be closed because there exists case details which have not been fully defined.</p>
    <p>Please update case details to resolve this issue.</p>
  </modal-body>
  <modal-footer>
    <button
      class="primary-button"
      data-ng-click="$close(true)">OK</button>
  </modal-footer>
</small-modal>
