<div data-ng-switch="vm.itemType">

  <!-- If it's a COC -->
  <div
    data-ng-switch-when="coc"
    class="grid-block codicil-info">
    <!-- Title and ID -->
    <div class="grid-content small-3">
      <span class="dark-blue codicil-title">
        {{ vm.item.title || 'No Title' | ellipsise: 18 }}
        <small data-ng-bind="vm.item.id | zeropad: 5"></small>
      </span>
    </div>
    <!-- Items -->
    <div class="grid-content vertical small-2">
      <ul class="list-unstyled no-margin codicil-content">
        <li data-ng-if="vm.item.repairs.length">
          {{vm.item.repairs.length}} repair
          <span data-ng-if="vm.item.repairs.length != 1">s</span>
        </li>
        <li data-ng-if="vm.item.defect">{{vm.item.defect.defectCategory.name}}</li>
        <li data-ng-if="vm.item.defect">Defect {{vm.item.defect.id | zeropad: 5}}</li>
      </ul>
    </div>
    <!--Prompt & Through-->
    <div class="grid-content small-2 codicil-content">
      <span data-ng-if="vm.isPromptThorough">P&amp;T</span>
    </div>
    <!-- Dates -->
    <div class="grid-content small-3">
      <ul class="list-unstyled no-margin codicil-dates">
        <li>Imposed date: <strong data-ng-bind="vm.imposedDate"></strong></li>
        <li>Due date: <strong data-ng-bind="vm.dueDate"></strong></li>
      </ul>
    </div>
    <!-- Status -->
    <div class="grid-content small-1 codicil-content push-top">
      <span data-ng-bind="vm.getCodicilStatus(item.status.id)"></span>
    </div>
    <!-- View CoC button -->
    <div class="grid-content end">
      <a
        data-ng-click="vm.viewCodicil(vm.item, vm.itemType)"
        class="float-right view-codicil">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
      </a>
    </div>
  </div>

  <!-- If it's an Actionable Item -->
  <div data-ng-switch-when="actionable-item" class="grid-block codicil-info">
    <!-- Title and ID -->
    <div class="grid-content small-3">
      <span class="dark-blue codicil-title">
        {{ vm.item.title || 'No Title'  | ellipsise: 18 }}
        <small data-ng-bind="vm.item.id | zeropad: 5"></small>
      </span>
    </div>
    <!-- Category & defect -->
    <div class="grid-content small-2 codicil-content">
      <ul class="list-unstyled no-margin codicil-content">
        <li data-ng-bind="vm.item.category.name"></li>
        <li data-ng-if="vm.item.defect">Defect {{vm.item.defect.id | zeropad: 5}}</li>
      </ul>
    </div>
    <!-- Items -->
    <div class="grid-content small-2 codicil-item-name">
      <span
        data-ng-bind="vm.item.assetItem.name || vm.item.asset.name | ellipsise: 20"
        class="codicil-content">
      </span>
    </div>
    <!-- Dates -->
    <div class="grid-content small-3">
      <ul class="list-unstyled no-margin codicil-dates">
        <li>Imposed date: <strong data-ng-bind="vm.item.imposedDate | moment"></strong></li>
        <li>Due date: <strong data-ng-bind="vm.item.dueDate | moment"></strong></li>
      </ul>
    </div>

    <!-- Status -->
    <div class="grid-content small-1 codicil-content push-top">
      <span data-ng-bind="vm.item.status.name"></span>
    </div>
    <!-- View Actionable Item button -->
    <div class="grid-content end">
      <a
        data-ng-click="vm.viewCodicil(vm.item, vm.itemType)"
        class="float-right view-codicil">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
      </a>
    </div>
  </div>

  <!-- If it's an Asset Note -->
  <div data-ng-switch-when="asset-note" class="grid-block codicil-info">
    <!-- Title and ID -->
    <div class="grid-content small-3">
      <span class="dark-blue codicil-title">
        {{ vm.item.title || 'No Title' | ellipsise: 18 }}
        <small data-ng-bind="vm.item.id | zeropad: 5"></small>
      </span>
    </div>
    <!-- Category -->
    <div class="grid-content small-2 codicil-content">
      <span data-ng-bind="vm.item.category.name"></span>
    </div>
    <!-- Items -->
    <div class="grid-content small-2 codicil-item-name">
      <span data-ng-bind="vm.item.assetItem.name || vm.item.asset.name | ellipsise: 20"></span>
    </div>
    <!-- Dates -->
    <div class="grid-content small-3">
      <ul class="list-unstyled no-margin codicil-dates">
        <li>Imposed date: <strong data-ng-bind="vm.item.imposedDate | moment"></strong></li>
      </ul>
    </div>
    <!-- Status -->
    <div class="grid-content small-1 codicil-content">
      <span
        data-ng-bind="vm.item.status.name"
        class="codicil-content">
      </span>
    </div>
    <!-- View CoC button -->
    <div class="grid-content end">
      <a
        data-ng-click="vm.viewCodicil(vm.item)"
        class="float-right view-codicil">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
      </a>
    </div>
  </div>

  <!-- If it's a Defect -->
  <div data-ng-switch-when="defect" class="grid-block codicil-info">
    <!-- Title and ID -->
    <div class="grid-content small-3">
      <span class="dark-blue codicil-title">
        {{ vm.item.title || 'No Title' | ellipsise: 18 }}
        <small data-ng-bind="vm.item.id | zeropad: 5"></small>
      </span>
    </div>
    <!-- Category -->
    <div class="grid-content small-2 codicil-content">
      <span data-ng-bind="vm.item.defectCategory.name"></span>
    </div>
    <!-- Items -->
    <div class="grid-content small-2 codicil-content">
      <div data-ng-repeat="item in vm.itemSubset">
        <div data-ng-bind="item.item.name | ellipsise: 20"></div>
      </div>
      <div data-ng-if="vm.item.items.length > 2">
        and <span data-ng-bind="vm.item.items.length - 2"></span> more
      </div>
    </div>
    <!-- Courses of Action Total and Repairs Total -->
    <div class="grid-content small-3">
      <ul
        data-ng-if="vm.item.courseOfActionCount"
        class="list-unstyled no-margin codicil-dates">
          <li>Courses of Action: <strong data-ng-bind="vm.item.courseOfActionCount"></strong></li>
          <li data-ng-if="vm.item.repairCount">
            <strong>(<span data-ng-bind="vm.item.repairCount"></span> repairs)</strong>
          </li>
      </ul>
    </div>
    <!-- Status -->
    <div class="grid-content small-1 codicil-content push-top">
      <div>
        <strong data-ng-bind="vm.item.defectStatus.name"></strong>
      </div>
    </div>
    <!-- View Defect button -->
    <div class="grid-content end">
      <a
        data-ng-click="vm.viewCodicil(vm.item)"
        class="float-right view-codicil">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
      </a>
    </div>
  </div>

  <!-- If it's a Repair -->
  <div
    data-ng-switch-when="repair"
    class="grid-block codicil-info">
    <!-- Title and ID -->
    <div class="grid-content small-4">
      <span class="dark-blue codicil-title" title="{{ vm.item.allRepairTypes }}">
        {{ vm.item.allRepairTypes | ellipsise: 32 }}
        <small data-ng-bind="vm.item.id | zeropad: 5"></small>
      </span>
  </div>

  <!-- Repair Items -->
  <div class="grid-content small-3 codicil-content">
    <div data-ng-repeat="repairItem in vm.item.repairs">
      <div data-ng-bind="repairItem.item.item.name"></div>
    </div>
    <div data-ng-if="repairItem.items.length > 2">
      (<span data-ng-bind="vm.item.repairs.length"></span>)
    </div>
  </div>

    <!-- Date Added -->
    <div class="grid-content small-2 codicil-content">
      <div>Date added:</div>
      <div>
        <span data-ng-bind="vm.item.updatedDate | moment: '-'"></span>
      </div>
    </div>
    <!-- Repair Action -->
    <div class="grid-content small-2 codicil-content">
      <div>
        <strong data-ng-bind="vm.item.repairAction.name | capitalise"></strong>
      </div>
    </div>
    <!-- View Repair button -->
    <div class="grid-content end">
      <a
        data-ng-click="vm.viewCodicil(vm.item)"
        class="float-right view-codicil">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
      </a>
    </div>
  </div>
</div>
