<div class="header-banner">
  <div
    data-back-button
    data-ng-click="data.back()"
    title="{{data.backString}}">
  </div>

  <div>
    <h2>
      {{data.config.title}}<span data-ng-show="data.obj.title">:</span>
      <strong data-ng-bind="data.obj.title"></strong>
    </h2>
    <div
      class="status"
      data-ng-if="data.obj.status.name"
      data-ng-bind="data.obj.status.name">
    </div>
    <div
      data-ng-if="data.obj.defect"
      class="white linked-defect">
      Related to Defect:
      <strong data-ng-bind="data.parentTitle"></strong>
    </div>
    <div
      data-ng-if="data.obj.codicil"
      class="white linked-defect">
      Related to {{ data.relatedType }}:
      <strong data-ng-bind="data.parentTitle"></strong>
    </div>
  </div>

  <div class="buttons">
    <button
      data-ng-repeat="action in data.actions"
      data-ng-disabled="action.disabled"
      data-ng-bind="action.name"
      data-ng-click="action.func()"
      class="transparent-dark-button"
      id="header-action-{{action.name | kebabise}}">
    </button>
  </div>
</div>
