<div class="build grid-block vertical">
  <!-- Header -->
  <div data-tpl="vm.header"></div>

  <section class="grid-block vertical content-body-no-padding footer-follows line">
    <ng-form name="vm.form">
      <!-- Content -->
      <div
        data-ng-repeat="item in ::vm.model.list track by $index"
        tpl="item">
      </div>

    </ng-form>
  </section>

</div>

<!-- Footer -->
<div tpl="vm.footer"></div>
