<div class="build grid-block vertical view-codicil">
  <div data-tpl="vm.header"></div>

  <section class="line">
    <div
      data-ng-repeat="item in vm.view.list track by $index"
      data-tpl="item">
    </div>
  </section>
</div>
