<div class="grid-block form-control">

  <div class="grid-content small-3">
    <span
      data-ng-bind="data.label"
      class="form-label"></span>
    <h5
      data-ng-if="!data.validate.required"
      class="form-label">
      <small><i>(Optional)</i></small>
    </h5>
  </div>
  <div class="grid-block vertical">
    <div class="grid-content date-picker">
      <input
        data-validate="data"
        data-ng-disabled="data.disabled"
        data-ng-model="data.value"
        auto-close="true"
        date-time
        min-date="data.validate.min"
        min-view="date"
        id="{{data.name}}"
        placeholder="DD MMM YYYY"
        view="date">
      <span
        sibling-id="{{data.name}}"
        date-picker-icon>
          ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
    </div>
    <div class="grid-content">
      <div data-error-msg="data"></div>
    </div>
  </div>
</div>
