<div class="grid-block form-control">
  <div class="grid-content small-3">
    <span
      data-ng-bind="data.label"
      class="form-label"></span>
    <h5
      class="form-label"
      data-ng-if="!data.validate.required">
        <small><i>(Optional)</i></small>
    </h5>
  </div>
  <div
    class="grid-content select-item"
    data-validate="data"
    data-ng-model="data.value">
    <search-asset-item search-data="data"></search-asset-item>
    <div data-error-msg="data"></div>
  </div>
</div>
