<div class="grid-block form-control">
  <div class="grid-content small-3">
    <span
      data-ng-bind="data.label"
      class="form-label"></span>
    <h5
      data-ng-if="!data.validate.required"
      class="form-label">
      <small><i>(Optional)</i></small>
    </h5>
  </div>
  <div class="grid-block vertical">
    <div class="grid-content">
      <ul
        class="button-group segmented"
        data-validate="data"
        data-ng-model="data.value">
        <li data-ng-repeat="item in data.list">
          <input
            id="{{data.name}}-{{item.id}}"
            type="radio"
            data-ng-value="item.id"
            data-ng-disabled="data.disabled || item.disabled"
            data-ng-model="data.value" />
          <label
            data-ng-bind="item.name"
            data-ng-disabled="data.disabled || item.disabled"
            for="{{data.name}}-{{item.id}}"></label>
        </li>
      </ul>
    </div>
    <div class="grid-content">
      <div data-error-msg="data"></div>
    </div>
  </div>
</div>
