<div class="grid-block form-control">
  <div class="grid-content small-3">
    <span
      data-ng-bind="data.label"
      class="form-label"></span>
    <h5
      data-ng-if="!data.validate.required"
      class="form-label">
      <small><i>(Optional)</i></small>
    </h5>
  </div>
  <div class="grid-content">
    <div data-select-template="data"></div>
  </div>
</div>
