<div class="grid-block form-control">
  <div class="grid-content small-3">
    <span
      data-ng-bind="data.label"
      class="form-label"></span>
  </div>
  <div class="grid-block">
    <select-checkbox
      data-ng-model="data.value"
      data-values="data.list"
      data-label-property="data.labelProperty"
      class="grid-block">
    </select-checkbox>
  </div>
</div>
