<div class="grid-block form-control">
  <div class="grid-content small-3">
    <span
      data-ng-bind="data.label"
      class="form-label"></span>
    <h5
      data-ng-if="!data.validate.required"
      class="form-label">
      <small><i>(Optional)</i></small>
    </h5>
  </div>
  <div class="grid-content">
    <select-modal
      data-ng-model="data.value"
      data-validate="data"
      data-values="data.list"
      data-label="data.label"
      data-multi="data.multi">
    </select-modal>
  </div>
</div>
