<div class="grid-block form-control">
  <div class="grid-content small-3">
    <span
      data-ng-bind="data.label"
      class="form-label"></span>
    <h5
      data-ng-if="!data.validate.required"
      class="form-label">
      <small><i>(Optional)</i></small>
    </h5>
  </div>
  <div class="grid-block vertical">
    <div class="grid-content">
      <textarea
        data-validate="data"
        data-ng-model="data.value"
        data-ng-disabled="data.disabled"
        data-spellcheck="true"
        rows="3"
        cols="12"
        placeholder="{{data.placeholder}}"
        class="fifty"
        id="{{data.name | kebabise}}">
      </textarea>
    </div>
    <div class="grid-content">
      <div data-error-msg="data"></div>
    </div>
  </div>
</div>
