<div class="batch-actions-management footer-follows">
  <div class="grid-content small-12">
    <div class="tabs">
      <div class="grid-content small-6 tab-item is-active">
        <a id="batch-action-define">
          <span class="tab-title">1</span> Define
        </a>
      </div>
      <div class="grid-content small-6 tab-item">
        <a
          data-ng-disabled="vm.form.$invalid"
          data-ng-click="vm.next()">
          <span class="tab-title">2</span> Apply
        </a>
      </div>
    </div>
  </div>

  <div
    class="grid-content small-12"
    data-ng-class="{preload: vm.loading}">
    <ng-form
      name="vm.form"
      class="batch-action-form">
      <div class="batch-actions-content batch-actions-content-define">
        <div>

          <div data-ng-include="'app/batch-actions/partials/define.html'"></div>

          <section>
            <div
              data-ng-repeat="item in vm.children.list"
              data-tpl="item">
            </div>
          </section>

        </div>
      </div>
    </ng-form>
  </div>
</div>

<div
  data-sticky-footer
  id="batch-action-footer"
  class="batch-action-footer">
  <div class="grid-block">
    <div class="grid-content small-3">
      <button
        class="transparent-dark-button"
        data-ng-click="vm.cancel()"
        id="add-case-cancel">
        Cancel
      </button>
    </div>

    <div class="grid-content small-6-up text-right">
      <button
        data-ng-disabled="vm.form.$invalid || vm.loading"
        data-ng-click="vm.next()"
        class="primary-button"
        name="batchActionNext"
        id="batch-action-next">
        {{vm.loading || 'Next'}}
      </button>
    </div>
  </div>
</div>
