<div
  data-ng-message="min"
  class="validation-light"
  id="validation-message-date-min">
  'Last visit date' must be after 'First visit date'
</div>
<div
  data-ng-message="dateFormat"
  class="validation-light"
  id="validation-message-date-format">
  Date format required: {{vm.dateFormat}}
</div>
<div
  data-ng-message="nonExistentDate"
  class="validation-light"
  id="validation-message-date-format">
  Please select a valid date
</div>
<div
  data-ng-message="required"
  class="validation-light"
  id="validation-message-date-required">
  This date is a required field
</div>
