<small-modal class="white text-center"
  id="modal-item-name-updated">
  <modal-header>
    <h1>Break link to template!</h1>
  </modal-header>

  <modal-body>
    <p>Breaking the link to the tempate will mean that you can edit
      <br/>the fixed content from template, but it will no longer be linked <br/>
      to the template.
    </p>
    <p>
      The fixed content for this template is the title, narrative,
      <br/>categories and seen by status. Other content is available
      <br/>to edit without breaking away.
    </p>
  </modal-body>
  <modal-footer>
    <button class="transparent-button-white"
      data-ng-click="$close(false)">Cancel
    </button>
    <button class="primary-button"
      data-ng-click="$close(true)">Break link
    </button>
  </modal-footer>
</small-modal>
