<div
  data-ng-show="!vm.data.value"
  class="grid-block">
  <div>
    <button
      data-ng-click="vm.selectTemplate()"
      type="button"
      class="transparent-light-button">
      Start from a template
    </button>
  </div>
</div>

<div
  data-ng-show="vm.data.value"
  class="grid-block">
  <div class="small-6">Template <strong data-ng-bind="vm.data.selected.title"></strong> selected</div>

  <div class="small-6">
    <button
      data-ng-click="vm.selectTemplate()"
      type="button"
      class="secondary-button">
      Change template
    </button>
  </div>
</div>

<div
  data-ng-show="vm.data.value"
  class="grid-block">
  <div class="small-6">
    <label
      for="breakLink"
      class="inline no-margin no-padding">Want to edit fixed content?</label>
  </div>

  <div class="small-6">
    <button
      data-ng-click="vm.breakLink()"
      type="button"
      class="grey-button">
      Break link to template
    </button>
  </div>
</div>


<!-- <div
  data-ng-show="vm.data.value"
  class="grid-block">

  <div class="grid-content change-template">
    <button
      class="secondary-button"
      data-ng-click="vm.selectTemplate()">
      Change template
    </button>
  </div>
  <div class="grid-content small-3 break-link">
    <label for="breakLink">Want to edit fixed content?</label>
  </div>
  <div class="grid-content small-3 break-link-button">
    <button
      class="grey-button"
      data-ng-click="vm.breakLink()">
      Break link to template
    </button>
  </div>
</div> -->
