<full-screen-modal class="white modal-item-search">
  <modal-header>
    <div class="grid-block">
      <div class="grid-content small-11">
        <h5>{{data.header}}</h5>
      </div>
      <div class="grid-content small-1">
        <a data-ng-click="$dismiss()"
          class="small-1 white close-button"
          id="close-button">&#10005;</a>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content small-12">
        <h2 class="small-11">{{data.title}}</h2>
      </div>
    </div>
  </modal-header>

  <modal-body>
    <ng-form class="template-search"
      name="vm.templateSearchForm">
      <!-- Title //-->
      <div class="grid-block">
        <div class="grid-block small-12">
          <label for="title-search"
            class="white text-left">Title</label>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-block small-12">
          <input type="text"
            autofocus
            id="title-search"
            data-ng-model="data.search.title">
        </div>
      </div>
      <!-- Item Type //-->
      <div class="grid-block">
        <div class="grid-block small-12">
          <label for="item-type-search"
            class="white text-left">Item Type</label>
        </div>
      </div>
      <div class="grid-content small-12 pad-2-left">
        <input type="text"
          placeholder="Start typing in an Item type"
          data-ng-model="data.search.itemType"
          data-typeahead="item as item.name for item in vm.getItemTypes($viewValue)"
          data-typeahead-editable="false"
          data-clearable='null'
          id="item-type-search" />
      </div>
      <!-- Status //-->
      <div class="grid-block">
        <div class="grid-block small-12">
          <label for="status"
            class="white text-left">
            Status</label>
        </div>
      </div>
      <div class="grid-block">
        <br>
        <div class="grid-block small-offset-5">
          <ul class="button-group segmented light">
            <li>
              <input type="radio"
                role="radio"
                name="status"
                id="status-live"
                data-ng-model="data.search.status"
                data-ng-value="1">
              <label for="status-live">Live</label>
            </li>
            <li>
              <input type="radio"
                role="radio"
                name="status"
                id="status-all"
                data-ng-model="data.search.status"
                data-ng-value="0">
              <label for="status-all">All</label>
            </li>
          </ul>
        </div>
        <div class="grid-block align-right">
          <button class="secondary-button"
            data-ng-disabled="data.loading || vm.templateSearchForm.$invalid"
            data-ng-click="vm.findTemplate()">
            {{data.loading || 'Find template'}}
          </button>
        </div>
      </div>

      <hr />

      <!-- Empty results on search //-->
      <div data-ng-show="data.list.length === 0"
        class="grid-block">
        <div class="grid-content">
          <h2>{{data.loading || 'No templates found for your search criteria. Please search again'}}</h2>
        </div>
      </div>

      <!-- Title on search results //-->
      <div data-ng-show="data.list.length"
        class="grid-block">
        <div class="grid-content">
          <h2>{{data.loading || 'Select a template'}}</h2>
        </div>
      </div>

      <!-- Results on search //-->
      <div class="grid-block small-12"
        data-ng-class="{preload: data.loading}"
        data-ng-show="data.list.length">

        <table class="template-search">
          <tr>
            <th class="name">Name</th>
            <th class="description">Description</th>
            <th class="status">Status</th>
            <th class="assets">Applied to assets</th>
          </tr>
          <tr class="template-search-row"
            data-ng-class="{selected: template == data.selected}"
            data-ng-repeat="template in data.list track by $index">
            <td class="name">
              <div class="radio">
                <div>
                  <input id="template-id-{{$index}}"
                    type="radio"
                    role="radio"
                    name="selectedTemplate"
                    data-ng-value="template"
                    data-ng-disabled="vm.isDisabled(template)"
                    data-ng-model="data.selected" />
                  <label class="white"
                    for="template-id-{{$index}}"
                    data-ng-disabled="vm.isDisabled(template)"
                    data-ng-bind="template.title"></label>
                </div>
              </div>
            </td>
            <td class="description text-left">
              <p class="description"
                data-ng-bind="template.description | ellipsise: 150"></p>
            </td>
            <td class="status text-center">
              <span data-ng-bind="template.templateStatus.name"></span>
            </td>
            <td class="assets text-center">
              <span data-ng-bind="template.count"></span>
            </td>
          </tr>
        </table>
      </div>
    </ng-form>
  </modal-body>

  <modal-footer>
    <div class="grid-block" data-ng-show="data.list.length && data.selected">
      <div class="grid-content small-9"></div>
      <div class="grid-content small-3 text-right">
        <button class="primary-button"
          data-ng-click="vm.select()">
          Select template
        </button>
      </div>
    </div>
  </modal-footer>
</full-screen-modal>
