<div class="defect defect-form grid-block vertical">
  <!-- Defect header -->
  <div class="grid-block">
    <div class="grid-content small-1">
      <div id="view-defect-header-back"
        data-back-button
        data-ng-click="vm.back()"
        title="Back">
      </div>
    </div>
    <div class="grid-block vertical small-6">
      <div class="grid-content">
          <!--Title-->
        <h2>
          <span>Defect:</span>
          <strong
            data-ng-bind="vm.defect.title"
            id="view-defect-header-name"></strong>
        </h2>
        <!--Status-->
        <p
          data-ng-bind="vm.defect.defectStatus.name"
          class="white"></p>
      </div>
    </div>
    <div class="grid-content small-5 text-right">
      <button
        data-ng-repeat="action in vm.actions"
        data-ng-bind="action.name"
        data-ng-click="action.func()"
        class="transparent-dark-button"
        id="view-defect-header-action-{{action.name | kebabise}}">
      </button>
    </div>
  </div>

  <!-- Defect details -->
  <div
    class="content-body"
    id="view-defect-container">
    <div class="grid-block vertical">

      <!-- ID -->
      <div class="grid-block small-9 top-margin">
        <div class="grid-content small-3">
          <h6 class="grey">ID</h6>
        </div>
        <div class="grid-content small-3">
          <p
          class="dark-blue"
          data-ng-bind="vm.defect.sequenceNumber | zeropad: 3"
          id="view-defect-id"></p>
        </div>
      </div>

      <!--Category-->
      <div
        class="grid-block small-9"
        data-ng-show ="vm.defect.defectCategory">
        <div class="grid-content small-3">
          <h6 class="grey">Category</h6>
        </div>
        <div class="grid-content small-12">
            <button data-ng-repeat="category in vm.flatCat"
              data-ng-bind="category.name"
              class="light-grey-button bold dark-grey"
              id="view-defect-category-{{$index}}"></button>
        </div>
      </div>

      <!--Items-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.defect.items.length">
        <div class="grid-content small-3">
          <h6 class="grey">Items</h6>
        </div>
        <div class="grid-content small-12">
            <button
              data-ng-repeat="item in vm.defect.items"
              data-ng-bind="item.item.name"
              class="light-grey-button bold dark-grey"
              id="view-defect-item-{{$index}}"></button>
          </div>
      </div>

      <!-- prompt & thorough -->
      <div
        class="grid-block small-9"
        data-ng-show="vm.defect.firstFrameNumber">
        <div class="grid-content small-3">
          <h6 class="grey">Prompt and thorough repair required</h6>
        </div>
        <div class="grid-content small-3">
          <p
            data-ng-bind="vm.defect.promptThoroughRepair ? 'Yes' : 'No'"
            class="dark-blue"
            id="view-defect-prompt-thorough-repair"></p>
        </div>
      </div>

      <div
        class="grid-block small-9"
        data-ng-show="vm.defectType">
        <div class="grid-content small-3">
          <h6 class="grey">Defect type</h6>
        </div>
        <div class="grid-content small-3">
          <p
            data-ng-bind="vm.defectType"
            class="dark-blue"></p>
        </div>
      </div>

      <!--Defect Descriptor-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.defectDescriptor">
        <div class="grid-content small-3">
          <h6 class="grey">Defect descriptor</h6>
        </div>
        <div class="grid-content small-3">
          <p
            data-ng-bind="vm.defectDescriptor"
            class="dark-blue"></p>
        </div>
      </div>

      <!--Ship Loading Condition-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.loadingCondition">
        <div class="grid-content small-3">
          <h6 class="grey">Loading condition</h6>
        </div>
        <div class="grid-content small-3">
          <p
            data-ng-bind="vm.loadingCondition"
            class="dark-blue"></p>
        </div>
      </div>

      <!--Ship Location-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.assetLocation">
        <div class="grid-content small-3">
          <h6 class="grey">Ship location</h6>
        </div>
        <div class="grid-content small-3">
          <p
            data-ng-bind="vm.assetLocation"
            class="dark-blue"></p>
        </div>
      </div>

      <!--Ship Activity-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.assetActivity">
        <div class="grid-content small-3">
          <h6 class="grey">Ship Activity</h6>
        </div>
        <div class="grid-content small-3">
          <p
            data-ng-bind="vm.assetActivity"
            class="dark-blue"></p>
        </div>
      </div>

      <!--In way of-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.onBoard.length">
        <div class="grid-content small-3">
          <h6 class="grey">In the way of</h6>
        </div>
        <div class="grid-content small-3">
          <div data-ng-repeat="item in vm.onBoard">
            <button
              data-ng-bind="item.otherDetails || item.defectValue.name"
              class="light-grey-button bold dark-grey"
              id="view-defect-onBoard-{{$index}}"></button>
          </div>
        </div>
      </div>

      <!--Affected Section-->
      <!--From-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.defect.firstFrameNumber">
        <div class="grid-content small-3">
          <h6 class="grey">Affected section (from)</h6>
        </div>
        <div class="grid-content small-3">
          <p
            data-ng-bind="vm.defect.firstFrameNumber"
            class="dark-blue"></p>
        </div>
      </div>
      <!--To-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.defect.firstFrameNumber">
        <div class="grid-content small-3">
          <h6 class="grey">Affected section (to)</h6>
        </div>
        <div class="grid-content small-3">
          <p
            data-ng-bind="vm.defect.lastFrameNumber"
            class="dark-blue"></p>
        </div>
      </div>


      <!--grounding involved-->
      <div
        class="grid-block small-9"
        data-ng-show="vm.groundingInvolved">
        <div class="grid-content small-3">
          <h6 class="grey">Grounding involved</h6>
        </div>
        <div
          class="grid-content small-3">
          <p
            class="dark-blue"
            data-ng-bind="vm.groundingInvolved"></p>
        </div>
      </div>

      <!-- pollution -->
      <div
        class="grid-block small-9"
        data-ng-show="vm.pollutionTypes.length">
        <div class="grid-content small-3">
          <h6 class="grey">Pollution type</h6>
        </div>
        <div class="grid-content small-12">
            <button
              data-ng-repeat="item in vm.pollutionTypes"
              data-ng-bind="item.otherDetails || item.defectValue.name"
              class="light-grey-button bold dark-grey"
              id="view-pollution-item-{{$index}}"></button>
          </div>
      </div>

      <!-- Incident Description -->
      <div
        class="grid-block small-9"
        data-ng-show="vm.defect.incidentDescription">
        <div class="grid-content small-3">
          <h6 class="grey">Description</h6>
        </div>
        <div class="grid-content small-9">
          <p
            class="dark-blue"
            data-ng-bind="vm.defect.incidentDescription"
            id="view-defect-description"></p>
        </div>
      </div>

      <!-- fire & explosion -->
      <div class="grid-block small-9">
        <div class="grid-content small-3">
          <h6 class="grey">Caused by fire &amp; explosion?</h6>
        </div>
        <div class="grid-content small-9">
          <p
            data-ng-bind="vm.fireExplosion"
            class="dark-blue"></p>
        </div>
      </div>

      <!-- incident Date -->
      <div
        class="grid-block small-9"
        data-ng-show="vm.defect.incidentDate">
        <div class="grid-content small-3">
          <h6 class="grey">Date occured</h6>
        </div>
        <div class="grid-content small-3">
          <p
            class="dark-blue"
            data-ng-bind="vm.defect.incidentDate | moment"
            id="view-defect-imposed-date"></p>
        </div>
      </div>

      <!--Seen by-->
      <div class="grid-block small-9">
        <div class="grid-content small-3">
          <h6 class="grey">Visible for</h6>
        </div>
        <div class="grid-content small-3">
          <p
            class="dark-blue"
            ng-bind="vm.defect.confidentialityType.description"></p>
        </div>
      </div>

      <!-- attachments -->
      <div class="grid-block small-9">
        <div class="grid-content small-3">
          <h6 class="grey">Attachments and notes</h6>
        </div>
        <div class="grid-content small-3">
          <attachments-and-notes
            data-modal-title="vm.defect.title"
            data-path="vm.attachmentPath"
            data-attachments="vm.attachments"
            class="actionable"
            id="view-defect-attachments">
          <attachments-icon></attachments-icon>
        </attachments-and-notes>
        </div>
      </div>

      <div class="grid-block small-up-4 top-margin">
        <div class="grid-content">
          <h3 class="grey">Course of Action</h3>
        </div>
        <div class="grid-content">
          <button
            data-ng-disabled="!vm.enableCourseOfActionCTAs"
            data-ng-click="vm.addCodicil('coc')"
            class="secondary-button expand">
            Add CoC
          </button>
        </div>
        <div class="grid-content">
          <button
            data-ng-disabled="!vm.enableCourseOfActionCTAs"
            data-ng-click="vm.addCodicil('actionable-item')"
            class="secondary-button expand">
            Add Actionable Item
          </button>
        </div>
        <div class="grid-content">
          <button
            data-ng-disabled="!vm.enableCourseOfActionCTAs || !vm.defect.items.length"
            data-ng-click="vm.addCodicil('repair')"
            class="secondary-button expand">
            Add Repair
          </button>
        </div>
      </div>

      <div
        data-ng-show="vm.cocs.length"
        class="grid-block codicil-subsection">
        <div class="grid-content">
          <h5 class="dark-grey">
            <strong>Conditions of Class</strong>
            <strong class="dark-blue">({{ vm.totalCoCs}})</strong>
          </h5>
        </div>
      </div>
      <pagination
        data-pageable="vm.cocs"
        data-type="'codicils'"
        data-hide-count="true">
        <codicil-info
          data-ng-repeat="item in vm.cocs"
          data-ng-class="{'background-pure-white': $even, 'background-very-light-grey': $odd}"
          data-item="item"
          data-item-type="'coc'"
          data-asset-id="vm.asset.id"
          data-job-id="vm.jobId"
          data-additional-parameters="{ defectId: vm.defect.id || vm.defect._id }"
          data-view-state-name="vm.viewCocState">
        </codicil-info>
      </pagination>

      <div
        data-ng-show="vm.repairs.length"
        class="grid-block codicil-subsection">
        <div class="grid-content">
          <h5 class="dark-grey">
            <strong>Repairs</strong>
            <strong class="dark-blue">({{ vm.totalRepairs}})</strong>
          </h5>
        </div>
      </div>
      <pagination
        data-pageable="vm.repairs"
        data-type="'repairs'"
        data-hide-count="true">
        <codicil-info
          data-ng-repeat="item in vm.repairs"
          data-ng-class="{'background-pure-white': $even, 'background-very-light-grey': $odd}"
          data-item="item"
          data-item-type="'repair'"
          data-asset-id="vm.asset.id"
          data-job-id="vm.jobId"
          data-additional-parameters="{ parentId: vm.defect.id || vm.defect._id, repairId: item.id || item._id, repairType: 'defect' }"
          data-view-state-name="vm.viewRepairState">
        </codicil-info>
      </pagination>


      <!--Repairs-->
       <div
        data-ng-show="vm.defect.repairs.length"
        class="grid-content">
        <h6 class="grey">Repairs</h6>
        <codicil-info
          data-ng-repeat="repair in vm.coc.repairs"
          data-item="repair"
          data-item-type="'repair'"
          data-asset-id="vm.asset.id"
          class="background-pure-white"
          id="view-condition-of-class-repair-{{$index}}"></codicil-info>
      </div>
    </div>
  </div>
</div>
