<small-modal
  data-title="title"
  class="white text-center"
  id="{{ title + '-modal-title' | kebabise }}">
  <modal-body>
    <p data-ng-bind="message"></p>
  </modal-body>
  <modal-footer>
    <button
      data-ng-repeat="action in actions"
      data-ng-click="$close(action.result)"
      data-ng-bind="action.name"
      data-ng-class="action.class ? action.class : 'transparent-button-white'"
      id="{{ action.name + '-modal-action' | kebabise }}"></button>
  </modal-footer>
</small-modal>

