<small-modal
  full-screen="false"
  class="white text-center"
  id="modal-confirm-navigation"
  title="'Leave page'">
  <modal-body>
    <p>Changes have not been saved</p>
    <p>Do you want to keep the changes?</p>
  </modal-body>
  <modal-footer>
      <!-- todo save/discard should do that then continue navigation -->
      <a class="transparent-button-white" ng-click="$close(false)">Cancel</a>
      <a class="primary-button" ng-click="$close('save')">Save changes</a>
      <a class="secondary-button" ng-click="$close('doDiscard')">Discard changes</a>
  </modal-footer>
</small-modal>
