<small-modal
  data-title="vm.title"
  class="white text-center"
  id="modal-discard-changes">
  <modal-body>
    <div class="grid-block small-up-3">
      <div
        data-ng-repeat="option in vm.options"
        class="grid-content">
        <button
          data-ng-click="vm.toggle(option)"
          data-ng-bind="option[labelProperty || 'name']"
          data-ng-class="{'light-grey-button': vm.isSelected(option), 'transparent-dark-button': !vm.isSelected(option)}"
          class="expand"></button>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button
      data-ng-click="$close([])"
      class="transparent-button-white">
      Cancel
    </button>
    <button
      data-ng-click="$close(vm.selected)"
      class="transparent-button-white">
      Select
    </button>
  </modal-footer>
</small-modal>

