<div
  data-sticky-footer
  id="asset-model-build-mode-footer">
  <div class="grid-block">
    <div class="grid-content small-2 medium-3 large-4">
      <breadcrumbs
        data-pre-amble="Add to:"
        data-read-only="true"
        data-selected-item="vm.selectedItem"></breadcrumbs>
    </div>
    <div class="grid-content small-10 medium-9 large-8 text-right">
      <button
        data-ng-disabled="!data.total()"
        data-ng-click="vm.copy(vm.selectedItem)"
        class="primary-button"
        id="asset-model-copy-from-asset-model">
        Copy from asset model
      </button>
      <button
        data-ng-disabled="!data.total()"
        data-ng-click="vm.add()"
        class="primary-button"
        id="asset-model-add-from-reference-data">
        Add from reference data
      </button>
      <button
        class="secondary-button"
        id="asset-model-finish">
        Discard
      </button>
      <button
        data-ng-click="vm.exit()"
        class="secondary-button"
        id="asset-model-finish">
        Save
      </button>
    </div>
  </div>
</div>
