<div
  ng-class="[{loading: data.loading}, data.isSelected('is-selected')]"
  class="item-element">

  <spinner
    data-ng-if="data.loading"
    data-theme="dark"
    class="item-loading">
  </spinner>

  <div class="title">
    <div
      class="icon"
      data-ng-class="{hidden: !data.item.items.length || !data.expandable, expanded: data.expand}"
      data-ng-click="data.expand =! data.expand;">
      <span class="minus">${require('content/images/inline/mast-icon-minus-circle.svg')}</span>
      <span class="plus">${require('content/images/inline/mast-icon-plus-circle.svg')}</span>
    </div>

    <div
      data-ng-disabled="data.disabled"
      data-ng-click="data.select()"
      class="select">
      <div ng-class="[data.buttonType, data.isSelected()]"></div>
    </div>

    <div
      data-ng-click="data.select()"
      class="desc">
      <span data-ng-bind="data.item.name"></span>
      <i data-ng-if="data.item.decommissioned">(decommissioned)</i>
    </div>

    <div
      class="edit-tools"
      data-ng-if="data.config.editable && data.item.parentItem">

      <ul>
        <li data-ng-click="data.actions.duplicate(data)">
          <span class="glyph"><i class="svg-icon-Plus"></i></span>
        </li>
        <li
          data-ng-if="!data.first"
          class="move-up">
          <span
            data-ng-click="data.actions.moveUp(data)"
            class="glyph">
            <i class="svg-icon-Up"></i>
          </span>
        </li>
        <li
          data-ng-if="!data.last"
          class="move-down">
          <span
            data-ng-click="data.actions.moveDown(data)"
            class="glyph">
            <i class="svg-icon-Down"></i>
          </span>
        </li>
        <li
          data-ng-if="data.item.parentItem"
          data-ng-click="data.actions.delete(data)">
          <span class="glyph"><i class="svg-icon-Delete"></i></span>
        </li>
      </ul>
    </div>

    <div
      class="view-tools">
      <a
        data-ng-click="data.actions.open(data)"
        class="node-link open-arrow-button">
        <div class="wrapper">
          <span class="text">Open</span>
          ${require('content/images/inline/mast-icon-chevron-right.svg')}
        </div>
      </a>
    </div>
  </div>

  <ul
    class="children"
    ng-class="{last: data.last}"
    data-ng-if="data.expand"
    pre-load="data.getItems()">
    <li
      class="animate"
      ng-class="{loading: preLoad.loading}"
      data-ng-repeat="item in result track by item.id"
      data-tpl="data.getTemplate(item, false, $first, $last)">
    </li>
  </ul>
</div>
