<div class="expanded-card">
  <div class="grid-block header">
    <div class="grid-block small-8 medium-9 large-10 noscroll">
      <div class="grid-content shrink attachment-icon">
        <span
          data-ng-class="{ 'note': vm.selectedAttachment.isNote() }"
          class="expanded attachment-type-container">
          <span data-attachment-type="vm.selectedAttachment.type"></span>
        </span>
      </div>
      <div class="grid-content">
        <h4 data-ng-bind="vm.selectedAttachmentTitle"></h4>
      </div>
    </div>
    <div class="grid-block small-4 medium-3 large-2 align-right icons">
      <div
        data-ng-if="vm.isAttachment()"
        class="grid-content shrink">
        <i
          data-ng-if="vm.showDownloadButton"
          data-ng-click="vm.download(vm.selectedAttachment)"
          data-ng-class="{ 'actionable': !vm.editNote, 'disabled': vm.editNote }"
          class="svg-icon-Download"
          id="note-download"></i>
      </div>
      <div
        data-ng-if="!vm.isAttachment()"
        class="grid-content shrink">
        <i
          data-ng-click="vm.edit()"
          data-ng-class="{ 'actionable': !vm.editNote }"
          class="svg-icon-Edit"
          id="note-edit"></i>
      </div>
      <div class="grid-content shrink">
        <i
          data-ng-click="vm.delete()"
          data-ng-class="{ 'actionable': !vm.editNote, 'disabled': vm.editNote }"
          class="svg-icon-Delete"
          id="note-delete"></i>
      </div>
    </div>
  </div>
  <hr class="modal-hr">
  <div class="grid-block">
    <div class="grid-block vertical small-8">
      <div class="grid-content noscroll info-bar">
          <span
            data-ng-bind="vm.selectedAttachment.updatedDate || vm.selectedAttachment.creationDate | moment"
            id="note-creation-date"></span>
          <span>
            By:
            <strong
              data-ng-bind="vm.selectedAttachment.updatedBy || vm.selectedAttachment.creator"
              id="note-creator"></strong>
          </span>
      </div>
      <div class="grid-content">
        <p
          data-ng-show="!vm.editNote"
          data-ng-bind="vm.selectedAttachment.note"
          id="note-description-preview"></p>
        <ng-form
          data-ng-if="vm.editNote"
          name="vm.editNoteForm">
          <textarea
            data-ng-if="vm.editNote"
            data-ng-model="vm.selectedAttachment.note"
            placeholder="Type your note here"
            data-ng-maxlength="vm.maxChars"
            data-ng-pattern="vm.allowedSpecialCharactersRegex"
            data-spellcheck="true"
            name="description"
            id="note-description-edit"></textarea>
          <ul
            data-ng-if="vm.editNoteForm.description.$invalid && !vm.editNoteForm.description.$pristine"
            data-ng-messages="vm.editNoteForm.description.$error"
            role="alert"
            class="validation-error">
            <li data-ng-messages-include="${require('app/components/validation/description.html')}"></li>
          </ul>
        </ng-form>
      </div>
    </div>

    <div class="small-1"></div>

    <div class="grid-block vertical small-3">
      <div class="grid-block info-bar shrink">
        <label for="visible-for">
          Visible for
        </label>
      </div>
      <div class="grid-block vertical align-justify">
        <div class="grid-block">
          <div id="visible-for">
            <ul class="button-group segmented dark">
              <li class="radio-button-disabled">
                <input type="radio" id="confidentiality-type-selected"
                  name="confidentiality-type">
                <label for="confidentiality-type-{{$index}}">
                  {{vm.selectedAttachment.confidentialityType.description || 'None'}}
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div
          data-ng-show="vm.editNote"
          class="grid-block shrink noscroll">
          <button
            data-ng-click="vm.cancelEdit()"
            class="transparent-dark-button"
            id="note-edit-cancel">Cancel</button>
          <button
            data-ng-click="vm.saveEdit()"
            class="secondary-button"
            id="note-edit-save">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
