<!-- Question & Answer segment -->
<script
  type="text/ng-template"
  id="question.html">

  <div class="grid-block vertical">
    <hr />

    <div class="grid-content statement">
      <span data-ng-bind="question.description">
    </div>

    <div class="grid-content">
      <dynamic-input
        data-ng-model="question.attributeValueString"
        data-type="question.workItemConditionalAttribute.attributeDataType.id"
        data-input-id="attribute-{{$index}}-value"
        data-dropdown-options="question.workItemConditionalAttribute.allowedAttributeValues"
        data-dropdown-display-property="'value'">
      </dynamic-input>
    </div>

    <div
      data-ng-if="question.showNextQuestion"
      class="question">
      <div
        data-ng-repeat="question in node.getFollowOnQuestions(question.id)"
        data-ng-include="'question.html'"
        class="question">
      </div>
    </div>
  </div>
</script>

<div class="grid-block vertical">
  <span
    data-ng-include="'app/components/crediting-hierarchy/partials/view/task-details.html'"
    class="conditional-details"></span>

  <div data-ng-if="node.showFirstQuestion">
    <div
      data-ng-repeat="question in node.questions"
      data-ng-include="'question.html'"
      class="question">
    </div>
  </div>
</div>
