<!-- +/- toggle -->
<span
  data-ng-click="node.expanded = !node.expanded"
  class="node-expand-toggle">
  <span data-ng-if="(node.items.length || node.tasks.length) && node.expanded">
    ${require('content/images/inline/mast-icon-minus-circle.svg')}
  </span>

  <span data-ng-if="(node.items.length || node.tasks.length) && !node.expanded">
    ${require('content/images/inline/mast-icon-plus-circle.svg')}
  </span>
</span>

<!-- Core details -->
<div class="node-details">
  <div class="grid-block">
    <span
      data-ng-if="node.hasDefect"
      class="circle-button">
      D
    </span>
    <span
      data-ng-bind="node.name"
      class="node-name grid-content shrink"></span>
  </div>
</div>
<!-- Attachments -->
<div
  data-attachments-and-notes
  data-modal-title="node.name"
  data-attachments="node.attachments"
  data-path="vm.generateAttachmentPath(node, 'item')"
  class="node-attachment">
  <attachments-icon></attachments-icon>
</div>

<!-- Status & Cascade option-->
<div class="node-credit">
  <span>
    {{node.getTaskStatus() ? 'All tasks credited' : 'Tasks to be credited'}}
  </span>
  <i
    data-ng-if="node.items.length && !vm.isTopLevelItem(node)"
    data-ng-disabled="!vm.jobStatusValidity"
    data-ng-click="node.cascading = true"
    class="blue">
    ${require('content/images/inline/mast-icon-cascade.svg')}
  </i>
</div>
