<!-- +/- toggle -->
<span
  class="node-expand-toggle"
  data-ng-click="survey.expanded = !survey.expanded">
  <span data-ng-if="survey.crediting.items.length && survey.expanded">
    ${require('content/images/inline/mast-icon-minus-circle.svg')}
  </span>
  <span data-ng-if="survey.crediting.items.length && !survey.expanded">
    ${require('content/images/inline/mast-icon-plus-circle.svg')}
  </span>
</span>

<!-- Core details -->
<div
  data-ng-if="!survey.editMode"
  data-ng-include="'app/components/crediting-hierarchy/partials/view/survey-details.html'"
  class="node-details"></div>
<div
  data-ng-if="survey.editMode"
  data-ng-include="'app/components/crediting-hierarchy/partials/edit/survey-details.html'"
  class="node-details"></div>

<!-- Attachments -->
<div
  data-attachments-and-notes
  data-modal-title="survey.name"
  data-attachments="survey.attachments"
  data-path="vm.generateAttachmentPath(survey, 'survey')"
  class="node-attachment">
  <attachments-icon></attachments-icon>
</div>

<!-- Status & Cascade -->
<div class="node-credit">
  <span
    data-ng-if="survey.tasks.length"
    data-ng-bind="survey.surveyStatus.name"></span>
  <i
    data-ng-if="survey.tasks.length"
    data-ng-disabled="!vm.jobStatusValidity"
    data-ng-click="survey.cascading = true"
    class="blue">
    ${require('content/images/inline/mast-icon-cascade.svg')}
  </i>
  <div
    data-ng-if="!survey.tasks.length"
    data-ng-repeat="status in vm.surveyCreditStatuses track by status.id"
    class="radio">
    <div>
      <!-- 'service' passed to ng-change to conform with acceptance criteria -->
      <input
        type="radio"
        data-ng-disabled="!vm.jobStatusValidity"
        data-ng-model="survey.surveyStatus.id"
        data-ng-value="status.id"
        data-ng-change="vm.credit(survey, status.id, 'service', {{survey.surveyStatus.id}})"
        role="radio"
        id="survey-{{survey.id}}-credit-status-{{status.id}}" >
      <label
        data-ng-bind="status.code"
        title="{{status.name}}"
        for="survey-{{survey.id}}-credit-status-{{status.id}}"></label>
    </div>
  </div>
</div>
