<div class="grid-block">
  <span
    data-ng-bind="survey.name"
    class="node-name grid-content small-4"></span>

  <!-- Credited Percentage-->
  <div data-ng-if="vm.creditedPercentage(survey)">
    <ul class="list-unstyled credit-details">
      <li>
        <span>Credited:</span>
      </li>
      <li>
        <strong
          data-ng-bind="vm.creditedPercentage(survey)"
          class="credit-percentage percentage"></strong>
        <span
          class="svg-icon-Chart">
          <span class="tooltip arrowed-bottom">
            <span>
              Waived:
              <strong
                data-ng-bind="survey.creditedTaskBreakdown.Waived"
                class="percentage"></strong>
            </span>
            <span>
              Confirmed:
              <strong
                data-ng-bind="survey.creditedTaskBreakdown.Confirmed"
                class="percentage"></strong>
            </span>
            <span>
              Complete:
              <strong
                data-ng-bind="survey.creditedTaskBreakdown.Completed"
                class="percentage"></strong>
            </span>
          </span>
        </span>
      </li>
    </ul>
  </div>

  <!-- Credit Details-->
  <div class="grid-content">
    <ul class="list-unstyled no-margin credit-details">
      <li>
        <span data-ng-if="survey.dateOfCrediting">
          Credited on:
          <strong data-ng-bind="survey.dateOfCrediting | moment"></strong>
        </span>
        <span data-ng-if="survey.dateOfCrediting">
          &nbsp;
        </span>
      </li>
      <li>
        <span data-ng-if="survey.creditedBy">
          Credited by:
          <strong data-ng-bind="vm.getEmployeeName(survey.creditedBy)"></strong>
        </span>
        <span data-ng-if="!survey.creditedBy">
          &nbsp;
        </span>
      </li>
    </ul>
  </div>

  <i
    data-ng-click="vm.editStart(survey, 'survey')"
    class="svg-icon-Edit grid-content shrink end"></i>
</div>
