<div class="grid-block">
  <div class="node-details">
    <div class="grid-block">
      <span
        data-ng-click="vm.select(node)"
        data-ng-bind="node.taskNumber"
        class="node-name grid-content small-6"></span>
      <span
        data-ng-click="vm.select(node)"
        data-ng-bind="node.workItemAction.name"
        class="node-name grid-content"></span>
    </div>
  </div>

  <!-- Credit Details-->
  <div class="grid-content">
    <ul class="list-unstyled no-margin credit-details">
      <li>
        <span data-ng-if="node.resolutionDate">
          Credited on:
          <strong data-ng-bind="node.resolutionDate | moment"></strong>
        </span>
        <span data-ng-if="node.resolutionDate">
          &nbsp;
        </span>
      </li>
      <li>
        <span data-ng-if="node.resolvedBy">
          Credited by:
          <strong data-ng-bind="vm.getEmployeeName(node.resolvedBy)"></strong>
        </span>
        <span data-ng-if="!node.resolvedBy">
          &nbsp;
        </span>
      </li>
    </ul>
  </div>

  <i
    data-ng-disabled="!vm.canEditTask(node)"
    data-ng-click="vm.editStart(node, 'task')"
    class="svg-icon-Edit grid-content shrink end"></i>
</div>
