<!-- Core details -->
<span
  data-ng-if="!node.editMode && !node.isConditionalTask"
  data-ng-include="'app/components/crediting-hierarchy/partials/view/task-details.html'"
  class="node-details"></span>
<span
  data-ng-if="!node.editMode && node.isConditionalTask"
  data-ng-include="'app/components/crediting-hierarchy/partials/view/conditional-task-details.html'"
  class="node-details"></span>
<span
  data-ng-if="node.editMode"
  data-ng-include="'app/components/crediting-hierarchy/partials/edit/task-details.html'"
  class="node-details"></span>

<!-- Attachments -->
<div
  data-attachments-and-notes
  data-modal-title="node.taskNumber"
  data-attachments="node.attachments"
  data-path="vm.generateAttachmentPath(node, 'task')"
  class="node-attachment">
  <attachments-icon></attachments-icon>
</div>

<!-- Status -->
<div class="node-credit">
  <div
    data-ng-repeat="status in vm.taskCreditStatuses track by status.id"
    class="radio">
    <div>
      <input
        type="radio"
        data-ng-disabled="!vm.jobStatusValidity"
        data-ng-model="node.creditStatus.id"
        data-ng-value="status.id"
        data-ng-change="vm.credit(node, status.id, 'task', {{node.creditStatus.id}})"
        role="radio"
        id="task-{{node.id}}-credit-status-{{status.id}}" >
      <label
        data-ng-bind="status.code"
        title="{{status.name}}"
        for="task-{{node.id}}-credit-status-{{status.id}}"></label>
    </div>
  </div>
</div>
