<section>
  <header><h4 class="dark-grey bold">Asset Details</h4></header>
  <div class="grid-block small-up-4">
    <div class="grid-content">
      Asset name
      <span data-ng-bind="vm.assetCase.assetName || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      IMO no.
      <span data-ng-bind="vm.assetCase.imoNumber || '&mdash;'"></span>
    </div>
  </div>

  <div class="grid-block small-up-4">
    <div class="grid-content">
      Gross tonnage
      <span data-ng-show="vm.assetCase.grossTonnage">{{ vm.assetCase.grossTonnage }} m&sup3;</span>
      <span data-ng-hide="vm.assetCase.grossTonnage">&mdash;</span>
    </div>
    <div class="grid-content">
      Lifecycle status
      <span data-ng-bind="vm.lifecycleStatus || '&mdash;'"></span>
    </div>
  </div>

  <div class="grid-block small-up-4">
    <div class="grid-content">
      Asset type
      <span data-ng-bind="vm.assetType || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      Class status
      <span data-ng-bind="vm.classStatus || '&mdash;'"></span>
    </div>
  </div>
</section>
