<section>
  <header><h4 class="dark-grey bold">Case Details</h4></header>
  <div class="grid-block small-up-4">
    <div class="grid-content">
      Contract reference
      <span data-ng-bind="vm.assetCase.contractReferenceNumber || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      Case creation
      <span data-ng-bind="(vm.assetCase.createdOn | moment) || '&mdash;'"></span>
    </div>
    <div class="grid-content" data-ng-show="vm.assetCase.caseClosedDate">
      Case {{ vm.caseStatusName }}
      <span data-ng-bind="(vm.assetCase.caseClosedDate | moment) || '&mdash;'"></span>
    </div>
  </div>

  <div class="grid-block small-up-4">
    <div class="grid-content">
      Pre-inspection checks
      <span data-ng-bind="vm.preInspectionChecks() || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      TOC acceptance date
      <span data-ng-bind="(vm.assetCase.tocAcceptanceDate | moment) || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      Losing Society
      <span data-ng-bind="vm.losingSociety || '&mdash;'"></span>
    </div>
  </div>
</section>
