<section>
  <header><h5 class="dark-grey bold">Class maintenance regime</h5></header>
  <div class="grid-block small-up-4">
    <div class="grid-content">
      Class maintenance regime
      <span data-ng-bind="vm.assetCase.classMaintenanceStatus.name || '&mdash;'"></span>
    </div>
  </div>
  <div class="grid-block small-up-4">
    <div class="grid-content">
      Co-classification society
      <span data-ng-bind="vm.coClassificationSociety || '&mdash;'"></span>
    </div>
  </div>
</section>
