<section>
  <header><h3 class="dark-grey bold">Customers</h3></header>

  <div
    class="grid-block small-up-4"
    data-ng-repeat="customer in vm.assetCase.customers">
    <div class="grid-content">
      Relationship
      <span data-ng-bind="vm.customerRelationship(customer.relationship.id)"></span>
    </div>
    <div class="grid-content">
      Name
      <span data-ng-bind="customer.customer.name"></span>
    </div>
    <div class="grid-content">
      Function
      <span data-ng-bind="vm.customerFunctionListNames(customer)"></span>
    </div>
  </div>

</section>
