<section>
  <header><h5 class="dark-grey bold">Flag Details</h5></header>
  <div class="grid-block small-up-4">
    <div class="grid-content">
      Current flag
      <span data-ng-bind="vm.currentFlag || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      Port of registry
      <span data-ng-bind="vm.registeredPort || '&mdash;'"></span>
    </div>
  </div>
  <div class="grid-block small-up-4">
    <div class="grid-content">
      Proposed flag (optional)
      <span data-ng-bind="vm.proposedFlag || '&mdash;'"></span>
    </div>
  </div>
</section>
