<section>
  <header><h5 class="dark-grey bold">Key dates</h5></header>
  <div class="grid-block small-up-4">
    <div class="grid-content">
      Date of build
      <span data-ng-bind="(vm.assetCase.buildDate | moment) || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      Keel laying date
      <span data-ng-bind="(vm.assetCase.keelLayingDate | moment) || '&mdash;'"></span>
    </div>
  </div>
</section>
