<section>
  <header><h3 class="dark-grey bold">Offices and Surveyors</h3></header>
  <div class="grid-block small-up-4">
    <div class="grid-content">
      Case SDO
      <span data-ng-bind="vm.caseOffice('caseSdo') || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      Case owner
      <span data-ng-bind="vm.caseSurveyor('management') || '&mdash;'"></span>
    </div>
  </div>

  <div class="grid-block small-up-4">
    <div class="grid-content">&nbsp;</div>
    <div class="grid-content">
      Case admin
      <span data-ng-bind="vm.caseSurveyor('eicAdmin') || '&mdash;'"></span>
    </div>
  </div>

  <div class="grid-block small-up-4">
    <div class="grid-content">
      CFO
      <span data-ng-bind="vm.caseOffice('cfo') || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      Contract holder
      <span
        data-ng-bind="vm.caseSurveyor('salesCRM') || '&mdash;'"></span>
    </div>
  </div>

  <div class="grid-block small-up-4">
    <div class="grid-content">
      Job SDO
      <span data-ng-bind="vm.caseOffice('jobSdo') || '&mdash;'"></span>
    </div>
    <div class="grid-content">
      Lead surveyor
      <span data-ng-bind="vm.caseSurveyor('leadSurveyor') || '&mdash;'"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('tso')"
    class="grid-block small-up-4">
    <div class="grid-content">
      TSO
      <span data-ng-bind="vm.caseOffice('tso')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('cfo3')"
    class="grid-block small-up-4">
    <div class="grid-content">
      CFO3
      <span data-ng-bind="vm.caseOffice('cfo3')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('mmsSdo')"
    class="grid-block small-up-4">
    <div class="grid-content">
      MMS SDO
      <span data-ng-bind="vm.caseOffice('mmsSdo')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('mmso')"
    class="grid-block small-up-4">
    <div class="grid-content">
      MMSO
      <span data-ng-bind="vm.caseOffice('mmso')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('tsoStat')"
    class="grid-block small-up-4">
    <div class="grid-content">
      TSO (Stat)
      <span data-ng-bind="vm.caseOffice('tsoStat')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('classGroup')"
    class="grid-block small-up-4">
    <div class="grid-content">
      Class Group
      <span data-ng-bind="vm.caseOffice('classGroup')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('dce')"
    class="grid-block small-up-4">
    <div class="grid-content">
      DCE
      <span data-ng-bind="vm.caseOffice('dce')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('eic')"
    class="grid-block small-up-4">
    <div class="grid-content">
      EIC
      <span data-ng-bind="vm.caseOffice('eic')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('tsdo')"
    class="grid-block small-up-4">
    <div class="grid-content">
      TSDO
      <span data-ng-bind="vm.caseOffice('tsdo')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('tssao')"
    class="grid-block small-up-4">
    <div class="grid-content">
      TSSAO
      <span data-ng-bind="vm.caseOffice('tssao')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('sdo')"
    class="grid-block small-up-4">
    <div class="grid-content">
      SDO
      <span data-ng-bind="vm.caseOffice('sdo')"></span>
    </div>
  </div>

  <div
    data-ng-if="vm.caseOffice('mds')"
    class="grid-block small-up-4">
    <div class="grid-content">
      MDS
      <span data-ng-bind="vm.caseOffice('mds')"></span>
    </div>
  </div>
</section>
