<section>
  <header><h5 class="dark-grey bold">Rule set</h5></header>
  <div class="grid-block small-up-1">
    <div class="grid-content">
      Build rule set
      <span data-ng-bind="vm.ruleSet || '&mdash;'"></span>
    </div>
  </div>
</section>
