<full-screen-modal class="white modal-item-search">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">
        <div>Select asset item</div>
        <div data-ng-if="data.itemType.name">Item type: <u>{{data.itemType.name}}</u></div>
      </h2>
      <a
        data-ng-click="$dismiss()"
        class="small-1 white close-button"
        id="close-button">&#10005;</a>
    </div>
  </modal-header>
  <modal-body>

    <div hierarchy="data"></div>

  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button
        data-ng-click="$dismiss()"
        class="transparent-button-white">Cancel</button>
      <button
        data-ng-disabled="!data.totalSelected()"
        data-ng-click="$close(true)"
        class="primary-button">Assign selected</button>
    </div>
  </modal-footer>
</full-screen-modal>
