<section
  data-ng-class="{'footer-follows': vm.buildMode}"
  class="asset-model grid-block vertical">
  <checked-out-by asset="vm.asset" ></checked-out-by>
  <div class="grid-block">
    <nav class="grid-block small-7 actions">
      <ul class="grid-content">
        <li
          data-ng-class="{ active: vm.activeView === 'list', disabled: vm.buildMode || vm.searchMode }"
          class="grid-content small-1 menu-icon">
          <a
            data-ng-disabled="vm.searchMode"
            data-ng-click="vm.changeView('list')">
            ${require('content/images/inline/mast-icon-list-view.svg')}
          </a>
        </li>
        <li
          data-ng-class="{ active: vm.activeView === 'hierarchy', disabled: vm.buildMode || vm.searchMode }"
          class="grid-content small-1 menu-icon">
          <a
            data-ng-disabled="vm.searchMode"
            data-ng-click="vm.changeView('hierarchy')">
            ${require('content/images/inline/mast-icon-hierarchy.svg')}
          </a>
        </li>
      </ul>
    </nav>
    <div class="grid-block small-5 align-right">
      <button
        data-ng-class="{'white-button arrowed': vm.searchMode, 'transparent-light-button': !vm.searchMode, 'disabled': vm.buildMode}"
        data-ng-disabled="vm.buildMode"
        data-ng-click="vm.toggleSearch()">
        Search within asset model
      </button>
      <button
        class="primary-button"
        data-ng-disabled="vm.searchMode || OFFLINE"
        data-ng-if="!vm.buildMode"
        data-ng-click="vm.toggleBuildMode()"
        data-ng-class="{disabled:vm.searchMode}">
        <span>Check out for editing</span>
      </button>
    </div>
  </div>

  <div data-offset-top-pixels="150">
    <div
      data-ng-repeat="content in vm.content"
      data-tpl="content"
      vm="vm"></div>
  </div>
</section>
