<script
  type="text/ng-template"
  id="nested.html">
  <div
    data-ng-class="{'is-selected': node.selected, 'has-items': node.items.length }"
    id="hierarchy-node-{{node.id}}">
    <span
      data-ng-click="vm.expand(node)"
      class="node-expand-toggle">
      <span data-ng-if="node.items.length && node.expanded">
        ${require('content/images/inline/mast-icon-minus-circle.svg')}
      </span>

      <span data-ng-if="node.items.length && !node.expanded">
        ${require('content/images/inline/mast-icon-plus-circle.svg')}
      </span>
    </span>

    <div class="node-name grid-container radio">
      <div>
        <input
          data-ng-model="node.selected"
          data-ng-disabled="!node.valid"
          data-ng-click="vm.changeChosen(node)"
          value="{{::node.id}}"
          selected="{{node.selected}}"
          type="radio"
          role="radio"
          name="item"
          id="hierarchy-node-{{node.id}}-radio-button" />
        <label
          data-ng-bind="node.name"
          for="hierarchy-node-{{node.id}}-radio-button">
        </label>
      </div>
    </div>

    <asset-model-hierarchy-metadata
      data-ng-if="vm.debug"
      data-item="node">
    </asset-model-hierarchy-metadata>
  </div>

  <div data-ng-if="node.expanded">
    <ol>
      <li
        data-ng-repeat="node in node.items | orderBy: 'displayOrder'"
        data-ng-class="{
          'is-expanded': node.expanded,
          'last-expanded': node.lastExpandedItem,
          'only-child': $first && $last
        }"
        data-ng-include="'nested.html'"></li>
    </ol>
  </div>
</script>

<section data-ng-if="vm.loading">
  <spinner></spinner>
</section>
<section
  data-ng-if="!vm.loading"
  class="asset-model-hierarchy-selector">
  <ng-form>
    <ul>
      <li data-ng-class="{
          'is-expanded': vm.assetModel.expanded,
          'none-expanded': vm.noChildItemsExpanded()}">
        <div
          id="hierarchy-node-{{vm.assetModel.node.id}}"
          data-ng-class="{
            'is-selected': vm.assetModel.selected,
            'is-child-selected': vm.assetModel.childSelected,
            'has-items': vm.assetModel.items.length
          }">

          <span
            data-ng-click="vm.expand(vm.assetModel)"
            class="node-expand-toggle">
            <span data-ng-if="vm.assetModel.items.length && vm.assetModel.expanded">
              ${require('content/images/inline/mast-icon-minus-circle.svg')}
            </span>

            <span data-ng-if="vm.assetModel.items.length && !vm.assetModel.expanded">
              ${require('content/images/inline/mast-icon-plus-circle.svg')}
            </span>
          </span>

            <div class="node-name grid-container">
              <span
                data-ng-bind="vm.assetModel.name"
                id="hierarchy-node-{{vm.assetModel.id}}-name"></span>
            </div>

          <asset-model-hierarchy-metadata
            data-ng-if="vm.debug"
            data-item="vm.assetModel">
          </asset-model-hierarchy-metadata>
        </div>
        <div data-ng-if="vm.assetModel.expanded">
          <ol>
            <li
              data-ng-repeat="node in vm.assetModel.items | orderBy: 'displayOrder'"
              data-ng-class="{
                'is-expanded': node.expanded,
                'last-expanded': node.lastExpandedItem,
                'only-child': $first && $last
                }"
              data-ng-include="'nested.html'"></li>
          </ol>
        </div>
      </li>
    </ul>
  </ng-form>
</section>
