<section
  data-ng-if="vm.wipCoCs.length"
  id="report-action-coc"
  class="report-section">
  <hr />
  <header class="grid-block">
    <div class="grid-content">
      <h2>Action taken with Conditions of Class</h2>
    </div>
  </header>
  <div class="grid-block vertical">
    <div class="grid-block small-12">
      <table class="codicil-table">
        <thead>
          <tr>
            <td class="codicil-id">
              <span>ID</span>
            </td>
            <td class="codicil-description">
              <span>Description</span>
            </td>
            <td class="codicil-action-taken">
              <span>Action taken</span>
            </td>
            <td class="codicil-due-date">
              <span>Due date</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="coc in vm.wipCoCs track by $index">
            <td
              data-ng-bind="coc.id"
              class="codicil-id"></td>
            <td
              data-ng-bind="coc.description"
              class="codicil-description"></td>
            <td class="codicil-action-taken">
              <span data-ng-if="coc.status.id === vm.cocStatus.deleted">Closed</span>
              <span data-ng-if="coc.parent && coc.status.id !== vm.cocStatus.deleted">Amended</span>
              <span data-ng-if="!coc.parent">Raised</span>
            </td>
            <td
              data-ng-bind="coc.dueDate | moment"
              class="codicil-due-date"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
