<section
  data-ng-if="vm.wipActionableItems.length"
  id="report-action-actionable-items"
  class="report-section">
  <hr />
  <header class="grid-block">
    <div class="grid-content">
      <h2>Action taken with Actionable Items</h2>
    </div>
  </header>
  <div class="grid-block vertical">
    <div class="grid-block small-12">
      <table class="codicil-table">
        <thead>
          <tr>
            <td class="codicil-id">
              <span>ID</span>
            </td>
            <td class="codicil-description">
              <span>Description</span>
            </td>
            <td class="codicil-action-taken">
              <span>Action taken</span>
            </td>
            <td class="codicil-due-date">
              <span>Due date</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            data-ng-repeat="action in vm.wipActionableItems track by $index"
            data-ng-class="{'no-print': vm.noPrint(action)}">
            <td
              data-ng-bind="action.id"
              class="codicil-id"></td>
            <td
              data-ng-bind="action.description"
              class="codicil-description"></td>
            <td
              data-ng-bind="vm.getActionableItemActionTaken(action)"
              class="codicil-action-taken"></td>
            <td
              data-ng-bind="action.dueDate | moment"
              class="codicil-due-date"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
