<section
  data-ng-if="vm.wipAssetNotes.length"
  id="report-action-asset-notes"
  class="report-section">
  <hr />
  <header class="grid-block">
    <div class="grid-content">
      <h2>Action taken with Asset Notes</h2>
    </div>
  </header>
  <div class="grid-block vertical">
    <div class="grid-block small-12">
      <table class="codicil-table codicil-asset-note-table">
        <thead>
          <tr>
            <td class="codicil-id">
              <span>ID</span>
            </td>
            <td class="codicil-description">
              <span>Description</span>
            </td>
            <td class="codicil-action-taken text-center">
              <span>Action taken</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            data-ng-repeat="note in vm.wipAssetNotes track by $index"
            data-ng-class="{'no-print': note.no-print-pdf}">
            <td
              data-ng-bind="note.id"
              class="codicil-id"></td>
            <td
              data-ng-bind="note.description"
              class="codicil-description"></td>
            <td
              data-ng-bind="vm.getAssetNoteActionTaken(note)"
              class="codicil-action-taken text-center"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
