<section
  data-ng-if="vm.reportTypeId !== vm.reportTypes.dar && vm.classRecommendations.length"
  id="report-class-recommendation"
  class="report-section">
  <hr />
  <header class="grid-block">
    <div class="grid-content">
      <h2>Class recommendation</h2>
    </div>
  </header>
  <div class="grid-block">
    <div class="grid-content">
      <p
        data-ng-bind="vm.classRecommendation"
        data-ng-mode="vm.report"
        name="classRecommendation"
        id="class-recommendation"></p>
    </div>
  </div>
</section>
