<small-modal
  data-title="title"
  class="white text-center"
  id="modal-discard-changes">
  <modal-body>
    <p data-ng-bind="message"></p>
  </modal-body>
  <modal-footer>
    <button
      data-ng-repeat="action in actions"
      data-ng-click="$close(action.result)"
      data-ng-bind="action.name"
      data-ng-class="action.class ? action.class : 'transparent-button-white'"></button>
  </modal-footer>
</small-modal>
