<section
  data-ng-if="vm.services.length"
  id="report-job-scope"
  class="report-section">
  <hr />
  <header class="grid-block">
    <div class="grid-content">
      <h2>Agreed scope of work</h2>
    </div>
  </header>
  <div class="grid-block vertical">
    <div class="grid-block small-12">
      <table class="scope-of-work">
        <thead>
          <tr>
            <td class="scope-survey-code">
              <span>Survey Code</span>
            </td>
            <td class="scope-survey-title">
              <span>Survey Title</span>
            </td>
            <td class="scope-survey-percentage text-center">
              <span>Current Progress %</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            data-ng-repeat="service in vm.services | orderBy: 'code' track by $index">
            <td
              data-ng-bind="vm.serviceCode(service)"
              class="scope-survey-code"></td>
            <td
              data-ng-bind="vm.serviceTitle(service)"
              class="scope-survey-title"></td>
            <td
              data-ng-bind="service.tasksCompletion || '0'"
              class="scope-survey-percentage text-center"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
