<section
  data-ng-if="vm.servicesNarratives.length"
  id="report-narrative"
  class="report-section">
  <hr />
  <header class="grid-block">
    <div class="grid-content">
      <h2>Narrative</h2>
    </div>
  </header>
  <div class="grid-block vertical">
    <div class="grid-block small-12">
      <table class="scope-of-work">
        <tbody
          data-ng-repeat="service in vm.services | filter: narrative track by $index"
          data-ng-if="service.narrative.length"
          class="scope-survey-narrative-report">
          <tr>
            <td class="scope-survey-code survey-table-title">
              <span>Survey code</span>
            </td>
            <td class="scope-survey-id survey-table-title">
              <span>Survey ID</span>
            </td>
            <td class="scope-survey-description survey-table-title">
              <span>Survey Description</span>
            </td>
          </tr>
          <tr>
            <td
              data-ng-bind="vm.serviceCode(service)"
              class="scope-survey-code"></td>
            <td
              data-ng-bind="service.id"
              class="scope-survey-id"></td>
            <td
              data-ng-bind="service.name"
              class="scope-survey-description"></td>
          </tr>
          <tr>
            <td
              data-ng-bind="service.narrative"
              class="scope-survey-narrative"
              colspan="3"></td>
          </tr>
          <tr data-ng-if="service.relatedTasks">
            <td colspan="3">
              <hr />
            </td>
          </tr>
          <tr
            data-ng-if="service.relatedTasks"
            data-ng-repeat="task in service.relatedTasks track by $index">
            <td colspan="3">
              <table class="scope-related-tasks">
                <tr>
                  <td class="scope-related-task-id scope-related-title">
                    <span>Task ID</span>
                  </td>
                  <td class="scope-related-task-description scope-related-title">
                    <span>Task description</span>
                  </td>
                </tr>
                <tr>
                  <td
                    data-ng-bind="task.taskNumber"
                    class="scope-related-task-id">
                  </td>
                  <td
                    data-ng-bind="task.longDescription"
                    class="scope-related-task-description">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
