<ng-form
  data-ng-show="vm.reportTypeId === vm.reportTypes.dar"
  name="vm.addReportNoteForm"
  id="add-report-note-form">

  <section
    data-ng-hide="!vm.report.notes.length && !vm.reportNotSubmitted"
    id="report-add-notes"
    class="report-section">
    <hr />
    <div>
      <label for="notes">
        Notes ({{vm.reportNoteMaxChars}} character limit)
      </label>
      <textarea
        data-ng-model="vm.report.notes"
        data-ng-maxlength="vm.reportNoteMaxChars"
        data-ng-pattern="vm.allowedSpecialCharactersRegex"
        data-ng-disabled="!vm.reportNotSubmitted"
        rows="10"
        id="notes"
        name="notes"
        maxlength="{{vm.reportNoteMaxChars}}"
        placeholder="Notes (external notes)"></textarea>
    </div>
  </section>

  <section
    data-ng-hide="!vm.report.confidentialNotes.length && !vm.reportNotSubmitted"
    id="report-add-notes"
    class="report-section">
    <div>
      <label for="confidentialNotes">
        Confidential notes ({{vm.reportNoteMaxChars}} character limit)
      </label>
      <textarea
        data-ng-model="vm.report.confidentialNotes"
        data-ng-maxlength="vm.reportNoteMaxChars"
        data-ng-pattern="vm.allowedSpecialCharactersRegex"
        data-ng-disabled="!vm.reportNotSubmitted"
        rows="10"
        id="confidentialNotes"
        name="confidentialNotes"
        maxlength="{{vm.reportNoteMaxChars}}"
        placeholder="Notes (internal notes)"></textarea>
    </div>
  </section>
</ng-form>
