<section
  id="report-service-details"
  class="report-section">
  <header class="grid-block">
    <div class="grid-content">
      <h2>Service Details</h2>
    </div>
  </header>

  <div class="grid-block">
    <div class="grid-content small-3">
      <label for="report-asset-ship-name">Ship name</label>
      <span
        data-ng-bind="vm.asset.name"
        id="report-asset-ship-name"></span>
    </div>
    <div class="grid-content small-3">
      <label for="report-job-location">Location</label>
      <span
        data-ng-bind="vm.job.location"
        id="report-job-location"></span>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-3">
      <label for="report-asset-imo">IMO Number</label>
      <span
        data-ng-bind="vm.asset.ihsAsset.id"
        id="report-asset-imo"></span>
    </div>
    <div class="grid-content small-3">
      <label for="report-job-first-visit-date">First Visit Date</label>
      <span
        data-ng-bind="vm.firstVisitDate"
        id="report-job-first-visit-date"></span>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-3">
      <label for="report-asset-port-of-registry">Port of Registry</label>
      <span
        data-ng-bind="vm.asset.registeredPort.name"
        id="report-asset-port-of-registry"></span>
    </div>
    <div
      data-ng-if="vm.reportTypeId !== vm.reportTypes.dar"
      class="grid-content small-3">
      <label for="report-job-last-visit-date">Last Visit Date</label>
      <span
        data-ng-bind="vm.job.lastVisitDate | moment"
        id="report-job-last-visit-date"></span>
    </div>
  </div>
</section>
