<section
  data-ng-if="vm.services.length"
  id="report-job-scope"
  class="report-section">
  <hr />
  <header class="grid-block">
    <div class="grid-content">
      <h2 data-ng-bind="vm.reportServiceTitle"></h2>
    </div>
  </header>
  <div class="grid-block vertical">
    <div class="grid-block small-12">
      <table class="scope-of-work">
        <thead>
          <tr>
            <td
              data-ng-if="!vm.reportSurveyCode"
              class="scope-survey-code">
              <span>Survey Code</span>
            </td>
            <td class="scope-survey-title">
              <span>Survey Title</span>
            </td>
            <td
              data-ng-if="vm.reportTypeId !== 4"
              class="scope-survey-status">
              <span>Status</span>
            </td>
            <td
              data-ng-if="vm.reportTypeId !== 4"
              class="scope-survey-credited-date">
              <span>Credited date</span>
            </td>
            <td
              data-ng-if="vm.reportTypeId === 4"
              class="scope-survey-percentage">
              <span>Current progress %</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            data-ng-repeat="service in vm.services | orderBy: 'code' track by $index">
            <td
              data-ng-if="!vm.reportSurveyCode"
              data-ng-bind="vm.serviceCode(service)"
              class="scope-survey-code"></td>
            <td
              data-ng-bind="vm.serviceTitle(service)"
              class="scope-survey-title"></td>
            <td
              data-ng-if="vm.reportTypeId !== 4"
              data-ng-bind="vm.surveyStatusCode(service)"
              class="scope-survey-status"></td>
            <td
              data-ng-if="vm.reportTypeId !== 4"
              data-ng-bind="service.dateOfCrediting | moment"
              class="scope-survey-credited-date"></td>
            <td
              data-ng-if="vm.reportTypeId === 4"
              data-ng-bind="service.tasksCompletion * 100 || '0'"
              class="scope-survey-percentage"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
