<section
  data-ng-if="vm.serviceTasks.length"
  id="report-tasks-credited"
  class="report-section">
  <hr />
  <header class="grid-block">
    <div class="grid-content">
      <h2>Tasks credited</h2>
    </div>
  </header>
  <div
    data-ng-repeat="service in vm.serviceTasks track by $index"
    class="grid-block vertical">
    <div class="grid-block small-12">
      <h3>Survey Code: {{service.code}} Survey ID: {{service.id}}</h3>
    </div>
    <div class="grid-block small-12">
      <table class="tasks-credited scope-of-work">
        <thead>
          <tr>
            <td class="scope-task-survey-code"><span>Task ID</span></td>
            <td class="scope-task-survey-description"><span>Task Description</span></td>
            <td class="scope-survey-percentage"><span>Task Credit</span></td>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="task in service.relatedTasks track by $index">
            <td
              data-ng-bind="task.taskNumber"
              class="scope-task-survey-code"></td>
            <td
              data-ng-bind="task.longDescription"
              class="scope-task-survey-description"></td>
            <td
              data-ng-bind="task.creditStatus.name"
              class="scope-survey-code"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
