<div
  data-case-banner
  data-case="vm.assetCase"
  data-back-target="'asset.cases.view.list'"
  class="case-banner">
</div>

<section class="case-job-list">
  <div class="grid-block">
    <div class="grid-content small-10">
      <h3 class="dark-grey">Jobs</h3>
    </div>
    <div class="grid-content small-2">
      <button
        data-ng-disabled="!vm.canAddJob()"
        data-ng-class="{'disabled': !vm.canAddJob()}"
        class="primary-button"
        data-ui-sref="asset.jobs.add({ caseId: vm.assetCase.id, backTarget: 'asset.cases.view.jobs' })">Add job</button>
    </div>
  </div>

  <div
    class="grid-content small-12"
    data-ng-show="!vm.assetJobs.length">
    <p>There are no jobs linked to this case.</p>
  </div>

  <div class="grid-block case-job"
    data-ng-repeat="job in vm.assetJobs">
    <div class="grid-content small-4">
      <div><strong data-ng-bind="job.id | zeropad: 9"></strong></div>
      <div data-ng-bind="vm.jobStatusName(job)" class="status"></div>
    </div>
    <div class="grid-content small-3">
      <div>SDO: <strong data-ng-bind="vm.jobSDO(job)"></strong></div>
      <div>Service type: <strong data-ng-bind="vm.job.serviceType"></strong></div>
    </div>
    <div class="grid-content small-3">
      <div>
        ETA:
        <strong data-ng-bind="vm.job.etaDate | moment"></strong>
      </div>
      <div>
        ETD: <strong data-ng-bind="vm.job.etdDate | moment"></strong>
      </div>
    </div>
    <div class="grid-content small-2 ends">
      <a data-ng-click="vm.viewJob(job.id)">
        ${require('content/images/inline/mast-icon-chevron-right.svg')}
      </a>
    </div>
  </div>
</section>
