<div class="build edit-job-team grid-block vertical footer-follows">
  <div class="grid-block">
    <div class="grid-content small-1">
      <div
        data-back-button
        data-ui-sref="asset.jobs.view({ jobId: vm.job.id })"
        title="Back to Jobs"
        id="team-job-back-button">
      </div>
    </div>
    <div class="grid-block vertical small-12">
      <div class="grid-content">
        <h2>
          <span data-ng-if="!vm.jobTeamExists()">
            Add job team
          </span>
          <span data-ng-if="vm.jobTeamExists() && !vm.isTeamEditable()">
            Job team
          </span>
          <span data-ng-if="vm.jobTeamExists() && vm.isTeamEditable()">
            Edit job team
          </span>
        </h2>
      </div>
    </div>
  </div>

  <div
    class="grid-block vertical content-body-no-padding"
    id="build-container">
    <div class="grid-content content-body-padding">
      <form
        name="vm.teamJobForm"
        class="team-job-form"
        id="team-job-form"
        novalidate>

        <!-- Job coordinator aka SDO coordinator -->
        <div class="grid-block vertical form-control background-pure-white">
          <div>
            <label for="team-job-sdo">
              Job coordinator (optional)
            </label>
          </div>
          <div class="surveyor-row">
            <div class="typeahead-div">
              <input
                data-ng-class="{'saved': vm.teamJobFormSaved}"
                data-ng-model="vm.jobModel.sdoCoordinator"
                data-typeahead="surveyor as surveyor.firstName + ' ' + surveyor.lastName for surveyor in vm.surveyorTypeahead($viewValue)"
                data-typeahead-editable="false"
                data-typeahead-on-select="vm.onSurveyorSelect('sdoCoordinator', vm.jobModel.sdoCoordinator)"
                data-clearable='null'
                data-ng-disabled="!vm.userCanEditField('sdoCoordinator')"
                type="text"
                name="sdoCoordinator"
                id="team-job-sdo-coordinator"
                placeholder="Please start typing in name"/>
              <ul
                data-ng-if="vm.validFormItem(vm.teamJobForm.sdoCoordinator)"
                data-ng-messages="vm.teamJobForm.sdoCoordinator.$error"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/team/validation/sdo.html')}"></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Surveyor list -->
        <div data-ng-repeat="jobSurveyor in vm.jobModel.generalSurveyors track by $index">
          <br />
          <div class="grid-block vertical form-control background-pure-white">
            <div class="surveyor-row">
              <label for="team-job-surveyor-{{$index}}">
                Surveyor {{$index+1}}
              </label>
              <a
                data-ng-if="!vm.isGeneralSurveyorLead($index)"
                data-ng-click="vm.removeGeneralSurveyor($index)"
                class="small-1 close-button"
                id="close-button">&#10005;</a>
            </div>
            <div class="surveyor-row radio">
              <div class="typeahead-div">
                <input
                  data-ng-class="{'saved': vm.teamJobFormSaved}"
                  data-ng-model="vm.jobModel.generalSurveyors[$index]"
                  data-typeahead="surveyor as surveyor.firstName + ' ' + surveyor.lastName for surveyor in vm.surveyorTypeahead($viewValue)"
                  data-typeahead-on-select="vm.onSurveyorSelect('surveyor{{$index}}', vm.jobModel.generalSurveyors[$index])"
                  data-typeahead-editable="false"
                  data-clearable='null'
                  data-ng-disabled="!vm.userCanEditField('surveyor')"
                  type="text"
                  name="surveyor{{$index}}"
                  id="team-job-surveyor-{{$index}}"
                  placeholder="Please start typing in name"/>
              </div>
              <div class="grid-content small-2 radio">
                <input
                  data-ng-model="vm.jobModel.leadSurveyorIndex"
                  data-ng-value="$index"
                  id="team-job-surveyor-{{$index}}-lead"
                  name="leadSurveyor"
                  type="radio"
                  role="radio">
                <label
                  class="general-surveyor-lead-label"
                  for="team-job-surveyor-{{$index}}-lead">Lead surveyor</label>
              </div>
            </div>
              <ul
                data-ng-if="vm.validFormItem(vm.teamJobForm['surveyor' + $index])"
                data-ng-messages="vm.teamJobForm['surveyor' + $index].$error"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/team/validation/surveyor.html')}"></li>
              </ul>
          </div>
        </div>

        <br />
        <div class="grid-block">
          <button
            data-ng-click="vm.jobModel.generalSurveyors.push(null)"
            class="primary-button">
            Add surveyor
          </button>
        </div>

        <br />
        <!-- Authorising surveyor -->
        <div class="grid-block vertical form-control background-pure-white">
          <div>
            <label for="team-job-authorising-surveyor">
              Authorising surveyor (optional)
            </label>
          </div>
          <div class="surveyor-row">
            <div class="typeahead-div">
              <input
                data-ng-class="{'saved': vm.teamJobFormSaved}"
                data-ng-model="vm.jobModel.authorisingSurveyor"
                data-typeahead="surveyor as surveyor.firstName + ' ' + surveyor.lastName for surveyor in vm.surveyorTypeahead($viewValue)"
                data-typeahead-editable="false"
                data-typeahead-on-select="vm.onSurveyorSelect('authorisingSurveyor', vm.jobModel.authorisingSurveyor)"
                data-clearable='null'
                data-ng-disabled="!vm.userCanEditField('authorisingSurveyor')"
                type="text"
                name="authorisingSurveyor"
                id="team-job-authorising-surveyor"
                placeholder="Please start typing in name"/>
              <ul
                data-ng-if="vm.validFormItem(vm.teamJobForm.authorisingSurveyor)"
                data-ng-messages="vm.teamJobForm.authorisingSurveyor.$error"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/team/validation/authoriser.html')}"></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Fleet services specialist aka EIC Manager -->
        <div class="grid-block vertical form-control background-pure-white">
          <div>
            <label for="team-job-eic-manager">
              Fleet services specialist
            </label>
          </div>
          <div class="surveyor-row">
            <div class="typeahead-div">
              <input
                data-ng-class="{'saved': vm.teamJobFormSaved}"
                data-ng-model="vm.jobModel.eicManager"
                data-typeahead="surveyor as surveyor.firstName + ' ' + surveyor.lastName for surveyor in vm.surveyorTypeahead($viewValue)"
                data-typeahead-editable="false"
                data-typeahead-on-select="vm.onSurveyorSelect('eicManager', vm.jobModel.eicManager)"
                data-clearable='null'
                data-ng-disabled="!vm.userCanEditField('eicManager')"
                type="text"
                name="eicManager"
                required
                id="team-job-eic-manager"
                placeholder="Please start typing in name"/>
              <ul
                data-ng-if="vm.validFormItem(vm.teamJobForm.eicManager)"
                data-ng-messages="vm.teamJobForm.eicManager.$error"
                role="alert"
                class="validation-error">
                <li data-ng-messages-include="${require('app/asset/jobs/team/validation/specialist.html')}"></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  data-sticky-footer
  id="team-job-preview-footer"
  class="jobs-preview-footer">
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-click="vm.cancel()"
        class="transparent-dark-button"
        id="team-job-preview-cancel">
        Cancel
      </button>
      <button
        data-ng-if="vm.isTeamEditable()"
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.save()"
        data-ng-class="{'active': vm.validForm(), 'disabled': !vm.validForm()}"
        class="primary-button"
        id="team-job-preview-save">
        Save
      </button>
    </div>
  </div>
</div>
