<span data-ng-class="icon.class">
  <span>
    ${require('content/images/inline/mast-icon-attachment-button.svg')}
    <i class="svg-icon-Notes"></i>
    <i class="svg-icon-Attachment"></i>

    <span data-ng-if="!icon.hideCount"
      class="count"
      data-ng-bind="vm.attachments.pagination.totalElements || icon.loading || 0">
    </span>
  </span>
</span>
