<div>
  <button
    data-ng-click="open()"
    class="grey-button">
    Select
    {{label | lowercase}}
  </button>
  <div
    data-ng-repeat="value in getSelected()"
    class="background-light-grey item item-selected">
    <div>
      <span
        data-ng-bind="value.name"
        class="very-dark-grey">
      </span>
    </div>
    <div
      data-ng-click="remove(value)"
      class="grey actionable">
      &#10005;
    </div>
  </div>
</div>
