<section class="case-list">
  <div class="grid-block case-list-header">
    <div class="grid-content small-12">
      <button
        class="primary-button no-margin float-right"
        data-ui-sref="asset.cases.add.addTypes">Add new case</button>
    </div>
  </div>
  <div data-ng-if="!vm.cases.length">
    <p>
      <strong>There are currently no cases for this asset</strong>
    </p>
  </div>
  <pagination
    data-pageable="vm.cases"
    data-type="'cases'"
    data-hide-count="false">
    <div data-type="'cases'">
      <div data-ng-repeat="case in vm.cases"
        data-case-summary
        data-case="case"
        class="grid-block case-list-item">
      </div>
    </div>
  </pagination>
</section>
