<div class="grid-block vertical">
  <div class="grid-block align-right">
    <span
      data-ng-click="setAll(true) && updateSelected()"
      class="actionable">Select All</span>
    |
    <span
      data-ng-click="setAll(false) && updateSelected()"
      class="actionable">Clear All</span>
  </div>
  <div class="grid-block horizontal small-up-{{columns || 2}}">
    <div
      data-ng-repeat="datum in values"
      class="grid-content">
      <div class="checkbox-container">
        <checkbox
          data-ng-model="datum.selected"
          data-ng-change="updateSelected(values)"
          id="select-datum-{{$index}}"
          largest></checkbox>
        <label
          data-ng-bind="getLabel(datum)"
          class="white"
          for="select-datum-{{$index}}"></label>
      </div>
    </div>
  </div>
</div>
