<div class="grid-block vertical footer-follows service-schedule edit-service">
  <div class="grid-block build">
    <div class="grid-content small-1">
      <div id="edit-service-back-button"
        data-back-button
        data-ng-click="vm.back()"
        title="Back to Service">
      </div>
    </div>
    <div class="grid-content small-5">
      <h2>
        Edit: <span data-ng-bind="vm.displayName()"></span>
      </h2>
    </div>
  </div>

  <ng-form
    name="vm.form"
    class="grid-block vertical content-body"
    novalidate>
    <div
      data-ng-show="vm.hasAssociatedItem()"
      class="grid-content">
      <label>Item: <span data-ng-bind="vm.service.assetItem.name"></span></label>
    </div>

    <div class="grid-block">
      <div class="grid-content small-4">
        <label for="assigned-date-picker">Assigned date:</label>
        <input
          data-ng-disabled="vm.isAssignedDateDisabled"
          data-ng-model="vm.editConfig.assignedDate"
          data-ng-required="vm.isAssignedDateRequired"
          max-date="vm.maxAssignedDate"
          date-time
          format="{{vm.dateFormat}}"
          view="date"
          min-view="date"
          auto-close="true"
          name="assignedDatePicker"
          id="assigned-date-picker" />
        <span
          date-picker-icon
          data-sibling-id="assigned-date-picker">
          ${require('content/images/inline/mast-icon-calendar.svg')}
        </span>
        <ul
          data-ng-messages="vm.form.assignedDatePicker.$error"
          role="alert"
          class="validation-error">
          <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
        </ul>
      </div>
      <div class="grid-content small-4">
        <label for="due-date-picker">Due date:</label>
        <input
          data-ng-disabled="vm.isDueDateDisabled"
          data-ng-model="vm.editConfig.dueDate"
          data-min-date="vm.minDueDate"
          date-time
          format="{{vm.dateFormat}}"
          view="date"
          min-view="date"
          auto-close="true"
          name="dueDatePicker"
          id="due-date-picker" />
        <span
          date-picker-icon
          data-sibling-id="due-date-picker">
          ${require('content/images/inline/mast-icon-calendar.svg')}
        </span>
        <ul
          data-ng-messages="vm.form.dueDatePicker.$error"
          role="alert"
          class="validation-error">
          <li data-ng-messages-include="${require('app/asset/service-schedule/edit-service/validation/due-date.html')}"></li>
        </ul>
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-content small-4">
        <label for="lower-range-date-picker">Lower date range:</label>
        <input
          data-ng-disabled="vm.disableLowerRange()"
          data-ng-model="vm.editConfig.lowerRangeDate"
          data-min-date="vm.minLowerRangeDate"
          data-max-date="vm.maxLowerRangeDate"
          date-time
          format="{{vm.dateFormat}}"
          view="date"
          min-view="date"
          auto-close="true"
          name="lowerRangeDatePicker"
          id="lower-range-date-picker" />
        <span
          date-picker-icon
          data-sibling-id="lower-range-date-picker">
          ${require('content/images/inline/mast-icon-calendar.svg')}
        </span>
        <ul
          data-ng-messages="vm.form.lowerRangeDatePicker.$error"
          role="alert"
          class="validation-error">
          <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
        </ul>
      </div>
      <div class="grid-content small-4">
        <label for="upper-range-date-picker">Upper date range:</label>
        <input
          data-ng-model="vm.editConfig.upperRangeDate"
          data-min-date="vm.minUpperRangeDate"
          data-ng-disabled="vm.disableUpperRange()"
          date-time
          format="{{vm.dateFormat}}"
          view="date"
          min-view="date"
          auto-close="true"
          name="upperRangeDatePicker"
          id="upper-range-date-picker"/>
        <span
          date-picker-icon
          data-sibling-id="upper-range-date-picker">
          ${require('content/images/inline/mast-icon-calendar.svg')}
        </span>
        <ul
          data-ng-messages="vm.form.upperRangeDatePicker.$error"
          role="alert"
          class="validation-error">
          <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
        </ul>
      </div>
    </div>

    <div class="grid-content small-2">
      <label for="periodicity">Periodicity (months):</label>
      <input
        data-ng-model="vm.editConfig.cyclePeriodicity"
        data-ng-bind="vm.editConfig.cyclePeriodicity"
        data-ng-disabled="!vm.isPeriodicityEditable"
        name="periodicityNumber"
        id="periodicity"
        type="number"
        required />
    </div>

    <div class="grid-content small-4">
      <label for="last-credited-on-job-number">Last credited on (optional):</label>
      <input
        data-ng-model="vm.editConfig.lastCreditedJob"
        data-ng-bind="vm.editConfig.lastCreditedJob"
        data-ng-maxlength="9"
        data-ng-min="0"
        name="lastCreditedOnJobNumber"
        id="last-credited-on-job-number"
        class="noscroll"
        type="number" />
      <ul
        data-ng-if="vm.form.lastCreditedOnJobNumber.$dirty &&
          vm.form.lastCreditedOnJobNumber.$invalid"
        data-ng-messages="vm.form.lastCreditedOnJobNumber.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/service-schedule/edit-service/validation/last-credited.html')}"></li>
      </ul>
    </div>

    <div class="grid-content">
      <label for="held-status-radio">Held status:</label>
      <ul
        class="button-group segmented"
        id="held-status-radio">
        <li data-ng-repeat="serviceStatus in vm.serviceStatuses">
          <input
            data-ng-model="vm.editConfig.serviceStatus"
            name="heldStatus"
            value="{{serviceStatus.id}}"
            type="radio"
            id="service-status-type-{{$index}}" />
          <label
            for="service-status-type-{{$index}}"
            data-ng-bind="serviceStatus.name">
          </label>
        </li>
      </ul>
    </div>

    <div
      data-ng-if="vm.revealHeldStatusElaboration()"
      class="grid-content small-4">
      <label for="part-held-job-number">Part held job no. (optional):</label>
      <input
        data-ng-model="vm.editConfig.lastPartheldJob"
        data-ng-bind="vm.editConfig.lastPartheldJob"
        data-ng-minlength="9"
        data-ng-maxlength="9"
        name="partHeldJobNumber"
        id="part-held-job-number"
        type="number" />
    </div>

    <div
      data-ng-if="vm.revealHeldStatusElaboration()"
      class="grid-content small-4">
      <label for="date-on-completion-date-picker">Date on completion (optional):</label>
      <input
        data-ng-model="vm.editConfig.completionDate"
        date-time
        format="{{vm.dateFormat}}"
        view="date"
        min-view="date"
        auto-close="true"
        name="dateOnCompletionDatePicker"
        id="date-on-completion-date-picker" />
      <span
        date-picker-icon
        data-sibling-id="date-on-completion-date-picker">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="vm.form.dateOnCompletionDatePicker.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
      </ul>
    </div>

    <div class="grid-content">
      <label for="provisional-status-radio">Provisional status:</label>
      <ul
        class="button-group segmented"
        id="provisional-status-radio">
        <li data-ng-repeat="provisionalStatus in vm.provisionalStatuses">
          <input
            data-ng-model="vm.editConfig.provisional"
            name="provisionalStatus"
            value="{{provisionalStatus.id}}"
            type="radio"
            id="provisional-status-type-{{$index}}" />
          <label
            for="provisional-status-type-{{$index}}"
            data-ng-bind="provisionalStatus.name">
          </label>
        </li>
      </ul>
    </div>

  </ng-form>
</div>

<div
  data-sticky-footer
  id="edit-service-footer"
  class="service-edit-footer">
  <div class="grid-block align-right">
    <div class="grid-content shrink">
      <button
        data-ng-click="vm.back()"
        class="transparent-dark-button"
        id="footer-cancel">
        Cancel
      </button>
      <button
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.save()"
        class="primary-button"
        id="footer-confirm">
        Save
      </button>
    </div>
  </div>
</div>
