<div>
  <span
    data-ng-show="fm._index"
    data-ng-click="fm.navigate(-1)"
    class="left-arrow">
    ${require('content/images/inline/mast-icon-chevron-left.svg')}
  </span>
  <div class="item-container">
    <ul data-ng-class="{'large-carousel': fm.review}">
      <li
        data-ng-repeat="item in fm.visibleItems"
        data-ng-click="vm.viewReport(item.id)">
        <job-report-item
          data-item="item"
          data-item-clickable="{{fm.itemsClickable}}"
          data-review="{{fm.review}}">
        </job-report-item>
        <button
          data-ng-if="fm.isReportPending(item)"
          data-ng-disabled="!fm.isAuthorisingSurveyor || OFFLINE"
          data-ng-class="{'disabled': !fm.isAuthorisingSurveyor}"
          data-ng-click="fm.action({actionTaken:'approve',reportId:item.id})"
          data-ng-if="fm.review"
          class="tr-approve-button">Approve</button>
        <button
          data-ng-if="fm.isReportPending(item)"
          data-ng-disabled="!fm.isAuthorisingSurveyor || OFFLINE"
          data-ng-class="{'disabled': !fm.isAuthorisingSurveyor}"
          data-ng-click="fm.action({actionTaken:'reject',reportId:item.id})"
          data-ng-if="fm.review"
          class="tr-reject-button">Reject</button>
      </li>
    </ul>
  </div>
  <span
    data-ng-show="fm.adjustedIndex < fm.items.length"
    data-ng-click="fm.navigate(1)"
    class="right-arrow">
    ${require('content/images/inline/mast-icon-chevron-right.svg')}
  </span>
</div>
