<div class="relationships footer-follows">
  <div class="grid-block">
    <div
      data-ng-if="vm.filteredItemRelationships.length"
      class="small-4 grid-container"
      id="relationship-count-label">
      Showing <strong class="dark-blue">{{vm.filteredItemRelationships.length}} items</strong>
    </div>
    <div
      data-ng-if="!vm.filteredItemRelationships.length"
      class="small-4 grid-container"
      id="relationship-count-label">
      No relationships have been added to this item
    </div>
    <div class="small-8 text-right grid-container">
      <button
        data-ng-click="vm.create()"
        class="white primary-button"
        id="create-new-relationship-button">
        + Create new relationship
      </button>
    </div>
  </div>
  <div class="grid-block">
    <section data-ng-if="vm.filteredItemRelationships.length">
      <p>Related items</p>
      <table id="relationship-table">
        <!-- The class defines the column widths -->
        <colgroup>
          <col>
          <col>
        </colgroup>
        <thead class="hide">
          <tr>
            <th>Related items</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="relation in vm.filteredItemRelationships | orderBy: 'toItem.name'">
            <td>
              <label for="relationship-{{$index}}-to-item-name">
                <strong
                  class="dark-blue"
                  data-ng-bind="relation.toItem.name"></strong>
              </label>
            </td>
            <td class="text-right">
              <span
                data-ng-if="!relation.deletable"
                class="blue">
                Mandatory
              </span>
              <span
                data-ng-if="relation.deletable"
                data-ng-click="vm.remove(relation)"
                class="actionable"
                id="relationship-{{$index}}-remove-button">
                ${require('content/images/inline/mast-icon-bin.svg')}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
