<div class="grid-block vertical form-control background-light-grey">
  <div class="grid-block">
    <div class="grid-content">
      <label for="imo">IMO number:</label>
    </div>
  </div>
  <div class="grid-block">
    <div class="grid-content small-4">
      <input
        type="text"
        data-ng-if="!vm.ihsLookupComplete"
        integer
        name="imo"
        placeholder="{{vm.imoNumberLength}} digits"
        data-ng-model="vm.asset.imo"
        data-ng-change="vm.verifyImo()"
        data-ng-class="{ 'ng-invalid': (vm.asset.imo | stringify).length === vm.imoNumberLength && !vm.imoValidated }"
        length-limit="vm.imoNumberLength"
        length-min-limit="vm.imoNumberLength"
        id="asset-imo"
        required />
      <div
        data-ng-if="vm.ihsLookupComplete"
        data-ng-bind="vm.asset.imo"
        class="information-label"></div>
    </div>
    <div class="grid-content small-4 medium-5 text-right validation-label">
      <div
        data-ng-if="vm.createAssetForm.imo.$dirty && vm.createAssetForm.imo.$invalid && !vm.createAssetForm.imo.$pristine"
        class="validation-light">
        <span data-ng-if="vm.createAssetForm.imo.$error.required">IMO number is a required field</span>
      </div>
      <div data-ng-if="!vm.createAssetForm.imo.$invalid && (vm.asset.imo | stringify).length === vm.imoNumberLength">
        <span
          data-ng-if="vm.imoValidated"
          class="dark-blue">
          IMO number validated by IHS
        </span>
        <span
          data-ng-if="!vm.imoValidated"
          class="validation-light">
          IMO number not validated by IHS
        </span>
      </div>
    </div>
    <div class="grid-content small-4-up medium-3-up">
      <button
        data-ng-disabled="!vm.imoValidated"
        data-ng-click="vm.lookupIhs()"
        class="secondary-button lookup-button"
        id="ihs-lookup">
        Look up IHS data
      </button>
    </div>
  </div>
</div>
