<div
  data-job-banner
  data-job="vm.job"
  data-back-target="'asset.jobs.view'">
</div>

<div class="grid-block vertical add-scope">
  <div class="grid-block" data-ng-if="vm.item.promptThoroughRepair">
    <div class="grid-content alert padded info text-center">
      Prompt &amp; thorough
    </div>
  </div>
  <div class="grid-content small-12">
    <h3 class="blue">Add to job scope</h3>
  </div>

  <!-- required because of margin on buttons :/ -->
  <div class="grid-block">
    <div class="grid-content small-6">
      <h4 class="grey">1. Select services from the product catalogue</h4>
    </div>
    <div class="grid-content small-6 text-right">
      <ul class="button-group segmented service-group">
        <li>
          <input
            type="radio"
            role="radio"
            data-ng-click="vm.switchService('all')"
            data-ng-model="vm.model.services"
            value="all"
            id="services-all"
            name="service-type" />
            <label for="services-all">All</label></li>
        <li>
          <input
            type="radio"
            role="radio"
            data-ng-click="vm.switchService('schedule')"
            data-ng-model="vm.model.services"
            value="schedule"
            id="services-schedule"
            name="service-type" />
            <label for="services-schedule">Service schedule</label></li>
        <li>
          <input
            type="radio"
            role="radio"
            data-ng-click="vm.switchService('overdue')"
            data-ng-model="vm.model.services"
            value="overdue"
            id="services-overdue"
            name="service-type"
            checked="checked" />
            <label for="services-overdue">Due and overdue</label></li>
      </ul>
    </div>
  </div>

  <div class="grid-content small-12 job-scope-services-options">
    <h6>
      <a data-ng-click="vm.setSelectedStateForAllServices(1)">Select all</a> |
      <a data-ng-click="vm.setSelectedStateForAllServices(0)">Clear all</a>
      <span data-ng-if="vm.selectedServices().length > 0"> |
        {{ vm.selectedServices().length }} {{ 'services' | singularise: vm.selectedServices() }} selected
      </span>
    </h6>
  </div>

  <div data-ng-include="'app/asset/jobs/add-scope/partials/services.html'"></div>

  <div class="grid-content small-12">
    <h4 class="grey">
      2. Select Conditions of Class, Actionable Items and Asset Notes for
      this asset
    </h4>
  </div>

  <section data-ng-if="vm.loading">
    <spinner/>
  </section>

  <script type="text/ng-template" id="nested.html">
    <div
      id="job-scope-hierarchy-node-{{node.id}}"
      class="job-scope-hierarchy-node no-border grid-block">
      <div class="checkbox-container node-checkbox small-1">
        <checkbox
          data-ng-model="node.checkBoxModel"
          data-ng-true-value="1"
          data-ng-false-value="0"
          data-ng-click="vm.addSelectedScopeItems(node)"
          data-ng-disabled="node.unselectable"
          name="job-scope-hierarchy-{{node.id}}-checkbox"
          id="job-scope-hierarchy-{{node.id}}-checkbox"
          largest>
        </checkbox>
      </div>
      <div class="node-details small-2">
        <span class="node-name"
          data-ng-bind="node.title"></span>
        <span class="node-id"
          data-ng-bind="node.id"></span>
      </div>
      <div class="small-2 node-description">
        <span
          data-ng-if="node.category || node.defect.repairCount"
          class="node-codicil-class">
          <span
            data-ng-if="node.category.name && !node.defect.repairCount"
            data-ng-bind="node.category.name"></span>
          <span data-ng-if="node.defect.repairCount">
            {{ node.defect.repairCount }} {{ 'repairs' | singularise: node.defect.repairCount }}
          </span>
        </span>
        <span data-ng-if="node.defect">
          <a data-ng-click="vm.singleDefectLink(node)">
            Defect {{ node.defect.id | zeropad: 4 }}
          </a>
          <a
            data-ng-if="node.repair"
            data-ng-click="vm.singleRepairLink(node)">
            Repairs
          </a>
        </span>
      </div>
      <div class="small-1 node-category">
        <span data-ng-bind="node.defect.category"></span>
      </div>
      <div class="small-3 node-dates">
        <div>
          Imposed date:
          <strong data-ng-bind="node.imposedDate | moment"></strong>
        </div>
        <div
          data-ng-if="node.route !== 'asset-note'">
          Due date:
          <strong data-ng-bind="node.dueDate | moment"></strong>
        </div>
      </div>
      <div class="small-2 node-status">
        <span data-ng-bind="node.status.name"></span>
      </div>
      <div class="small-1 node-arrow">
        <span class="glyph float-right grey">
          <a
            data-ng-click="vm.singleCodicilLink(node)">
            <i class="svg-icon-Right svg-icon-large"></i>
          </a>
        </span>
      </div>
    </div>
  </script>

  <div
    data-ng-if="vm.jobCocs.length"
    data-ng-include="'app/asset/jobs/add-scope/partials/cocs.html'"></div>
  <div
    data-ng-if="vm.jobActionableItems.length"
    data-ng-include="'app/asset/jobs/add-scope/partials/actionable-items.html'"></div>
  <div
    data-ng-if="vm.jobAssetNotes.length"
    data-ng-include="'app/asset/jobs/add-scope/partials/asset-notes.html'"></div>
</div>

<div
  data-sticky-footer
  id="add-scope-jobs-preview-footer"
  class="jobs-preview-footer">
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-click="vm.cancel()"
        class="transparent-dark-button"
        id="add-scope-job-preview-cancel">
        Cancel
      </button>
      <button
        data-ng-if="vm.ctaVisible()"
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.save()"
        class="primary-button"
        id="add-scope-job-preview-save">
        Add ({{ vm.selectedScopeItemsSize }})
      </button>
    </div>
  </div>
</div>
