<small-modal
  class="white text-center"
  id="modal-discard-changes"
  title="">
  <modal-body>
    <ng-form name="vm.serviceNameForm" novalidate>
      <div class="grid-block vertical job-service-product-modal">
        <p>
          You have selected to add some miscellaneous services.
          Update the descriptions as appropriate:
        </p>
        <div
          data-ng-repeat="service in vm.services"
          class="grid-block small-12 job-service-renaming">
          <label class="grid-content small-2 white"
             for="serviceName_{{$index}}"
             data-ng-bind="service.code"></label>
          <div class="grid-content small-10 dark-grey">
            <input data-ng-model="service.name"
               name="serviceName_{{$index}}"
               id="serviceName_{{$index}}"
               size="40"
               data-ng-maxlength="50"
               data-ng-pattern="vm.allowedSpecialCharactersRegex"
               required />
            <div class="validation-light white"
              data-ng-show="vm.serviceNameForm['serviceName_' + $index].$error.required">Service name is required</div>
            <div class="validation-light white"
              data-ng-show="vm.serviceNameForm['serviceName_' + $index].$error.pattern">Only use letters, numbers and allowed special characters</div>
            <div class="validation-light white"
              data-ng-show="vm.serviceNameForm['serviceName_' + $index].$error.maxlength">50 character limit</div>
          </div>
        </div>
      </div>
    </ng-form>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="$close(false)">Cancel
    </button>
    <button
      class="primary-button"
      data-ng-disabled="vm.serviceNameForm.$invalid"
      data-ng-click="$close(vm.services)">OK
    </button>
  </modal-footer>
</small-modal>
