<div data-sticky-footer>
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-repeat="button in data.buttons"
        data-ng-disabled="button.disabled"
        data-ng-click="button.action()"
        data-ng-class="button.class">
        {{button.name || 'Save'}}
      </button>
    </div>
  </div>
</div>
