<div data-sticky-footer>
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-click="vm.back()"
        class="transparent-dark-button">
        Cancel
      </button>
      <button
        data-ng-disabled="vm.form.$invalid"
        data-ng-click="vm.save()"
        class="primary-button">
        {{data.ctaName || 'Save'}}
      </button>
    </div>
  </div>
</div>
