<section>
  <header><h3 class="dark-grey bold">Basic asset details</h3></header>

  <div class="grid-block">
    <!--
      Asset name
    //-->
    <div
      class="grid-content small-6">
      <label for="name">Asset name</label>
      <input
        data-ng-model="vm.asset.name"
        data-ng-maxlength="50"
        id="asset-asset-name"
        type="text"
        name="assetName"
        maxlength="50"
        placeholder="Asset name" />
      <ul
        data-ng-if="vm.validFormItem(vm.editAssetDetailsForm.assetName)"
        data-ng-messages="vm.editAssetDetailsForm.name.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/asset-details/edit/validation/asset-name.html')}"></li>
      </ul>
    </div>

    <!--
      Lead sister asset
    //-->
    <div
    data-ng-if="vm.isIMORegistered()"
      class="grid-content small-6">
      <div class="grid-content small-12">
        <label for="leadImo">Lead sister asset</label>
      </div>
      <div class="horizontal small-6 radio">
        <div>
          <input
            data-ng-click="vm.imoValidated = true; vm.asset.leadImo = vm.asset.ihsAsset.id"
            data-ng-value="1"
            data-ng-model="vm.asset.isLead"
            type="radio"
            role="radio"
            name="leadImo"
            id="lead-imo-yes" />
          <label for="lead-imo-yes">Yes</label>
        </div>
        <div>
          <input
            data-ng-value="0"
            data-ng-click="vm.asset.leadImo = null"
            data-ng-model="vm.asset.isLead"
            type="radio"
            role="radio"
            name="leadImo"
            id="lead-imo-no" />
          <label for="lead-imo-no">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-6"></div>
    <!--
      LR Lead asset
    //-->
    <div class="grid-block small-6 lead-imo">
      <div
        class="grid-content small-6"
        data-ng-if="vm.isIMORegistered()">
        <label for="lrLeadAsset">LR Lead asset</label>
        <!--If no is selected-->
        <input
          data-ng-if="!vm.asset.isLead"
          data-ng-model="vm.asset.leadImo"
          data-ng-change="vm.verifyImo()"
          data-ng-class="{ 'ng-invalid': (vm.asset.leadImo | stringify).length === vm.imoNumberLength && !vm.imoValidated }"
          data-ng-disabled="vm.asset.isLead"
          length-limit="vm.imoNumberLength"
          length-min-limit="vm.imoNumberLength"
          type="text"
          integer
          name="lrLeadAsset"
          placeholder="{{vm.imoNumberLength}} digits"
          id="asset-lr-lead-asset"
          required />
          <!--If yes is selected-->
        <input
          data-ng-if="vm.asset.isLead"
          data-ng-model="vm.asset.leadImo"
          data-ng-change="vm.verifyImo()"
          data-ng-class="{ 'ng-invalid': (vm.leadImo | stringify).length === vm.imoNumberLength && !vm.imoValidated }"
          data-ng-disabled="vm.asset.isLead"
          placeholder="{{vm.imoNumberLength}} digits"
          length-limit="vm.imoNumberLength"
          length-min-limit="vm.imoNumberLength"
          type="text"
          integer
          name="lrLeadAsset"
          id="asset-lr-lead-asset"
          required />
      </div>
      <div class="grid-content small-6 error">
          <span
            data-ng-if="!vm.imoValidated"
            class="validation-light">
            IMO number not validated by IHS
          </span>
          <span
            data-ng-if="vm.compareLeadImo()"
            class="validation-light">
            Lead IMO number cannot be the same as the Asset IMO number
          </span>
        </div>
    </div>
  </div>

  <div class="grid-block">
    <!--
      Class status
    //-->
    <div class="grid-content small-6">
      <label for="classStatus">Class status</label>
      <select
        data-ng-model="vm.asset.classStatus"
        data-ng-options="class.name for class in vm.classStatuses track by class.id"
        data-ng-change="vm.classStatusChanged()"
        name="classStatus"
        id="asset-class-status"
        required></select>
      <ul
        data-ng-messages="vm.editAssetDetailsForm.classStatus.$error"
        data-ng-if="vm.validFormItem(vm.editAssetDetailsForm.classStatus)"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/asset-details/edit/validation/class-status.html')}"></li>
      </ul>
    </div>

    <div class="grid-content small-6">
      <label for="effectiveDate">Effective date</label>
      <input
        data-ng-model="vm.asset.effectiveDate"
        date-time
        view="date"
        min-view="date"
        format="{{vm.dateFormat}}"
        class="blue"
        name="effectiveDate"
        id="effective-date"
        required />
      <span
        sibling-id="effective-date"
        date-picker-icon>
          ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
    </div>

    <div class="grid-content small-6">
      <label for="hullIndicator">Special survey indicator</label>
      <select
        data-ng-model="vm.asset.hullIndicator"
        name="hullIndicator"
        id="asset-hull-indicator"
        required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="assetLifecycleStatus">Lifecycle status</label>
      <select
        data-ng-model="vm.asset.assetLifecycleStatus"
        data-ng-options="cycle.name for cycle in vm.lifecycleStatuses track by cycle.id"
        name="assetLifecycleStatus"
        id="asset-asset-lifecycle-status"
        required></select>
        <ul
          data-ng-messages="vm.editAssetDetailsForm.assetLifecycleStatus.$error"
          data-ng-if="vm.validFormItem(vm.editAssetDetailsForm.assetLifecycleStatus)"
          role="alert"
          class="validation-error">
        <li data-ng-messages-include="${require('app/asset/asset-details/edit/validation/lifecycle-status.html')}"></li>
      </ul>
    </div>
    <div class="grid-content small-6"></div>
  </div>

  <div class="grid-block">
    <!--
      Asset type (button)
    //-->
    <div
      class="grid-content small-6">
      <label for="assetType">Asset type</label>
      <button
        data-ng-click="vm.selectAssetTypes()"
        class="grey-button">Select type</button>
    </div>

    <!--
      Asset category
    //-->
    <div class="grid-content small-6">
      <label for="assetCategory">Asset category</label>
      <input
        data-ng-bind="vm.asset.assetCategory"
        id="asset-asset-category"
        name="assetCategory"
        readonly
        type="text"
        value="{{ vm.asset.assetCategory.name }}" />
    </div>
  </div>

  <div class="grid-block">
    <!--
      Asset type (display field)
    //-->
    <div
      class="grid-content small-6">
      <input
        data-ng-model="vm.asset.assetType.name"
        id="asset-asset-type"
        type="text"
        name="assetType"
        placeholder="Asset Type"
        readonly />
      <ul
        data-ng-messages="vm.editAssetDetailsForm.assetType.$error"
        data-ng-if="vm.validFormItem(vm.editAssetDetailsForm.assetType)"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/asset-details/edit/validation/asset-type.html')}"></li>
      </ul>
    </div>
    <div class="grid-content small-6"></div>
  </div>

  <div class="grid-block">
    <!--
      Class section
    //-->
    <div class="grid-content small-6">
      <label for="class-section">Class section</label>
      <select
        data-ng-model="vm.asset.classDepartment"
        data-ng-options="section.name for section in vm.classDepartments track by section.id"
        id="class-section"
        name="class-section"
        required>
      </select>
      <ul
        data-ng-if="vm.editAssetDetailsForm.class-section.$invalid && !vm.editAssetDetailsForm.class-section.$pristine"
        data-ng-messages="vm.editAssetDetailsForm.class-section.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/asset-class-section.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <!--
      Gross tonnage
    //-->
    <div
      class="grid-content small-6">
      <label for="grossTonnage">Gross tonnage (m<sup>3</sup>)</label>
      <input
        data-ng-model="vm.asset.grossTonnage"
        data-ng-maxlength="7"
        type="number"
        name="grossTonnage"
        id="case-gross-tonnage"
        placeholder="Gross tonnage"
        maxlength="7"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.editAssetDetailsForm.grossTonnage)"
        data-ng-messages="vm.editAssetDetailsForm.grossTonnage.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/asset-details/edit/validation/gross-tonnage.html')}"></li>
      </ul>
    </div>
  </div>
</section>
<section
  data-ng-if="vm.ihsAsset"
  class="ihs-section">
  <div class="grid-block">
    <div class="grid-content small-12">
      <h5>IHS stored data</h5>
    </div>
    <div class="grid-content small-3">
      <h6>Asset name</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.name"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Asset type</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.ihsAssetType.statDeCode"></p>
    </div>
  </div>
</section>
