<section>
  <header><h3 class="dark-grey bold">Class maintenance regime</h3></header>

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="maintenanceRegime">Class maintenance regime</label>
      <ul class="button-group segmented">
        <li data-ng-repeat="classMaintenanceStatus in vm.classMaintenanceStatuses">
          <input
            id="asset-maintenance-regime-{{$index}}"
            name="maintenanceRegime"
            value="{{classMaintenanceStatus.id}}"
            type="radio"
            data-ng-model="vm.asset.classMaintenanceStatus.id"
            required />
          <label
            for="asset-maintenance-regime-{{$index}}"
            data-ng-bind="classMaintenanceStatus.name">
          </label>
        </li>
      </ul>
      <ul
        data-ng-if="vm.validFormItem(vm.editAssetDetailsForm.maintenanceRegime)"
        data-ng-messages="vm.editAssetDetailsForm.maintenanceRegime.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/asset-details/edit/validation/class-maintenance.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="coClassificationSociety">
        Co-classification society
        <span>Note: Upload the agreement to the case</span>
      </label>
      <input
        data-ng-model="vm.asset.coClassificationSociety"
        type="text"
        data-typeahead="society as society.name for society in vm.losingSocietyTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        name="coClassificationSociety"
        id="co-classificiation-society"
        placeholder="Start typing name" />
    </div>
  </div>
</section>
