<section>
  <header><h3 class="dark-grey bold">Customers</h3></header>

  <div
    data-ng-repeat="(i, customer) in vm.asset.customers"
    class="grid-block asset-customer">
    <div class="grid-content small-3 asset-customer-relationship">
      <h6
        data-ng-model="vm.asset.customers[i].relationship"
        data-ng-bind="customer.relationship.name"></h6>
    </div>

    <div class="grid-content small-4 asset-customer-name">
      <label
        for="relationship-{{$index}}-customer">Name</label>
      <input
        type="text"
        name="{{customer.elm}}"
        id="relationship-{{$index}}-customer"
        data-typeahead="customer.name for customer in vm.customerTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-typeahead-on-select="vm.setCustomerName(customer, vm.asset.customers[i].customer.name)"
        data-clearable
        data-ng-model="vm.asset.customers[i].customer.name"
        placeholder="Start typing name"
        required />
      <ul
        data-ng-messages="vm.addCaseForm[customer.elm].$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/asset-details/edit/validation/customer-name.html')}"></li>
      </ul>
    </div>

    <div class="grid-content small-4 asset-customer-functions">
      <label
        for="relationshipFunctions">
        Functions
      </label>
      <button
        class="primary-button"
        name="relationshipFunctions"
        id="relationship-{{$index}}-functions"
        data-ng-click="vm.selectCustomerFunctions(customer)">Select function</button>

      <div class="asset-customer-selected-functions">
        <div
          class="grid-content small-12"
          data-ng-repeat="(j, item) in vm.assetCustomerFunctions(customer)">
          <button
            name="{{item.customerFunction.name}}"
            id="{{item.customerFunction.name}}"
            class="primary-button close-icon-button"
            data-ng-click="vm.removeCustomerFunction(customer, item)">
            <span>{{item.customerFunction.name}}</span>
            <i class="svg-icon-Close"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="grid-content small-1 asset-customer-delete">
      <span data-ng-click="vm.removeCustomer(customer)">&#10005;</span>
    </div>
  </div>

  <div data-ng-show="!vm.asset.customers.length">
    <p>There is no customer information defined for this asset.</p>
  </div>

  <br />

  <div class="grid-block">
    <div class="grid-content small-6">
      <button
        data-ng-click="vm.selectRelationship()"
        class="grey-button">Add customer</button>
    </div>
    <div class="grid-content small-6"></div>
  </div>
</section>
