<section class="flag-details">
  <header><h3 class="dark-grey bold">Flag details</h3></header>

  <div class="grid-block">
    <!--
      Current flag
    //-->
    <div class="grid-content small-6">
      <label for="flagState">Current flag</label>
      <input
        data-ng-model="vm.asset.flagState"
        type="text"
        data-typeahead="flag as flag.name for flag in vm.flagTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        name="flagState"
        id="asset-flag-state"
        placeholder="Start typing name" />
    </div>

    <!--
      Call sign
    //-->
    <div
      class="grid-content small-6"
      data-ng-if="vm.isIMORegistered()">
      <label for="callSign">Call sign</label>
      <input
        type="text"
        name="callSign"
        id="asset-call-sign"
        placeholder="(Not editable)"
        data-ng-bind="vm.asset.callSign"
        data-ng-model="vm.asset.callSign"
        data-ng-readonly="vm.isIMORegistered()" />
    </div>
  </div>

  <div class="grid-block">
    <!--
      Port of registry
    //-->
    <div class="grid-content small-6">
      <label for="registeredPort">Port of registry</label>
      <input
        data-ng-model="vm.asset.registeredPort"
        type="text"
        data-typeahead="port as port.name for port in vm.portTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        name="registeredPort"
        id="asset-registered-port"
        placeholder="Start typing name" />
    </div>
    <div class="grid-content small-6"></div>
  </div>
</section>
<section
  class="ihs-section"
  data-ng-if="vm.ihsAsset">
  <div class="grid-block">
    <div class="grid-content small-12">
      <h5>IHS stored data</h5>
    </div>
    <div class="grid-content small-3">
      <h6>Current flag</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.flag.name"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Port register</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.portName"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Call sign</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.callSign"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Official number</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.officialNo"></p>
    </div>
  </div>
</section>
