<section>
  <header><h3 class="dark-grey bold">Offices</h3></header>

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="classCFO">Class CFO</label>
      <input
        data-ng-model="vm.asset.offices.classCFO.office.name"
        data-ng-bind="vm.asset.offices.classCFO.office.name"
        data-ng-value="vm.asset.offices.classCFO.office.name"
        data-ng-readonly="true"
        type="text"
        id="class-cfo"
        name="classCFO" />
    </div>

    <div class="grid-content small-6">
      <label for="classGroup">Class group</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        data-ng-model="vm.asset.offices.class.office"
        data-ng-bind="vm.asset.offices.class.office.name"
        data-ng-value="vm.asset.offices.class.office.name"
        type="text"
        name="classGroup"
        id="class-group"
        placeholder="Start typing name" />
    </div>
  </div>

  <script type="text/ng-template" id="office.html">
    <hr />

    <div class="grid-block">
      <div class="grid-content small-6">
        <label
          data-ng-bind="office.name"
          for="{{office.name | kebabise}}"></label>
        <input
          data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue)"
          data-typeahead-editable="true"
          data-clearable='null'
          id="{{office.name | kebabise}}"
          type="text"
          placeholder="Start typing office code"
          data-ng-model="vm.asset.offices[office.name].office.name">
      </div>

      <div class="grid-content small-6">
        <label for="classGroup">Class group</label>
        <input
          data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue)"
          data-typeahead-editable="true"
          data-clearable='null'
          data-ng-model="vm.asset.office[office.name].officeRole.name"
          type="text"
          name="classGroup"
          id="class-group"
          placeholder="Start typing name" />
      </div>
    </div>
  </script>

  <div
    data-ng-repeat="office in vm.extraOffices"
    data-ng-include="'office.html'">
  </div>

  <div class="grid-block">
    <div class="grid-content small-6">
      <button
        data-ng-click="vm.selectOfficeType()"
        class="grey-button">Add office</button>
    </div>
  </div>
</section>
<section
  data-ng-if="vm.ihsAsset"
  class="ihs-section">
  <div class="grid-block">
    <div class="grid-content small-12">
      <h5>IHS stored data</h5>
    </div>
    <div class="grid-content small-3">
      <h6>Registered owner</h6>
      <p data-ng-bind="vm.ihsAsset.ihsGroupFleet.regdOwner"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Ship manager</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.shipManager"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Group owner</h6>
      <p data-ng-bind="vm.ihsAsset.ihsGroupFleet.groupOwner"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Operator</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.operator"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Technical manager</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.techManager"></p>
    </div>
    <div class="grid-content small-3">
      <h6>DOC company</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.docCompany"></p>
    </div>
  </div>
</section>
