<section>
  <header><h3 class="dark-grey bold">
    Rule set, class notations and descriptive notes
  </h3></header>

  <div class="grid-block">
    <div class="grid-content small-6">
      <button
        class="grey-button"
        data-ng-click="vm.buildRuleSet()">Build rule set</button>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-12">
      <input
        class="full"
        data-ng-model="vm.asset.ruleSet.name"
        type="text"
        readonly
        name="ruleSet"
        placeholder="Rule Set"
        id="rule-set" />
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-12">
      <label for="classNotation">Hull class notation</label>
      <input
        class="full"
        type="text"
        name="classNotation"
        maxlength="500"
        data-ng-maxlength="500"
        id="asset-hull-class-notation"
        data-ng-model="vm.asset.classNotation" />
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-12">
      <label for="machineryClassNotation">Machinery class notation</label>
      <input
        class="full"
        type="text"
        name="machineryClassNotation"
        maxlength="500"
        data-ng-maxlength="500"
        data-ng-model="vm.asset.machineryClassNotation"
        id="asset-machinery-class-notation" />
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-12">
      <label for="description">Descriptive notes</label>
      <input
        class="full"
        type="text"
        name="description"
        maxlength="500"
        data-ng-maxlength="500"
        data-ng-model="vm.asset.descriptiveNote"
        id="asset-descriptive-notes" />
    </div>
  </div>
</section>
