<small-modal
  class="white text-center select-relationship-dialog select-functions-dialog"
  id="modal-discard-changes">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-12">Select functions (multiple selections possible)</h2>
    </div>
  </modal-header>
  <modal-body>
    <div class="grid-block">
      <ng-form
        name="vm.FunctionsForm"
        id="functions-form"
        novalidate>
        <select
          data-ng-model="vm.functionSelection"
          name="functionType"
          id="function-type"
          multiple
          size="8"
          data-ng-options="func.name for func in vm.functionTypes track by func.id">
        </select>
      </ng-form>
    </div>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        ng-class="{'disabled': !vm.validForm()}"
        class="primary-button"
        data-ng-click="vm.confirm()">Select</button>
    </div>
  </modal-footer>
</small-modal>
