<small-modal
  class="white text-center select-office-type-dialog"
  id="modal-discard-changes">
  <modal-header>
    <div class="grid-block">
      <h2 class="grid-content small-12" data-ng-if="vm.officeTypes.length">
        Select an Office Type to add
      </h2>
      <h2 class="grid-content small-12" data-ng-if="!vm.officeTypes.length">
        No more Office Types available
      </h2>
    </div>
  </modal-header>
  <modal-body>
    <ng-form
      data-ng-if="vm.officeTypes.length"
      name="vm.OfficeTypesForm"
      id="rule-set-form">
      <select
        data-ng-model="vm.office"
        name="officeTypes"
        id="office-types"
        data-ng-options="office.name for office in vm.officeTypes track by office.id">
        <option value="">Select an office type</option>
      </select>
    </ng-form>

    <p class="text-center" data-ng-if="!vm.officeTypes.length">
      There are no more office types remaining.
    </p>
  </modal-body>
  <modal-footer>
    <div>
      <button
        data-ng-if="!vm.officeTypes.length"
        class="transparent-button-white"
        data-ng-click="$dismiss()">Ok</button>
      <button
        data-ng-if="vm.officeTypes.length"
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        data-ng-if="vm.officeTypes.length"
        data-ng-class="{'disabled': !vm.validForm()}"
        class="primary-button"
        data-ng-click="vm.confirm()">Select</button>
    </div>
  </modal-footer>
</small-modal>
