<section class="configuration grid-block vertical">
  <h2 class="grid-block">Application Configuration</h2>

  <div class="content-body">
    <ng-form
      novalidate
      class="grid-block vertical">
      <fieldset
        data-ng-repeat="key in vm.keys"
        data-ng-class="{ 'checkbox': vm.fieldType(key) === 'boolean' }">
        <!-- TODO: use the dynamic input directive when implemented -->
        <div data-ng-switch="vm.fieldType(key)">
          <input
            data-ng-switch-when="text"
            id="{{key}}"
            type="text"
            data-ng-model="vm.appConfig[key]"
            placeholder="{{key}}" />

          <input
            data-ng-switch-when="boolean"
            id="{{key}}"
            type="checkbox"
            data-ng-model="vm.appConfig[key]"/>

          <input
            data-ng-switch-when="password"
            id="{{key}}"
            type="password"
            data-ng-model="vm.appConfig[key]"
            placeholder="{{key}}" />

          <textarea
            data-ng-switch-when="textarea"
            id="{{item.key}}"
            data-ng-model="vm.appConfig[key]">
          </textarea>

          <label for="{{key}}">{{key}}</label>
        </div>
      </fieldset>
      <fieldset>
        <button
          class="primary-button"
          type="submit"
          data-ng-click="vm.save()">
          Save
        </button>
        <button
          class="secondary-button"
          data-ng-click="vm.clearSession()"
          data-ng-disabled="vm.sessionCleared">
          Clear session
        </button>
        <button
          class="secondary-button"
          data-ng-click="vm.reset()">
          Reset
        </button>
      </fieldset>
    </ng-form>
  </div>
</section>
