<div class="grid-block align-right button-bar">
  <button data-ng-click="vm.toggleNewAttachment()"
    data-ng-class="{ 'transparent-dark-button' : !vm.addingAttachment, 'white-button arrowed': vm.addingAttachment }"
    class="icon-button inline"
    id="add-attachment">
    <i class="svg-icon-Attachment"></i>
    <span>Add attachment</span>
  </button>
  <button data-ng-click="vm.toggleNewNote()"
    data-ng-class="{ 'transparent-dark-button' : !vm.addingNote, 'white-button arrowed': vm.addingNote }"
    class="icon-button inline"
    id="add-note">
    <i class="svg-icon-Notes"></i>
    <span>Add note</span>
  </button>
</div>
