<full-screen-modal class="attachments-and-notes">
  <modal-header>
    <h5>Attachments &amp; notes</h5>
    <h2 data-ng-bind="::vm.title"></h2>
    <a
      data-ng-click="vm.close()"
      class="close-button">&#10005;</a>
  </modal-header>
  <modal-body>
    <spinner data-ng-if="vm.loading"></spinner>
    <div data-ng-include="'app/components/attachments-and-notes/attachment-modal/add-attachment-or-note.html'"></div>
    <pagination
      data-ng-if="!vm.loading"
      pageable="vm.attachments"
      type="'attachments/notes'">
      <!-- Temporarily removing this element and having the above include always present -->
      <!--<pagination-header-right>
        <div data-ng-include="'app/components/attachments-and-notes/attachment-modal/add-attachment-or-note.html'"></div>
      </pagination-header-right>-->
      <spinner data-ng-if="vm.savingNote || vm.savingAttachment"></spinner>
      <!-- Add Note Begins -->
      <ng-form
        data-ng-if="vm.addingNote && !vm.savingNote"
        name="vm.addNoteForm"
        class="add-note-form">
        <fieldset>
          <span
            data-ng-bind="vm.today | date:'dd MMM yyyy'"
            class="add-note-date"></span>
          <span>By: <strong data-ng-bind="vm.currentUser"></strong></span>
        </fieldset>
        <fieldset>
          <label>Add your note ({{vm.maxChars}} character limit)</label>
          <textarea
            name="addNoteDescription"
            data-ng-model="vm.newNote.note"
            placeholder="Type your note here"
            required
            maxlength="{{vm.maxChars}}"
            data-ng-maxlength="vm.maxChars"
            data-ng-pattern="vm.allowedSpecialCharactersRegex"
            data-spellcheck="true"></textarea>
          <ul
            data-ng-if="vm.addNoteForm.addNoteDescription.$invalid && !vm.addNoteForm.addNoteDescription.$pristine"
            data-ng-messages="vm.addNoteForm.addNoteDescription.$error"
            role="alert"
            class="validation-error">
            <li data-ng-messages-include="${require('app/components/validation/description.html')}"></li>
          </ul>
        </fieldset>
        <fieldset>
          <label for="seenBy">Seen By</label>
          <br/>
          <div id="seenBy">
            <ul class="button-group segmented dark">
              <li data-ng-repeat="item in vm.confidentialityTypes track by item.id">
                <input
                  type="radio"
                  name="confidentiality-type-note-{{$index}}"
                  data-ng-model="vm.newNote.confidentialityType"
                  data-ng-value="item"
                  data-ng-required="!vm.newNote.confidentialityType"
                  id="confidentiality-type-note-{{$index}}">
                <label
                  for="confidentiality-type-note-{{$index}}"
                  data-ng-bind="item.description">
                </label>
              </li>
            </ul>
          </div>
        </fieldset>
        <fieldset>
          <button
            class="transparent-dark-button"
            data-ng-click="vm.cancelNote()">
            Cancel
          </button>
          <button
            class="primary-button"
            data-ng-click="vm.saveNote(vm.newNote)"
            data-ng-disabled="vm.addNoteForm.$invalid">
            Add note
          </button>
        </fieldset>
      </ng-form>
      <!-- Add Note Ends -->
      <!-- Add Attachment Begins -->
      <ng-form
        data-ng-if="vm.addingAttachment && !vm.savingAttachment"
        name="vm.addAttachmentForm"
        class="add-attachment-form">
        <fieldset>
          <div class="grid-block vertical">
            <div class="grid-block">
              <label>Choose attachment(s) to upload</label>
            </div>
            <div class="grid-block">
              <input
                type="file"
                id="upload"
                data-ng-model="vm.files"
                file-input
                class="inputfile inputfile-secondary"
                multiple />
              <label for="upload">
                Choose
              </label>
            </div>
            <p data-ng-if="vm.totalNewAttachments">
              <label>{{ vm.totalNewAttachments }} attachment(s) chosen</label>
            </p>
            <div
              class="grid-block"
              data-ng-if="files">
              <div class="grid-block small-4">
                <label>Attachment(s) chosen</label>
              </div>
              <div class="grid-block small-4">
                <label>Seen by (Mandatory)</label>
              </div>
              <div class="grid-block small-4">
                <label>Description (Optional)</label>
              </div>
            </div>
            <div
              data-ng-repeat="file in vm.newAttachments"
              class="grid-block attachment-list-item">
              <div class="grid-content small-3 attachment-name">
                <attachments-icon dark="true" hide-count="true"> </attachments-icon>
                <span>{{ file.meta.title }}</span>
              </div>
              <div class="grid-content small-4 attachment-ctype">
                <div>
                  <ul class="button-group segmented dark">
                    <li data-ng-repeat="item in vm.confidentialityTypes track by item.id">
                      <input
                        type="radio"
                        name="confidentiality-type-{{$parent.$index}}"
                        data-ng-value="item"
                        data-ng-model="file.meta.confidentialityType"
                        data-ng-required="!file.meta.confidentialityType"
                        id="confidentiality-type-{{$parent.$index}}-{{$index}}">
                      <label
                        for="confidentiality-type-{{$parent.$index}}-{{$index}}"
                        data-ng-bind="item.description">
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="grid-content small-4 attachment-desc">
                <input
                  type="text"
                  data-ng-model='file.meta.note'
                  placeholder='300 character limit'
                  maxlength='300'
                  data-spellcheck="true" />
              </div>
              <div class="grid-content small-1 attachment-remove">
                <span
                  data-ng-click="vm.removeNewDocument(file)"
                  class="actionable"
                  id="confidentiality-type-{{$parent.$index}}-{{$index}}-remove">
                  &#10005;
                </span>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div
            class="validation-error"
            data-ng-if="vm.addAttachmentForm.$invalid && vm.newAttachments.length">
            <span>Please select a confidentiality type for every file</span>
          </div>
          <button
            class="transparent-dark-button"
            data-ng-click="vm.cancelAttachment()">
            Cancel
          </button>
          <button
            class="primary-button"
            data-ng-click="vm.saveAttachments()"
            data-ng-disabled="vm.addAttachmentForm.$invalid || !vm.newAttachments.length">
            Upload
          </button>
        </fieldset>
      </ng-form>
      <!-- Add Attachment Ends -->
      <!-- Repeating Tiles begins -->
      <div class="grid-block vertical">
        <br />
        <div
          data-ng-repeat="row in vm.rows"
          class="grid-block vertical">
          <div class="grid-block">
            <div
              data-ng-repeat="attachment in row"
              class="grid-block small-4 medium-4 large-3"
              data-ng-click="vm.toggleDetails(attachment)">
              <attachment-or-note attachment="attachment">
              </attachment-or-note>
            </div>
          </div>
          <div
            data-ng-if="(row | filter: { isExpanded: true}).length"
            data-ng-include="'app/components/attachments-and-notes/attachment-modal/partials/expanded-notes-card.html'">
          </div>
        </div>
      </div>
      <div
        data-ng-if="!vm.attachments.length"
        class="grid-content">
        <strong>No attachments or notes found.</strong>
      </div>
    </pagination>
    <div
      data-ng-show="vm._allAttachments.length > vm.attachments.length"
      class="text-center">
        <button
          data-ng-click="vm.loadMoreLocal()"
          class="button">Load more</button>
    </div>
  </modal-body>
  <full-screen-modal>
