<section class="service-schedule view-service">
  <div
    data-service-banner
    data-service-model="vm.models.service"
    data-service-catalogue-model="vm.models.serviceCatalogue"
    data-product="vm.product"
    data-attachment-count="vm.attachmentCount"
    data-attachment-path="vm.attachmentPath"
    data-back-target="vm.backTarget || 'asset.serviceSchedule.list'"
    data-has-counter-half="vm.hasCounterpart()"
    data-swap-service="vm.swap()">
  </div>

  <div class="grid-block vertical content-body">
    <div class="grid-block header">
      <h3 class="dark-blue">Tasklist</h3>
      <span class="grey">Tasks <strong class="dark-blue">({{vm.tasks.pagination.totalElements}})</strong></span>
    </div>
    <pagination
      data-pageable="vm.tasks"
      data-type="'tasks'">
      <div
        data-ng-repeat="task in vm.tasks"
        data-ng-include="'app/asset/service-schedule/view-service/partials/task-summary.html'"
        class="task-summary"></div>
    </pagination>
  </div>
</section>
