<div class="case-management">
  <div class="grid-block case-management-header">
    <div id="view-job-back-button"
      class="grid-content small-1"
      data-back-button
      data-ui-sref="asset.cases.list"
      title="Back to Cases">
    </div>
    <div class="grid-content small-11">
      <h3>Add case</h3>
    </div>
  </div>

  <div class="grid-block small-12">
    <div class="tabs">
      <div class="grid-content small-6 tab-item is-active">
        <a id="select-case-type">
          Select case type
        </a>
      </div>
      <div class="grid-content small-6 tab-item">
        <a
          data-ng-disabled="true"
          id="specify-details">
          Specify details
        </a>
      </div>
    </div>
  </div>

  <div class="grid-block small-12 select-case-type">
    <div class="grid-content small-12 case-tab-content">
      <ng-form
        name="vm.addCaseType"
        id="add-case-type"
        novalidate>
        <ul class="case-case-types">
          <li data-ng-repeat="item in vm.caseTypes">
            <div class="radio">
              <div>
                <input
                  type="radio"
                  id="case-type-{{$index}}"
                  name="caseType"
                  value="{{item.id}}"
                  data-ng-model="vm.case.caseType" />
                  <label
                    for="case-type-{{$index}}"
                    data-ng-bind="item.name"></label>
                </div>
            </div>
          </li>
        </ul>
      </ng-form>
    </div>
  </div>

  <div class="grid-block small-12 select-case-type">
    <div class="grid-content small-12">
      <button
        data-ng-disabled="!vm.validForm"
        data-ng-click="vm.nextPage()"
        class="primary-button">Next</button>
      <button
        data-ui-sref="asset.cases.list"
        class="secondary-button">Cancel add case</button>
    </div>
  </div>
</div>
