<small-modal
  title="'Cannot create case'"
  class="white text-center"
  id="modal-discard-changes">
  <modal-body>
    <p data-ng-bind="customText"></p>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="$close(false)">OK</button>
  </modal-footer>
</small-modal>
