<small-modal
  class="white text-center"
  id="modal-confirm-scope">
  <modal-body>
    <p data-ng-bind="confirmText"></p>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="$close(false)">Cancel</button>
    <button
      class="primary-button"
      data-ng-click="$close(true)">Confirm scope</button>
  </modal-footer>
</small-modal>
