<div
  data-job-banner
  data-attachment-count="vm.attachmentCount"
  data-attachment-path="vm.attachmentPath"
  data-job="vm.job"
  data-back-target="'asset.jobs.view'">
</div>

<div class="grid-block vertical edit-scope footer-follows">
  <div
    data-ng-if="vm.isScopeEmpty"
    class="grid-content small-12 job-scope-selection">
    <span>
      There are no services, Conditions of Class, Asset Notes or Actionable
      Items currently in scope.
    </span>
  </div>

  <div
    data-ng-if="!vm.isScopeEmpty">
    <div class="grid-content small-12">
      <h3 class="blue">Job scope</h3>
      <span
        data-ng-if="vm.job.scopeConfirmed"
        class="dark-blue">
        Confirmed on
        <span data-ng-bind="vm.job.scopeConfirmedDate | moment"></span>
        by
        <span data-ng-bind="vm.job.scopeConfirmedBy.name"></span>
      </span>
      <span
        data-ng-if="!vm.job.scopeConfirmed"
        class="dark-blue">
        Unconfirmed
      </span>
    </div>

    <div class="grid-content small-12">
      <h6>
        <a data-ng-click="vm.setSelectedValueForAll(1)">Select all</a> |
        <a
          data-ng-click="vm.deleteSelected()"
          data-ng-disabled="!vm.editableSDO || !vm.selectedScopeItemsSize">Remove selected</a> |
        <a data-ng-click="vm.setSelectedValueForAll(0)">Clear all</a>
      </h6>
    </div>

    <section data-ng-if="vm.loading">
      <spinner />
    </section>

    <script type="text/ng-template" id="nested.html">
      <div
        id="edit-scope-hierarchy-node-{{node.id}}"
        class="edit-scope-hierarchy-node no-border grid-block">
        <div class="checkbox-container node-checkbox small-1">
          <checkbox
            data-ng-model="node.checkBoxModel"
            data-ng-true-value="1"
            data-ng-false-value="0"
            data-ng-click="vm.addSelectedScopeItems(node)"
            name="edit-scope-hierarchy-{{node.id}}-checkbox"
            id="edit-scope-hierarchy-{{node.id}}-checkbox"
            largest>
          </checkbox>
        </div>
        <div class="node-details small-2">
          <div>
            <span
              data-ng-bind="node.title"
              class="node-name"></span>
            <span
              data-ng-bind="node.id"
              class="node-id"></span>
          </div>
        </div>
        <div class="small-2 node-description">
          <span
            data-ng-if="node.category || node.defect.repairCount"
            class="node-codicil-class">
            <span
              data-ng-if="node.category.name && !node.defect.repairCount"
              data-ng-bind="node.category.name"></span>
            <span data-ng-if="node.defect.repairCount">
              {{ node.defect.repairCount }} {{ 'repairs' | singularise: node.defect.repairCount }}
            </span>
          </span>
          <span data-ng-if="node.defect">
            <a data-ng-click="vm.singleDefectLink(node)">
              Defect {{ node.defect.id | zeropad: 4 }}
            </a>
            <a
              data-ng-if="node.repair"
              data-ng-click="vm.singleRepairLink(node)">
              Repairs
            </a>
          </span>
        </div>
        <div class="small-1 node-category">
          <span data-ng-bind="node.defect.category"></span>
        </div>
        <div class="node-dates small-3">
          <span data-ng-if="node.imposedDate" class="node-imposedDate">
            Imposed date:
            <strong data-ng-bind="node.imposedDate | moment"></strong>
          </span>
          <span
            data-ng-if="node.route !== 'wip-asset-note' && node.dueDate" class="node-dueDate">
            Due date:
            <strong data-ng-bind="node.dueDate | moment"></strong>
          </span>
        </div>
        <div class="small-2 node-status">
          <span data-ng-bind="node.status.name"></span>
        </div>
        <div class="small-1 node-arrow">
          <span class="glyph float-right grey">
            <a
              data-ng-click="vm.singleCodicilLink(node)">
              <i class="svg-icon-Right svg-icon-large"></i>
            </a>
          </span>
        </div>
      </div>
    </script>

    <!-- The include for the services; //-->
    <div data-ng-include="'app/asset/jobs/edit-scope/partials/services.html'"></div>

    <div
      class="grid-content small-12 job-scope-selection asset-model-hierarchy">
      <header>
        <h4 class="dark-blue">Condition of Class</h4>
      </header>
      <div data-ng-if="!vm.wipCoCs.length">
        <span>No Condition of Class items for this job</span>
      </div>
      <ul>
        <li
          data-ng-init="type='vm.wipCoCs'"
          data-ng-repeat="node in vm.wipCoCs | orderBy: 'imposedDate'"
          data-ng-include="'nested.html'"
          class="job-scope-list">
        </li>
      </ul>
    </div>

    <div
      class="grid-content small-12 job-scope-selection asset-model-hierarchy">
      <header>
        <h4 class="dark-blue">Actionable Items</h4>
      </header>
      <div data-ng-if="!vm.wipActionableItems.length">
        <span>No Actionable Items on this job</span>
      </div>
      <ul>
        <li
          data-ng-init="type='vm.wipActionableItems'"
          data-ng-repeat="node in vm.wipActionableItems"
          data-ng-include="'nested.html'"
          class="job-scope-list">
        </li>
      </ul>
    </div>

    <div class="grid-content small-12 job-scope-selection asset-model-hierarchy">
      <header>
        <h4 class="dark-blue">Asset Notes</h4>
      </header>
      <div data-ng-if="!vm.wipAssetNotes.length">
        <span>No Asset Notes on this job</span>
      </div>
      <ul>
        <li
          data-ng-init="type='vm.wipAssetNotes'"
          data-ng-repeat="node in vm.wipAssetNotes"
          data-ng-include="'nested.html'"
          class="job-scope-list">
        </li>
      </ul>
    </div>
  </div>
</div>

<div
  data-sticky-footer
  id="edit-scope-jobs-preview-footer"
  class="jobs-preview-footer">
  <div class="grid-block">
    <div class="grid-content small-6-up text-right">
      <button
        data-ng-disabled="!vm.ctaVisible()"
        data-ng-click="vm.loadAddScopePage()"
        class="transparent-dark-button"
        id="edit-job-preview-cancel">
        Add services, CoCs AIs
      </button>
      <button
        data-ng-if="vm.currentUserIsLeadSurveyor && !vm.job.scopeConfirmed"
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.confirmJobScope()"
        data-ng-class="{'scope-confirmed': vm.job.scopeConfirmed}"
        class="primary-button edit-job-scope-button"
        id="edit-job-preview-save">
        Confirm job scope
      </button>
    </div>
  </div>
</div>
