<small-modal
  class="white text-center"
  id="modal-discard-changes">
  <modal-body>
    <p ng-bind="customText"></p>
  </modal-body>
  <modal-footer>
    <button
      class="transparent-button-white"
      data-ng-click="$close(false)">Cancel</button>
    <button
      class="primary-button"
      data-ng-click="$close(true)">OK</button>
  </modal-footer>
</small-modal>
