<ol
  role="menu"
  class="breadcrumbs">
  <li
    data-ng-if="vm.preAmble"
    data-ng-bind="vm.preAmble"
    data-ng-class="{ 'preamble': vm.preAmble }"
    role="menuitem"
    title="{{vm.preAmble}}"></li>
  <li
    role="menuitem"
    data-ng-repeat="item in vm.breadcrumb track by item.id">
    <span
      data-ng-click="!$last && !vm.readOnly ? vm.selectItem(item) : null"
      data-ng-bind="item.name"
      data-ng-class="{'actionable': !$last && !vm.readOnly}"></span>
  </li>
</ol>

