<section class="asset-model-list">
  <breadcrumbs data-selected-item="vm.currentLevel"></breadcrumbs>
  <table>
    <thead>
      <tr>
        <th>Item name</th>
        <th>Review complete</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <colgroup>
      <col>
      <col colspan="3">
    </colgroup>
    <tbody>
      <tr
        data-ng-class="{ selected: item.selected }"
        data-ng-repeat="item in vm.items | limitTo: vm.numItemsShown track by item.id">
        <td
          data-ng-click="vm.selectItem(item)"
          title="{{item.name}}">
          <a
            data-ng-if="item.items.length"
            data-ng-bind="item.name | ellipsise: 40">
          </a>
          <span
            data-ng-if="!item.items.length"
            data-ng-bind="item.name | ellipsise: 40"></span>
          <i data-ng-if="item.decommissioned">(decommissioned)</i>
        </td>
        <td>
          <strong data-ng-bind="item.reviewedItems"></strong>/{{item.items.length}}
        </td>
        <td>
          <div data-ng-if="item.reviewed">
            ${require('content/images/inline/mast-icon-done.svg')}
          </div>
          <div data-ng-if="!item.reviewed">
            ${require('content/images/inline/mast-icon-pending.svg')}
          </div>
        </td>
        <td>
          <a
            data-ng-click="vm.openItem(item)"
            class="open-arrow-button">
            <div class="wrapper">
              <span class="text">Open</span>
              ${require('content/images/inline/mast-icon-chevron-right.svg')}
            </div>
          </a>
        </td>
      </tr>
      <tr ng-if="!vm.items.length">
        <td colspan="4">There are no associated items for the selected item.</td>
      </tr>
    </tbody>
    <tfoot>
      <td colspan="4" class="text-center">
        <a
          class="button"
          data-ng-click="vm.showMorePages()"
          data-ng-show="vm.hasMorePages">Load more</a>
      </td>
    </tfoot>
  </table>
</section>
