<div class="grid-content small-4">
  <div data-ng-bind="vm.job.id | zeropad: 9">
    <a ui-sref="asset.jobs.edit({ jobId: vm.job.id })">edit</a>
  </div>
  <div data-ng-bind="vm.jobStatus()" class="status"></div>
</div>
<div class="grid-content small-3">
  <div>SDO: <strong data-ng-bind="vm.jobSDO"></strong></div>
  <div>Service type: <strong data-ng-bind="vm.job.serviceType | ellipsise: 15"></strong></div>
</div>
<div class="grid-content small-4">
  <div>
    ETA:
    <strong data-ng-bind="vm.job.etaDate | date:'dd MMM yyyy'"></strong>
  </div>
  <div>
    ETD: <strong data-ng-bind="vm.job.etdDate | date:'dd MMM yyyy'"></strong>
  </div>
</div>
<div class="grid-content small-1 ends">
  <a data-ng-click="vm.visit()">
    ${require('content/images/inline/mast-icon-chevron-right.svg')}
  </a>
</div>
