<div class="application-header grid-block">
  <logo-asset-header class="grid-block"></logo-asset-header>
  <div class="app-state grid-block">
    <info-header data-user="vm.user"></info-header>
  </div>
</div>
