<div class="tasks">
  <div
    class="grid-block">
    <p class="small-12 grid-container">
      <span data-ng-show="!vm.tasks.length && !vm.item.decommissioned">
        No tasks available for this item.
      </span>
      <span data-ng-show="vm.item.decommissioned">
        There are no tasks for this item because the item has been decommissioned.
      </span>
    </p>
  </div>
  <div class="grid-block">
  </div>
</div>
