<full-screen-modal
  class="white text-center modal-item-search"
  id="value-picker-modal">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">Select asset item</h2>
      <a
        data-ng-click="$dismiss()"
        class="small-1 white close-button"
        id="close-button">&#10005;</a>
    </div>
  </modal-header>
  <modal-body>
    <div class="grid-block vertical">
      <ng-form
        data-ng-submit="vm.search(vm.searchQuery)"
        class="grid-block horizontal search-form">
        <div class="grid-block small-7">
          <input
            data-ng-model="vm.searchQuery"
            data-ng-change="vm.checkTerm(vm.searchQuery)"
            data-clearable='null'
            type="text"
            placeholder="Search for an item"
            id="item-search-query" />
        </div>
        <div class="grid block small-2 small-offset-3">
          <button
            type="submit"
            class="secondary-button expand"
            id="item-search">
            Search
          </button>
        </div>
      </ng-form>
      <hr />
      <div
        data-ng-show="!vm.searchMode"
        class="grid-block">
        <asset-model-hierarchy-selector
          data-asset="vm.asset"
          data-asset-model="vm.assetModel"
          data-chosen-item="vm.chosenItem"
          data-selected-item="vm.selectedItem"
          class="small-12">
        </asset-model-hierarchy-selector>
      </div>
      <div
        data-ng-show="vm.searchMode"
        class="grid-block vertical item-search-list">
        <p
          data-ng-show="!vm.searchResults.length"
          class="white">
          No items found
        </p>
        <pagination
          data-ng-if="vm.searchResults.length"
          data-pageable="vm.searchResults"
          class="white">
          <ul>
            <li
              data-ng-repeat="item in vm.searchResults"
              class="node-name grid-container radio">
              <div>
                <input
                  data-ng-model="item.selected"
                  data-ng-change="vm.chosenItem = item"
                  value="{{::item.id}}"
                  type="radio"
                  role="radio"
                  name="item"
                  id="node-{{item.id}}-radio-button" />
                <label
                  data-ng-bind="item.name"
                  for="node-{{item.id}}-radio-button">
                </label>
              </div>
            </li>
          </ul>
        </pagination>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button
        data-ng-click="$dismiss()"
        class="transparent-button-white">Cancel</button>
      <button
        data-ng-disabled="!vm.chosenItem"
        data-ng-click="vm.confirm()"
        class="primary-button">Assign selected</button>
    </div>
  </modal-footer>
</full-screen-modal>
