$mast_colour_blue_very_dark: #193147;
$mast_colour_blue_dark: #23517e;
// $mast_colour_blue_mid: #2e74b3;
$mast_colour_blue_mid: #317abd;
$mast_colour_blue_light: #bcdcfb;
$mast_colour_blue_very_light: #cde0f3;

$mast_colour_grey_very_dark: #414042;
$mast_colour_grey_dark: #535353;
$mast_colour_grey_mid: #888888;
$mast_colour_grey_light: #d7d8da;
$mast_colour_grey_very_light: #e7ebee;

$mast_colour_red_bright: #ce1204;
$mast_colour_red_dull: #d64309;

$mast_colour_green: #68b207;
$mast_colour_orange: #ee7624;

$mast_colour_white: #f3f4f6;
$mast_colour_pure_white: #ffffff;
$mast_colour_black: #000;

// Application Colors - many referenced in Foundation settings
$primary-color: $mast_colour_blue_dark;
$secondary-color: $mast_colour_blue_mid;
$alert-color: $mast_colour_red_bright;
$info-color: $mast_colour_orange;
$success-color: $mast_colour_green;
$warning-color: $mast_colour_red_dull;
$dark-color: $mast_colour_blue_very_dark;
$gray: $mast_colour_grey_mid;
$gray-dark: $mast_colour_grey_dark;
$gray-light: $mast_colour_grey_light;
