/*
 * Standard mixins that are going to be used all across the Sass sheets;
 */
@function PxToRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}
@function RemToPx($size) {
  $remSize: $size * 16;
  @return #{$remSize}px;
}

/*
 * Positional mixins;
 */
.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}
@mixin pos-abs($top:0, $left:0) {
  top: $top;
  left: $left;

  @extend .pos-abs;
}
@mixin bgcolours($background-hover, $background:"") {
  @if $background != "" {
    background-color: $background;
  }
  @else {
    background-color: transparent;
  }

  &:focus {
    background-color: $background;
  }

  &:active,
  &:hover {
    @if $background == "" {
      background: rgba(black, 0.2);
    }
    @else {
      background-color: $background-hover;
    }
  }
}

@mixin corner-cut($size:1rem) {
  -webkit-clip-path: polygon(calc(100% - #{$size}) 0, 100% #{$size}, 100% 100%, 0 100%, 0 0);
}

@mixin arrow($color) {
  &:hover {
    &:after {
      border-color: $color;
      transition: all .3s ease 0s;
    }
  }
}

@mixin border($border-size, $border-type, $border-colour, $border-where:"") {
  @if $border-where == "" {
    border: $border-size $border-type $border-colour;
  }
  @else {
    border-#{$border-where}: $border-size $border-type $border-colour;
  }
}

@mixin white-border {
  border: 1px solid white;
}

/*
 * Layout mixins, for positioning cards, laying out pieces on the page and
 * certain widths;
 */
@mixin gutter($sides, $property: margin, $negative: false) {
   @each $breakpoint, $gutter in $grid-column-responsive-gutter{
    @include breakpoint($breakpoint) {
       @each $side in $sides{
        $size: $gutter;
        @if ($side == left or $side == right) {
          $size: $gutter/2;
        }
        @if ($negative == true) {
          $size: -($size);
        }
        #{$property}-#{$side}: rem-calc($size);
      }
    }
  }
}

/*
 * Button mixins, for corner buttons mostly;
 */
@mixin corner-button($size, $font-size) {
  margin: $font-size;
  padding: $size/5 0 $size/5 $size/5;
  width: $size;
  background: $mast_colour_white;
  font-size: $font-size;

   @extend .pos-rel;

  span {
    z-index: 20;

    @extend .text-center;
    @extend .pos-rel;
  }

  .corner {
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: $font-size;

    @extend .pos-abs;

    &:before {
      display: block;
      width: 0;
      height: 100%;
      content: ' ';

      @include pos-abs;
    }
  }

  .corner-right {
    right: -$font-size;

    &:before {
      top: 0;

      @include border($font-size, solid, transparent, top);
      @include border($font-size, solid, $mast_colour_white, left);
    }
  }
}

/*
 * Button mixins, for corner buttons mostly;
 * @params: $size = small, medium, large
 *          $color = font color, also used for border
 */
@mixin dar-button($size, $color:$mast_colour_white, $font-size:1rem, $width:1rem, $height:1rem) {
  display: inline-block;
  margin: 0 $font-size 10px 10px;
  width: $width;
  height: $height;
  background: transparent;
  color: $color;

  @extend .pos-rel;
  $width: 24px;
  $height: 40px;
  $padding: 2px;
  $font-size: 9px;

  @include border(1px, solid, $color, top);
  @include border(1px, solid, $color, left);
  @include border(1px, solid, $color, bottom);

  @if $size == "small" {
    padding: 0 0 $padding (3 * $padding / 2);

    $width: 24px;
    $height: 40px;
    $padding: 2px;
    $font-size: 9px;
  }

  @else if $size == "medium" {
    padding: 2px 0 $padding (3 * $padding / 2);

    $width: 29px;
    $height: 46px;
    $padding: 4px;
    $font-size: 11px;
  }

  @else if $size == "large" {
    padding: 5px 0 6px 8px;

    $width: 33px;
    $height: 52px;
    $padding: 6px;
    $font-size: 13px;
  }

  span {
    display: inline-block;
    font-size: $font-size;
  }

  .dar-br {
    width: $width/2;
    height: 1px;

    @include border(1px, solid, $color, bottom);
    @include pos-abs(100%, 100%);
  }

  .dar-r {
    right: -($width * 0.5);
    bottom: 0;
    height: (2 * $height / 3) - 2px;

    @include border(1px, solid, $color, right);
    @extend .pos-abs;
  }

  .dar-tr {
    width: $height * 9/20;
    height: 1px;
    transform: rotate(48deg);

    @include border(1px, solid, $color, top);
    @include pos-abs($height/6, 87%);
  }

  &:active,
  &:focus,
  &:hover {
    @extend .actionable;
    *,
    * & {
      @if $color == $mast_colour_white {
        border-color: $mast_colour_grey_mid;
        color: $mast_colour_grey_mid;
      }
      @else {
        border-color: $mast_colour_grey_very_dark;
        color: $mast_colour_grey_very_dark;
      }
    }
  }
}

/*
 * Button mixins, for corner buttons with text and image inside;
 */
@mixin rich-corner-button($size, $font-size, $bgcolour) {
  margin: $font-size;
  padding: $size/5 0 $size/5 $size/5;
  width: $size;
  height: 1.75*$size;
  background: $bgcolour;

   @extend .pos-rel;

  span {
    color: $mast_colour_blue_dark;
    font-size: $font-size/2;

    @extend .text-center;
    @extend .pos-rel;
  }

  i {
    width: 5px;
    height: auto;
    color: $mast_colour_blue_dark;
  }

  .corner {
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: $font-size;

    @extend .pos-abs;

    &:before {
      display: block;
      width: 0;
      height: 100%;
      content: ' ';

      @include pos-abs;
    }
  }

  .corner-right {
    right: -$font-size;

    &:before {
      top: 0;

      @include border($font-size, solid, transparent, top);
      @include border($font-size, solid, $mast_colour_white, left);
    }
  }
}

@mixin truncate($max_width) {
  overflow-x: hidden;
  max-width: $max_width;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/**
  Since we're working with SVG assets pretty much anywhere, and sometimes
  meshing a few together, would be good to be able to have proper squares
  which the sub items be placed inside.

  Usable for any container where you want it to stck to an aspect ratio
*/
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
    content: '';
  }

  > .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@function get-vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}
