<div class="card endorsement job-endorsement">
  <div class="card-divider">
    <h3>{{data.title}}</h3>
  </div>
  <div class="grid-content card-section">
    <div
      data="data.card"
      data-pre-load="data.getEndorsement()"
      class="sub-panel">

      <div
        data-ng-if="result.total"
        class="endorsement-line">

        <!-- Start -->
        <div>
          <div class="circle-button">
            <span>{{result.total}}</span>
          </div>
          <div class="circle-label">Vetting actions</div>
        </div>

        <div>
          <a
            data-ng-click="data.viewActions()"
            data-ng-disabled="data.isActionDisabled"
            data-ng-class="{'disabled': data.isActionDisabled}"
            class="secondary-button">View actions</a>
        </div>

        <div>
          <div class="circle-button">
            <span>{{result.incomplete}}</span>
          </div>
          <div class="circle-label">Incomplete</div>
        </div>

        <div>
          <div class="circle-button">
            <span>{{result.completed}}</span>
          </div>
          <div class="circle-label">Completed</div>
        </div>

        <div
          data-ng-if="data.closed"
          class="job-status">
          <i class="svg-icon-Tick"></i>
          <div>
            <div data-ng-bind="data.job.jobStatus.name"></div>
            <div>{{data.completedBy(data.job)}}</div>
            <div class="date">{{data.completionDate(data.job)}}</div>
          </div>
        </div>

        <div
          data-ng-if="!data.closed"
          class="job-status">
          <div>
            <div>Status: <b data-ng-bind="data.job.jobStatus.name"></b></div>
          </div>
        </div>

        <div
          data-ng-if="!data.closed"
          class="close-job">
          <div>
            <button
              class="primary-button"
              data-ng-disabled="data.isDisabled"
              data-ng-click="data.closeJob()">Close job</button>
          </div>
        </div>

        <!-- End -->
      </div>

      <div
        data-ng-if="!result.total"
        class="endorsement-line">

        <!-- Start -->
        <div>
          <p>{{data.emptyText}}</p>
        </div>
        <!-- End -->

      </div>

    </div>
  </div>
</div>
