<div
  data-job-banner
  data-job="vm.job"
  data-attachment-count="vm.attachmentCount"
  data-attachment-path="vm.attachmentPath"
  data-back-disabled="vm.limitedToJob"
  data-back-target="'asset.jobs.view'">
</div>

<div class="content-body">
  <div
    data-tpl="vm.section"
    class="grid-content footer-follows">

  </div>
</div>

<div data-tpl="vm.footer"></div>
