<h3 class="dark-blue">
  {{data.header}}
  <span data-ng-if="data.list.result">
    ({{data.list.result.length}})
  </span>
</h3>

<ul
  class="item-list"
  data="data.list"
  data-pre-load="data.getList()">

  <li data-ng-repeat="item in result track by $index">
    <div
      data-ng-bind="$index + 1"
      class="nr"></div>

    <div
      data-ng-class="{expanded: item.expanded}"
      class="body">
      <div
        data-ng-bind="item.title"
        class="title"></div>
      <div
        class="desc">
        <span data-ng-bind="data.getDesc(item)"></span>
        <span
          data-ng-if="item.shortDesc != item.description"
          data-ng-bind="item.expanded ? 'view less' : 'view all'"
          data-ng-click="item.expanded = !item.expanded"
          class="view-all"></span>
      </div>
    </div>

    <div>
      Raised By:
      <strong data-ng-bind="data.raisedBy(item)"></strong>
    </div>

    <div>
      <div>
        Completed by:
        <strong data-ng-if="item.followUpActionStatus.id === data.completeStatus">
          {{item.completedBy.firstName}} {{item.completedBy.lastName}}
        </strong>
      </div>
      <div>
        On:
        <strong
          data-ng-if="item.followUpActionStatus.id === data.completeStatus"
          data-ng-bind="data.completionDate(item)"></strong>
      </div>
    </div>

    <div
      data-ng-if="!data.closed"
      data-ng-switch="item.followUpActionStatus.id"
      class="actions">
      <div data-ng-switch-default>
        <checkbox
          data-ng-disabled="data.disabledActions"
          data-ng-model="item.selected"
          data-ng-change="data.select(item)"
          large>
        </checkbox>
      </div>
      <div data-ng-switch-when="2">
        <i class="svg-icon-Tick"></i>
        <button
          data-ng-disabled="data.disabledActions"
          data-ng-click="data.reOpen(item)"
          class="white-button">Re-open</button>
      </div>
    </div>
  </li>
</ul>

