<div
  class="case-banner"
  data-case-banner
  data-case="vm.assetCase"
  data-attachment-count="vm.attachmentCount"
  data-attachment-path="vm.attachmentPath">
</div>

<div class="content-body">
  <div class="grid-block case-management view-case">
    <div class="grid-content small-12">
      <a
        data-ng-if="vm.canEditCase"
        data-ui-sref="asset.cases.edit({ caseId: vm.assetCase.id })"
        class="secondary-button float-right">Edit</a>
      <div data-ng-include="'app/asset/cases/view/case-details/partials/case-details.html'"></div><hr/>
      <div data-ng-include="'app/asset/cases/view/case-details/partials/asset-details.html'"></div><hr/>
      <div data-ng-include="'app/asset/cases/view/case-details/partials/flag-details.html'"></div><hr/>
      <div data-ng-include="'app/asset/cases/view/case-details/partials/rule-set.html'"></div><hr/>
      <div data-ng-include="'app/asset/cases/view/case-details/partials/class-maintenance.html'"></div><hr/>
      <div data-ng-include="'app/asset/cases/view/case-details/partials/key-dates.html'"></div><hr/>
      <div data-ng-include="'app/asset/cases/view/case-details/partials/offices-and-surveyors.html'"></div><hr/>
      <div data-ng-include="'app/asset/cases/view/case-details/partials/customers.html'"></div>
    </div>
  </div>
</div>
