<small-modal
  class="white text-center"
  id="modal-discard-changes">
  <modal-header>
    <h2>First and Last Visit Dates</h2>
  </modal-header>
  <modal-body>
    <ng-form
      name="vm.editJobsDatesForm"
      class="job-dates"
      id="edit-jobs-dates-form"
      novalidate>
      <div class="grid-block">
        <div class="form-control">
          <label for="edit-jobs-first-view-date">First visit date</label>
          <input
            data-ng-model="vm.jobmodel.firstVisitDate"
            date-time
            min-date="vm.dates.firstVisitDateMin"
            max-date="vm.maxFirstVisitDate"
            view="date"
            min-view="date"
            format="{{vm.dateFormat}}"
            auto-close="true"
            name="firstVisitDate"
            id="edit-jobs-first-view-date" />
          <span
            date-picker-icon
            sibling-id="edit-jobs-first-view-date">
            ${require('content/images/inline/mast-icon-calendar.svg')}
          </span>
        </div>
        <div class="form-control">
          <label for="edit-jobs-last-view-date">Last visit date</label>
          <input
            data-ng-model="vm.jobmodel.lastVisitDate"
            date-time
            min-date="vm.minLastVisitDate"
            view="date"
            min-view="date"
            format="{{vm.dateFormat}}"
            auto-close="true"
            name="lastVisitDate"
            id="edit-jobs-last-view-date" />
          <span
            date-picker-icon
            sibling-id="edit-jobs-last-view-date">
            ${require('content/images/inline/mast-icon-calendar.svg')}
          </span>
        </div>
      </div>
      <ul
        data-ng-if="vm.validFormItem(vm.editJobsDatesForm.firstVisitDate)"
        data-ng-messages="vm.editJobsDatesForm.firstVisitDate.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/jobs/view/validation/date.html')}"></li>
      </ul>
      <ul
        data-ng-if="vm.validFormItem(vm.editJobsDatesForm.lastVisitDate)"
        data-ng-messages="vm.editJobsDatesForm.lastVisitDate.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/jobs/view/validation/date.html')}"></li>
      </ul>
    </ng-form>
  </modal-body>
  <modal-footer>
    <div>
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        data-ng-click="vm.saveVisitDates(vm.jobmodel)"
        data-ng-disabled="!vm.validForm()"
        class="primary-button">Save</button>
    </div>
  </modal-footer>
</small-modal>
