<div
  data-job-banner
  data-job="vm.job"
  data-back-disabled="vm.limitedToJob"
  data-back-target="vm.backTarget">
</div>

<div class="grid-block vertical view-job">
  <div
    data-ng-if="vm.shouldShowTeamAndScope"
    class="card job-team-scope">
    <div class="card-divider">
      <h3>Team &amp; Scope</h3>
    </div>
    <div class="card-section grid-block job-section-content">
      <div class="grid-content small-6 sub-panel">
        <h4>Job scope and service schedule</h4>
        <span>
          Job scope {{vm.jobScopeConfirmedNotice}}
          <span
            data-ng-if="vm.job.scopeConfirmed && vm.currentWipCount"
            class="glyph">
            <i class="svg-icon-Tick"></i>
          </span>
        </span>
        <button
          data-ng-if="vm.currentWipCount"
          data-ui-sref="asset.jobs.edit-scope({ jobId: vm.job.id })"
          class="secondary-button right">
          Go to job scope
        </button>
        <button
          data-ng-if="!vm.currentWipCount"
          data-ui-sref="asset.jobs.add-scope({ jobId: vm.job.id })"
          class="secondary-button right">
          Add job scope
        </button>
      </div>
      <div class="grid-content small-6 sub-panel">
        <h4>Job team</h4>
        <span data-ng-if="!vm.job.employees.length">
          Attending surveyors to be defined
        </span>
        <div data-ng-if="vm.job.employees.length">
          <div class="circle-count">
            <span data-ng-bind="vm.job.employees.length"></span>
          </div>
          <div class="circle-count-label">
            Attending surveyor
          </div>
        </div>
        <button
          data-ng-disabled="!vm.editableSDO()"
          data-ng-bind="vm.currentJobTeam.length ? 'Go to job team' : 'Add job team'"
          data-ui-sref="asset.jobs.team({ jobId: vm.job.id })"
          class="secondary-button right">
          Add job team
        </button>
      </div>
    </div>
  </div>

  <div class="card job-crediting">
    <div class="card-divider">
      <h3>Crediting</h3>
    </div>
    <div class="grid-block card-section">
      <div class="grid-content small-5 vertical sub-panel">
        <h4 class="dark-blue">Crediting</h4>
        <span data-ng-if="!vm.jobScopeConfirmed">Job scope needs to be confirmed</span>
        <div class="grid-block horizontal crediting-button-group">
          <div class="grid-block small-8 small-up-2">
            <div
              data-ng-if="vm.jobScopeConfirmed"
              data-ng-repeat="serviceType in vm.serviceTypeTaskCompletions | orderBy: 'code'"
              class="grid-block small-6">
              <div class="circle-button percentage">
                <span data-ng-bind="serviceType.tasksCompletion"></span>
              </div>
              <div>
                <span data-ng-bind="serviceType.code | ellipsise: 8"></span>
              </div>
            </div>
          </div>
          <div class="grid-block small-4 vertical">
            <button
              data-ng-disabled="!vm.canCredit"
              data-ui-sref="crediting.manage({ jobId: vm.job.id })"
              data-ui-sref-opts="{ reload: true }"
              class="secondary-button expand">
              Go to crediting
            </button>
          </div>
        </div>
      </div>
      <div class="grid-block small-7 sub-panel crediting-button-group">
        <div class="grid-content small-4">
          <button
            data-ui-sref="crediting.cocs.list({ jobId: vm.job.id })"
            class="transparent-button expand">
            Go to CoCs
          </button>
          <button
            data-ui-sref="crediting.actionableItems.list({ jobId: vm.job.id })"
            class="transparent-button expand">
            Go to Actionable items
          </button>
        </div>
        <div class="grid-content small-4">
          <button
            data-ui-sref="crediting.defects.list({ jobId: vm.job.id })"
            class="transparent-button expand">
            Go to Defects
          </button>
          <button
            data-ui-sref="crediting.assetNotes.list({ jobId: vm.job.id })"
            class="transparent-button expand">
            Go to Asset notes
          </button>
        </div>
        <div
          data-ng-show="vm.job.scopeConfirmed"
          class="grid-content small-4">
          <button
            data-ng-disabled="true"
            class="transparent-button expand">
            Add PR17
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card job-updates">
    <div class="card-divider">
      <h3>Job updates &amp; reporting</h3>
    </div>
    <div
      data-ng-if="!vm.isEditingJobDates"
      class="grid-block card-info">
        <p>
          First visit date: <span data-ng-bind="vm.firstVisitDate || 'Unspecified'"></span>
          Last visit date: <span data-ng-bind="vm.lastVisitDate || 'Unspecified'"></span>
          <span data-ng-if="vm.canEditJobDates()"
            data-ng-click="vm.showJobDatesEditor(true)"
            class="svg-icon-Edit"></span>
        </p>
    </div>
    <div data-ng-if="vm.isEditingJobDates"
      data-ng-include="'app/asset/jobs/view/dates.html'"></div>
    <div class="grid-block card-section">
      <div class="grid-content small-6 sub-panel">
        <h4>Job progress</h4>
        <job-report-carousel
          items="vm.reports"
          job="vm.job">
        </job-report-carousel>
      </div>
      <div class="grid-content small-3 sub-panel survey-panel report-single-view">
        <h4 class="text-center">Draft survey report</h4>
        <job-report-item
          data-ng-if="vm.latestDSRPending"
          data-item="vm.latestDSRPending">
        </job-report-item>
        <button
          data-ng-hide="vm.latestDSRPending"
          data-ng-disabled="!vm.jobUnderReporting && !vm.currentUserIsLeadSurveyor"
          data-ng-click="vm.generateDSR()"
          data-ng-class="{'disabled': !vm.currentUserIsLeadSurveyor}"
          class="secondary-button">Generate DSR</button>
        <p data-ng-if="!vm.latestDSRPending">
          There are no current active DSR
        </p>
      </div>
      <div class="grid-content small-3 sub-panel survey-panel report-single-view">
        <h4 class="text-center">Final survey report</h4>
        <job-report-item
          data-ng-if="vm.latestFSR"
          data-item="vm.latestFSR">
        </job-report-item>
        <p data-ng-if="!vm.latestFSR">
          There are no current active FSR
        </p>
      </div>
    </div>
  </div>

  <div class="card job-technical-review">
    <div class="card-divider">
      <h3>Technical review</h3>
    </div>
    <div class="grid-block card-section">
      <div
        data-ng-if="vm.latestDSR"
        class="grid-content sub-panel">
        <h5>See technical review checklist</h5>
        <job-report-carousel
          data-items="vm.reportsDSR"
          data-items-clickable="false"
          data-job="vm.job"
          data-num-items="5"
          data-review="true"
          data-action="vm.actionOnDSR(actionTaken,reportId)">
        </job-report-carousel>
        <div
          data-ng-if="!vm.latestDSR"
          class="grid-content">
          <p>No technical reviews have been initiated yet<p>
        </div>
      </div>
    </div>
  </div>

  <div tpl="vm.card.endorsement"></div>

</div>
