<div ng-class="{'disabled': vm.dropdownDisabled}" class="wrap-dd-select" tabindex="0">
  <span class="selected" selected="selected" value="{{vm.dropdownModel['value']}}">{{vm.dropdownModel['text']}}</span>
  <ul class="dropdown {{vm.dropdownAlign}}">
    <li ng-repeat="item in vm.dropdownSelect"
      class="dropdown-item" dropdown-select-item="item"
      dropdown-item-label="'text'">
    </li>
  </ul>
</div>
