<div class="grid-block small-3 service-summary antifudge nowrap">
  <div>
    <strong class="dark-blue title">{{  vm.serviceCatalogueModel.code || '-' }} - {{ vm.serviceCatalogueModel.name || '-' }}</strong>
    <div
      data-ng-if="vm.displaySpecialServiceStatus()"
      class="special-survey-cycle">
      <span>Special survey cycle: </span>
      <strong data-ng-bind="vm.asset.hullIndicator"></strong>
    </div>
  </div>
</div>

<div class="grid-block small-5 service-summary antifudge nowrap">

  <!-- Assigned and Due dates -->
  <div class="grid-content small-6">
    <div class="assigned-date">
      <span>Assigned:</span> <strong data-ng-bind="vm.serviceModel.effectiveAssignedDate | moment:'-'"></strong>
    </div>
    <div class="due-date">
      <span>Due:</span> <strong data-ng-bind="vm.serviceModel.effectiveDueDate | moment:'-'"></strong>
    </div>
  </div>

  <!-- Range and Postponed dates -->
  <div class="grid-content small-6">
    <div class="range-dates">
      <div
        data-ng-if="vm.serviceModel.effectiveRangeIsNull"
        class="grid-block">
        <span>Range:&nbsp;</span>
        <strong>-</strong>
      </div>
      <div
        data-ng-if="!vm.serviceModel.effectiveRangeIsNull"
        class="grid-block" >
        <span>Range:&nbsp;</span>
        <strong data-ng-bind="vm.serviceModel.effectiveLowerRangeDate | moment:'-'"></strong>&nbsp;-&nbsp;
        <strong data-ng-bind="vm.serviceModel.effectiveUpperRangeDate | moment:'-'"></strong>
      </div>
    </div>

    <div data-ng-switch="vm.productTypeName">
        <!-- Hiding from view until R3; retaining the logic so we can see what lies ahead -->
        <div data-ng-switch-when="classification" style="display:none">
          <span>Postponed:</span>
          <span data-ng-bind="vm.serviceModel.postponedDate | moment:'dd Mmm yyyy'"></span>
          <span data-ng-bind="vm.displayClassificationServiceStatus()"></span>
        </div>
        <!-- Hiding from view until R3; retaining the logic so we can see what lies ahead -->
        <div data-ng-switch-when="statutory" style="display:none">
          <span>Certificate:</span>
          <span data-ng-bind="vm.serviceModel.certificateDueDate | moment:'dd Mmm yyyy'"></span>
          <span data-ng-bind="vm.displayStatutoryServiceType()"></span>
        </div>
    </div>
  </div>

</div>

<div class="grid-block small-4 service-summary antifudge nowrap">

  <!-- Crediting and Provisional status -->
  <div class="grid-content small-5">
    <div class="crediting-status">
      <span data-ng-bind="vm.displayCreditingStatus()"></span>
    </div>
    <div class="provisional-status">
      <span data-ng-bind="vm.displayProvisionalStatus()"></span>
    </div>
  </div>

  <!-- Range Status (Due / Overdue) -->
  <div
    data-ng-class="{ overdue: vm.isOverdue }"
    class="grid-content small-4 service-summary">
    <i
      data-ng-show="vm.isOverdue"
      class="svg-icon-Alert"></i>
    <span data-ng-bind="vm.serviceModel.dueStatus.name || '-'"></span>
  </div>

  <!-- View service -->
  <div class="grid-content small-2 chevron">
    <a data-ng-click="vm.viewService()">
      ${require('content/images/inline/mast-icon-chevron-right.svg')}
    </a>
  </div>

</div>
