<div data-ng-if="vm.inSearchMode">
  <ng-form id="in-asset-model-search">
    <div data-ng-repeat="filter in vm.filters">
      <div class="row">
        <label
          data-ng-bind="filter.name"
          for="in-asset-model-search-filter-{{::$index}}"></label>
        <input
          data-ng-model="filter.searchTerm"
          type="text"
          placeholder="Start typing in {{::filter.name}}"
          class="filter-text-box"
          id="in-asset-model-search-filter-{{::$index}}" />
      </div>
    </div>
    <div class="small-offset-4 search-buttons">
      <a
        data-ng-click="vm.searchCompleted=false; vm.clear(); vm.toggleSearch()"
        class="button"
        id="in-asset-model-search-cancel">Cancel Search</a>
      <a
        data-ng-click="vm.search(vm.filters, vm.searchId)"
        class="button asset-model-search-button"
        data-ng-class="{'disabled': !vm.filtersHaveValue}"
        id="in-asset-model-search-search">Search</a>
    </div>
  </ng-form>

  <hr/>

  <div data-ng-if="vm.searchCompleted  && !vm.searchItems.length">
    <h2 class="searchResultHeader">Search results</h2>
    <p>
      No items found for your search criteria. Please search again.
    </p>
  </div>

  <div data-ng-if="vm.searchCompleted && (vm.searchItems.length > 0)">
    <section class="asset-model-list">
      <pagination
        pageable="vm.searchItems"
        type="'items'">
      <pagination-header-right>
      </pagination-header-right>
        <table class="asset-model-search-table">
          <thead class="hide">
            <tr>
              <th>Item name</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="item in vm.searchItems">
              <td title="{{item.name}}">
                <a
                  data-ng-bind="item.name | ellipsise: 40"
                  class="left"></a>
                <a
                  data-ng-click="vm.openItem(item)"
                  class="right">
                  ${require('content/images/inline/mast-icon-chevron-right.svg')}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </pagination>
    </section>
  </div>
</div>
