<div
  data-ng-if="vm.numberOfElements && !vm.hideCount && (headerLeftDefined || headerRightDefined || headerMidDefined)"
  class="grid-block asset-count">
  <div
    data-ng-if="headerLeftDefined"
    class ="grid-content small-3">
    <div data-ng-transclude="headerLeft"></div>
  </div>
   <div class="grid-content small-3">
     <p>Showing <strong data-ng-bind="vm.numberOfElements"></strong> of
      <strong data-ng-bind="vm.totalElements"></strong> {{vm.type}}
     </p>
  </div>
  <div
    data-ng-if="!headerLeftDefined"
    class="grid-content small-3"></div>
  <div class ="grid-content small-3">
    <div data-ng-transclude="headerMid"></div>
  </div>
  <div class="grid-content small-3">
    <div data-ng-transclude="headerRight"></div>
  </div>
</div>
<div data-ng-transclude></div>
<div
  data-ng-if="vm.numberOfElements"
  class="grid-content text-center asset-count">
  <p data-ng-if="!vm.hideCount && !(headerLeftDefined || headerRightDefined || headerMidDefined)">
    Showing <strong data-ng-bind="vm.numberOfElements"></strong> of
    <strong data-ng-bind="vm.totalElements"></strong> {{vm.type}}
  </p>
  <div data-ng-if="vm.hasMorePages">
    <button
      data-ng-if="!vm.loading"
      data-ng-click="vm.loadMore()"
      class="button">
      Load more
    </button>
    <spinner
      data-ng-if="vm.loading"
      data-theme="dark"/>
  </div>
</div>
