<section class="case-milestones-list">
  <table id="milestones-table">
    <!-- The class defines the column widths -->
    <colgroup class="case-milestones-columns">
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <tbody>
    <tr data-ng-repeat="milestone in vm.milestones | filter:{ inScope: vm.scope }">
      <td>
        <label for="milestone-{{$index}}-value">
          <strong
            data-ng-bind="milestone.milestone.id"
            class="dark-blue"></strong>
        </label>
      </td>
      <td>
        <strong
          data-ng-bind="milestone.milestone.description"
          class="dark-blue"
          title="{{ ::milestone.milestone.description }}"></strong>
      </td>
      <td>
        <div
          class="grid-block"
          data-ng-hide="milestone.id === vm.editDueDate">
          <div class="grid-content small-10">
            <section
              data-ng-show="true"
              class="case-milestones-edit">
              <table id="case-milestones-dueDate">
                <colgroup class="case-milestones-dueDate">
                  <col>
                  <col>
                </colgroup>
                <tbody>
                <tr>
                  <td>
                    <p>
                      Owner:
                      <strong data-ng-bind="vm.getOwner(milestone)"></strong>
                    </p>
                    <p data-ng-if="milestone.dueDate">
                      Due:
                      <strong data-ng-bind="milestone.dueDate | moment"></strong>
                    </p>
                    <p data-ng-if="!milestone.dueDate">
                      Due:
                      <strong>-</strong>
                    </p>
                  </td>
                </tr>
                </tbody>
              </table>
            </section>
          </div>
          <div
            data-ng-show="milestone.milestone.dueDateReference.id === vm.dueDateManual && !milestone.completionDate"
            class="grid-content small-2">
            <span data-ng-click="vm.setDueDate(milestone.id)"
              class="dark-blue svg-icon-Edit">
            </span>
          </div>
        </div>
        <div data-ng-if="milestone.id === vm.editDueDate">
          <div class="grid-block">
            <div class="grid-content small-8">
              <p>
                <div>
                  <input
                    data-ng-model="vm.dueDate"
                    date-time
                    view="date"
                    min-view="date"
                    auto-close="true"
                    name="dueDate"
                    format="{{ vm.dateFormat }}"
                    id="due-date"
                    required
                    placeholder="DD MMM YYYY" />
                    <span
                      date-picker-icon
                      sibling-id="due-date">
                      ${require('content/images/inline/mast-icon-calendar.svg')}
                    </span>
                </div>
              </p>
              <button
                data-ng-click="vm.saveDueDate(milestone, vm.dueDate)"
                class="secondary-button">
                Save
              </button>
            </div>
            <div class="grid-content small-4">
              <a
                data-ng-click="vm.close()"
                class="close-button">&#10005;</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="text-center">
          <attachments-and-notes
            class="actionable"
            modal-title="milestone.milestone.description"
            path="vm.getAttachmentPath(milestone.id)"
            attachments="milestone.attachments">
            <attachments-icon dark="false"></attachments-icon>
          </attachments-and-notes>
        </div>
      </td>
      <td>
        <div data-ng-if="milestone.completionDate">
          ${require('content/images/inline/mast-icon-done.svg')}
        </div>
        <div
          data-ng-if="milestone.dueStatus ? vm.isOverdue(milestone) && !milestone.completionDate : false">
          ${require('content/images/inline/mast-icon-pending.svg')}
        </div>
      </td>
      <td class="milestone-status">
        <p
          data-ng-if="milestone.dueStatus ? vm.isOverdue(milestone) && !milestone.completionDate : false"
          class="overdue">
          Overdue
        </p>
        <div data-ng-if="milestone.completionDate">
          <p class="completed">Completed</p>
          <p>{{milestone.completionDate | moment}}</p>
        </div>
        <div
          class="milestone-dependency-message"
          data-ng-if="!vm.manage ? !vm.hasCompletePredecessors(milestone) &&
          !milestone.completionDate : false">
          Dependent milestones have not yet been completed ({{vm.getPredecessorMilestones(milestone).toString()}})
        </div>
      </td>
      <td>
        <checkbox
          data-ng-disabled="!vm.manage ? vm.isOnHold ||
          !vm.hasCompletePredecessors(milestone) : false"
          data-ng-show="vm.enableCheckbox(milestone)"
          data-ng-model="milestone.reviewed"
          name="milestone-{{$index}}-checkbox"
          id="milestone-{{$index}}-checkbox"
          largest>
        </checkbox>
      </td>
    </tr>
    </tbody>
  </table>
</section>
