<div class="item grid-block vertical">
  <div class="grid-block">
    <div class="grid-content small-1">
      <div id="item-header-back"
        data-back-button
        data-ng-click="vm.back()"
        title="Back to Asset Model">
      </div>
    </div>
    <div class="grid-block vertical small-5">
      <div class="grid-content">
        <h2 class="ellipsise">
          <span>Item:</span>
          <strong
            data-ng-bind="vm.item.name"
            class="ellipsise"
            id="item-header-item-name"></strong>
        </h2>
      </div>
      <div class="grid-content">
        <p class="white">
          <span>ID:</span>
          <span data-ng-bind="vm.item.id"></span>
          <span data-ng-show="vm.item.decommissioned">
            <strong>Decommissioned</strong>
          </span>
        </p>
      </div>
      <div class="grid-content">
        <p
          class="white">
          <span data-ng-show="!vm.item.validAttributes">
            Attribute values not defined
          </span>
          <span data-ng-show="vm.item.validAttributes">
            Attribute values defined
          </span>
        </p>
      </div>
    </div>
    <div class="grid-content small-6 text-right">
      <button
        data-ng-show="vm.checkedOut"
        data-ng-click="vm.markItemAsComplete()"
        data-ng-disabled="!vm.item.validAttributes || vm.item.reviewed"
        class="transparent-dark-button"
        id="item-header-mark-as-complete">
        Mark as complete
      </button>
      <button
        data-ng-show="vm.checkedOut && !vm.item.decommissioned"
        data-ng-click="vm.decommissionItem()"
        class="transparent-dark-button"
        id="item-header-decommission">
        Decommission item
      </button>
      <button
        data-ng-show="vm.checkedOut && vm.item.decommissioned"
        data-ng-click="vm.recommissionItem()"
        class="transparent-dark-button"
        id="item-header-recommission">
        Recommission item
      </button>
      <button
        data-ng-show="vm.checkedOut"
        data-ng-click="vm.deleteItem()"
        class="transparent-dark-button"
        id="item-header-remove-item">
        Remove item
      </button>
      <attachments-and-notes
        data-ng-show="vm.checkedOut"
        modal-title="vm.item.name"
        path="vm.attachmentPath"
        attachments="vm.attachments"
        class="actionable">
        <attachments-icon dark="true"></attachments-icon>
      </attachments-and-notes>
    </div>
  </div>
  <checked-out-by asset="vm.asset"></checked-out-by>
  <div
    class="item-tab-container grid-block wrap"
    id="item-tab-container">
    <div class="tabs">
      <div
        data-ui-sref-active="is-active"
        class="grid-content tab-item">
        <a
          data-ui-sref="item.attributes"
          id="item-tab-attributes">Attributes</a>
      </div>
      <div
        data-ui-sref-active="is-active"
        class="grid-content tab-item">
        <a
          data-ui-sref="item.relationships"
          id="item-tab-relationships">Relationships</a>
      </div>
      <div
        data-ui-sref-active="is-active"
        class="grid-content tab-item">
        <a
          data-ui-sref="item.tasks"
          id="item-tab-tasks">Tasks</a>
      </div>
    </div>
  </div>
  <div
    class="content-body"
    id="asset-list-container">
    <div
      data-ui-view
      class="tab-contents small-12"
      id="item-tab-content-container"></div>
  </div>
</div>
