<section>
  <header><h3 class="dark-grey bold">Asset Details</h3></header>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('assetName')">
      <label for="case-asset-name">Asset name</label>
      <input
        data-ng-model="vm.case.assetName"
        type="text"
        name="assetName"
        id="case-asset-name"
        placeholder="Asset name"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.assetName)"
        data-ng-messages="vm.addCaseForm.assetName.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/asset-name.html')}"></li>
      </ul>
    </div>

    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('imoNumber')">
      <label for="imo-number">IMO no.</label>
      <input
        type="text"
        id="imo-number"
        name="imoNumber"
        data-ng-model="vm.case.imoNumber"
        readonly />
    </div>
  </div>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('grossTonnage')">
      <label for="case-gross-tonnage">Gross tonnage (m<sup>3</sup>)</label>
      <input
        data-ng-model="vm.case.grossTonnage"
        type="number"
        name="grossTonnage"
        id="case-gross-tonnage"
        placeholder="Gross tonnage"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.grossTonnage)"
        data-ng-messages="vm.addCaseForm.grossTonnage.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/gross-tonnage.html')}"></li>
      </ul>
    </div>

    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('assetLifecycleStatus')">
      <label for="case-asset-lifecycle-status">Lifecycle status</label>
      <select
        data-ng-model="vm.case.assetLifecycleStatus"
        data-ng-options="cycle.name for cycle in vm.lifecycleStatuses track by cycle.id"
        name="assetLifecycleStatus"
        id="case-asset-lifecycle-status"
        required></select>
        <ul
          data-ng-messages="vm.addCaseForm.assetLifecycleStatus.$error"
          data-ng-if="vm.validFormItem(vm.addCaseForm.assetLifecycleStatus)"
          role="alert"
          class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/lifecycle-status.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('assetType')">
      <label for="case-asset-tType">Asset type</label>
      <button
        class="grey-button"
        data-ng-click="vm.selectAssetTypes()">Select type</button>
    </div>

    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('classStatus')">
      <label for="case-class-status">Class status</label>
      <select
        data-ng-model="vm.case.classStatus"
        data-ng-options="class.name for class in vm.classStatuses track by class.id"
        name="classStatus"
        id="case-class-status"
        required></select>
      <ul
        data-ng-messages="vm.addCaseForm.classStatus.$error"
        data-ng-if="vm.validFormItem(vm.addCaseForm.classStatus)"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/class-status.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('assetType')">
      <input
        data-ng-model="vm.case.assetType.name"
        type="text"
        name="assetType"
        id="case-asset-type"
        required
        readonly
        placeholder="Asset Type" />
      <ul
        data-ng-messages="vm.addCaseForm.assetType.$error"
        data-ng-if="vm.validFormItem(vm.addCaseForm.assetType)"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/asset-type.html')}"></li>
      </ul>
    </div>
  </div>

  <hr />
</section>
