<section>
  <header><h3 class="dark-grey bold">Case Details</h3></header>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('contractReferenceNumber')">
      <label for="contract-reference-number">Contract Reference</label>
      <input
        data-ng-model="vm.case.contractReferenceNumber"
        type="text"
        name="contractReferenceNumber"
        id="contract-reference-number"
        maxlength="{{vm.contractReferenceLength}}"
        data-ng-maxlength="{{vm.contractReferenceLength}}"
        placeholder="30 character limit"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.contractReferenceNumber)"
        data-ng-messages="vm.addCaseForm.contractReferenceNumber.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/contract.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('riskAssessmentStatus')">
      <label for="risk-assessment-status-type-{{$index}}">
        Risk assessment checks
      </label>
      <ul class="button-group segmented">
        <li ng-repeat="item in vm.riskAssessmentTypes">
          <input
            data-ng-model="vm.case.riskAssessmentStatus.id"
            name="riskAssessmentStatus"
            id="risk-assessment-status-type-{{$index}}"
            value="{{item.id}}"
            type="radio"
            required />
          <label
            for="risk-assessment-status-type-{{$index}}"
            data-ng-bind="item.name">
          </label>
        </li>
      </ul>
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.riskAssessmentStatus)"
        data-ng-messages="vm.addCaseForm.riskAssessmentStatus.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/risk-assessment.html')}"></li>
      </ul>
    </div>

    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('preEicInspectionStatus')">
      <label for="pre-eic-inspection-status-type-{{$index}}">
        Pre-inspection checks
      </label>
      <ul class="button-group segmented">
        <li ng-repeat="item in vm.preEicInspectionTypes">
          <input
            data-ng-model="vm.case.preEicInspectionStatus.id"
            name="preEicInspectionStatus"
            id="pre-eic-inspection-status-type-{{$index}}"
            value="{{item.id}}"
            type="radio"
            required />
          <label
            for="pre-eic-inspection-status-type-{{$index}}"
            data-ng-bind="item.name">
          </label>
        </li>
      </ul>
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.preEicInspectionStatus)"
        data-ng-messages="vm.addCaseForm.preEicInspectionStatus.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/pre-inspection.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('losingSociety')">
      <label for="losing-society">Losing society</label>
      <input
        data-typeahead="society as society.name for society in vm.losingSocietyTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        data-ng-model="vm.case.losingSociety"
        name="losingSociety"
        id="losing-society"
        type="text"
        placeholder="Start typing name"
        required />
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.losingSociety)"
        data-ng-messages="vm.addCaseForm.losingSociety.$error"
        role="alert"
        class="validation-error">
        <li ng-messages-include="${require('app/asset/cases/add/validation/losing-society.html')}"></li>
      </ul>
    </div>

    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('caseAcceptanceDate')">
      <label for="case-acceptance-date">Case acceptance date</label>
      <input
        data-ng-model="vm.case.caseAcceptanceDate"
        name="caseAcceptanceDate"
        id="case-acceptance-date"
        date-time
        auto-close="true"
        view="date"
        min-view="date"
        class="date-time"
        format="{{vm.dateFormat}}"
        placeholder="dd Mmm yyyy"
        required />
      <span
        date-picker-icon
        sibling-id="case-acceptance-date">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.caseAcceptanceDate)"
        data-ng-messages="vm.addCaseForm.caseAcceptanceDate.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/date.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('estimatedBuildDate')">
      <label for="estimated-build-date">Estimated build date</label>
      <input
        data-ng-model="vm.case.estimatedBuildDate"
        name="estimatedBuildDate"
        id="estimated-build-date"
        date-time
        auto-close="true"
        view="date"
        min-view="date"
        class="date-time"
        format="{{vm.dateFormat}}"
        placeholder="dd Mmm yyyy" />
      <span
        date-picker-icon
        sibling-id="estimated-build-date">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.estimatedBuildDate)"
        data-ng-messages="vm.addCaseForm.estimatedBuildDate.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/date.html')}"></li>
      </ul>
    </div>
  </div>

  <hr />
</section>
