<section data-ng-if="vm.canDisplayField('maintainenceRegime')">
  <header><h3 class="dark-grey bold">Class maintenance regime</h3></header>

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="maintainence-regime-{{$index}}">Class maintenance regime</label>
      <ul class="button-group segmented">
        <li data-ng-repeat="classMaintenanceStatus in vm.classMaintenanceStatuses">
          <input
            data-ng-model="vm.case.classMaintenanceStatus.id"
            id="maintainence-regime-{{$index}}"
            name="maintainenceRegime"
            value="{{classMaintenanceStatus.id}}"
            type="radio" />
          <label
            for="maintainence-regime-{{$index}}"
            data-ng-bind="classMaintenanceStatus.name">
          </label>
        </li>
      </ul>
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.maintainenceRegime)"
        data-ng-messages="vm.addCaseForm.maintainenceRegime.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/class-maintenance.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block" >
    <div class="grid-content small-6">
      <label for="co-classification-society">
        Co-classification society
        <span>Note: Upload the agreement to the case</span>
      </label>
      <input
        data-ng-if="vm.isDualMaintenance"
        data-ng-model="vm.case.coClassificationSociety"
        data-typeahead="society as society.name for society in vm.losingSocietyTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        type="text"
        name="coClassificationSociety"
        id="co-classificiation-society"
        placeholder="Start typing name" />
      <input
        data-ng-if="!vm.isDualMaintenance"
        data-ng-model="vm.null"
        data-typeahead="society as society.name for society in vm.losingSocietyTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        type="text"
        name="coClassificationSociety"
        id="co-classificiation-society"
        data-ng-disabled=true />
      </div>
    </div>

  <hr />
</section>
