<section>
  <header><h3 class="dark-grey bold">Flag details</h3></header>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('registeredPort')">
      <label for="registered-port">Port of registry</label>
      <input
        data-ng-model="vm.case.registeredPort"
        data-typeahead="port as port.name for port in vm.portTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        type="text"
        name="registeredPort"
        id="registered-port"
        class="required-for-commit"
        placeholder="Start typing name" />
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.registeredPort)"
        data-ng-messages="vm.addCaseForm.registeredPort.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/port-of-registry.html')}"></li>
      </ul>
    </div>

    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('flagState')">
      <label for="flag-state">Current flag</label>
      <input
        data-ng-model="vm.case.flagState"
        data-typeahead="flag as flag.name for flag in vm.flagTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        type="text"
        name="flagState"
        id="flag-state"
        placeholder="Start typing name" />
    </div>
  </div>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('dateOfRegistry')">
      <label for="date-of-registry">Date of registry</label>
      <input
        data-ng-model="vm.case.DateOfRegistry"
        date-time
        min-view="date"
        view="date"
        auto-close="true"
        name="dateOfRegistry"
        id="date-of-registry"
        class="date-time"
        placeholder="dd Mmm yyyy"
        format="{{vm.dateFormat}}" />
      <span
        date-picker-icon
        sibling-id="date-of-registry">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="vm.addCaseForm.DateOfRegistry.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/date.html')}"></li>
      </ul>
    </div>

    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('proposedFlagState')">
      <label for="proposed-flag-state">Proposed flag:</label>
      <input
        data-typeahead="flag as flag.name for flag in vm.flagTypeahead($viewValue)"
        data-typeahead-editable="true"
        data-clearable='null'
        data-ng-model="vm.case.proposedFlagState"
        required
        type="text"
        name="proposedFlagState"
        id="proposed-flag-state"
        placeholder="Start typing name" />
      <ul
        data-ng-if="vm.validFormItem(vm.addCaseForm.proposedFlagState)"
        data-ng-messages="vm.addCaseForm.proposedFlagState.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/proposed-flag.html')}"></li>
      </ul>
    </div>
  </div>

  <hr />
</section>
