<section
  data-ng-if="vm.canDisplayField('keelLayingDate') || vm.canDisplayField('dateOfBuild')">
  <header><h3 class="dark-grey bold">Key dates</h3></header>

  <div class="grid-block">
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('keelLayingDate')">
      <label for="keel-laying-date">Keel laying date</label>
      <input
        data-ng-model="vm.case.keelLayingDate"
        date-time
        view="date"
        min-view="date"
        auto-close="true"
        name="keelLayingDate"
        format="{{vm.dateFormat}}"
        id="keel-laying-date"
        placeholder="dd Mmm yyyy" />
      <span
        date-picker-icon
        sibling-id="keel-laying-date">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="vm.addCaseForm.keelLayingDate.$error"
        data-ng-if="vm.validFormItem(vm.addCaseForm.keelLayingDate)"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/date.html')}"></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <!--
      AC 18 this should be disabled; but, filled in...
    //-->
    <div
      class="grid-content small-6"
      data-ng-if="vm.canDisplayField('dateOfBuild')">
      <label for="date-of-build">Date of build</label>
      <input
        data-ng-model="vm.case.buildDate"
        data-ng-disabled="1==1"
        date-time
        view="date"
        min-view="date"
        auto-close="true"
        name="dateOfBuild"
        format="{{vm.dateFormat}}"
        id="date-of-build"
        readonly
        placeholder="dd Mmm yyyy" />
      <span
        data-ng-disabled="1==1"
        date-picker-icon
        sibling-id="date-of-build">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="vm.addCaseForm.dateOfBuild.$error"
        data-ng-if="vm.validFormItem(vm.addCaseForm.dateOfBuild)"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/asset/cases/add/validation/date.html')}"></li>
      </ul>
    </div>
  </div>

  <hr />
</section>
