<section>
  <header><h3 class="dark-grey bold">Offices and surveyors</h3></header>

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="case-sdo">Case office</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'sdo')"
        data-typeahead-editable="false"
        data-clearable
        data-ng-model="vm.case.offices.caseSdo.office"
        data-ng-required="vm.formValidate"
        type="text"
        name="caseSdo"
        id="case-sdo"
        placeholder="Start typing office code" />
    </div>

    <div class="grid-content small-6">
      <label for="case-owner">Case owner</label>
      <input
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable
        data-ng-model="vm.case.surveyors.caseOwner.surveyor"
        data-ng-required="vm.formValidate"
        type="text"
        name="caseOwner"
        id="case-owner"
        placeholder="Start typing name" />
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content small-6"></div>
    <div class="grid-content small-6">
      <label for="case-admin">Case admin</label>
      <input
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable
        data-ng-model="vm.case.surveyors.caseAdmin.surveyor"
        data-ng-required="vm.formValidate"
        type="text"
        name="caseAdmin"
        id="case-admin"
        placeholder="Start typing name" />
    </div>
  </div>

  <hr />

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="case-cfo">Case CFO</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'cfo')"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.case.offices.caseCfo.office"
        type="text"
        name="caseCfo"
        id="case-cfo"
        placeholder="Start typing CFO name" />
    </div>

    <div class="grid-content small-6">
      <label for="contract-holder">Contract holder</label>
      <input
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.case.surveyors.contractHolder.surveyor"
        type="text"
        name="contractHolder"
        id="contract-holder"
        placeholder="Start typing name" />
    </div>
  </div>

  <hr />

  <div class="grid-block">
    <div class="grid-content small-6">
      <label for="job-sdo">Job SDO</label>
      <input
        data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, 'sdo')"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.case.offices.jobSdo.office"
        type="text"
        name="jobSdo"
        id="job-sdo"
        placeholder="Start typing SDO code" />
    </div>

    <div class="grid-content small-6">
      <label for="lead-surveyor">Lead surveyor</label>
      <input
        data-typeahead="surveyor as surveyor.name for surveyor in vm.surveyorTypeahead($viewValue)"
        data-typeahead-editable="false"
        data-clearable='null'
        data-ng-model="vm.case.surveyors.leadSurveyor.surveyor"
        type="text"
        name="leadSurveyor"
        id="lead-surveyor"
        placeholder="Start typing name" />
    </div>
  </div>

  <script type="text/ng-template" id="office.html">
    <hr />

    <div class="grid-block">
      <div class="grid-content small-6">
        <label
          data-ng-bind="office.name"
          for="{{office.name | kebabise}}"></label>
        <input
          data-typeahead="office as office.name for office in vm.officeTypeahead($viewValue, office.id)"
          data-typeahead-editable="false"
          data-clearable='null'
          data-ng-model="vm.case.offices[office.camelName].office"
          id="{{office.name | kebabise}}"
          type="text"
          placeholder="Start typing office code" />
      </div>
      <div class="grid-content small-6"></div>
    </div>
  </script>

  <div
    data-ng-repeat="office in vm.extraOffices"
    data-ng-include="'office.html'">
  </div>

  <div class="grid-block">
    <div class="grid-content small-6">
      <button
        data-ng-click="vm.selectOfficeType()"
        class="grey-button">Add office</button>
    </div>
  </div>

  <hr />
</section>
