<section class="service-schedule add-service footer-follows">
  <div class="grid-block vertical">
    <!-- Banner -->
    <div class="grid-block vertical banner">
      <div class="grid-block">
        <div class="grid-content small-1">
          <div
            data-back-button
            data-ng-click="vm.back()"
            id="add-product-header-back"
            title="Back">
          </div>
        </div>

        <div class="grid-content">
          <h2>
            <span>Add services to:</span>
            <strong data-ng-bind="vm.product.name"></strong>
          </h2>
        </div>
      </div>
    </div>

    <!-- Sequence Tabs -->
    <div class="grid-block small-12">
      <div class="tabs">
        <div
          class="grid-content small-6 tab-item">
          <a>Select services</a>
        </div>
        <div
          class="is-active grid-content small-6 tab-item">
          <a>Specify details</a>
        </div>
      </div>
    </div>

      <ng-form name="vm.form">
        <div
          data-ng-repeat="service in vm.services"
          class="grid-block vertical specify-service-details">

          <ng-form name="service.form" novalidate>
            <div class="grid-block">
              <div class="grid-content small-9">
                <h3 class="blue">
                  {{ service._serviceCatalogue.code }} - {{service._serviceCatalogue.name}}
                </h3>
              </div>
              <div class="grid-block small-3 text-right">
                <button
                  data-ng-click="vm.removeService(service.serviceCatalogueId)"
                  class="primary-button full-width">Remove service</button>
              </div>
            </div>

            <div
              data-ng-if="service._serviceCatalogue.multipleIndicator"
              class="grid-block vertical">
              <div
                data-ng-if="service.assetItem"
                class="grid-content small-12">
                <ul>
                  <li data-ng-bind="service.assetItem.name"></li>
                </ul>
              </div>
              <div class="grid-content small-2">
                <button
                  data-ng-click="vm.selectItem(service)"
                  class="secondary-button">Select item</button>
              </div>
            </div>

            <div class="grid-block small-up-2">
              <div class="grid-content">
                <label for="assigned-date-manual-{{$index}}">Assigned date</label>
                <input
                  data-ng-model="service.assignedDateManual"
                  data-max-date="vm.maxAssignedDate"
                  date-time
                  auto-close="true"
                  format="{{vm.dateFormat}}"
                  id="assigned-date-manual-{{$index}}"
                  min-view="date"
                  name="assignedDateManual"
                  placeholder="DD MMM YYYY"
                  value="service.assignedDateManual"
                  view="date"/>
                <span
                  date-picker-icon
                  sibling-id="assigned-date-manual-{{$index}}">
                  ${require('content/images/inline/mast-icon-calendar.svg')}
                </span>
                <ul
                  data-ng-messages="service.form.assignedDateManual.$error"
                  data-ng-if="vm.isFieldInvalid(service.form.assignedDateManual)"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
                </ul>
              </div>
              <div
                class="grid-content">
                <label for="due-date-manual-{{$index}}">Due date</label>
                <input
                  data-ng-model="service.dueDateManual"
                  data-min-date="service.minDueDate"
                  date-time
                  auto-close="true"
                  format="{{vm.dateFormat}}"
                  id="due-date-manual-{{$index}}"
                  min-view="date"
                  name="dueDateManual"
                  placeholder="DD MMM YYYY"
                  value="service.dueDateManual"
                  view="date"/>
                <span
                  date-picker-icon
                  sibling-id="due-date-manual-{{$index}}">
                  ${require('content/images/inline/mast-icon-calendar.svg')}
                </span>
                <ul
                  data-ng-messages="service.form.dueDateManual.$error"
                  data-ng-if="vm.isFieldInvalid(service.form.dueDateManual)"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
                </ul>
              </div>
            </div>
            <div class="grid-block small-up-2">
              <div
                class="grid-content">
                <label for="lower-range-date-{{$index}}">Lower date range</label>
                <input
                  data-ng-disabled="!vm.enableDateRanges(service)"
                  data-ng-model="service.lowerRangeDateManual"
                  data-max-date="service.maxLowerRangeDate"
                  data-min-date="service.minLowerRangeDate"
                  date-time
                  auto-close="true"
                  format="{{vm.dateFormat}}"
                  id="lower-range-date-{{$index}}"
                  min-view="date"
                  name="lowerRangeDateManual"
                  placeholder="DD MMM YYYY"
                  value="service.lowerRangeDateManual"
                  view="date"/>
                <span
                  date-picker-icon
                  sibling-id="lower-range-date-{{$index}}">
                  ${require('content/images/inline/mast-icon-calendar.svg')}
                </span>
                <ul
                  data-ng-messages="service.form.lowerRangeDateManual.$error"
                  data-ng-if="vm.isFieldInvalid(service.form.lowerRangeDateManual)"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
                </ul>
              </div>
              <div
                class="grid-content">
                <label for="upper-date-range-{{$index}}">Upper date range</label>
                <input
                  data-ng-disabled="!vm.enableDateRanges(service)"
                  data-ng-model="service.upperRangeDateManual"
                  data-min-date="service.minUpperRangeDate"
                  date-time
                  auto-close="true"
                  format="{{vm.dateFormat}}"
                  name="upperRangeDateManual"
                  min-view="date"
                  id="upper-range-date-{{$index}}"
                  placeholder="DD MMM YYYY"
                  value="service.upperRangeDateManual"
                  view="date"/>
                <span
                  date-picker-icon
                  sibling-id="upper-range-date-{{$index}}">
                  ${require('content/images/inline/mast-icon-calendar.svg')}
                </span>
                <ul
                  data-ng-messages="service.form.upperRangeDateManual.$error"
                  data-ng-if="vm.isFieldInvalid(service.form.upperRangeDateManual)"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
                </ul>
              </div>
            </div>
            <div class="grid-block small-up-2">
              <div class="grid-content">
                <label for="cycle-periodicity-{{$index}}">Cycle periodicity</label>
                <input
                  data-ng-disabled="!service._serviceCatalogue.cyclePeriodicityEditable"
                  data-ng-model="service.cyclePeriodicity"
                  type="number"
                  name="cyclePeriodicity"
                  id="cycle-periodicity-{{$index}}"
                  required />
              </div>
              <div class="grid-content">
                <label for="last-credited-on-{{$index}}">Last credited on</label>
                <input
                  data-ng-model="service.lastCreditedJob"
                  data-ng-maxlength="9"
                  data-ng-minlength="9"
                  id="last-credited-on-{{$index}}"
                  name="lastCreditedOn"
                  placeholder="Job ID"
                  type="number"/>
                  <ul
                    data-ng-messages="service.form.lastCreditedOn.$error"
                    data-ng-if="service.form.lastCreditedOn.$error"
                    role="alert"
                    class="validation-error">
                    <li>
                      <div data-ng-message="minlength, maxlength">Please enter a 9 digit Job ID</div>
                    </li>
                  </ul>
              </div>
            </div>
            <div class="grid-block form-control">
              <div class="grid-block small-2">
                <div class="grid-content">
                  <span class="form-label">Held status:</span>
                </div>
              </div>
              <div class="grid-block">
                <br/>
                <ul class="button-group segmented">
                  <li data-ng-repeat="status in vm.serviceStatuses">
                  <input
                    data-ng-model="service.serviceStatus"
                    name="serviceStatus"
                    type="radio"
                    value="{{ status.id }}"
                    id="service-status-{{service.serviceCatalogueId}}-{{$index}}" />
                  <label
                    for="service-status-{{service.serviceCatalogueId}}-{{$index}}"
                    data-ng-bind="status.name">
                  </label>
                  </li>
                </ul>
              </div>
            </div>

            <div class="grid-block small-up-2">
              <div class="grid-content">
                <label for="part-held-on-{{$index}}">Part held on:</label>
                <input
                  data-ng-model="service.partheldJob"
                  placeholder="Job ID"
                  type="number"
                  name="partHeldOn"
                  data-ng-maxlength="9"
                  data-ng-minlength="9"
                  id="part-held-on-{{$index}}"/>
                  <ul
                    data-ng-messages="service.form.partHeldOn.$error"
                    data-ng-if="service.form.partHeldOn.$error"
                    role="alert"
                    class="validation-error">
                    <li>
                      <div data-ng-message="minlength, maxlength">Please enter a 9 digit Job ID</div>
                    </li>
                  </ul>
              </div>
              <div class="grid-content">
                <label for="completion-date-{{$index}}">Completion date: (optional)</label>
                <input
                  data-ng-model="service.completionDate"
                  date-time
                  view="date"
                  min-view="date"
                  auto-close="true"
                  name="completionDate"
                  format="{{vm.dateFormat}}"
                  id="completion-date-{{$index}}"
                  placeholder="DD MMM YYYY" />
                <span
                  date-picker-icon
                  sibling-id="completion-date-{{$index}}">
                  ${require('content/images/inline/mast-icon-calendar.svg')}
                </span>
                <ul
                  data-ng-messages="service.form.completionDate.$error"
                  data-ng-if="vm.isFieldInvalid(service.form.completionDate)"
                  role="alert"
                  class="validation-error">
                  <li data-ng-messages-include="${require('app/components/validation/date.html')}"></li>
                </ul>
              </div>
            </div>
            <div class="grid-block form-control">
              <div class="grid-block small-2">
                <div class="grid-content">
                  <span class="form-label">Provisional status:</span>
                </div>
              </div>
              <div class="grid-block">
                <br/>
                <ul class="button-group segmented">
                  <li data-ng-repeat="status in vm.provisionalStatuses">
                  <input
                    data-ng-model="service.provisional"
                    name="provisionalStatus{{service.serviceCatalogueId}}{{status.id}}"
                    type="radio"
                    value="{{status.value}}"
                    id="provisional-status-{{service.serviceCatalogueId}}-{{status.id}}" />
                  <label
                    for="provisional-status-{{service.serviceCatalogueId}}-{{status.id}}"
                    data-ng-bind="status.name">
                  </label>
                  </li>
                </ul>
              </div>
            </div>
          </ng-form>
        </div>
      </ng-form>
    </div>
</section>

<!-- Footer -->
<div
  data-sticky-footer
  id="add-service-footer"
  class="service-add-footer">
  <div class="grid-block align-right">
    <div class="grid-content shrink">
      <button
        data-ng-click="vm.back()"
        class="transparent-dark-button"
        id="footer-cancel">
        Cancel
      </button>
      <button
        data-ng-class="{ 'disabled': !vm.validForms() }"
        data-ng-click="vm.save()"
        class="primary-button"
        id="footer-confirm">
        Complete
      </button>
    </div>
  </div>
</div>
