<div
  class="vertical grid-block"
  data-ng-class="{preload: main.page.loading}">
  <check-in>Check in</check-in>
  <div
    data-ui-view="header"
    class=" vertical small-12"
    id="header-container">
  </div>
  <div class="grid-block vertical small-12 main-container">
    <div data-ui-view id="body-container"> </div>
  </div>
</div>
