<div class="asset grid-block vertical">
  <div
    class="asset-tab-container grid-block wrap"
    id="asset-tab-container">
    <div class="tabs">
      <div
        data-ng-repeat="tab in vm.tabs"
        data-ng-class="{'is-active': vm.isActive(tab), 'is-disabled': !vm.isEnabled(tab)}"
        class="grid-content tab-item">
        <a
          data-ng-disabled="!vm.isEnabled(tab)"
          data-ng-click="vm.go(tab.route)"
          data-ng-bind="tab.name"
          id="asset-tab-{{tab.name | kebabise}}"></a>
      </div>
    </div>
  </div>
  <!--
    The content body;
  //-->
  <div
    class="content-body"
    id="asset-list-container">
    <div
      data-ui-view
      class="tab-contents grid-block"
      id="asset-tab-content-container"></div>
  </div>
</div>
