<section>
  <header class="grid-content">
    <h4 class="dark-grey bold">Basic asset details</h4>
  </header>
  <div class="grid-block small-up-2">
    <div class="grid-content">
      <h6>Asset name</h6>
      <p data-ng-bind="vm.asset.name"></p>
    </div>
    <div
      class="grid-content"
      data-ng-show="vm.asset.isImoRegistered">
      <h6>LR lead sister asset</h6>
      <p data-ng-bind="vm.asset.isLead ? 'Yes' : 'No'"></p>
    </div>
  </div>

  <div
    class="grid-block small-up-2"
    data-ng-show="vm.asset.isImoRegistered">
    <div class="grid-content"></div>
    <div class="grid-content">
      <h6>LR lead asset</h6>
      <p data-ng-bind="vm.asset.leadImo || '-'"></p>
    </div>
  </div>

  <div class="grid-block small-up-2">
    <div class="grid-content">
      <h6>Class status</h6>
      <p data-ng-bind="vm.asset.classStatus.name || '-'"></p>
    </div>
    <div class="grid-content">
      <h6>Effective date</h6>
      <p data-ng-bind="vm.asset.effectiveDate  | moment: '-'"></p>
    </div>
  </div>

  <div class="grid-block small-up-2">
    <div class="grid-content">
      <h6>Lifecycle status</h6>
      <p data-ng-bind="vm.asset.assetLifecycleStatus.name || '-'"></p>
    </div>
    <div class="grid-content">
    </div>
  </div>

  <div class="grid-block small-up-2">
    <div class="grid-content">
      <h6>Asset type</h6>
      <p data-ng-bind="vm.asset.assetType.name || '-'"></p>
    </div>
    <div class="grid-content">
      <h6>Asset category</h6>
      <p data-ng-bind="vm.asset.assetCategory.name || '-'"></p>
    </div>
  </div>

  <div class="grid-block small-up-2">
    <div class="grid-content">
      <h6>Class section</h6>
      <p data-ng-bind="vm.asset.classDepartment.name || '-'"></p>
    </div>
  </div>

  <div class="grid-block small-up-2">
    <div class="grid-content">
      <h6>Gross tonnage</h6>
      <p data-ng-bind="vm.asset.grossTonnage ? vm.asset.grossTonnage + 'm&sup3;' : '-'"></p>
    </div>
  </div>
  <div class="grid-content">
    <h6>Special survey indicator</h6>
    <p data-ng-bind="vm.asset.hullIndicator || '-'"></p>
  </div>
</section>
<section
  data-ng-if="vm.ihsAsset"
  class="ihs-section">
  <div class="grid-block">
    <div class="grid-content small-12">
      <h5>IHS stored data</h5>
    </div>
  </div>
  <div class="grid-block">
    <div class="grid-content small-3">
      <h6>Asset name</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.name"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Asset type</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.ihsAssetType.statDeCode"></p>
    </div>
  </div>
</section>
