<section>
  <header class="grid-content">
    <h4 class="dark-grey bold">Class maintenance regime</h4>
  </header>
  <div class="grid-block small-up-1">
    <div class="grid-content">
      <h6>Class maintenance regime</h6>
      <p data-ng-bind="vm.asset.classMaintenanceStatus.name || '-'"></p>
    </div>
  </div>

  <div class="grid-block small-up-1">
    <div class="grid-content">
      <h6>Co-classification society</h6>
      <p data-ng-bind="vm.asset.coClassificationSociety.name || '-'"></p>
    </div>
  </div>
</section>
