<section>
  <header class="grid-content">
    <h4 class="dark-grey bold">Customers</h4>
  </header>
  <div
    data-ng-repeat="customer in vm.asset.customers"
    class="grid-block vertical">
    <div class="grid-content">
      <h5
        data-ng-bind="customer.relationship.name"
        class="dark-blue bold"></h5>
    </div>
    <div class="grid-block horizontal">
      <div class="grid-content small-4">
        <h6>Name</h6>
        <p data-ng-bind="customer.customer.name"></p>
      </div>
      <div class="grid-content small-8">
        <h6>Functions:</h6>
        <ul
          data-ng-show="customer.functions.length"
          class="list-unstyled">
          <li
            data-ng-repeat="func in customer.functions"
            data-ng-bind="func.customerFunction.name"></li>
        </ul>
        <p data-ng-hide="customer.functions.length">
          -
        </p>
      </div>
    </div>
    <div
      data-ng-hide="$last"
      class="grid-content">
      <hr />
    </div>
  </div>
</section>
