<section>
  <header class="grid-content">
    <h4 class="dark-grey bold">Flag details</h4>
  </header>
  <div class="grid-block small-up-2">
    <div class="grid-content">
      <h6>Current flag</h6>
      <p data-ng-bind="vm.asset.flagState.name || '-'"></p>
    </div>
    <div
      class="grid-content"
      data-ng-show="vm.assetModel.isImoRegistered">
      <h6>Call sign</h6>
      <p data-ng-bind="vm.asset.callSign || '-'"></p>
    </div>
  </div>

  <div class="grid-block small-up-1">
    <div class="grid-content">
      <h6>Port of registry</h6>
      <p data-ng-bind="vm.asset.registeredPort.name || '-'"></p>
    </div>
  </div>
</section>
<section
  class="ihs-section"
  data-ng-if="vm.ihsAsset">
  <div class="grid-block">
    <div class="grid-content small-12">
      <h5>IHS stored data</h5>
    </div>
  </div>
  <div class="grid-block">
    <div class="grid-content small-3">
      <h6>Current flag</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.flag.name"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Port register</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.portName"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Call sign</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.callSign"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Official number</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.officialNo"></p>
    </div>
  </div>
</section>
