<section>
  <header class="grid-content">
    <h4 class="dark-grey bold">Offices</h4>
  </header>
  <div class="grid-block small-up-2">
    <div class="grid-content">
      <h6>Class CFO</h6>
      <p data-ng-bind="vm.asset.cfo"></p>
    </div>
    <div class="grid-content">
      <h6>Class section</h6>
      <p data-ng-bind="vm.asset.classGroup"></p>
    </div>
  </div>
</section>
<section
  data-ng-if="vm.ihsAsset"
  class="ihs-section">
  <div class="grid-block">
    <div class="grid-content small-12">
      <h5>IHS stored data</h5>
    </div>
  </div>
  <div class="grid-block">
    <div class="grid-content small-3">
      <h6>Registered owner</h6>
      <p data-ng-bind="vm.ihsAsset.ihsGroupFleet.regdOwner"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Ship manager</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.shipManager"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Group owner</h6>
      <p data-ng-bind="vm.ihsAsset.ihsGroupFleet.groupOwner"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Operator</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.operator"></p>
    </div>
    <div class="grid-content small-3">
      <h6>Technical manager</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.techManager"></p>
    </div>
    <div class="grid-content small-3">
      <h6>DOC company</h6>
      <p data-ng-bind="vm.ihsAsset.ihsAsset.docCompany"></p>
    </div>
  </div>
</section>
