<section>
  <header class="grid-content">
    <h4 class="dark-grey bold">Rule set, class notations and descriptive notes</h4>
  </header>
  <div class="grid-block small-12">
    <div class="grid-content">
      <h6>Build rule set</h6>
      <p data-ng-bind="vm.asset.ruleSet.name || '-'"></p>
    </div>
  </div>

  <div class="grid-block small-12">
    <div class="grid-content">
      <h6>Hull class notation</h6>
      <p data-ng-bind="vm.asset.classNotation || '-'"></p>
    </div>
  </div>

  <div class="grid-block small-12">
    <div class="grid-content">
      <h6>Machinery class notation</h6>
      <p data-ng-bind="vm.asset.machineryClassNotation || '-'"></p>
    </div>
  </div>

  <div class="grid-block small-12">
    <div class="grid-content">
      <h6>Descriptive notes</h6>
      <p data-ng-bind="vm.asset.descriptiveNote || '-'"></p>
    </div>
  </div>
</section>
