<small-modal
  class="white text-center"
  id="value-picker-modal">
  <modal-header>
    <div class="grid-block">
      <h2 class="small-11">{{vm.modalTitle}}</h2>
      <a
        data-ng-click="$dismiss()"
        class="small-1 white close-button"
        id="close-button">&#10005;</a>
    </div>
  </modal-header>
  <modal-body>
    <div
      data-ng-if="vm.typeRadio"
      class="radio grid-block vertical wrap"> <!-- Radio -->
      <div
        data-ng-repeat="option in vm.availableOptions"
        class="grid-content shrink">
        <input
          data-ng-value="{{::option.id}}"
          type="radio"
          role="radio"
          data-ng-model="vm.radioModel"
          data-ng-change="vm.selectOption(option)"
          id="option-{{::$index}}-select"
          name="option">
        <label
          data-ng-bind="option.name"
          class="white"
          for="option-{{::$index}}-select">
        </label>
      </div>
    </div>
    <div
      data-ng-if="!vm.typeRadio"
      class="grid-block"> <!-- Checkbox -->
      <table>
        <tbody>
          <tr ng-repeat="option in vm.availableOptions">
            <td>
              <div class="checkbox-container">
                <checkbox
                  data-ng-model="option.selected"
                  data-ng-change="vm.selectOption(option)"
                  id="option-{{::$index}}-select"
                  largest></checkbox>
                <label
                  data-ng-bind="option.name"
                  class="white"
                  for="option-{{::$index}}-select"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button
        class="transparent-button-white"
        data-ng-click="$dismiss()">Cancel</button>
      <button
        class="primary-button"
        data-ng-click="vm.confirm()">Select</button>
    </div>
  </modal-footer>
</small-modal>
