<div data-tpl="vm.header"></div>

<div class="asset-details-management footer-follows">
  <header>
    <h3>Specify details</h3>
  </header>

  <div class="grid-content small-12 asset-details-content">
    <ng-form
      name="vm.form"
      class="edit-asset-details-form"
      id="edit-asset-details-form"
      novalidate>

      <div class="tab-content">
        <div
          class="grid-content small-12"
          data-ng-show="vm.activeTab.assetDetails">
          <div data-ng-include="'app/asset/asset-details/edit/partials/asset-details.html'"></div>
          <div data-ng-include="'app/asset/asset-details/edit/partials/build-details.html'"></div>
          <div data-ng-include="'app/asset/asset-details/edit/partials/rule-set.html'"></div>
          <div data-ng-include="'app/asset/asset-details/edit/partials/class-maintenance.html'"></div>
          <div data-ng-include="'app/asset/asset-details/edit/partials/flag-details.html'"></div>
        </div>

        <div
          class="grid-content small-12"
          data-ng-show="vm.activeTab.customersAndOffices">
          <div data-ng-include="'app/asset/asset-details/edit/partials/customers.html'"></div>
          <div data-ng-include="'app/asset/asset-details/edit/partials/offices.html'"></div>
        </div>
      </div>
    </ng-form>
  </div>
</div>

<div
  data-sticky-footer
  id="edit-asset-details-footer"
  class="edit-asset-details-footer">
  <div class="grid-block">
    <div class="grid-content small-3">
      <button
        class="transparent-dark-button"
        data-ng-click="vm.cancel()"
        id="add-case-cancel">
        Cancel
      </button>
    </div>

    <div class="grid-content small-6-up text-right">
      <button
        data-ng-disabled="!vm.validForm()"
        data-ng-click="vm.save()"
        class="primary-button"
        name="editAssetAndSave"
        id="edit-asset-and-save">
        Save
      </button>
    </div>
  </div>
</div>
