<ng-form
  name="assetSearchFilterAssetType"
  class="grid-block vertical white"
  id="asset-search-filter-asset-type-form">
  <div
    data-ng-init="vm.filters.assetType.form = assetSearchFilterAssetType"
    class="grid-block">
    <div class="grid-content">
      <p>Select the Asset Type to the level required using the LR Statcode.</p>
    </div>
  </div>
  <div class="grid-block horizontal small-up-3">
    <div class="grid-content">
      <label
        for="asset-search-filter-asset-type-statcode-1"
        class="white">
        Statcode 1
      </label>
      <select
        data-ng-model="vm.statcodes[0]"
        data-ng-change="vm.filters.assetType.active = vm.statcodes[0] !== '0'; vm.updateStatcodes(0)"
        name="statcode1"
        id="asset-search-filter-asset-type-statcode-1">
        <option value="0">All</option>
        <option
          data-ng-repeat="statcode in vm.filterStatcodes(null, 1) track by statcode.id"
          data-ng-bind="::statcode.name"
          value="{{statcode.id}}"></option>
      </select>
    </div>
    <div
      data-ng-show="vm.statcodes[0] !== '0' && vm.statcodes[1] !== '-1'"
      class="grid-content">
      <label
        for="asset-search-filter-asset-type-statcode-2"
        class="white">
        Statcode 2
      </label>
      <select
        data-ng-model="vm.statcodes[1]"
        data-ng-change="vm.updateStatcodes(1)"
        name="statcode2"
        id="asset-search-filter-asset-type-statcode-2">
        <option value="0">All</option>
        <option
          data-ng-repeat="statcode in vm.filterStatcodes(vm.statcodes[0], 2) track by statcode.id"
          data-ng-bind="::statcode.name"
          value="{{statcode.id}}"></option>
      </select>
    </div>
    <div
      data-ng-show="vm.statcodes[1] !== '0' && vm.statcodes[2] !== '-1'"
      class="grid-content">
      <label
        for="asset-search-filter-asset-type-statcode-3"
        class="white">
        Statcode 3
      </label>
      <select
        data-ng-model="vm.statcodes[2]"
        data-ng-change="vm.updateStatcodes(2)"
        name="statcode3"
        id="asset-search-filter-asset-type-statcode-3">
        <option value="0">All</option>
        <option
          data-ng-repeat="statcode in vm.filterStatcodes(vm.statcodes[1], 3) track by statcode.id"
          data-ng-bind="::statcode.name"
          value="{{statcode.id}}"></option>
      </select>
    </div>
    <div
      data-ng-show="vm.statcodes[2] !== '0' && vm.statcodes[3] !== '-1'"
      class="grid-content">
      <label
        for="asset-search-filter-asset-type-statcode-4"
        class="white">
        Statcode 4
      </label>
      <select
        data-ng-model="vm.statcodes[3]"
        data-ng-change="vm.updateStatcodes(3)"
        name="statcode4"
        id="asset-search-filter-asset-type-statcode-4">
        <option value="0">All</option>
        <option
          data-ng-repeat="statcode in vm.filterStatcodes(vm.statcodes[2], 4) track by statcode.id"
          data-ng-bind="::statcode.name"
          value="{{statcode.id}}"></option>
      </select>
    </div>
    <div
      data-ng-show="vm.statcodes[3] !== '0' && vm.statcodes[4] !== '-1'"
      class="grid-content">
      <label
        for="asset-search-filter-asset-type-statcode-5"
        class="white">
        Statcode 5
      </label>
      <select
        data-ng-model="vm.statcodes[4]"
        data-ng-change="vm.updateStatcodes(4)"
        name="statcode5"
        id="asset-search-filter-asset-type-statcode-5">
        <option value="0">All</option>
        <option
          data-ng-repeat="statcode in vm.filterStatcodes(vm.statcodes[3], 5) track by statcode.id"
          data-ng-bind="::statcode.name"
          value="{{statcode.id}}"></option>
      </select>
    </div>
  </div>
</ng-form>
