<ng-form novalidate
  name="assetSearchFilterBuildDate"
  class="grid-block vertical white"
  id="asset-search-filter-build-date-form">
  <div
    data-ng-init="vm.filters.buildDate.form = assetSearchFilterBuildDate"
    class="grid-block small-up-3 blue">
    <div class="grid-content">
      <label
        for="asset-search-filter-build-date-min"
        class="white">
        From
      </label>
      <input
        data-ng-model="vm.parameters.buildDateMin"
        date-time
        max-date="vm.maxSetDate"
        min-date="vm.dates.buildDateMin"
        view="date"
        min-view="date"
        data-ng-change="vm.validateChange(assetSearchFilterBuildDate.buildDateMax)"
        format="{{vm.dateFormat}}"
        auto-close="true"
        name="buildDateMin"
        id="asset-search-filter-build-date-min" />
      <span
        date-picker-icon
        sibling-id="asset-search-filter-build-date-min"
        class="white">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="assetSearchFilterBuildDate.buildDateMin.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/build-date.html')}"></li>
      </ul>
    </div>
    <div class="grid-content">
      <label
        for="asset-search-filter-build-date-max"
        class="white">
        To
      </label>
      <input
        data-ng-model="vm.parameters.buildDateMax"
        date-time
        min-date="vm.minSetDate"
        max-date="vm.dates.buildDateMax"
        view="date"
        min-view="date"
        data-ng-change="vm.validateChange(assetSearchFilterBuildDate.buildDateMin)"
        format="{{vm.dateFormat}}"
        auto-close="true"
        name="buildDateMax"
        id="asset-search-filter-build-date-max" />
      <span
        date-picker-icon
        sibling-id="asset-search-filter-build-date-max"
        class="white">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="assetSearchFilterBuildDate.buildDateMax.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/build-date.html')}"></li>
      </ul>
    </div>
  </div>
</ng-form>
