<ng-form
  name="assetSearchFilterClassStatus"
  class="grid-block vertical white"
  id="asset-search-filter-class-status-form">
  <div
    data-ng-init="vm.filters.classStatus.form = assetSearchFilterClassStatus"
    class="grid-block">
    <div class="grid-content">
      <div class="float-right">
        <p>
          <span
            data-ng-click="vm.classStatuses = vm.selectAll(vm.classStatuses); vm.filters.classStatus.active = false;"
            type="button"
            class="actionable"
            id="asset-search-filter-class-status-select-all">
            Select All
          </span>
          |
          <span
            data-ng-click="vm.classStatuses = vm.clearAll(vm.classStatuses); vm.filters.classStatus.active = true;"
            type="button"
            class="actionable"
            id="asset-search-filter-class-status-clear-all">
            Clear All
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-block horizontal small-up-4">
    <div
      data-ng-repeat="classStatus in vm.classStatuses track by classStatus.id"
      class="grid-content">
      <div class="checkbox-container">
        <checkbox
          data-ng-model="classStatus.selected"
          data-ng-change="vm.filters.classStatus.active = !vm.getFilterActivation(vm.classStatuses, vm.defaultClassStatuses)"
          name="classStatus{{$index}}"
          id="asset-search-filter-class-status-select-{{$index}}"
          largest></checkbox>
        <label
          data-ng-bind="classStatus.name"
          class="white"
          for="asset-search-filter-class-status-select-{{$index}}"></label>
      </div>
    </div>
  </div>
</ng-form>
