<ng-form
  name="assetSearchFilterCustomer"
  class="grid-block vertical white"
  id="asset-search-filter-customer-form">
  <div
    data-ng-init="vm.filters.customer.form = assetSearchFilterCustomer"
    class="grid-block small-up-3">
    <div class="grid-content">
      <label
        for="asset-search-filter-customer-name"
        class="white">
        Customer name
      </label>
      <input
        data-ng-model="vm.parameters.partyId"
        data-typeahead="customer as customer.name for customer in vm.customerTypeahead($viewValue)"
        data-typeahead-on-select="vm.filters.customer.active = (vm.parameters.partyId || vm.parameters.partyRoleId || vm.parameters.partyFunctionTypeId)"
        data-typeahead-editable="false"
        data-clearable="null"
        type="text"
        name="partyId"
        placeholder="Start typing in Customer name"
        id="asset-search-filter-customer-name" />
      <ul
        data-ng-messages="assetSearchFilterCustomer.partyId.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/customer.html')}"></li>
      </ul>
    </div>
    <div class="grid-content">
      <label
        for="asset-search-filter-customer-role"
        class="white">
        Customer role
      </label>
      <select
        data-ng-init="vm.parameters.partyRoleId = vm.parameters.partyRoleId || '0'"
        data-ng-model="vm.parameters.partyRoleId"
        data-ng-change="vm.filters.customer.active = (vm.parameters.partyId || vm.parameters.partyRoleId !== '0'|| vm.parameters.partyFunctionTypeId !== '0')"
        name="partyRoleId"
        id="asset-search-filter-customer-role">
        <option value="0">
          Select a Customer role
        </option>
        <option
          data-ng-repeat="partyRole in vm.partyRoles track by partyRole.id"
          data-ng-bind="partyRole.name"
          value="{{partyRole.id}}"></option>
      </select>
    </div>
    <div class="grid-content">
      <label
        for="asset-search-filter-customer-function"
        class="white">
        Customer function
      </label>
      <select
        data-ng-init="vm.parameters.partyFunctionTypeId = vm.parameters.partyFunctionTypeId || '0'"
        data-ng-model="vm.parameters.partyFunctionTypeId"
        data-ng-change="vm.filters.customer.active = (vm.parameters.partyId || vm.parameters.partyRoleId !== '0' || vm.parameters.partyFunctionTypeId !== '0')"
        name="partyFunctionTypeId"
        id="asset-search-filter-customer-function">
        <option value="0">
          Select a Customer function
        </option>
        <option
          data-ng-repeat="partyFunctionType in vm.partyFunctionTypes track by partyFunctionType.id"
          data-ng-bind="partyFunctionType.name"
          value="{{partyFunctionType.id}}"></option>
      </select>
    </div>
  </div>
</ng-form>
