<ng-form
  name="assetSearchFilterFlag"
  class="grid-block horizontal white"
  id="asset-search-filter-flag-form">
  <div
    data-ng-init="vm.filters.flag.form = assetSearchFilterFlag"
    class="grid-block small-up-3">
    <div class="grid-content">
      <label
        for="asset-search-filter-flag-code"
        class="white">
        Flag
      </label>
      <input
        data-ng-model="vm.parameters.flagStateId"
        data-typeahead="flag as flag.name for flag in vm.flagTypeahead($viewValue)"
        data-typeahead-on-select="vm.filters.flag.active = vm.parameters.flagStateId"
        data-typeahead-editable="false"
        data-clearable='null'
        type="text"
        name="flag"
        placeholder="Start typing in Flag code"
        id="asset-search-filter-flag-code" />
        <ul
          data-ng-messages="assetSearchFilterFlag.$error"
          role="alert"
          class="validation-error">
          <li data-ng-messages-include="${require('app/components/validation/flag.html')}"></li>
        </ul>
    </div>
  </div>
</ng-form>
