<ng-form
  name="assetSearchFilterGrossTonnage"
  class="grid-block vertical"
  id="asset-search-filter-gross-tonnage-form">
  <div
    data-ng-init="vm.filters.grossTonnage.form = assetSearchFilterGrossTonnage"
    class="grid-block small-up-3">
    <div class="grid-content">
      <label
        for="asset-search-filter-gross-tonnage-min"
        class="white">
        Minimum
      </label>
      <input
        data-integer
        data-ng-model="vm.parameters.grossTonnageMin"
        data-ng-change="vm.validateChange(assetSearchFilterGrossTonnage.grossTonnageMax)"
        data-hard-min="0"
        data-soft-max="vm.parameters.grossTonnageMax"
        data-length-limit="7"
        type="text"
        name="grossTonnageMin"
        placeholder="Enter lower limit"
        aria-label="Lower weight limit"
        id="asset-search-filter-gross-tonnage-min" />

        <div class="validation-error" role="alert" data-ng-messages="assetSearchFilterGrossTonnage.grossTonnageMin.$error">
        <div data-ng-messages-include="${require('app/components/validation/gross-tonnage.html')}">
        </div>
      </div>
    </div>
    <div class="grid-content">
      <label
        for="asset-search-filter-gross-tonnage-max"
        class="white">
        Maximum
      </label>
      <input
        data-integer
        data-ng-model="vm.parameters.grossTonnageMax"
        data-ng-change="vm.validateChange(assetSearchFilterGrossTonnage.grossTonnageMin)"
        data-hard-min="0"
        data-soft-min="vm.parameters.grossTonnageMin"
        data-length-limit="7"
        type="text"
        name="grossTonnageMax"
        placeholder="Enter upper limit"
        aria-label="Upper weight limit"
        id="asset-search-filter-gross-tonnage-max" />

        <div class="validation-error" role="alert" data-ng-messages="assetSearchFilterGrossTonnage.grossTonnageMax.$error">
        <div data-ng-messages-include="${require('app/components/validation/gross-tonnage.html')}">
        </div>
      </div>
    </div>
  </div>
</ng-form>
