<ng-form
  name="assetSearchFilterItemType"
  class="grid-block vertical white"
  id="asset-search-filter-item-type-form">
  <div
    data-ng-init="vm.filters.customer.form = assetSearchFilterItemType"
    class="grid-block">
    <div class="grid-content">
      <label
        for="asset-search-filter-item-type-type"
        class="white">
        Item type
      </label>
      <input
        data-ng-model="vm.parameters.itemTypeId"
        data-typeahead="itemType as itemType.name for itemType in vm.itemTypeTypeahead($viewValue)"
        data-typeahead-on-select="vm.filters.itemType.active = vm.itemTypeFilterActive"
        data-typeahead-editable="false"
        data-clearable="null"
        type="text"
        name="itemTypeId"
        placeholder="Start typing in item type"
        id="asset-search-filter-item-type-name" />
      <ul
        data-ng-messages="assetSearchFilterItemType.itemTypeId.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/item-type.html')}"></li>
      </ul>
    </div>
    <div class="grid-content small-3">
      <label
        for="asset-search-filter-item-type-attribute"
        class="white">
        Attribute
      </label>
      <input
        data-ng-model="vm.parameters.attributeTypeId"
        data-typeahead="attributeType as attributeType.name for attributeType in vm.attributeTypeTypeahead($viewValue)"
        data-typeahead-on-select="vm.filters.itemType.active = vm.itemTypeFilterActive"
        data-typeahead-editable="false"
        data-clearable="null"
        type="text"
        name="attributeTypeId"
        placeholder="Start typing in attribute"
        id="asset-search-filter-item-type-attribute" />
      <ul
        data-ng-messages="assetSearchFilterItemType.attributeTypeId.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/item-type.html')}"></li>
      </ul>
    </div>
    <div class="grid-content small-2">
      <label
        for="asset-search-filter-item-type-operator"
        class="white">
        &nbsp;
      </label>
      <select
        data-ng-show="vm.showAttributeOperator"
        data-ng-init="vm.parameters.operator = vm.parameters.operator || '1'"
        data-ng-model="vm.parameters.operator"
        data-ng-change="vm.filters.itemType.active = vm.itemTypeFilterActive"
        name="attributeValueOperator"
        id="asset-search-filter-item-type-operator">
        <option
          data-ng-repeat="attributeValueOperator in vm.attributeValueOperators track by attributeValueOperator.id"
          data-ng-bind="attributeValueOperator.name"
          value="{{attributeValueOperator.id}}"></option>
      </select>
    </div>
    <div class="grid-content">
      <label
        for="asset-search-filter-item-type-function"
        class="white">
        Attribute value
      </label>
      <input
        data-ng-model="vm.parameters.attributeValue"
        data-ng-change="vm.filters.itemType.active = vm.itemTypeFilterActive"
        type="text"
        name="attributeValue"
        placeholder="Enter value"
        id="asset-search-filter-item-type-function" />
    </div>
  </div>
</ng-form>
