<ng-form
  name="assetSearchFilterLifecycleStatus"
  class="grid-block vertical white"
  id="asset-search-filter-lifecycle-status-form">
  <div
    data-ng-init="vm.filters.lifecycleStatus.form = assetSearchFilterLifecycleStatus"
    class="grid-block">
    <div class="grid-content">
      <div class="float-right">
        <p>
          <span
            data-ng-click="vm.selectAll(vm.lifecycleStatuses, true); vm.filters.lifecycleStatus.active = false"
            class="actionable"
            id="asset-search-filter-lifecycle-status-select-all">
            Select All
          </span>
          |
          <span
            data-ng-click="vm.clearAll(vm.lifecycleStatuses, false); vm.filters.lifecycleStatus.active = true"
            class="actionable"
            id="asset-search-filter-lifecycle-status-clear-all">
            Clear All
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-block horizontal small-up-4">
    <div
      data-ng-repeat="lifecycleStatus in vm.lifecycleStatuses track by lifecycleStatus.id"
      class="grid-content">
      <div class="checkbox-container">
        <checkbox
          data-ng-model="lifecycleStatus.selected"
          data-ng-disabled="lifecycleStatus.disabled"
          data-ng-change="vm.filters.lifecycleStatus.active = !vm.getFilterActivation(vm.lifecycleStatuses, vm.defaultLifecycleStatuses)"
          name="lifecycleStatus{{$index}}"
          id="asset-search-filter-lifecycle-status-select-{{$index}}"
          largest></checkbox>
        <label
          data-ng-bind="lifecycleStatus.name"
          class="white"
          for="asset-search-filter-lifecycle-status-select-{{$index}}"></label>
      </div>
    </div>
  </div>
</ng-form>
