<ng-form
  name="codicilSearchFilterConfidentiality"
  class="grid-block">

  <div
    data-ng-init="vm.filters.confidentiality.form = codicilSearchFilterConfidentiality"
    class="grid-block small-12">
    <div class="grid-content">
      <div>
        <p class="text-right">
          <span
            class="actionable"
            data-ng-click="vm.setListProperty(vm.confidentialityList, vm.filters.confidentiality, 'selected', true)"
            id="codicil-search-filter-confidentiality-select-all">
            Select All
          </span>
          |
          <span
            class="actionable"
            data-ng-click="vm.setListProperty(vm.confidentialityList, vm.filters.confidentiality, 'selected', false)"
            id="codicil-search-filter-confidentiality-clear-all">
          Clear
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-block horizontal small-up-4">
    <div
      data-ng-repeat="obj in vm.confidentialityList track by obj.id"
      class="grid-content">
      <div class="checkbox-container">
        <checkbox
          data-ng-model="obj.selected"
          data-ng-change="vm.toggleFilterIcon(vm.filters.confidentiality)"
          name="confidentialityType{{$index}}"
          id="codicil-search-filter-confidentiality-select-{{$index}}"
          largest>
        </checkbox>
        <label
          for="codicil-search-filter-confidentiality-select-{{$index}}"
          data-ng-bind="obj.description">
        </label>
      </div>
    </div>
  </div>
</ng-form>
