<ng-form novalidate
  name="codicilSearchFilterDueDate"
  class="grid-block vertical"
  id="codicil-search-filter-due-date-form">
  <div
    data-ng-init="vm.filters.dueDate.form = codicilSearchFilterDueDate"
    class="grid-block small-up-2 blue">
    <div class="grid-content">
      <label
        for="dueDateMin">
        From
      </label>
      <input
        data-ng-model="vm.parameters.dueDateMin"
        date-time
        max-date="vm.maxSetDate"
        min-date="vm.dates.dueDateMin"
        view="date"
        min-view="date"
        data-ng-change="vm.validateDueDateChange(codicilSearchFilterDueDate.dueDateMax)"
        format="{{vm.dateFormat}}"
        auto-close="true"
        name="dueDateMin"
        id="codicil-search-filter-due-date-min" />
      <span
        date-picker-icon
        sibling-id="codicil-search-filter-due-date-min">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="codicilSearchFilterDueDate.dueDateMin.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/due-date.html')}"></li>
      </ul>
    </div>
    <div class="grid-content">
      <label
        for="dueDateMax">
        To
      </label>
      <input
        data-ng-model="vm.parameters.dueDateMax"
        date-time
        min-date="vm.minSetDate"
        max-date="vm.dates.dueDateMax"
        view="date"
        min-view="date"
        data-ng-change="vm.validateDueDateChange(codicilSearchFilterDueDate.dueDateMin)"
        format="{{vm.dateFormat}}"
        auto-close="true"
        name="dueDateMax"
        id="codicil-search-filter-due-date-max" />
      <span
        date-picker-icon
        sibling-id="codicil-search-filter-due-date-max">
        ${require('content/images/inline/mast-icon-calendar.svg')}
      </span>
      <ul
        data-ng-messages="codicilSearchFilterDueDate.dueDateMax.$error"
        role="alert"
        class="validation-error">
        <li data-ng-messages-include="${require('app/components/validation/due-date.html')}"></li>
      </ul>
    </div>
  </div>
</ng-form>
