<ng-form
  name="vm.codicilItemTypeFilter"
  id="codicil-item-type-filter"
  novalidate>

  <div
    data-ng-init="vm.filters.itemType.form = codicilItemTypeFilter">
    <label for="codicil-item-type">Item Type</label>
    <input type="text"
      data-ng-model="vm.itemType"
      data-typeahead="item as item.name for item in vm.findItemTypes($viewValue)"
      data-typeahead-editable="false"
      data-typeahead-on-select="vm.filters.itemType.active = vm.codicilItemTypeFilter.codicilItemType.$viewValue.length"
      data-ng-change="vm.filters.itemType.active = vm.codicilItemTypeFilter.codicilItemType.$viewValue.length"
      data-ng-required
      data-clearable="null"
      name="codicilItemType"
      id="codicil-item-type"
      placeholder="Start typing in item type"/>
  </div>
</ng-form>
