<ng-form
  name="vm.codicilSdoFilter"
  id="codicil-sdo-filter"
  novalidate>

  <div
    data-ng-init="vm.filters.sdo.form = codicilSdoFilter"
    class="form-control">
    <label for="codicil-sdo">SDO</label>
    <input type="text"
      data-ng-model="vm.sdo"
      data-typeahead="item as item.name for item in vm.findSdos($viewValue)"
      data-typeahead-editable="false"
      data-typeahead-on-select="vm.filters.sdo.active = vm.codicilSdoFilter.codicilSdo.$viewValue.length"
      data-ng-change="vm.filters.sdo.active = vm.codicilSdoFilter.codicilSdo.$viewValue.length"
      data-ng-required
      data-clearable
      name="codicilSdo"
      id="codicil-sdo" />
  </div>
</ng-form>
