<ng-form
  name="codicilSearchFilterStatus"
  class="grid-block">
  <div
    data-ng-init="vm.filters.status.form = codicilSearchFilterStatus"
    class="grid-block small-12">
    <div class="grid-content">
      <div>
        <p class="text-right">
          <span
            type="button"
            class="actionable"
            data-ng-click="vm.setListProperty(vm.statusList, vm.filters.status, 'selected', true)"
            id="codicil-search-filter-status-select-all">
            Select all
          </span>
          |
          <span
            type="button"
            class="actionable"
            data-ng-click="vm.setListProperty(vm.statusList, vm.filters.status, 'selected', false)"
            id="codicil-search-filter-status-clear-all">
            Clear
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-block horizontal small-up-4">
    <div
       data-ng-repeat="status in vm.statusList track by status.id"
       class="grid-content">
        <div class="checkbox-container">
          <checkbox
            data-ng-model="status.selected"
            data-ng-change="vm.toggleFilterIcon(vm.filters.status)"
            name="codicilStatus{{$index}}"
            id="codicil-search-filter-status-select-{{$index}}"
            largest>
          </checkbox>
          <label
            for="codicil-search-filter-status-select-{{$index}}"
            data-ng-bind="status.name">
          </label>
        </div>
      </div>
  </div>
</ng-form>
