<ng-form novalidate
  name="codicilCategoryFilter"
  id="codicil-category-filter">

  <div data-ng-init="vm.filters.category.form = codicilCategoryFilter"
    class="grid-block small-12">
    <div class="grid-content">
      <div>
        <p class="text-right">
          <span
            type="button"
            class="actionable"
            data-ng-click="vm.setListProperty(vm.typeFilters, vm.filters.categoryList, 'selected', true)"
            id="codicil-search-filter-status-select-all">
            Select all
          </span>
          |
          <span
            type="button"
            class="actionable"
            data-ng-click="vm.setListProperty(vm.typeFilters, vm.filters.categoryList, 'selected', false)"
            id="codicil-search-filter-status-clear-all">
            Clear
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-block horizontal small-up-4">
    <div
      class="grid-content"
      data-ng-repeat="type in vm.typeFilters track by type.id">
      <div class="checkbox-container type-filter-container">
        <checkbox
          data-ng-model="type.selected"
          data-ng-change="vm.toggleFilterIcon(vm.filters.categoryList)"
          id="codicil-type-{{type.id}}-filter"
          name="codicilType{{$index}}"
          largest></checkbox>
        <label for="codicil-type-{{type.id}}-filter"><strong ng-bind="type.name"></strong></label>

      </div>
      <ul class="list-unstyled">
        <li data-ng-repeat="category in type.categories track by category.id">
        <div class="checkbox-container">
          <checkbox
            data-ng-model="category.selected"
            data-ng-change="vm.toggleFilterIcon(vm.filters.categoryList)"
            id="codicil-type-{{type.id}}-category{{$index}}"
            name="codicilCategory{{$index}}"
            largest></checkbox>
          <label
            data-ng-bind="category.name"
            for="codicil-type-{{type.id}}-category{{$index}}"></label>
        </div>
        </li>
      </ul>
    </div>
  </div>
</ng-form>
