<div
  class="checked-out-by" >
  <div
    data-ng-class="{preload: vm.loading}"
    data-ng-if="vm.show"
    class="content" >
    <div>
      {{vm.asset.name}} is checked out for editing by {{vm.asset.checkedOutBy}}
    </div>
    <div class="control">
      <button
        data-ng-click="vm.discard()"
        data-ng-if="vm.isMdsSuperUser"
        class="grey-button">
          Discard check out
        </button>
    </div>
  </div>
</div>
