<div class="grid-container">
  <div class="grid-block vertical align-center">
    <div class="grid-container align-center full-page-class">
      <div class="modal-title" data-ng-transclude="header">
        <h2 class="center white title" data-ng-bind="::title"></h2>
        <a class="white modal-close-button">&#10005;</a>
      </div>
      <div data-ng-transclude="body"></div>
      <div class="grid-content modal-footer" data-ng-transclude="footer"></div>
    </div>
  </div>
</div>
