<div class="grid-content small-4">
  <div>C-{{ vm.case.id | zeropad: 8 }}</div>
  <div data-ng-bind="case.caseStatus.name" class="status"></div>
</div>
<div class="grid-content small-3">
  <div>Case type: <strong data-ng-bind="case.caseType.name"></strong></div>
  <div>Case CFO: <strong data-ng-bind="vm.caseOffice(case, 'cfo') | ellipsise: 18"></strong></div>
</div>

<div class="grid-content small-4">
  <div>
    Case SDO:
    <strong data-ng-bind="vm.caseOffice(case, 'caseSdo') | ellipsise: 18"></strong>
  </div>
  <div>
    Case owner:
    <strong data-ng-bind="vm.caseSurveyor(case, 'management')"></strong>
  </div>
</div>
<div class="grid-content small-1 ends">
  <a data-ng-click="vm.viewCase()">
    ${require('content/images/inline/mast-icon-chevron-right.svg')}
  </a>
</div>
