.asset-model-hierarchy-preview-background {
  @extend .background-light-blue;
  padding-top: 1rem;
  padding-right: 3.6rem;
  padding-left: 3.6rem;

  > div:first-child.grid-content {
    padding-left: 0.2rem;
  }

  > div:nth-child(2).grid-content {
    padding:0 0 1rem 0.2rem;
  }

  h2 {
    span {
      color: $mast_colour_blue_dark;
    }
  }
}
