.asset {
  @extend .background-shipyard;

  .asset-details {
    background-color: $mast_colour_blue_mid;
    padding: 0 3.6rem;
  }

  .asset-tab-container {
    .tabs {
      width: 100%;
      .tab-item {
        width: 20%;
      }
    }
  }

  .create {
    padding-top: 1rem;
  }
}

.asset-search {
  p {
    color: $mast_colour_white;
  }
}

.lead-imo {
  margin-left: 0rem !important;
  .error {
    padding-top: 1.5rem;
  }
}
