.asset-model {
  // ?!
  $icon_size: calc(3.5rem + 1px);

  nav.actions ul {
    padding: 0;
    width: 100%;

    li {
      border: 1px solid $mast_colour_grey_light;
      display: inline-block;
      padding: 0;
      vertical-align: top;

      &.menu-icon {
        line-height: 0;

        a {
          padding: 0;

          svg {
            g {
              stroke: $mast_colour_grey_dark;
            }
            height: $icon_size;
            width: $icon_size;
          }
        }
      }

      &.active.menu-icon {
        border-color: $mast_colour_blue_mid;

        a {
          background-color: $mast_colour_blue_mid;

          svg g {
            stroke: $mast_colour_pure_white;
          }
        }
      }

      a {
        display: inline-block;
        height: 100%;
        padding: 1rem;
        width: 100%;
      }
    }
  }

  .small-3 {
    button {
      right: -4rem;
    }
  }
}
