.panel {
  background-color: $mast_colour_white;
}

.expanded-card-container {
  left: 1rem;
}

/* panel to display for each asset when listing in grid */
.asset-card, .asset-card-detail {
  @extend .pos-rel;
  @include corner-cut($size: 1.5rem);
  background-color: $mast_colour_grey_dark;
  color: $mast_colour_white;
  border: none;
  .button {
    margin: 0;
    width: 100%;
  }
  section {
    padding: 0.5rem 1rem;
    .grid-content { // Foundation
      padding-bottom: 0.4rem;
    }
    h3 {
      text-transform: capitalize;
    }
  }
  box-shadow: none; // override Foundation
}

.asset-card {
  @extend .card; // foundation class
  @include corner-cut($size: 1.5rem);
  margin: 0 1.5rem 1rem 1.5rem;
  width: 100%; // This is required so the ship images can be smaller;

  section:not(:first-child) {
    padding: 0.5rem 1rem;
  }

  // Handles the text inside each non-expanded asset card;
  .asset-brief {
    height: 10.5rem;
    padding-top: 0;

    div {
      line-height: 0.7rem;
      font-size: 0.7rem;
      div:first-child {
        font-family: 'OpenSans-Light', sans-serif;
        padding-right: 0.1rem;
      }
      div:nth-child(2) {
        font-family: 'OpenSans-Bold', sans-serif;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    // Asset titles with long names are truncated with an ellipsis.
    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  .btn-container {
    a {
      padding-left: 0;
      padding-right: 0;
      transform: translateZ(0);
    }
    div:first-of-type {
      padding-right: 0.2rem;
      padding-bottom: 0rem;

      // Add border to first button so it is same size as the other buttons
      a {
        border: 1px solid $mast_colour_blue_mid;
        &:hover {
          border-color: $mast_colour_blue_dark;
        }
      }
    }
    div:nth-of-type(2) {
      padding-left: 0.2rem;
    }
  }

  .image-container {
    padding: 0.5em 0.5em 0;
    .asset-class {
      height: 5rem; width: auto;
    }
  }

  &.expanded {
    margin: 0;
    flex: 0 0 90%;
    max-width: 90%;
    min-width: 90%;

    .image-container {
      .asset-class {
        margin-left: 0.7rem;
      }

      .grid-block {
        align-items: flex-end;
      }

      .grid-content {
        padding: 0
      }
    }
  }
}

.asset-card-detail {
  @extend .card;
  position: absolute;
  border: none;
  color: $mast_colour_white;
  margin-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;

  section:nth-of-type(1) {
    padding: 0.3rem 0.3rem 0 0.3rem;
  }
}

/* element inserted by directive */
asset-card {
  font-size: 0.8rem;
}

.asset-count {
  padding: 0.6rem 0;
  font-size: 0.7rem;

  strong {
    font-family: 'OpenSans-Bold', sans-serif;
    color: $mast_colour_blue_dark;
  }
}

.item-card-odd {
  .item-card-face, div[class^="job-"] {
    background-color: $mast_colour_pure_white;
  }
}

.item-card-even {
  .item-card-face, div[class^="job-"] {
    background-color: $mast_colour_grey_very_light;
  }
}

.item-card {
  margin: 0 0 0.25rem 0 !important;
  max-height: 5rem;
  min-height: 4rem;

  div[class^="job-"] {
    text-align: left;
  }

  .item-card-face {
    margin: 0 0.25rem 0 1rem;
    position: relative;

    img {
      margin: 0;
      max-height: 3rem;
      stroke: 3px solid $mast_colour_blue_mid;
    }

    .item-card-face-icon {
      color: $mast_colour_blue_mid;
      float: right;
      margin: 1rem 0.5rem 0 0;
    }

    .item-card-face-name {
      font-size: 1.4rem;
      display: inline-block;
      color: $mast_colour_blue_mid;
      padding: 1rem 0 0 0;
    }
  }

  span[class^="job-"] {
    display: inline-block;
    width: 100%;
    font-size: 80%;
    padding: 0.7rem 0;

    strong {
      color: $mast_colour_blue_mid;
      font-weight: bold;
    }

    + span {
      padding: 0;
    }
  }

  .job-status {
    padding-left: 0.5rem;

    span:first-child {
      color: $mast_colour_grey_dark;
    }
  }

  .job-type {
    margin-right: -2rem;
  }

  .job-date {
    margin-right: 0;
  }

  .job-info {
    a {
      position: absolute;
      top: 0;
      right: 1rem;

      svg {
        padding: 0;
        margin: 0;
        width: 1.5rem;
        height: 4rem;
      }
    }
  }
}

@for $i from 1 through 4 {
  .case-padding-#{$i} { padding-bottom: $i * 3rem; }
}
