.asset-model-hierarchy-build {
  .build-tools.first .move-up,
  .build-tools.last .move-down {
    display: none !important;
  }

  @extend .asset-model-hierarchy;

  ul, ol {
    li > div[id*="hierarchy-node-"] {
      margin: 6px 0 0 3px;

      &:hover {
        .build-tools {
          svg g, i {
            color: $mast_colour_pure_white;
          }
          background-color: $mast_colour_blue_mid;
        }
      }

      &.is-child-selected {
        border: none;
      }

      &.is-selected {
        background-color: $mast_colour_pure_white;
        border: 2px dashed $mast_colour_blue_mid;
        margin-left: 1px;
        color: $mast_colour_blue_mid;

        .node-expand-toggle {
          background-color: $mast_colour_pure_white;

          svg g {
            stroke: $mast_colour_blue_mid;
          }
        }

        &:not(.has-items) {
          color: $mast_colour_black;
        }

        &:hover {
          background-color: $mast_colour_blue_mid;
          color: $mast_colour_pure_white;
        }
      }

      .build-tools {
        position: absolute;
        right: 1rem;
        top: 0.2rem;
        z-index: 10;
        background-color: $mast_colour_pure_white;

        li {
          display: inline-block;
          svg {
            height: 30px;
          }

          svg g {
            color: $mast_colour_blue_mid;
          }

          i {
            margin: 0 0 0.4rem 0;
            &:hover {
              cursor: pointer;
            }
            &:active {
              color: $mast_colour_grey_light;
            }
          }
        }
      }
    }
  }

  div.is-selected {
    &:hover [class*="checkbox-"] span {
      background-color: $mast_colour_pure_white;
      &::before {
        color: $mast_colour_blue-mid;
      }
    }

    [class*="checkbox-"] {
      span::before {
        @include pos-abs(-6px, 3px);
        color: $mast_colour_pure_white;
      }
    }
  }
}
