.asset-model-list {
  nav ul {
    margin: 0;
    padding: 0;

    li {
      @include truncate(20%);
      display: inline-block;
      margin-right: .5rem;

      &::before {
        content: '>';
      }

      &:first-child::before {
        content: none;
      }
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0 4px;
    table-layout: fixed;
    width: 100%;

    thead {
      color: $mast_colour_blue_mid;

      th {
        font-weight: normal;
        text-align: left;
      }
    }

    colgroup col:first-child {
      width: 50%;
    }

    tbody tr {
      background-color: white;

      &.selected {
        background-color: $mast_colour_blue_light;
      }

      td:first-child {
        @include truncate(50%);
        color: $mast_colour_grey_dark;
        padding: 1rem;

        a {
          font-weight: bold;
        }
      }

      td:last-child {
        border-left: 1px solid $mast_colour_white;
        text-align: center;
      }

      svg {
        height: 2rem;
        width: 2rem;
      }

      select {
        margin: 0;
      }
    }

    tbody tr:hover {
      background-color: $mast_colour_grey_very_light;
    }

    tbody input {
      margin: 0;
    }
  }
}
