.asset-model-hierarchy-selector {
  ul, ol {
    .ng-animate {
      @extend .pos-rel;
      visibility: hidden;
    }
    .slide-animation.ng-enter {
      display: none;
      visibility: hidden;
    }

    margin-left: 2.5rem;
    list-style-type: none;

    li > div:first-child {
      @extend .actionable;
      margin: 3px 0px 0 3px;
      background-color: $mast_colour_blue_dark;
      position: relative;
      padding: 10px;

      &.is-child-selected {
        @include border(1px, solid, $mast_colour_pure_white);
      }

      &.has-items {
        color: $mast_colour_pure_white;
        @extend .actionable;
      }

      .node-expand-toggle {
        @include pos-abs(0, 0);
        background-color: $mast_colour_blue_dark;
        @include border(2px, solid, $mast_colour_blue_dark, right);
        width: 2.4rem;
        bottom: 0;
        text-align: center;
        @extend .actionable;

        svg {
          margin-top: 10px;
          margin-left: 2px;

          g {
            stroke: $mast_colour_pure_white;
          }
        }
      }

      label {
        color: $mast_colour_pure_white;
        text-align: left;
      }

      .node-meta {
        @extend .pos-abs;
        list-style: none;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;

        li {
          line-height: 9pt;
          font-size: 8pt;
          display: inline-block;
          padding: 2px 4px;
          text-transform: uppercase;

          &.active {
            background-color: green;
            color: $mast_colour_blue_dark;
          }
        }
      }

      .radio {
        padding-top: 0;
        margin-bottom: 0;
        > div {
          padding: 0;
          margin: 0;
        }
      }

      .node-name {
        padding-left: 40px;
        display: block;
        @extend .actionable;
      }

      .node-link {
        @extend .pos-abs;
        background-color: $mast_colour_blue_dark;
        @include border(2px, solid, $mast_colour_blue_dark, left);
        right: -122px;
        top: 0;
        width: 120px;

        svg {
          width: 1.7rem;
          height: 2.4rem;
          padding-top: 6px;
        }

        &:hover {
          background-color: $mast_colour_blue_dark;
          color: $mast_colour_pure_white;
          svg g {
            stroke: white;
          }
        }
      }
    }
  }

  ul {
    margin-left: 0;
  }
}
