.asset-job-list {

  margin-bottom: 3rem;

  .job-summary:nth-of-type(even) {
    background-color: $mast_colour_grey_very_light;
  }
  .job-summary:nth-of-type(odd) {
    background-color: white;
  }

  .job-summary {
    padding: 1rem;
    font-size: medium;

    svg {
      width: 30px;
      height: 30px;
      margin-top: 0.8em;
    }

    .status {
      text-transform: capitalize;
      color: $mast_colour_blue_mid;
      font-weight: bold;
    }

    /* content wrapping divs inside each column */
    & div:not(.grid-content) {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.3rem 0;
    }
  }
}
