.asset-model-hierarchy {
  ul, ol {
    .ng-animate {
      @extend .pos-rel;
      visibility: hidden;
    }

    .slide-animation.ng-enter {
      display: none;
      visibility: hidden;
    }

    margin-left: 2.5rem;
    list-style-type: none;

    li > div:first-child {
      @extend .actionable;
      background-color: $mast_colour_pure_white;
      margin: 3px 120px 0 3px;
      position: relative;
      padding: 10px;

      &:hover {
        background-color: $mast_colour_blue_mid;
        .node-name, .node-id, .node-name h5, .node-meta {
          color: $mast_colour_pure_white;
          stroke: white;
        }
      }

      &.is-child-selected {
        @include border(1px, solid, $mast_colour_blue_mid);
      }

      &.has-items {
        color: $mast_colour_blue_mid;
        @extend .actionable;
      }

      &.is-selected {
        color: $mast_colour_pure_white;
        background-color: $mast_colour_blue_mid;

        .node-meta, .job-scope-type {
          color: $mast_colour_white;
        }

        .node-expand-toggle {
          background-color: $mast_colour_blue_mid;
          svg g {
            stroke: $mast_colour_pure_white;
          }
        }
      }

      .node-expand-toggle {
        @extend .actionable;
        @include pos-abs(0, 0);
        @include border(2px, solid, $mast_colour_white, right);
        background-color: $mast_colour_pure_white;
        bottom: 0;
        text-align: center;
        width: 2.4rem;

        svg {
          margin-top: 10px;
          margin-left: 2px;

          g {
            stroke: $mast_colour_blue_mid;
          }
        }
      }

      .node-meta {
        @extend .pos-abs;
        list-style: none;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;

        li {
          line-height: 9pt;
          font-size: 8pt;
          display: inline-block;
          padding: 2px 4px;
          text-transform: uppercase;

          &.active {
            background-color: green;
            color: $mast_colour_pure_white;
          }
        }
      }

      .node-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 40px;
        display: block;
        @extend .actionable;
      }

      .node-link {
        @extend .pos-abs;
        @include border(2px, solid, $mast_colour_white, left);
        background-color: $mast_colour_pure_white;
        right: -122px;
        top: 0;
        width: 120px;

        svg {
          width: 1.7rem;
          height: 2.4rem;
          padding-top: 6px;
        }

        &:hover {
          background-color: $mast_colour_blue_mid;
          color: $mast_colour_pure_white;
          svg g {
            stroke: white;
          }
        }
      }
    }
  }

  ul {
    margin-left: 0;
    &.job-scope-hierarchy-list {
      ::before {
        border: none !important;
      }
      margin-left: 2.5rem;
      .job-scope-hierarchy-node {
        margin-left: 0;
        div:not(:first-child) {
          span {
            display: inline-block;
            margin-top: 0.8rem;
          }
        }
      }
    }
  }

  /* .dog-leg and .straight-leg used as extends for dotted lines in the
     hierarchy view; */
  .dog-leg {
    &.has-items::before {
      @include border(1px, dashed, $mast_colour_grey_mid, bottom);
      border-right: none;
      border-top: none;
      height: 50%;
      width: 1.1rem;
    }
    &::before {
      @include pos-abs(1px, -1.2rem);
      @include border(1px, dashed, $mast_colour_grey_mid, left);
      content: '';
      height: 100%;
    }
  }

  .straight-leg {
    &::before {
      @include pos-abs(0, -1.2rem);
      @include border(1px, dashed, $mast_colour_grey_mid, left);
      content: '';
      height: 100%;
    }
  }

  li.is-expanded {
    li:not(.is-expanded) {
      > div:first-child { @extend .straight-leg; }
      > div:nth-child(2) {
        @extend .straight-leg;
        @include pos-abs(0, calc(-1.2rem + 3px));
      }
    }

    li.only-child:not(.is-expanded) {
      > div:first-child { @extend .dog-leg; }
    }

    li.is-expanded {
      @extend .pos-rel;

      > div:first-child { @extend .dog-leg; }

      > div:nth-child(2) {
        &::before {
          @extend .straight-leg;
          @include pos-abs(0, calc(-1.2rem + 3px));
        }
      }
    }

    /* li.is-expanded next to an li.is-expanded */
    ~ li.is-expanded {
      > div:nth-child(2) {
        /* 2nd/3rd/x indentation */
        li {
          div:first-child { @extend .dog-leg; }
          > div:nth-child(2) {
            &::before {
              @include pos-abs(0, calc(-1.2rem + 3px));
              @include border(1px, dashed, $mast_colour_grey_mid, left);
              content: '';
              height: 100%;
            }
          }
        }
        li:not(.is-expanded) div.has-items::before {
          left: -1.2rem;
          border-bottom: none;
          height: 100%;
        }
      }
    }

    li.last-expanded {
      &.is-expanded {
        > div:nth-child(2)::before { border: none !important; }
        ~ li > div:first-child::before { border: none !important; }
      }
    }

    li.is-expanded:last-child > div:nth-child(2) > ol {
      > li.only-child:not(.is-expanded) div:first-child::before {
        border: none;
      }
      > li.only-child.is-expanded {
        > div:nth-child(2)::before {
          border: none;
        }
      }
    }
  }

  li.none-expanded {
    li > div:first-child::before { border: none !important; }
  }

  /* Handles the last child on the first menu items */
  > ul > li.is-expanded > div:nth-child(2) > ol > li:last-child {
    &.is-expanded {
      > div:first-child { @extend .dog-leg; }
      > div:nth-child(2)::before { border: none; }
    }
  }
}
