.asset-note {
  >  [class^="grid-"] {
      overflow: hidden;
    }
}

section.grid-block.line {
  .view-block {
    padding: 2rem;
    .view-label {
      flex-basis: 7rem;
      font-weight: normal;
      color: $mast_colour_black;
    }
  }
}
