.asset-details {
  padding-top: 1rem;
  .asset-details-header {
    padding-top: 1rem;
    margin-bottom: 2rem;
    color: $mast_colour_pure_white;
  }

  h5 {
    @extend .bold;
    @extend .dark-blue;
  }

  h6 {
    @extend .dark-grey;
  }

  p, li {
    @extend .dark-blue;
  }
}

.asset-details-header {
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $mast_colour_pure_white;

    > div {
      flex-shrink: 5;
      align-self: center;
      padding: .5rem 1rem .5rem 0;
    }

    .back-button {
      flex-grow: 0;
      flex-basis: 5rem;
    }

    .asset-type {
      flex-grow: 0;
      flex-basis: 8rem;
    }

    .asset-name {
      font-size: 1.7rem;
      flex-grow: 1;
    }

    .control {
      flex-grow: 3;
      text-align: right;
    }

    button {
      margin: 0;
      color: $mast_colour_white;
      border-color: $mast_colour_white;
    }
  }

  .tabs {
    margin: 0 1rem;
    justify-content: flex-start;
  }
}

.asset-details-management {
  margin: 0 2rem;

  > header {
    h3 {
      color: $mast_colour_black;
    }
  }

  .asset-details-content,
  .asset-details-content form,
  .asset-details-content ng-form {
    padding: 0;

    .tabs {
      justify-content: flex-start;
      .tab-item {
        padding: 0;
        font-size: 115%;
        background-color: $mast_colour_grey_dark;
        &.is-active {
          background-color: $mast_colour_pure_white;
        }
      }
    }

    .tab-content {
      background-color: $mast_colour_pure_white;
      padding: 1rem;

      input[type="text"]:not(.full), input[type="number"], select {
        width: 70%;
      }

      label + button {
        margin-top: 0.5rem;
      }

      input[readonly], input[disabled] {
        background-color: $mast_colour_white;
      }

      input.typeahead-clearable[disabled] {
        background-color: $mast_colour_white !important;
      }

      select {
        background-color: $mast_colour_pure_white;
      }

      > div {
        overflow: hidden;
      }

      .asset-customer {
        margin: 0 0.2rem 1rem 0.2rem;
        background-color: $mast_colour_grey_light;

        .asset-customer-relationship {
          h6 {
            color: $mast_colour_black;
            font-size: 130%;
            padding-top: 0.8rem;
          }
        }
        .asset-customer-name {
          ul {
            margin-left: 5rem;
          }
          input {
            width: 100%;
          }
        }
        .asset-customer-functions {
          > button {
            margin-top: 0.8rem;
          }
          .asset-customer-selected-functions {
            i::before {
              line-height: 1rem !important;
            }
            button {
              float: left;
            }
            > div {
              padding: 0;
            }
          }
        }
        .asset-customer-delete {
          span {
            display: inline-block;
            margin: 1.5rem 0.8rem 0.8rem;
            cursor: pointer;
          }
        }
        div {
          .left {
            width: 5rem;
          }
          label {
            padding-top: 0.8rem;
          }
          .typeahead-clear {
            // need to offset the clear button off the top of the container by
            // the same value as the padding-top on the label
            margin-top: 0.8rem;
          }
        }
      }
    }

    section header {
      border-bottom: 1px solid $mast_colour_grey_light;
      margin-bottom: 1rem;
      h3 {
        font-size: 125%;
      }
    }
  }
}
.ihs-section {
  background-color: $mast_colour_blue_dark;
  color: $mast_colour_white;
  padding: 2rem 1rem;

  .grid-block {
    flex-wrap: wrap;
  }

  .grid-content {
    h5, h6, p {
      color: $mast_colour_white;
    }

    h5 {
      font-family: 'OpenSans-Bold', sans-serif;
    }

    h6 {
      font-size: 0.9rem;
    }
  }
}
