.asset-subheader {
  .bottom {
    position: absolute;
    bottom: 5px;
    width: 100%;
  }

  .details {
    padding-bottom: 10px;
    font-size: 11pt;

    .grid-block > .grid-block {
      padding: 2px;
    }
  }

  .attachments {
    padding-top: 0.05rem; // seems to need that .05 on retina
    padding-left: 0;
  }
}
