.attachments-and-notes {
  color: $mast_colour_white;

  label {
    color: $mast_colour_white;
  }

  textarea.ng-dirty.ng-invalid {
    // TODO get a decent image of a red warning symbol
    background: $mast_colour_pure_white url('../images/red_warning.png') calc(100% - 1rem) 50% no-repeat;

    @include border(1px, solid, $mast_colour_red_bright);
    // Number needs a little more space because of the arrows;
    &.ng-invalid-max,
    &.ng-invalid-min,
    &.ng-invalid-number {
      &:active,
      &:focus,
      &:hover {
        background-position: calc(100% - 2rem) 50%;
      }
      &.ng-valid-date:active,
      &.ng-valid-date:focus,
      &.ng-valid-date:hover {
        background-position: calc(100% - 4.2rem) 50%;
      }
    }
  }

  attachment-or-note {
    display: inline-block;
    margin: .5rem;
    width: 100%;
    height: 17rem;
    vertical-align: top;

    div.heading-wrapper {
      min-width: 0; // http://css-tricks.com/flexbox-truncated-text/

      flex: 1;
      h5 {
        @include truncate(100%);
      }
    }

    .attachment-summary {
      padding: 1rem;
      width: 100%;
      height: 100%;
      border: 1px solid $mast_colour_pure_white;
      font-size: 0.9rem;

      small {
        color: $mast_colour_pure_white;
      }

      .attachment-icon {
        margin-bottom: 5px;
      }

      .info {
        height:120px;
        line-height: 1.2rem;
      }

      p {
        font-size: inherit;
        line-height: 1.2rem;
        font-family: OpenSans-Light;
      }

      .center {
        text-align: center;
        height: 90px;
        word-wrap: break-word;
      }

      &.expanded {
        text-align: left;

        small {
          color: $mast_colour_blue_mid;
        }

        strong {
          color: $mast_colour_blue_mid;
        }

        h5 {
          color: $mast_colour_blue_mid;
        }
        > div:last-child {
          border-top: 1px solid $mast_colour_blue_mid;
        }
      }

      footer {
        border-top: 1px solid $mast_colour_pure_white;
        line-height: 2rem;
        flex: none;
        height: 1.5rem;
        .small-2 {
          text-align: right;
        }
        i.svg-icon-Download:before {
          line-height: 2rem;
        }
      }
    }
  }

  .attachment-icon {
    position: relative;

    [attachment-type] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    i {
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
      text-align: center;
      &:before {
        font-size: 2rem;
      }
    }

    span strong {
      text-align: center;
      position: absolute;
      top: 62px;
      left: 0;
      width: 100%;
    }

    .attachment-type-container {
      position: relative;
      width: 100px;
      height: 110px;
    }

    .note {
      i {
        color: $mast_colour_blue_mid;
      }

      svg g {
        fill: $mast_colour_white;
      }

      strong {
        color: $mast_colour_blue_mid;
      }
    }

    .expanded {
      svg g {
        stroke: $mast_colour_blue_mid;
      }
    }
  }

  .button-bar {
    height: 4rem;

    button {
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
      width: 200px;
      i {
        padding-right: .3rem;
        font-size: 1.7rem;
      }
    }
  }

  .expanded-card {
    form, ng-form {
      padding: 0;
    }

    h5 {
      font-weight: bold;
    }

    textarea {
      min-height: 10rem;
    }

    p {
      font-size: .9rem;
      font-family: 'OpenSans-Light';
      word-wrap: break-word;
    }

    button,
    .button-group.segmented > li input + label {
      min-width:7rem;
    }

    .attachment-icon {
      padding: 0;

      .attachment-type-container {
        height: 100%;
        display: inline-block;

        i,
        strong {
          color: $mast_colour_white;
        }

        svg g {
          fill: transparent;
          stroke: $mast_colour_white;
        }
      }
    }

    .header {
      margin-bottom: .3rem;
      padding-top: 1.5rem;
      padding-bottom: .3rem;
      h4 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -1rem;
        padding-top: 4.2rem;
      }

      .icons {
        i:before {
          font-size: 2.5rem !important;
        }

        .grid-content {
          padding-top: 3.5rem;
        }

        .disabled {
          color: $mast_colour_grey_light;
          opacity: .5;
        }
      }
    }

    .info-bar {
      margin-top: .5rem;
      margin-bottom: 1rem;
      font-family: 'OpenSans-Light';

      strong {
        font-family: 'OpenSans-Regular';
      }

      label {
        margin-bottom: 0;
      }

      span {
        padding-right: 1rem;
      }
    }
  }

  /*This was added as hr tags within grid-blocks
  disapear due to the flex-wrap*/
  .modal-hr {
    margin: 0 auto 1.1875rem;
    width: 97%;
    border: solid 1px #ffffff;
    border-width: 1px 0 0;
  }

  .grid-block {
    .grid-container {
      width: 100%;
    }

    .add-note-form {
      padding: 0;
      border-top: 1px solid $mast_colour_white;
      border-bottom: 1px solid $mast_colour_white;

      fieldset {
        border: none;

        .add-note-date {
          padding-right: 1rem;
        }

        label {
          color: $mast_colour_white;
        }

        textarea {
          max-width: 50%;
          height: 10rem;
          margin-bottom: 0;
        }
      }
    }

    .add-attachment-form {
      padding: 0;
      border-top: 1px solid $mast_colour_white;
      border-bottom: 1px solid $mast_colour_white;

      fieldset {
        border: none;

        label {
          color: $mast_colour_white;
        }

        textarea {
          max-width: 50%;
          height: 10rem;
        }
      }
    }
  }

  strong {
    color: $mast_colour_pure_white;
  }

  .attachment-list-item {
    padding-bottom: .5rem;
    > div {
      display: flex;

      align-items: center;
    }

    .attachment-name > span {
      padding: 0 1rem;
      @include truncate(100%);
      overflow-y: visible;
      line-height: 1.5rem;
      display: block;
    }
    .attachment-remove > span {
      font-size: 2rem;
    }
    input[type=text],
    ul.button-group {
      margin-bottom: 0;
    }
  }
}
