@mixin attachment-directive-icon($colour) {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 2.5em;
  color: #f3f4f6;
  vertical-align: middle;
  font-size: 1rem;
  cursor: pointer;

  [disabled] & {
    cursor: auto;
  }

  @include aspect-ratio(1,1);
  //@vik
  //changing units to em so we can scale the icon up
  //ideally this should be one svg with fill
  $icon-offset: .75em; // this variable isn't used anywhere else. Just leave it here for now.

  i {
    color: $colour;

    &.svg-icon-Notes {
      position: absolute;
      top: 1.3em - $icon-offset;
      left: .85em - $icon-offset;
    }

    &.svg-icon-Attachment {
      position: absolute;
      top: 1.15em - $icon-offset;
      left: 1.7em - $icon-offset;
    }
    &:before {
      font-size: 1.5em;
    }
  }

  span span {
    position: absolute;
    top: 1em - $icon-offset;
    left: 1.05em - $icon-offset;
    color: $colour;
    font-size: 90%;
  }

  svg {
    position: absolute;
    top: -$icon-offset;
    left: -$icon-offset;
    width: 4em;
    height: 4em;

    g {
      stroke: $colour;
      stroke-width: 2;
    }
  }
}

.attachment-directive-icon-light {
  @include attachment-directive-icon($mast_colour_blue_dark);
}

.attachment-directive-icon-dark {
  @include attachment-directive-icon($mast_colour_white);
}

.attachment-directive-icon-disabled {
  @include attachment-directive-icon($mast_colour_grey_light);
}

attachments-and-notes,
attachments-icon {
  display: inline-block;
}

.transparent-dark-button ~ attachments-and-notes {
  margin-bottom: 1rem; // these two rules really need cleaning up.
  vertical-align: middle; // currently best way of fixing while maintaining natural icon placement
}
