.batch-actions-header {
  padding-bottom: 1rem;
  .batch-actions-header-text {
    padding: 1rem 0 0 0;
  }
}

.batch-actions-management {
  padding: 0 2rem;
  width: 100%;
  header {
    h3 {
      color: $mast_colour_black;
    }
  }

  form, ng-form {
    padding: 0;
    overflow: hidden;
  }

  .tab-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 1rem;
  }

  span {
    & :not(.filter-assets) & {
    text-align: left;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: $mast_colour_grey_dark;
    }
  }

  .template-name {
    padding-bottom: 1rem;
  }

  .title {
    padding: 1rem;
  }

  .background-shipyard .title {
    color: $mast_colour_pure_white;
  }

  .title strong,
  .template-name strong,
  strong.template-name {
    font-family: 'OpenSans-Bold', sans-serif;
    color: $mast_colour_blue_dark;
  }

  div.break-link{
    max-width: 15rem;
  }

  div.change-template {
    max-width: 15rem;
  }

  div.break-link-button {
    max-width: 16rem;
  }

  .tabs {
    .tab-item {
      background-color: $mast_colour_grey_mid;
      width: 50%;
      color: $mast_colour_grey_light;
      padding: 0;
      opacity: 0.3;
      &.is-active {
        background-color: $mast_colour_pure_white;
        color: $mast_colour_black;
        opacity: 1;
      }
    }
  }

  &.footer-follows {
    padding-bottom: 20rem;
  }

  .batch-actions-content {
    background-color: $mast_colour_pure_white;
    width: 100%;
    overflow: hidden;

    &.batch-actions-content-define {
      padding: 1rem 2rem 1rem 1rem;
    }

    label {
      text-align: left;
      padding-top: 0.5rem;
      &.not-visible {
        background: rgba($mast_colour_blue_very_dark, 0.25)!important;
      }
      &[readonly] {
        background-color: $input-background-disabled;
      }
    }

    input[type="text"]:not([name="searchQuery"]) {
      max-width: 20rem;
    }
    [date-time].ng-dirty.ng-invalid {
      &.ng-invalid-number, &.ng-invalid-min, &.ng-invalid-max {
        &:focus, &:active, &:hover {
          background-position: calc(100% - 1rem) 50%;
        }
      }
    }
    textarea {
      resize: vertical;
    }
    .grid-block {
      &.bottom-space {
        margin-bottom:1rem;
      }
    }
    .asset-search {
      .grid-block > .grid-block {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .attachment-icon {
      &:hover {
        cursor: pointer;
        pointer-events: all;
      }
    }
    .tab-content {
      .grid-content {
        overflow: hidden;
      }
      asset-card {
        a[class*='button'] {
          width: calc(100% - 0.7rem);
          margin-bottom: 0.3rem;
          border-color: $mast_colour_grey_mid;
          &:not(.secondary-button):hover {
            border-color: $mast_colour_grey_light;
          }
        }
      }
    }
    .nonselected-asset-card-container {
      .asset-card {
        &::before {
          border-top-color: $mast_colour_pure_white;
        }
        &.selected {
          background-color: $mast_colour_grey_dark;
          &::before {
            border-top-color: $mast_colour_pure_white;
            border-left-color: $mast_colour_grey_dark;
          }
        }
      }
    }
    .selected-asset-card-container {
      .asset-card {
        &.selected {
          background-color: $mast_colour_blue_mid;
          &::before {
            border-top-color: $mast_colour_pure_white;
          }
        }
      }
    }
  }

  .batch-actions-selected-content {
    padding: 0;
    .selected-batch-actions-actions button {
      margin-right: 0;
    }
  }

  &.batch-actions-apply {
    .full-button {
      padding: 0.97rem;
      position: absolute;
      max-width: 10rem;
      top: 0.6rem;
    }
    .batch-actions-tab-container {
      padding: 0 !important;
    }
  }
}

.batch-actions-apply-footer {
  .apply-cta, .apply-notices {
    overflow: hidden;
    padding: 0 .5rem;
  }
  .apply-actions {
    padding: 0;
    button {
      padding: 0.8rem 1.3rem;
      margin: 0;
    }
  }
  .apply-options {
    overflow: hidden;
    .asset-item {
      visibility: hidden;
    }
    .apply-options-text p {
      padding: 0 0 0 1rem;
      margin: 0;
    }
    padding: 0;
    label {
      margin-right: 0;
      font-size: 80%;
      color: $mast_colour_pure_white;
    }
    input[type="text"] {
      margin: 0 0 0 1rem;
      padding: 0.8rem 1rem;
      &.no-clear {
        background: $mast_colour_pure_white !important;
      }
    }
    .radio {
      padding: 0 0 0 1rem;
      margin-bottom: 0.2rem;
      div {
        margin-bottom: 0;
        input[disabled] + label {
          opacity: 0.5;
        }
      }
    }
  }
  .f-dropdown {
    z-index: 2000;
    background-color: $mast_colour_blue_mid;
  }
}

.modal-item-search {
  .grid-container {
    margin: 0 5%;
  }
  modal-body {
    max-width: 80%;
    text-align: left;
    form, ng-form {
      padding: 0;
      button {
        margin-right: 0;
      }
      .f-dropdown {
        z-index: 1000;
      }
    }
  }
  modal-header {
    .grid-block:first-child {
      min-height: 2rem;
    }
    div {
      padding: 0;
      overflow: hidden;
    }
  }
  modal-footer, modal-header {
    > div {
      width: 100% !important;
    }
  }
}

.modal-choose-item-type {
  form, ng-form {
    height: get-vw(500px);
  }
}

.modal-complete-batch-action {
  .modal-batch-action-item-list {
    list-style: none;
  }
}
