.breadcrumbs {
  list-style-type: none;
  display: inline-block;
  margin-left: 0.5rem;
  font-size: inherit;

  li {
    display: inline-block;

     &:not(:first-of-type) {
      margin-left: 0.5rem;

      &:before {
       content: '>';
       margin-right: 0.25em;
      }
    }

    &.preamble ~ li {
      font-weight: bold;
    }

    &.preamble + li:before {
        content: none;
    }
  }
}
