.build {
  @extend .background-shipyard;
  padding-top: 20px;

  label {
    color: $mast_colour_blue_dark;
  }

  .content-body h2 strong {
    color: $mast_colour_blue_dark;
  }

  .add {
    table {
      border-collapse: separate;
      border-spacing: 0 4px;
      table-layout: fixed;
      width: 100%;

      th, td {
        padding: 0.5rem;

        svg {
          height: 30px;
          width: 30px;
        }
      }

      colgroup col {
        &:nth-of-type(1) {
          width: 5%;
        }
        &:nth-of-type(2) {
          width: 90%;
        }
        &:nth-of-type(3) {
          width: 5%;
        }
      }

      tbody {
        tr {
          background-color: white;

          &:hover {
            background-color: $mast_colour_grey_very_light;
          }
        }
      }
    }
  }

  .breadcrumbs {
    li {
      font-family: 'OpenSans-Regular', sans-serif;
      font-weight: bold;
    }
  }

  > div {
    margin: 0 !important;
  }

  .copy {
    .asset-search-dark {
      .transparent-dark-button {
        color: $mast_colour_grey_dark;
        border-color: $mast_colour_grey_dark;
      }

      .validation-dark{
        color: $mast_colour_red_dull;
      }

      svg g {
        stroke: $mast_colour_blue_dark;
      }

      p {
        color: $mast_colour_grey_dark;
      }

      select {
        background-color: $mast_colour_pure_white;
      }
    }

    .copy-button {
      padding-left: 1.4rem;
    }
  }
}
