.milestone-list-container {
  padding: 1rem 0 0 0;
  margin: 0 3rem 0 3rem;
  background-color: $mast_colour_grey_very_light;
}

.case-milestones-list {
  margin: 0rem 1rem 1rem 1rem;
  table {
    border-collapse: separate;
    border-spacing: 0 4px;
    table-layout: fixed;
    width: 100%;

    p {
      text-align: left;
    }

    th, td {
      padding: 1rem 0;
    }

    thead {
      color: $mast_colour_blue_mid;

      th {
        font-weight: normal;
        text-align: left;
      }
    }

    tbody tr {
      background-color: $mast_colour_pure_white;

      td:first-child {
        @include truncate(50%);
        color: $mast_colour_grey_dark;
        text-align: center;
        padding: 1rem;
        font-weight: bold;
      }
      td:nth-of-type(2) {
        color: $mast_colour_blue_dark;
        font-weight: bold;
        line-height: 140%;
      }

      td:nth-of-type(3) {
        margin: 0;
        padding-right: 1rem;
        width: auto;
        height: auto;
        svg {
          height: 2rem;
          width: 2rem;
          text-align: center;
        }
      }

      td:nth-of-type(4) {
        border-left: 2px solid $mast_colour_white;
        border-right: 2px solid $mast_colour_white;
        padding: 1rem;
        svg {
          height: 4rem;
          width: 4rem;
        }
      }

      td:nth-of-type(5) {
        padding: 1rem;
        text-align: center;
        svg {
          height: 2rem;
          width: 2rem;
        }
      }

      td:nth-of-type(6) {
        padding: 1rem;
        text-align: center;
        p {
          margin: 0;
        }
      }

      td:last-child {
        text-align: center;
      }
    }

    tbody input {
      margin: 0;
    }
  }
}

.case-milestones-edit {
  table {

    display: inline-block;

    th, td {
      padding: 1rem 0;

      p {
        margin: 0;
      }
    }

    thead {
      color: $mast_colour_blue_mid;

      th {
        font-weight: normal;
        text-align: left;
      }
    }

    tbody tr {
      background-color: $mast_colour_pure_white;

      td:first-child {
        color: $mast_colour_grey_dark;
        text-align: left;
      }

      td:last-child {
        text-align: center;
      }
    }

    tbody input {
      margin: 0;
    }
  }
}

.milestone-tab-container {
  margin: 1rem 3rem 0 3rem;
  border-width: 1px;
  border-style: solid;
  background-color: $mast_colour_grey_very_light;
  border-color: $mast_colour_grey_dark;
  .tabs {
    width: 100%;
    .tab-item {
      width: 50%;
    }
  }
}

.milestone-status {
  .completed {
    color: $mast_colour_green;
    font-weight: bold;
  }
  .overdue {
    color: $mast_colour_orange;
    font-weight: bold;
  }
}

.milestone-dependency-message {
  padding-right: 5rem;
  text-align: left;
  width: 14rem;
}
