.case-management {
  width: 100%;
  word-wrap: break-word;

  .tabs {
    width: 100%;
    .tab-item {
      font-size: 125%;
      background-color: $mast_colour_grey_mid;
      width: 50%;
      color: $mast_colour_grey_light;
      padding: 0 1.5rem;
      opacity: 0.3;
      &.is-active {
        background-color: $mast_colour_grey_very_light;
        color: $mast_colour_black;
        opacity: 1;
      }
    }
  }

  form, ng-form {
    header {
      h3 {
        margin:0 0 1rem 0;
      }
    }
    label + button {
      margin-top: 0.5rem !important;
    }
    select {
      width: 60%;
    }
    .date-time {
      max-width: 8rem;
      width: 8rem;
    }
    input[type="text"], input[type="number"] {
      width: 65%;
    }
    input.full {
      width: 100%;
    }
    span.text {
      font-size: 150%;
      display: block;
      margin: 1rem 0 0 0;
    }
  }

  .case-management-header {
    @extend .background-shipyard;
    height: 5rem;
    h3 {
      margin: 1.4rem 0 0 0;
    }
  }

  .select-case-type {
    .small-12 {
      button {
        float: right;
      }
    }
    + .select-case-type {
      .small-12 {
        margin-top: 1rem;
      }
    }
  }

  .case-tab {
    width: calc(50% - 1rem);
    background-color: $mast_colour_grey_mid;
    color: $mast_colour_grey_light;
    font-size: 125%;
    text-align: left;
    padding: 0.8rem 0.8rem 0.8rem 1.5rem;
    opacity: 0.3;
    &.selected {
      background-color: $mast_colour_grey_light;
      color: $mast_colour_black;
      opacity: 1;
    }
    &:not(.selected) {
      span {
        cursor: pointer;
      }
    }
    .case-tab-icon {
      background-color: $mast_colour_pure_white;
      color: $mast_colour_black;
      padding: 0.5rem 0.75rem;
      display: inline-block;
      border-radius: 0.2rem;
    }
  }

  .case-tab-content {
    background-color: $mast_colour_grey_very_light;
    width: 100%;
    .case-case-types {
      list-style: none;
      margin: 1rem;
      li {
        background-color: $mast_colour_grey_light;
        padding: 0.8rem;
        margin: 0 0 1rem 0;
        label {
          font-size: 125%;
          color: $mast_colour_grey_mid;
          padding-left: 4rem;
          &:hover {
            cursor: pointer;
          }
        }
        .radio, .radio div {
          margin: 0;
          padding: 0;
        }
      }
    }
    .case-type-header {
      position: relative;
      width: 100%;
      background-color: $mast_colour_grey_light;
      margin: 0 0 1rem 0;
      padding: 0.5rem 1rem;
      overflow: hidden;
      h5 {
        color: $mast_colour_black;
        font-weight: bold;
        min-height: 2rem;
        padding-top: 0.3rem;
      }
      div {
        .clickable & {
          &:hover {
            cursor: pointer;
            pointer-events: all;
          }
        }
        @extend .pos-abs;
        right: 3rem;
        top: 0.6rem;
        height: 50%;
        display: inline-block;
      }
    }
    .case-customer {
      margin: 0 0.2rem 1rem 0.2rem;
      background-color: $mast_colour_grey_light;

      .case-customer-relationship {
        h6 {
          color: $mast_colour_black;
          font-size: 130%;
          padding-top: 0.8rem;
        }
      }
      .case-customer-name {
        ul {
          margin-left: 5rem;
        }
      }
      .case-customer-functions {
        > button {
          margin-top: 0.8rem;
        }
        .case-customer-selected-functions {
          i::before {
            line-height: 1rem !important;
          }
        }
      }
      .case-customer-delete {
        span {
          display: inline-block;
          margin: 1.5rem 0.8rem 0.8rem;
          cursor: pointer;
        }
      }
      div {
        .left {
          width: 5rem;
        }
        label {
          margin-top: 0.8rem;
        }
      }
    }
  }

  .f-dropdown {
    z-index: 1000;
  }

  padding-bottom: 10rem;

  &.view-case {
    header {
      padding-bottom: 1rem;
    }

    .grid-block {
      margin-bottom: 1rem;
    }

    .grid-content {
      font-size: 0.85rem;
    }

    span {
      color: $mast_colour_blue_dark;
      font-size: 1rem;
      display: block;
      padding-top: 0.5rem;
    }
  }
}

.case-list {
  margin-bottom: 3rem;

  .case-list-header {
    margin-bottom: 2rem;
  }

  .case-list-item:nth-of-type(even) {
    background-color: $mast_colour_grey_very_light;
  }

  .case-list-item:nth-of-type(odd) {
    background-color: white;
  }

  .case-list-item {
    padding: 1rem;
    flex-wrap: wrap;

    svg {
      width: 30px;
      height: 30px;
      margin-top: 0.8em;
    }

    .status {
      color: $mast_colour_blue_mid;
      font-weight: bold;
    }

    /* content wrapping divs inside each column */
    & div:not(.grid-content) {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.3rem 0;
      overflow: hidden;

      strong, b {
        white-space: nowrap;
      }
    }
  }
}

.case-banner {
  .attachment-directive-icon-dark > span {
    top: -7px;
  }

  .case-banner-container {
    background-position-y: -165px;
    color: $mast_colour_pure_white;
    padding-top: 2rem;
  }

  .case-id {
    overflow: visible;

    h2, h5 {
      margin: 0;
      padding: 0;
    }
    h5, span {
      color: $mast_colour_blue_light;
    }

    span {
      font-weight: bold;
    }
  }

  .btn-container {
    button:first-of-type {
      margin-left : 1.3rem;
    }

    .dar-button-large {
      margin-right: 2rem;
    }
  }

  .grid-block {
    overflow: visible;
    overflow-y: visible;
  }

  .case-summary {
    color: $mast_colour_white;
    font-size: 0.9rem;
    word-wrap: break-word;

    .grid-content {
      padding: 1rem;
      & > div {
        padding: 0.3rem 0rem;
      }
      h3 {
        margin-top: 0;
      }
    }
  }

  .case-status-reason {
    background-color: $mast_colour_orange;
    color: $mast_colour_pure_white;
    padding: 1rem;
    overflow: visible;

    strong {
      margin-right: 0.5rem;
    }
  }

  .case-tabs {
    margin-top: 1.3rem; // ensure tabs meet content pane

    .tab-item {
      padding: 0 3rem;
    }
  }

  > div:last-child {
    margin-bottom: 2rem;
  }
}

.case-banner-collapsible {
  .case-list-item {
    padding: 0.5rem;
    background-color: $mast_colour_grey_light;

    svg {
      width: 30px;
      height: 30px;
      margin-top: 0.8em;
    }
  }
}

.case-job-list {
  padding: 0 2rem;
  .case-job {
    background-color: $mast_colour_grey_very_light;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0.3rem 1rem;
    div {
      padding: 0.25rem 0;
      overflow: hidden;
      > div:first-child {
        padding-bottom: 1rem;
      }
    }
    div:last-child {
      svg {
        height: 2rem;
        margin-top: 1rem;
      }
    }
  }
  .small-2 {
    overflow: hidden;
    button {
      float: right;
      margin: 0;
    }
  }
}

.select-asset-types-dialog {
  select {
    width: 14rem;
  }
  td {
    padding: 0 0.5rem;
  }
}

.select-relationship-dialog {
  form, ng-form {
    margin: 0 auto;
  }
  select {
    width: 25rem;
    &[multiple] {
      height: 10rem;
      background: $mast_colour_white;
    }
  }
}

.select-rule-set-dialog {
  select, option {
    max-width: 95%;
  }
}
