.check-in {
  background: $mast_colour_green;
  color: $mast_colour_white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid $mast_colour_white;

  &:first-of-type {
    border-top: none;
  }

  > div {
    flex-grow: 5;
    align-self: center;
    padding: .5rem 1rem;
  }

  .title {
    span {
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .control {
    flex-grow: 1;
    text-align: right;
  }

  button {
    margin: 0;
    margin-left: .5rem;
    padding: .5rem 1rem;
    &.transparent-button {
      border-color: $mast_colour_white;
      color: $mast_colour_white;
    }
  }
}

button.ng-leave,
button.ng-enter {
  transition: none;
}

.unsaved .modal button {
  padding: .8rem 1.5rem;
}

.checked-out-by .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 1rem;
  background: $mast_colour_grey_light;

  > div {
    flex-grow: 5;
    align-self: center;
  }
  .control {
    text-align: right;
    flex-grow: 0;
    flex-shrink: 1;
    button {
      margin: 0;
      padding: 0.5rem;
    }
  }
}

.asset-details-header .checked-out-by, .item .checked-out-by {
  float: right;
  .content {
    color: $mast_colour_white;
    background: none;
    padding: 0 1rem;
    .control button {
      @extend .transparent-button;
      margin: 0;
      padding: 0.5rem;
      color: $mast_colour_white;
      border-color: $mast_colour_white;
      margin-left: 1rem;
      }
  }
}
