.codicil-no-result {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

codicil-info {
  > div {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &:nth-of-type(even) .codicil-info {
    background-color: $mast_colour_grey_very_light;
  }

  &:nth-of-type(odd) .codicil-info {
    background-color: white;
  }

  .codicil-info {
    padding: 1rem;
  }

  .codicil-title {
    display: block;
    font-weight: bold;
    padding-left: 1rem;

    small {
      font-size: 0.75rem;
      padding-top: 0.1rem;
      display: block;
    }
  }

  .codicil-content,
  .codicil-item-name {
    font-weight: bold;
    font-size: 0.9rem;

    &.push-top {
      padding-top: 0.8em;
    }
  }

  .codicil-dates li {
    font-size: 0.9rem;
  }

  .view-codicil {
    margin-right: 1rem;
    background-color: transparent;
  }

  .list-unstyled {
    margin-bottom: 0;
  }

  svg {
    // margin-top: 0.4em;
    width: 30px;
    height: 30px;
  }
}
