.view-codicil {
  background-color: $mast_colour_white;
  .codicil-view-button-group {
    padding: 1rem 0 0;
    justify-content: flex-end;
    text-align: right;
    button:last-child {
      margin-right: 0;
    }
  }

  section {
    padding: 1rem 5rem;
    background: $mast_colour_white;
  }

  .codicil-header {
    padding: 1rem 3rem 1rem 3rem;
    div {
      h4 {
        color: $mast_colour_white;
        font-weight: bold;
      }
    }
    .codicil-title {
      background-color: $mast_colour_grey_light;
      h4 {
        color: $mast_colour_black;
      }
    }
    .codicil-status {
      background-color: $mast_colour_orange;
      text-align: center;
    }
  }

  .codicil-view {
    > .grid-content {
      background-color: inherit;
      margin: 0 0 1rem 0;
      padding: 0.5rem 0;
    }

    .small-3 {
      padding-left: 2rem;
      color: $mast_colour_blue_dark;
      font-weight: bold;
    }
  }
}

.codicil-new {
  checkbox {
    padding-bottom: 1rem;
  }

  ul:not(.button-group) {
    margin-bottom: 0;
  }

  .attachments{
    padding-top: 1rem;
  }

  .change-selection {
    padding-left: 2rem;
    margin-bottom: 0.6rem;
  }

  .form-label {
    margin-left: 5rem;
  }

  .grid-block {
    padding-top: 0.5rem;
  }

  .no-padding {
    padding: 0;
  }

  .grid-content .grid-block {
    flex-wrap: nowrap;
  }
  .grid-content {
    &.overflow {
      overflow: hidden;
    }
  }

  .radio-selectors {
    padding-top: 1rem;
    padding-left: 2rem;
  }

  .shaded-area-margin {
    margin-top: 6px;
  }
}

.codicil-attachments {
  padding-left: 1em;
}

.codicil-preview-footer {
  .grid-content {
    overflow:hidden;
  }
}

.codicil-textarea {
  width: 55em;
}

.actionable-item {
  @extend .background-sea;
  padding-top: 10px;

  .attachment-directive-icon-light {
    display: block;
    height: 60px;
    > span {
      top: -10px;
    }
  }
}

.attachment-icon-alignment span span {
  color: $mast_colour_blue_dark;
}

.condition-of-class, .defect {
  @extend .background-sea;
  padding-top: 10px;
}

.condition-of-class {
  .content-body {
    padding-top: 1rem;
  }
}

.modal-item-search {
  modal-header > div,
  modal-body > div,
  modal-footer > div {
    width: 100%;
  }

  .search-form button {
    height: 3em;
  }

  .item-search-select {
    margin-top: 1rem;
  }

  .item-search-list {
    ul {
      margin-left: 0;
      li {
        list-style: none;
        margin: 3px 0px 0 3px;
        background-color: $mast_colour_blue_dark;
        position: relative;

        div {
          margin-bottom: 0.2em;

          label {
            color: $mast_colour_pure_white;
          }
        }
      }
    }
  }

  .primary-button[disabled] {
    opacity: 0.7;
  }
}
