.configuration {
  background: 100% url('../images/waves.jpg');

  > h2:first-of-type {
    padding: 1rem;
  }

  form fieldset, ng-form fieldset {
    border: none;
    margin: 0;

    div {
      align-items: center;
      display: flex;
      flex-flow: row;
      width: 100%;

      label {
        display: inline-block;
        order: 1;
        padding-right: 1rem;
        text-align: right;
        width: 25%;
      }

      input:not([type=checkbox]), textarea {
        display: inline-block;
        flex: 1;
        order: 2;
        width: 70%;
      }

      textarea {
        min-height: 15rem;
      }
    }

    &.checkbox div {
      label {
        font-size: .9rem;
        margin-left: 0;
        padding-left: 0;

        &:before {
          left: calc(100% + 3px);
          text-align: left;
        }
      }
    }

    &:last-child {
      text-align: right;

      button:last-child {
        margin-right: 0;
      }
    }
  }
}
