.counter {
  padding: 5px;

  &.disabled {
    opacity: 0.5;
  }

  input {
    width: 45px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    color: $mast_colour_blue_dark;
  }

  button {
    background: none;
    border: none;
    outline: none;

    &.disabled {
      svg > g {
        stroke: $mast_colour_grey_mid;
      }
    }
  }
}
