crediting-info {
  .crediting-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: inherit;
  }

  .crediting-title {
    display: block;
    font-weight: bold;
    padding-left: 1rem;

    small {
      font-size: 0.75rem;
      padding-top: 0.1rem;
      display: block;
    }
  }

  .crediting-content li {
    font-size: 0.9rem;
  }

  .view-crediting {
    margin-right: 1rem;
    background-color: transparent;
  }

  .crediting-status {
    font-weight: bold;
    color: $mast_colour_grey_very_dark;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      width: 100%;
      text-align: center;
    }
  }

  .list-unstyled {
    margin-bottom: 0;
  }

  svg {
    margin-top: 0.8em;
    width: 30px;
    height: 30px;
  }
}
