.crediting-hierarchy {
  ul, ol {
    .ng-animate {
      @extend .pos-rel;
      visibility: hidden;
    }

    .slide-animation.ng-enter {
      display: none;
      visibility: hidden;
    }

    margin-left: 2.6rem;
    list-style-type: none;

    // Defines the overall style of a row in the hierarchy
    li > div:first-child {
      background-color: $mast_colour_pure_white;
      margin: 3px 80px 0 3px;
      position: relative;
      padding: 10px;
      min-height: 60px;

      i[disabled] {
        opacity: 0.4;
        pointer-events: none;
      }

      &.edit-mode {
        background-color: $mast_colour_blue_mid !important;

        textarea {
          background-color: $mast_colour_pure_white;
        }

        .checkbox-dir.checked span{
          background-color: $mast_colour_blue_dark;
        }

        .node-details {
          padding-right: 1rem;
          color: $mast_colour_pure_white;

          .grid-block {
            align-items: stretch;
          }
        }

        .node-credit, .node-attachment, .node-expand-toggle {
          background-color: $mast_colour_pure_white !important;
        }

        .primary-button {
          margin: 0;
          padding: 0.8rem 3.6rem;

          &[disabled] {
            opacity: 0.5;
          }
        }
      }

      &.task {
        background-color: $mast_colour_grey_very_light;

        .node-details {
          margin-left: 0;

          // follows the same idea as node-details:width,
          // but the value is always smaller and needs to be adjusted by eye
          width: calc(100% - 260px);

          .conditional-details {
            width: 100%;
          }
        }

        .node-name {
          padding-left: 10px;
          padding-right: 0;
        }

        .node-credit, .node-attachment {
          background-color: $mast_colour_grey_very_light !important;
        }

        .question {
          width: 100%;

          hr {
            width: calc(100% - 1.7rem);
            border: solid $mast_colour_grey_mid;
            border-width: 1px 0 0;
            margin-left: 10px;
          }

          ng-form .validation-error {
            padding-bottom: 0;
          }

          .grid-block {
            align-items: flex-start;

            .grid-content {
              padding-left: 10px;
            }
          }

          .statement {
            padding-bottom: 1rem;
          }
        }
      }

      &.has-items {
        color: $mast_colour_blue_mid;
      }

      // +/- button
      .node-expand-toggle {
        @extend .actionable;
        @include pos-abs(0, 0);
        @include border(2px, solid, $mast_colour_white, right);
        bottom: 0;
        text-align: center;
        width: 2.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-top: 10px;
          margin-left: 2px;

          g {
            stroke: $mast_colour_blue_mid;
          }
        }
      }

      .close-mode {
        @extend .actionable;
        font-size: x-large;
      }

      // Central details section containing the node's name and other info
      .node-details {
        display: flex;
        min-height: 40px;
        margin-left: 2.6rem;

        // Absolute value is the node-credit width + node-attachment width +
        // a bit for spacing. This value is likely to change
        width: calc(100% - 300px);

        .circle-button {
          color: $mast_colour_pure_white;
          background-color: $mast_colour_blue_mid;
          height: 1.6rem;
          width: 1.6rem;
          line-height: 1.4rem;
          border: 2px solid $mast_colour_blue_mid;
          margin-right: 0.4rem;
          font-weight: bolder;
        }

        .svg-icon-Chart, i {
          @extend .actionable;
          float: right;
          color: $mast_colour_blue_mid;

          &:before {
            line-height: 2.4rem;
          }

          &:hover .tooltip {
            display: block;
            background-color: $mast_colour_blue_mid;
            color: $mast_colour_pure_white;
            top: -4.7rem;
            text-align: center;
            margin-right: 0;
            border-radius: 0;
            box-shadow: none;
            left: 35%;

            span {
              display: block;
            }
          }

          .arrowed-bottom:after {
            border: 0.4rem solid $mast_colour_blue_mid;
            left: 45%;
          }
        }

        .credit-details {
          font-size: 0.8rem;
          color: $mast_colour_black;
          margin: 0;

          .credit-percentage {
            font-size: 1.5rem;
            padding-right: 0.3rem;
          }

        }

        .grid-block {
          align-items: center;
        }
      }

      // Specific styling for the details -> name only
      .node-name {
        white-space: normal;
        word-break: break-word;
        padding-left: 0;
        padding-right: 1rem;
        max-width: calc(100% - 2.1rem);
      }

      .node-credit {
        @extend .pos-abs;
        @include border(2px, solid, $mast_colour_white, left);
        padding: 10px;
        right: 0px;
        top: 0;

        // Essentially an arbitrary value, likely to change
        width: 190px;
        font-weight: bold;
        color: $mast_colour_grey_very_dark;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input[type="radio"] + label {
          margin-left: 0;
          margin-right: 0;
        }

        svg {
          width: 25px;
          height: 25px;
        }

        .radio {
          margin: 0;
          padding: 0;

          div {
            margin: 0;
            padding: 0 0 1.8rem 0;
          }

          label {
            padding-right: 1rem;
            padding-left: 1rem;

            &:before {
              left: 0.7rem;
              top: 1.5rem;
            }
          }
        }
      }

      .node-attachment {
        @extend .pos-abs;
        @include border(2px, solid, $mast_colour_white, left);
        padding: 10px;

        // Must equal the width of node-credit
        right: 190px;
        top: 0;

        // Essentially an arbitrary value, likely to change
        width: 80px;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    li > .node-cascade {
      background-color: $mast_colour_blue_mid !important;
      color: $mast_colour_pure_white;

      .grid-content {
        align-items: center;
        display: flex;
        padding-right: 0;

        button {
          margin: 0 0.5rem;
        }
      }

      .transparent-button-white {
        margin: 0;

        &:focus {
          background-color: $mast_colour_pure_white;
          color: $mast_colour_blue_mid;
        }
      }
    }
  }

  /* .dog-leg and .straight-leg used as extends for dotted lines in the
     hierarchy view; */
  .dog-leg {
    &.has-items::before {
      @include border(1px, dashed, $mast_colour_grey_mid, bottom);
      border-right: none;
      border-top: none;
      height: 50%;
      width: 1.1rem;
    }
    &::before {
      @include pos-abs(1px, -1.3rem);
      @include border(1px, dashed, $mast_colour_grey_mid, left);
      content: '';
      height: 100%;
    }
  }

  .straight-leg {
    &::before {
      @include pos-abs(0, -1.3rem);
      @include border(1px, dashed, $mast_colour_grey_mid, left);
      content: '';
      height: 100%;
    }
  }

  li.is-expanded {
    li:not(.is-expanded) {
      > div:first-child.outer-div { @extend .straight-leg; }
      > div:nth-child(2).outer-div {
        @extend .straight-leg;
        @include pos-abs(0, calc(-1.3rem + 3px));
      }
    }

    li.only-child:not(.is-expanded) {
      > div:first-child.outer-div { @extend .dog-leg; }
    }

    li.is-expanded {
      @extend .pos-rel;

      > div:first-child.outer-div { @extend .dog-leg; }

      > div:nth-child(2).outer-div {
        &::before {
          @extend .straight-leg;
          @include pos-abs(0, calc(-1.3rem + 3px));
        }
      }
    }

    /* li.is-expanded next to an li.is-expanded */
    ~ li.is-expanded {
      > div:nth-child(2).outer-div {
        /* 2nd/3rd/x indentation */
        li {
          div:first-child.outer-div { @extend .dog-leg; }
          > div:nth-child(2).outer-div {
            &::before {
              @include pos-abs(0, calc(-1.3rem + 3px));
              @include border(1px, dashed, $mast_colour_grey_mid, left);
              content: '';
              height: 100%;
            }
          }
        }
        li:not(.is-expanded) div.has-items::before {
          left: -1.3rem;
          border-bottom: none;
          height: 100%;
        }
      }
    }

    li.last-expanded {
      &.is-expanded {
        > div:nth-child(2)::before { border: none !important; }
        ~ li > div:first-child::before { border: none !important; }
      }
    }

    li.is-expanded:last-child > div:nth-child(2) > ol {
      > li.only-child:not(.is-expanded) div:first-child::before {
        border: none;
      }
      > li.only-child.is-expanded {
        > div:nth-child(2)::before {
          border: none;
        }
      }
    }
  }

  li.none-expanded {
    li > div:first-child::before { border: none !important; }
  }

  /* Handles the last child on the first menu items */
  > ul > li.is-expanded > div:nth-child(2).outer-div > ol > li:last-child {
    &.is-expanded {
      > div:first-child { @extend .dog-leg; }
      > div:nth-child(2)::before { border: none; }
    }
  }
}
