.create-asset {
  .radio-selectors {
    padding-top: 1rem;
    padding-left: 2rem;
  }

  form .grid-block, ng-form .grid-block {
    padding-top: 0.5rem;
  }

  ul {
    margin-bottom: 0;
  }

  value-picker .value-picker {
    margin-left: 0rem;
  }

  .grid-content .grid-block {
    flex-wrap: nowrap;
  }

  .shaded-area-margin {
    margin-top: 6px;
  }

  .lookup-button {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }

  .validation-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.5rem;
  }

  .information-label {
    height: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  #asset-attachments {
    padding-left: 3.6rem;

    i {
      font-size: 1.6rem;
      position: absolute;
      top: 0.6rem;
      left: 1rem;
    }
  }

  span[attachments-and-notes] {
    position: relative;
    top: -8px;
  }
}

.create-asset-modal {
  .statcode {
    padding: 0 0.8rem 1rem;
  }
}
