.dashboard {
  background-image: url('../images/waves.jpg');
  background-repeat: repeat;
  background-size: 100%;

  .dashboard-tab-container {
    // Menu tabs along the top of the dashboard;
    .tabs {
      margin-top: 1.3rem; // ensure tabs meet content pane
      margin-right: 2rem;
    }
  }

  .tab-contents {
    h2 {
      color: $mast_colour_grey_dark;
    }
  }

  .asset-list-selector-wrap {
    margin-top: 1rem;
  }

  .sort-select {
    float: right;
    margin-top: 1rem;
  }

  .actions {
    line-height: 3.5rem;
    text-align: right;

    a {
      color: $mast_colour_white;
      padding: 0 2rem;

      img {
        margin-right: .5rem;
      }
    }
  }

  .tab-item a {
    padding: 1rem 3rem;
  }

  .asset-card .btn-container {
    margin-left: 0;

    .grid-content {
      padding: 0;

      .transparent-dark-button {
        padding: 0.39rem 0;

        span:last-of-type {
          font-size: small;
        }
      }
    }

    .grid-content:nth-of-type(2) {
      margin: 0 0.2rem;
    }
  }
}

i.me-and-my-team {
  @include border(1px, solid, $mast_colour_grey_light);
  padding: 1.4rem 0.4rem 0.2rem 0.4rem;
  color: $mast_colour_black;
  &:before {
    font-size: 2rem;
  }
  &:active, &:hover {
    cursor: pointer;
  }
  &.selected {
    background-color: $mast_colour_blue_mid;
    border-color: $mast_colour_blue_mid;
    color: $mast_colour_pure_white;
  }
}

.show-amounts {
  font-size: 85%;
  @extend .blue;
}
