/*
 * Styling specific for the date-picker component;
 */

.clearfix {
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.date-picker-date-time {
  @extend .pos-abs;
}
.date-range .date-picker-date-time {
  position: inherit;
}
[date-picker-icon] {
  @extend .pos-rel;
  top: 0.6rem;
  svg {
    display: inline-block;
    height: 2rem;
    width: auto;
  }
}
[date-picker-wrapper] {
  @extend .pos-abs;
  margin-top: calc(3rem - 1px);
  min-width: 15rem;
  z-index: 100;
  display: block;
  font-size: 1rem;
}
[date-time] {
  @extend .pos-rel;
  z-index: 90;
  height: 3rem;
  padding: 1rem 0.5rem;
  min-width: 15rem;
  outline: none;
  margin-bottom: 16px;
  ~ span {
    margin-left: 10px;
    &.white svg g {
      stroke: $mast_colour_pure_white;
    }
  }
  ~ span:hover, &:hover {
    @extend .actionable;
  }
}
[date-time-append] [date-picker-wrapper] [date-picker] {
  margin-top: -30px;
}
[date-time-append] [date-picker] {
  @extend .pos-rel;
  margin-right: -1000px;
  margin-bottom: -1000px;
}
[date-picker] {
  @include border(1px, solid, $mast_colour_grey_mid);
  background-color: $mast_colour_pure_white;
  padding: 4px;
  z-index: 10000;
  &.hidden { display: none; }
  table {
    margin: 0;
    td, th {
      padding: 4px 5px;
      text-align: center;
      height: 20px;
      border: none;
    }
  }
  .switch {
    // width: 145px;
    display: table-cell;
    border-radius: 0;
  }
  span {
    display: block;
    width: 23%;
    height: 26px;
    line-height: 25px;
    float: left;
    margin: 1%;
    @extend .actionable;
    &:hover {
      background-color: $mast_colour_grey_light;
    }
    &.disabled, &.disabled:hover {
      background-color: $mast_colour_pure_white;
      color: $mast_colour_grey_light; // Make even lighter to emphasize;
    }
  }
  .active, .now {
    @include border(1px, solid, $mast_colour_grey_dark);
    color: $mast_colour_pure_white;
    background-color: $mast_colour_red_dull;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .active:hover, .now:hover, .active:active, .now:active, .active.active,
    .now.active, .active.disabled, .now.disabled, .active[disabled],
    .now[disabled] {
    color: $mast_colour_pure_white;
    background-color: $mast_colour_red_bright;
  }
  .active:active, .now:active, .active.active, .now.active {
    background-color: #003399;
  }
  .now {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: $mast_colour_blue_very_dark;
  }
  .now:hover, .now:active, .now.active, .now.disabled, .now[disabled] {
    color: $mast_colour_pure_white;
    background-color: $mast_colour_blue_dark;
  }
  .now:active, .now.active {
    background-color: $mast_colour_blue_mid;
    &:hover {
      background-color: $mast_colour_blue_dark;
    }
  }
  .disabled {
    background: none;
    color: $mast_colour_grey_mid;
  }
  [ng-switch-when="year"] span, [ng-switch-when="month"] span,
    [ng-switch-when="minutes"] span {
    height: 54px;
    line-height: 54px;
  }
  [ng-switch-when="date"] {
    thead {
      padding: 0.5rem 0 0.5rem;
      background-color: $mast_colour_blue_very_light;
    }
    td {
      padding: 0;
    }
    span {
      width: 100%;
      height: 26px;
      line-height: 26px;
    }
  }
  th:hover, [ng-switch-when="date"] td span:not(.disabled):hover {
    background: $mast_colour_blue_light;
    @extend .actionable;
  }
  [ng-switch-when="hours"] {
    max-width: 17rem;
  }
}
