.view-job .card.endorsement {
  .card-section,
  .card-section .sub-panel {
    margin: 0;
  }
}

/* summary card */
.endorsement-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  > div {
    flex-grow: 1;
    flex-basis: 0;
    align-self: center;
  }

  .job-status > div {
    display: inline-block;
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .close-job {
    text-align: right;
  }

  i {
    display: inline-block;
    padding-top: 5px;
    &:before {
      font-size: 3.6rem;
    }
  }

  a, button {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 1.5rem;
  }

  .circle-button {
    float: left;
  }
}
