// apply this to the previous sibling of the .sticky-footer to ensure scrolling works
//  this is a little fragile/brittle, at the moment the wireframes suggest only buttons in
//  footers. That could change - then the footer height would change.
.footer-follows {
  margin-bottom: 6rem;
}

.sticky-footer {
  @extend .fixed-on-top;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $mast_colour_blue_dark;

  .grid-block {
    margin-left: 0;
    margin-right: 0;
    .grid-content {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .primary-button[disabled] {
    opacity: 0.7;
  }

  ol {
    margin-bottom: 0;
  }
}

.add-case-footer, .edit-asset-details-footer, .batch-action-footer,
  .edit-case-footer {
  .grid-content {
    overflow: hidden;
  }
}
