/*
 * Only css that deals with the very top header; this does NOT include the
 * search filter or tabbed menu section;
 */
#header-container {
  // ensure header stays at top of page when scrolling
  top: 0rem;
  left: 0rem;

  width: 100%;
  overflow: visible;

  flex-shrink: 0;

  background-color: $mast_colour_blue_dark;
  color: $mast_colour_white;
  padding: 0;

  .app-state {
    flex: initial;

    info-header {
      float: right;

      > span {
        display: inline-block;
        padding-top: 0.5rem;
        margin: 0 .3rem;
        vertical-align: middle;

        &:last-of-type {
          font-family: 'OpenSans-Light', sans-serif;
          font-size: 0.8rem;
          strong {
            text-transform: capitalize;
          }
        }
      }
    }

    .lr-icon {
      svg {
        height: 24px;
        width: 24px;
      }

      &.light svg {
        height: 22px;
        width: 22px;
        margin: 0 1rem;

        g {
          stroke: $mast_colour_blue_light;

          &.filled {
            fill: $mast_colour_blue_light;
          }
        }
      }
    }

    #config-icon {
      margin-left: 1rem;
      margin-right: 1rem;
      vertical-align: middle;
      display: block;
      float: right;
      padding-top: 0.5rem;
    }

    .username {
      margin-right: 1rem;
    }
  }

  .mast-icon {
    @extend .corner-button-small;
    @extend .icon-button-vertical;

    margin: 0 0.5em 0 0;
    height: 40px;

    font-family: 'OpenSans-Light', sans-serif;
    font-size: 20pt;

    &.light {
      background-color: $mast_colour_blue_mid;

      div:before  {
        border-left-color: $mast_colour_blue_mid;
      }
    }
    &.dark {
      background-color: $mast_colour_blue_dark;

      div:before  {
        border-left-color: $mast_colour_blue_dark;
      }
    }

    a:hover {
      color: $mast_colour_white;
    }
  }

  .mast-text {
    margin: 0.7em;
    font-family: 'OpenSans-Bold', sans-serif;
    letter-spacing: 0.2em;
    a:hover {
      color: $mast_colour_white;
    }
  }

  .application-logo-container {
    overflow-y: hidden;
    img {
      display: inline-block;
      height: 2.55rem;
    }
  }

  .application-job-container {
    @include pos-abs(0, 3rem);
    background-color: $mast_colour_blue_mid;
    width: 17rem;
    height: 100%;

    .asset-text {
      @include pos-abs(0.6rem);
      width: 100%;
      img {
        margin-right: 0.5rem;
        &:hover {
          @extend .actionable;
        }
      }
    }
    .asset-text {
      @include pos-abs(0.6rem);
      width: 100%;
    }
  }
}
