.item {
  @extend .background-sea;
  padding-top: 20px;

  .item-tab-container {
    .tabs {
      width: 100%;
      .tab-item {
        width: 33.33%;
      }
    }
  }
}

.hierarchy {
  .title {
    // padding: .5rem;
  }
  .item-element {
    &.is-selected > .title {
      border: 2px dashed $mast_colour_blue_mid;
      margin: 1px 0px 0 1px;
    }

    padding: 0;
    margin: 0;
    .title {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      background: $mast_colour_blue_dark;
      margin: 3px 0px 0 3px;
      > div {
        flex-grow: 5;
        flex-basis: 0;
        align-self: center;
      }
      .hidden {
        visibility: hidden;
      }
      .icon {
        flex-grow: 0;
        flex-basis: 2.5rem;
        padding-left: .5rem;
        cursor: pointer;
        .minus {
          display: none;
        }
        &.expanded {
          .minus {
            display: block;
          }
          .plus {
            display: none;
          }
        }
      }
      .select {
        flex-grow: 0;
        flex-basis: auto;
        cursor: pointer;
        .radio-box {
          margin: 0 0 0 1.5rem;
          border: solid 4px $mast_colour_white;
          border-radius: 50%;
          background: $mast_colour_white;
          height: 1.5rem;
          width: 1.5rem;
          &.checked {
            background: $mast_colour_blue_mid;
          }
        }
        .check-box {
          display: block;
          width: 2rem;
          height: 2rem;
          background: $mast_colour_white;
          font-size: 2rem;
          &.checked {
            background: $mast_colour_blue_mid;
            &:before {
              content: "\2713";
              padding: 0 0 0 0.2rem;
            }
          }
        }
      }
      .desc {
        padding: 1rem;
        cursor: pointer;
      }

      .view-tools {
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 8rem;
        padding: 4px;
        border-left: 4px solid $mast_colour_white;
      }

      .edit-tools {
        text-align: right;
        padding: 4px;
        padding-right: 1rem;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10rem;
        // border-left: 4px solid $mast_colour_white;
        ul {
          border: none;
          margin: 0;
          li {
            display: inline;
            cursor: pointer;
            margin: 1px;
          }
        }
      }
    }
    .children {
      padding-left: 1.5rem;
    }
  }
  ul {
    line-height: 1rem;
    margin: 0;
    padding: 0;
    margin-left: 1.5rem;
    border-left: dashed 1px $mast_colour_grey_dark;
  }
  li {
    list-style: none;
  }
  ul.last {
    border: none;
  }
  .node-link {
    svg {
      width: 1.7rem;
      height: 2.4rem;
      padding-top: 6px;
    }
  }
}

.asset-model .hierarchy {
  .item-element {
    .title {
      background: white;
      display: flex;
      color: $mast_colour_blue_dark;
      .select {
        display: none;
        flex: 1;
      }
      .icon {
        svg g {
          stroke: $mast_colour_blue_dark;;
        }
        height: 100%;
      }
      .desc {
        border-left: 4px solid $mast_colour_white;
      }
    }
  }
}

.select-item {
  button {
    transition: none;
  }

  .validation-error {
    padding: .5rem;
  }
}
