.jobs-preview-footer {
  button.active {
    cursor: pointer;
    pointer-events: all;
  }
  .grid-content {
    overflow: hidden;
  }
}

.add-job-form, .edit-job-form {
  margin-bottom: 15rem;

  input[date-time] {
    color: $mast_colour_blue_dark;
  }

  input[name="proposedFlag"] {
    margin-top: 0.25rem;

    + .typeahead-clear {
      top: 0.25rem !important;
    }
  }

  label {
    padding: 1rem 0 0.5rem 0;
    color: $mast_colour_grey_dark;
  }

  select {
    background-color: $mast_colour_pure_white;
  }

  // This class gets added by the <checkbox> directory
  .checkbox-dir {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }

  .date-field {
    width: calc(100% - 3rem);
  }

  .f-dropdown {
    z-index: 1000;
  }

  .radio {
    margin-bottom: 0;
  }

  .typeahead-clear {
    top: 2.85rem !important;
  }
}

.edit-job-team {
  input.typeahead-clearable[disabled] {
    background: $mast_colour_grey_light !important;
  }

  label {
    padding: 1.5rem 0 1rem 0;
    color: $mast_colour_grey_dark;
  }

  .form-control .grid-content {
    padding: 0;
  }

  .radio {
    padding-top: 0;
    margin-bottom: 0;

    div {
      margin-bottom: 0;
    }
  }

  .saved.typeahead-clearable {
    background: white !important;
  }

  .surveyor-row {
    @extend .grid-block;
    margin-left: 0 !important;
  }

  .typeahead-div {
    @extend .grid-content;
    @extend .small-10;

    .typeahead-clear {
      top: 0 !important;
      left: calc(100% - 3rem) !important;
    }
  }
}

.view-job, .add-scope {
  &.header {
    padding-top: 1rem;

    .grid-block {
      /*
       overflow override to allow the info tooltip to not be hidden by
        .grid-block that appear after it in the page
      */
      overflow: visible;
      overflow-y: visible;
    }
    .attachment-button {
      attachments-icon > span {
        font-size: 1.067rem;
      }
    }
    .circle-button {
      @include border(2px, solid, $mast_colour_white);
      span {
        color: $mast_colour_white;
      }
      &:hover .tooltip {
        display: block;
      }
      .tooltip {
        &:before {
          right: calc(14% - 0.3rem);
        }
        text-align: left;
        left: calc(30% - 0.3rem);
        margin-top: 1.4rem;
        margin-right: 1rem;
      }
    }
    .btn-container {
      padding-right: 3rem;
      button:first-of-type {
        margin-left : 1.3rem;
      }
      > * {
        margin-right:1rem;
      }
    }
    .inactive {
      opacity: 0.8;
    }
  }
  .job-summary {
    color: $mast_colour_white;
    font-size: smaller;

    .grid-content {
      padding: 1rem 0;
      margin: 0 0.5rem;

      & > div {
        padding: 0.5rem 0rem;
      }

      h3 {
        margin-top: 0;
      }
    }

    .grid-content:nth-of-type(even) {
      margin-right: 1rem;
    }
  }

  .card {
    margin-bottom: 0;
    .card-divider {
      h3 {
        margin: 0;
      }
      background-color: $mast_colour_grey_very_light;
      color: $mast_colour_black;
      // not setting left/right padding so uses value from Foundation-apps
      padding-top: 0;
      padding-bottom: 0;
    }

    .card-info {
      padding: 1rem 0 0 1rem;
      p {
        span {
          font-weight: bold;
          color: $mast_colour_blue_dark;
          padding: 0 2rem 0 0;
        }
      }
      + .card-section {
        padding-top: 0.5rem;
      }
    }

    .card-section {
      padding: 2rem 2rem 2rem 1rem;
      .grid-content {
        padding: 4rem 2rem;
      }

      .circle-count {
        @extend .circle-button;
        display: inline-block;
      }

      .circle-count-label {
        display: inline-block;
      }

      .sub-panel {
        margin-right: 1rem;
        border: 1px solid $mast_colour_grey_light;
        position: relative;

        h4 {
          left: 0;
          position: absolute;
          padding-left: 1rem;
          top: 0;
          padding: 0.2rem 0 0.2rem 1rem;
          width: 100%;
        }

        button.approve-fsr {
          margin: 3rem 0 0 0.5rem;
        }
      }

      .survey-panel {
        text-align: center;
      }
    }

    &.job-team-scope {
      .sub-panel {
        padding-right: 0;
      }
    }

    &.job-crediting {
      .sub-panel {
        &.crediting-button-group, .crediting-button-group {
          .grid-block {
            padding-left: 1rem;
          }
        }
      }
    }

    &.job-updates {
      .sub-panel:first-of-type {
        margin-right: 0;
        max-width: calc(50% - 1rem) !important;
      }
      .sub-panel:nth-of-type(2) {
        margin-left: 1rem;
      }
      .sub-panel:nth-of-type(3) {
        margin-right: 0;
      }
    }

    &.job-technical-review, &.job-endorsement {
      .grid-content {
        margin-right: -1rem;
      }
    }
  }
}

.add-scope, .edit-scope {
  margin:1rem 3rem;
  padding-bottom: 12rem;

  .job-scope-selection {
    overflow: hidden;
    overflow-y: hidden;
    width: 100%;
    ol li div, ul li div {
      margin-right: 0;
    }

    .job-scope-type {
      color: $mast_colour_blue_dark;
      font-weight: bold;
      margin: 0;
    }

    .unselectable {
      .edit-scope-hierarchy-node, .job-scope-hierarchy-node {
        background-color: $mast_colour_grey_light !important;
      }
    }

    .job-scope-hierarchy-node {
      margin-right: 0;
    }

    .job-scope-hierarchy-node, .edit-scope-hierarchy-node {
      &.no-border {
        &::before {
          border-left: none !important;
        }
      }

      &:hover {
        button[class^="checkbox-"] {
          span {
            background-color: $mast_colour_white;
            color: $mast_colour_blue_mid;
          }
        }
      }

      [class*="node-"] {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
      }


      span[class*="node-"] {
        display: block;
      }

      [class*="node-service-"] {
        span[class*="node-"] {
          display: inline-block;
          margin-top: 0.8rem;
        }
      }

      .checkbox-container {
        line-height: 1;
        max-width: 4rem;
      }

      .node-details {
        color: $mast_colour_blue_dark;
        font-weight: bold;
      }

      .node-description {
        span {
          white-space: normal !important;
        }
        .node-codicil-category {
          display: block;
        }
      }

      .node-service-warning {
        font-weight: bold;
        .due {
          color: $mast_colour_red_dull;
        }
        .overdue {
          color: $mast_colour_red_bright;
        }
        span.glyph {
          display: table;
          margin-top: 0.35rem !important;
          .glyph-text {
            display: table-cell;
            vertical-align: middle;
            padding: 0 0 0 0.5rem;
          }
          i {
            display: table-cell;
          }
          &.added {
            padding-top: 0.6rem;
          }
        }
      }
    }
  }
  .edit-job-scope-button {
    &.scope-confirmed {
      opacity: 0.5;
    }
  }
  .job-scope-services-options h6 {
    color: $mast_colour_blue_dark;
  }
}

.job-service-product-modal {
  text-align: left;
  label {
    padding: 0.5rem 0 0 0;
    text-align: right;
  }
  input, input:focus {
    margin: 0;
    padding: 0.2rem 0.3rem;
  }
  .validation-light {
    padding: 0.5rem 0 0 0;
  }
  .job-service-renaming {
    padding-bottom: 0.5rem;
  }
}

.view-job-banner {
  h2:first-child, h5 {
    margin: 0;
    padding: 0;
  }

  .id-section {
    padding: 0.5rem;
  }
}

.job-dates {
  margin-bottom: 1.25rem;
  padding-bottom: 0;
  > .grid-block { align-items: center; }
  .form-control {
    padding: 0;
    &:first-of-type {
      margin-right: 1.875rem;
    }
  }
  input {
    min-width: auto;
    width: calc(100% - 3.125rem);
    color: $mast_colour_grey_mid;
  }
  .primary-button, .secondary-button {
    margin-bottom: 0;
  }
  label { color: $mast_colour_pure_white; }
  [date-picker-icon] path { fill: $mast_colour_pure_white; }
  [date-picker-icon] g { stroke: $mast_colour_pure_white; }
}

.job-dates-modal {
  h2 { width: 100%; }
  form ul.validation-error,
  ng-form ul.validation-error {
    margin: 0;
    padding: 0;
  }
}
