job-report-carousel {
  width: 100%;
  position: relative;

  .item-container {
    display: table;
    margin-top: 1rem;
    table-layout: fixed;
    min-height: 60px;
    width: 100%;

    ul {
      margin: 0;
      display: table-row;

      li {
        display: table-cell;
        margin: 0;
        position: relative;
        vertical-align: top;
        > div {
          max-width: 20%;
        }
      }

      &.large-carousel {
        li {
          display: inline-table;
          max-width: 20%;
          width: 20%;
        }
      }
    }
  }

  .right-arrow, .left-arrow {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 25px;
    top: 20px;
    width: 25px;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  .right-arrow {
    right: -20px;
  }

  .left-arrow {
    left: -30px;
  }

  .tr-button {
    padding: 0.4rem 0.6rem;
    margin-top: 2.5rem;
  }
  .tr-approve-button, .tr-reject-button {
    @extend .tr-button;
    @extend .small-button;
    font-size: 75%;
  }
  .tr-approve-button {
    @extend .secondary-button;
  }
  .tr-reject-button {
    @extend .primary-button;
  }
}
