job-report-item {
  position: relative;
  min-height: 70px;

  .report-single-view & {
    width: 100%;
    > div {
      display: inline-table;
      margin: 1rem auto 0 auto;
    }
  }

  .report-content {
    cursor: pointer;
    line-height: 1rem;
    > div {
      margin-left: 3.7rem;
      span {
        display: table;
        width: auto;
      }
      + p {
        margin-top: 1.0rem;
      }
    }

    .title {
      display: block;
      font-size: 1.1rem;
      line-height: 1.2rem;
      font-weight: bold;
      color: $mast_colour_grey_dark;
    }

    .date {
      display: block;
      font-size: 0.8rem;
      color: $mast_colour_grey_dark;
    }

    .label {
      padding: 0.2rem 0.2rem;

      &.approved {
        background-color: $mast_colour_green;
      }

      &.rejected {
        background-color: $mast_colour_grey_dark;
      }

      &.pending {
        background-color: $mast_colour_blue_mid;
      }
    }

    .status {
      margin: 0;
      span {
        font-size: 0.9rem;
        background-color: $mast_colour_green;
        padding: 0 0.3rem;
        color: $mast_colour_pure_white;
      }
    }

    svg {
      height: 72px;
      left: -10px;
      position: absolute;
      top: -12px;
      width: 72px;
    }

    p, p a  {
      margin-left: 0.2rem;
      font-size: 80%;
    }
  }

  .report-technical-review {
    > div {
      margin-left: 4.6rem;
    }
    svg {
      height: 96px;
      width: 96px;
    }
    span.label {
      margin: 0.2rem 0;
    }
    span.report-user {
      font-weight: bold;
      font-size: 0.8rem;
    }
  }

  .rejection-comment {
    font-size: 0.9rem;
    line-height: 1rem;
    margin-top: 0.5rem;
  }
}
