.job-codicil-list {

  .header {
    margin-top: 2.5rem;
    // margin-bottom: 1rem;

    button {
      margin-right: 0;
    }

    h2 {
      color: $mast_colour_blue_mid !important;
    }
  }

  .section-header {
    margin-top: 1.5rem;

    h4.dark-grey {
      text-transform: none;
    }

    h5.very-dark-grey {
      text-transform: none;
    }
  }
}
