.manage-crediting {
  h1, h2, h3 {
    color: $mast_colour_grey_dark !important;
  }
  .service-list {
    margin: 0 -3.6rem;
  }
  .codicil-row {
    margin: 0.1rem;
  }
}

.manage-crediting-footer {
  button {
    margin-bottom: 0;
  }

  .grid-block {
    .grid-content:last-child button {
      margin-right: 0;
    }
  }

  .grid-content {
    padding: 0;
  }

  .transparent-dark-button {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}
