.relationships {
  table {
    border-collapse: separate;
    border-spacing: 0 4px;
    table-layout: fixed;
    width: 100%;

    th, td {
      padding: 1rem;
    }

    colgroup col {
      &:nth-of-type(1) {
        width: 90%;
      }
      &:nth-of-type(2) {
        width: 10%;
      }
    }

    tbody {
      tr {
        background-color: white;

        &:hover {
          background-color: $mast_colour_grey_very_light;
        }
      }
    }

    svg {
      width: 30px;
      height: 30px;
      path {
        stroke: $mast_colour_blue_dark;
      }
    }
  }
}

.modal-create-relationship {
  modal-header > div,
  modal-body > div,
  modal-footer > div {
    width: 850px;
  }

  .search-form button {
    height: 3em;
  }

  .create-relationship-search-list {
    ul {
      margin-left: 0;
      li {
        list-style: none;
        margin: 3px 0px 0 3px;
        background-color: $mast_colour_blue_dark;
        position: relative;

        div {
          margin-bottom: 0.2em;

          label {
            color: $mast_colour_pure_white;
          }
        }
      }
    }
  }
}
