.report-modal {
  form, ng-form {
    text-align: center;
    input {
      color: $mast_colour_black;
    }
    [date-picker-icon] g {
      stroke: $mast_colour_white;
    }
  }
}

.view-report {
  .view-report-title {
    h2 {
      font-size: 175%;
      padding: 1.2rem 0 0 0;
      strong {
        margin: 0 0 0 1rem;
        font-size: 60%;
        color: $mast_colour_blue_very_light;
      }
    }
  }
}

.report-section {
  padding: 1rem 2rem 0;
  header {
    h2 {
      color: $mast_colour_grey_dark;
      font-weight: bold;
    }
  }
  label {
    font-size: 1.2rem;
    padding: 0 0 0.8rem 0;
    + span {
      color: $mast_colour_blue_mid;
      display: block;
      padding: 0 0 1.5rem 0;
    }
  }
  h3 {
    padding-left: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: $mast_colour_grey_dark;
  }
  .scope-of-work, .codicil-table, .scope-related-tasks {
    width: 100%;
    .scope-survey-code, .scope-survey-id, .scope-survey-percentage,
      .scope-related-task-id {
      width: 15%;
    }
    .scope-task-survey-code {
      width: 20%;
    }
    .scope-survey-title, .scope-survey-description {
      width: 70%;
    }
    .scope-task-survey-description {
      width: 65%;
    }
    .survey-table-title, .scope-related-title {
      padding-top: 0.5rem;
      span {
        text-decoration: underline;
      }
    }
    .scope-survey-narrative {
      padding: 0 0 0.5rem 0;
    }
    .scope-survey-narrative-report {
      background-color: $mast_colour_pure_white;
      &::after {
        content: '';
        display: block;
        height: 0.75rem;
        background-color: $mast_colour_white;
      }
    }
    .scope-related-title {
      font-style: italic;
    }
    thead td {
      padding-bottom: 1.5rem;
      span {
        @include border(1px, solid, $mast_colour_grey_mid, bottom);
      }
    }
    td {
      padding-bottom: 1rem;
    }
    td:first-child {
      padding-left: 1rem;
    }
  }
  .tasks-credited {
    margin-top: 1rem;
    td:not(:last-child) {
      padding-right: 1rem;
    }
  }
  .codicil-table {
    .codicil-id {
      width: 15%;
    }
    .codicil-description {
      width: 60%;
      .codicil-asset-note-table & {
        width: 80%;
      }
    }
    .codicil-description-long {
      width: 70%;
    }
    .codicil-action-taken {
      width: 15%;
      .codicil-asset-note-table & {
        width: 10%;
      }
    }
    .codicil-due-date {
      width: 10%;
    }
  }
}

.report-space {
  height: 10rem;
}
