.service-summary {
  align-items: center;

  .title {
    padding-top: 1rem;
  }

  &.antifudge {
    margin-left: 0;
    margin-right: 0;
  }

  .assigned-date,
  .range-dates,
  .crediting-status {
    margin-bottom: 0.5rem;
  }

  .special-survey-cycle {
    margin-top: 0.5rem;
  }

  .overdue {
    color: $warning-color;
    white-space: nowrap;

    i {
      vertical-align: sub;
    }
  }

  .chevron svg {
    width: 30px;
    height: 30px;
    margin-top: 0.8em;
  }
}
