.service-banner {
  padding-top: 1rem;
  font-size: 0.9rem;

  .title {
    .name {
      @extend strong;
    }
  }

  .controls {
    @extend .text-right;
    button {
      @extend .transparent-dark-button;
    }
  }

  .status {
    @extend .light-blue;
  }

  .summary {
    @extend .white;
    > .grid-block {
      @extend .small-4, .vertical;
      > .grid-block {
        @extend .horizontal;
        > .grid-content {
          padding-bottom: .5rem;

          &:first-of-type {
            @extend .small-4;
          }
          &:last-of-type {
            @extend strong, .small-8;
          }
        }
      }
    }
  }

  .service-name, .scheduling-regime, .statuses {
    font-weight: bold;
  }
}
