#modal-edit-harmonisation-date .harmonisation-date-picker-icon {
  svg {
    width: 30px;
    height: 30px;
    margin-top: 0.8em;
  }
}

#modal-remove-services li {
  list-style-type: none;
}

.service-schedule {
  .product,.service-type {
    margin-bottom: 1rem;

    .product-header,.service-type-header {
      background-color: $mast_colour_pure_white;
    }

    .product-header {
      .header-name > strong {
        @extend .dark-blue;
        margin: 0;
        padding-left: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .controls {
        padding-right: 0.4rem;
      }

      .control {
        padding: 0.4rem 0.2rem;
      }

      button {
        margin: 0;
        padding: 0.8rem 1.2rem;
      }

      .primary-button {
        margin-right: 1.8rem;
      }
    }

    .service-type-header {
      .header-name > span {
        padding: 0.8rem 1rem;
        display: inline-block;
      }
    }

    .service {
      margin-top: 2px;
      padding: 0.5rem 0;
      font-size: 0.9rem;
      background-color: $mast_colour_pure_white;

      .list-checkbox {
        margin-left: 1rem;
      }
    }
  }

  &.list-harmonisation-rule-set {
    label {
      display: inline;
      cursor: default;
    }

    i[class^="svg-icon"]::before {
      display: inline-block;
      position: relative;
      top: 4px;
      cursor: pointer;
    }
  }

  &.list-context-controls {
    margin-top: 2rem;

    .antifudge {
      margin-left: 0;
      margin-right: 0;
    }

    .control-tab {
      margin: 0 1rem 0 0;
      user-select: none;
      -webkit-user-select: none;
    }

    .view-by {
      padding: 0;
    }

    label {
      display: inline;
    }

    select {
      display: inline-block;
      width: auto;
      margin: 0;
    }
  }

  &.list-editing-controls {
    margin-top: 2rem;
    margin-bottom: 1rem;

    .service-selectors {
      margin-top: 0.6rem;
    }

    button {
      margin: 0;
    }

    .delete-service {
      svg {
        width: 30px;
        height: 30px;
        margin-top: 0.4rem;
      }
    }

    .add-product {
      i {
        padding-right: 1rem;
      }
    }
  }

  &.add-product {
    .banner {
      @extend .background-shipyard;
    }

    .flag-controls {
      margin-top: 1rem;
      padding: 0 1rem;
    }

    form, ng-form {
      .product {
        background-color: $mast_colour_pure_white;
        margin-bottom: 2px;
        padding: 1rem 1rem;

        .product-name {
          position: relative;
        }

        select {
          margin: 0;
        }

        .checkbox-dir ~ label {
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &.add-service {
    .banner {
      @extend .background-shipyard;
      h2 {
        padding-top: 1.1rem;
      }
    }

    .tabs {
      width: 100%;
      .tab-item {
        font-size: 125%;
        background-color: $mast_colour_grey_mid;
        width: 50%;
        color: $mast_colour_grey_light;
        padding: 0 1.5rem;
        opacity: 0.3;
        &.is-active {
          background-color: $mast_colour_grey_very_light;
          color: $mast_colour_black;
          opacity: 1;
        }
      }
    }

    .select-services {
      margin: 1rem;

      .service {
        margin-top: 2px;
        padding: 1rem 0;
        background-color: $mast_colour_pure_white;

        .radio {
          label {
            padding-top: 0;
          }
          margin: 0;
        }

        label {
          padding-top: 1rem;
          font-size: 1rem;

          .code {
            width: 70px;
            text-align: left;
            display: inline-block;
          }
        }
      }
    }
  }

  &.edit-service {
    .assigned-date-picker-icon,
    .due-date-picker-icon,
    .lower-range-date-picker-icon,
    .upper-range-date-picker-icon,
    .date-on-completion-date-picker-icon {
      display: inline-block;
      vertical-align: bottom;

      svg {
        width: 30px;
        height: 30px;
        margin-top: 0.8em;
      }
    }

    form, ng-form {
      padding-top: 1rem;
    }
  }

  &.view-service {
    .content-body {
      padding-top: 1.5rem;

      .header {
        h3 {
          margin-right: 0.5rem;
        }

        &.grid-block {
          align-items: baseline;
        }
      }
    }

    .task-summary {
      background-color: $mast_colour_pure_white;
      padding: 1rem;
      margin-top: 0.3rem;

      .dates {
        align-items: center;
      }
    }
  }

  .specify-service-details {
    form, ng-form {
      background-color: $mast_colour_pure_white;
      margin: 1rem 1rem 0 1rem;
    }
  }
}
