.state-load-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .inner {
    display: flex;
    text-align: center;
    align-self: center;
    padding: -25px 25px;
    border-radius: 50%;
  }
}

