.tasks {
  margin-top: 2rem;
  table {
    border-collapse: separate;
    border-spacing: 0 4px;
    table-layout: fixed;
    width: 100%;
    margin-top:2rem;

    th, td {
      padding: 1rem;
    }

    th:first-child {
      padding-left: 0;
    }

    thead {
      color: $mast_colour_blue_mid;

      th {
        font-weight: normal;
        text-align: left;
      }
    }

    tbody tr {
      background-color: white;

      &.selected {
        background-color: $mast_colour_blue_light;
      }

      td{
        @include truncate(50%);
        color: $mast_colour_grey_dark;
        padding: 1rem;

        a {
          font-weight: bold;
        }
      }
    }

    tbody tr:hover {
      background-color: $mast_colour_grey_very_light;
    }

    tbody input {
      margin: 0;
    }
  }
}
