.template-search {
  overflow: hidden;
  .pad-2-left {
    padding-left: 0;
    input[type="text"] {
      max-width: 40rem;
    }
  };
  .grid-block {
    input[type="text"] {
      max-width: 40rem;
    }
    ul {
      border-color: $mast_colour_pure_white;
    }
    ul:focus {
      background-color: $mast_colour_pure_white;
    }
    ul > li > label {
      color: $mast_colour_pure_white;
      border-color: $mast_colour_pure_white;
    }
    ul > li > input:checked {
      color: $mast_colour_blue_dark;
      background-color: $mast_colour_pure_white;
    }
  }
}
