table.template-search {
  background-color: $mast_colour_blue_dark;
  border-collapse: collapse;
  th {
    padding: 1rem 0;
    font-size: 0.9rem;
    font-weight: normal;
    font-family:  "OpenSans-Regular", sans-serif;
    text-align: center;
  }
  th.description {
    width: 45%;
  }
  th.name {
    width: 25%;
    padding-left: 0.5rem;
  }
  th.status {
    width: 13%;
  }
  th.assets {
    width: 9%;
  }
  tr.template-search-row {
    td.selected, &.selected td {
      background-color: lighten($mast_colour_blue_very_dark, 3%);
    }
    td {
      padding: 0.5rem 0;
      background-color: $mast_colour_blue_very_dark;
      vertical-align: top;
      p.description {
        padding-right: 2rem;
        white-space: normal;
        font-size: 0.7rem;
      }
      span {
        font-size: 0.8rem;
      }
      &.name {
        padding-top: 0;
        vertical-align: top;
        label[disabled]:before {
          opacity: 0;
        }
        label.white {
          white-space: normal;
          line-height: 1rem;
          text-align: left;
          font-size: 0.73rem;
        }
      }
    }
  }
}
