.light-blue {
  color: $mast_colour_blue_light;
}

.blue {
  color: $mast_colour_blue_mid;
}

.dark-blue {
  color: $mast_colour_blue_dark;
}

.very-dark-blue {
  color: $mast_colour_blue_very_dark;
}

.grey {
  color: $mast_colour_grey_mid;
}

.dark-grey {
  color: $mast_colour_grey_dark;
}

.very-dark-grey {
  color: $mast_colour_grey_very_dark;
}

.white {
  color: $mast_colour_white;
}

.bright-red {
  color: $mast_colour_red_bright;
}

.bold {
  font-weight: bold;
}

label[for^="attribute-"] {
  font-size: 1rem;
}
