<ul class="f-dropdown autocomplete" data-ng-show="vm.opened">
  <li data-ng-repeat="item in vm.data.list"
    data-ng-click="vm.select(item)"
    data-ng-class="{active: item === vm.data.selected}">
    <div>
      <a data-bind-html-unsafe="item.name | typeaheadHighlight:vm.data.value"></a>
    </div>
  </li>
  <li data-ng-if="!vm.data.list.length">
    <a>No matches found</a>
  </li>
</ul>
