<div class="grid-block vertical">
  <div class="grid-block">
    <div class="grid-content small-3">
      <button
      data-ng-click="vm.filterOpen = !vm.filterOpen"
      class="transparent-button">
      Search/Filter Jobs
      </button>
    </div>
    <div class="grid-content small-2 small-offset-7">
      <button
        data-ng-disabled="vm.isAssetDecommissioned()"
        class="primary-button">
        <span data-ui-sref="asset.jobs.add">Add new job</span>
      </button>
    </div>
  </div>
  <div
    data-ng-show="vm.filterOpen"
    class="small-9 grid-content">
  </div>
  <div
    data-ng-show="vm.filterOpen"
    class="small-12 grid-block row">
    <div class="small-10 small-offset-1 columns">
      <job-search
      data-ng-model="vm.jobFilter"
      data-ng-change="vm.updateList(vm.jobFilter)"
      id="job-search-filter-container"></job-search>
    </div>
  </div>
  <section class="asset-job-list">
    <h3 class="dark-blue">Jobs</h3>
    <div data-ng-if="!vm.otherJobs.length">
      <div data-ng-if="vm.filterActive">
        <strong>No jobs found for your search criteria</strong>
        <p>Please search again</p>
      </div>
      <div data-ng-if="!vm.filterActive">
        <p>There are currently no jobs for this asset.</p>
      </div>
    </div>
    <div
      pagination data-pageable="vm.otherJobs"
      data-type="'jobs'">
      <div
        data-ng-repeat="currentJob in vm.otherJobs"
        data-job-summary
        data-job="currentJob"
        class="grid-block job-summary"/>
      </div>
    </section>
  </div>
