<asset-model-hierarchy-build class="small-12"
    data-asset-model="vm.assetModel"
    data-selected-item="vm.selectedItem"
    data-asset="vm.asset">
</asset-model-hierarchy-build>

<div
  data-sticky-footer
  id="asset-model-build-mode-footer">
  <div class="grid-block">
    <div class="grid-content small-3 medium-4 large-5">
      <breadcrumbs
        data-pre-amble="Add to:"
        data-read-only="true"
        data-selected-item="vm.selectedItem"></breadcrumbs>
    </div>
    <div class="grid-content small-9 medium-8 large-7 text-right">
      <button
        data-ng-click="vm.copy(vm.selectedItem)"
        class="primary-button"
        id="asset-model-copy-from-asset-model">
        Copy from asset model
      </button>
      <button
        data-ng-disabled="!vm.selectedItem"
        data-ng-click="vm.add(vm.selectedItem)"
        class="primary-button"
        id="asset-model-add-from-reference-data">
        Add from reference data
      </button>
      <button
        data-ng-click="vm.exit()"
        class="secondary-button"
        id="asset-model-finish">
        Finish
      </button>
    </div>
  </div>
</div>
