<small-modal
  class="white text-center"
  id="save-confirmation-dialog"
  title="'Save Confirmation'">
  <modal-body>
    <h3>Saving asset model '<span data-ng-bind="vm.assetName"></span>'...</h3>

    <spinner data-theme="dark"></spinner>

  </modal-body>
</small-modal>
