/*
Usage examples:
<div class="alert warning">
  Something went wrong
</div>
<div class="alert info">
  What lovely weather
</div>
<div class="alert success">
  Your thing was updated
</div>
*/

.alert {
  display: block;
  padding: 0.7rem;
  transition: opacity 300ms ease-out;
  border: 1px solid $mast-colour_grey_light;
  color: $mast_colour_white;
  &.warning {
    background-color: $warning-color;
  }
  &.info {
    background-color: $info-color;
  }
  &.success {
    background-color: $success-color;
  }
  &.padded {
    padding: 1rem;
    margin: 1rem 0rem;
  }
}
