/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .animate class
*/

.animate {
  will-change: transform;
}

.animate.ng-leave {
  animation: moveOut .5s;
}

.animate.ng-enter {
  animation: moveIn .5s;
}

.animate.ng-enter.loading {
  animation: none;
}

@keyframes moveOut {
  100% {
    transform:scale3d(0,0,0);
  }
  0% {
    transform:scale(1,1,1);
  }
}

@keyframes moveInC {
  0% {
    background: $mast_colour_blue_very_light;
  }
  100% {
    background: inherit;
  }
}

@keyframes moveIn {
  0% {
    transform:scale3d(0,0,0);
  }
  100% {
    transform:scale(1,1,1);
  }
}

@keyframes moveUp {
  0% {
    transform:translate3d(0,100%,0);
  }
  100% {
    transform:translate3d(0,0,0);
  }
}

@keyframes moveDw {
  100% {
    transform:translate3d(0,0,0);
  }
  0% {
    transform:translate3d(0,-100%,0);
  }
}

.animate.ng-move {
  transform:translate3d(0,-50%,0);
  visibility: visible !important;
  animation: moveUp .3s;
  + * {
    visibility: visible !important;
    transform:translate3d(0,0,0);
    animation: moveDw .3s;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
  0% {
    opacity: .5;
  }
}

@keyframes fadeOut {
  100% {
    opacity: .5;
  }
  0% {
    opacity: 1;
  }
}

.fade {
  will-change: opacity;
}

.fade.ng-leave {
  animation: fadeOut .5s;
}

.fade.ng-enter {
  animation: fadeIn .5s;
}
