.background {
  background: transparent;
  background-repeat: repeat;
  background-size: 100%;
}

.background-sea {
  @extend .background;
  background-image: url('../images/waves.jpg');
}

.background-shipyard {
  @extend .background;
  background-image: url('../images/shipyard.jpg');
}

.background-inspection {
  @extend .background;
  background-image: url('../images/inspection.jpg');
}

.background-light-blue {
  background: $mast_colour_blue_light;
}

.background-light-grey {
  background: $mast_colour_grey_light;
}

.background-pure-white {
  background: $mast_colour_pure_white;
}

.background-very-light-grey {
  background: $mast_colour_grey_very_light;
}
