body {
  background-color: $mast_colour_white;
}

/*
 * Keep these classes simple as building blocks for other classes
 */
.text-center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.allow-print {
    // height: auto !important;
    // TODO: To who's handling printing:
    // I am disabling this class. There's got to be a better way of
    // setting this value only when you're generating the PDF and not always
    // Print still works, albeith with smaller borders   @vik
}

// Revisit this; currently only applies to the search filter;
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

// Spinners; for alternate colours
.sk-double-bounce.blue {
  .sk-child {
    background-color: $mast_colour_blue_mid;
  }
}
.sk-double-bounce.red {
  .sk-child {
    background-color: $mast_colour_red_bright;
  }
}
.sk-double-bounce.grey {
  .sk-child {
    background-color: $mast_colour_grey_dark;
  }
}

.info-text {
  padding: 0.8rem;
}

.actionable {
  cursor: pointer;
}

.fixed-on-top {
  position: fixed;
  z-index: 120; // needs to be higher that the asset card panels
}

.tooltip {
  position: absolute;
  display: none;
  padding: 1rem;
  z-index: 1000;
  background: $mast_colour_pure_white;
  background-clip: padding-box;
  box-shadow: 2px 2px 4px $mast_colour_grey_dark;
  border: 1px solid $mast_colour_grey_light;
  border-radius: 10px;
}

.arrowed-base { // just for the arrowed classes below
  @include border(0.4rem, solid, $mast_colour_pure_white);
  @extend .pos-abs;
  content: '';
  display: block;
  width: 0;
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
}
.arrowed-bottom {
  &:after {
    @extend .arrowed-base;
    bottom: -0.4rem;
  }
}
// tries to put the arrow in the middle at top
//  override positioning in more local css as required
.arrowed-top {
  &:before {
    @extend .arrowed-base;
    top: -0.4rem;
    right: calc(50% - 0.3rem);
  }
}

a.disabled, a[disabled] {
  pointer-events: none;
}

.full-width {
  width: 100%;
}


.grid-block, .grid-content {
  overflow: visible;
}

div[disabled] {
  > * {
    pointer-events: none;
    opacity: 0.7;
  }
}

.loading {
  opacity: .5;
}

.item-loading .sk-double-bounce {
  width: 35px;
  height: 35px;
  margin-top: 6px;
  left: 50%;
  position: absolute;
  z-index: 5;
}

.preload {
  position: relative;
  min-height: 40px;
  &:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    z-index: 125;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
  }
}

.date {
  color: $mast_colour_grey_mid;
}
