/*
 * buttons.scss - place all button related sass/css here
 */

button[disabled] {
  @extend .disabled
}

.basic-button {
  @extend .button; //foundation
  @extend .pos-rel;
  color: $mast_colour_white;
  font-size: 0.9rem;
  padding: 0.8rem 1.8rem;
  transition: all 0.3s ease 0s;
  &:hover {
    color: $mast_colour_white;
  }
  &:focus, &:hover {
    outline: none;
  }
}

.small-button {
  @extend .basic-button;
  padding: 0.8rem 0.5rem;
}

.full-button {
  width: 100%;
}

/*
 * For icon buttons create like this:
 *    <a class="icon-button"><img /><span></span></a>
 * or <a class="icon-button"><span></span><img /></a>
 */
.icon-button {
  @extend .small-button;
  span {
    display: inline-block;
    padding: 0.35rem 0.5rem;
    vertical-align: middle;

    &.tick {
      padding: 0;
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
  &.transparent-dark-button svg {
    stroke: $mast_colour_pure_white;
  }

  &.white-button svg {
    stroke: $mast_colour_blue_dark;
  }
}

.card-icon-button {
  @extend .icon-button;
  padding: 0.45rem 0.5rem;
}

.icon-button-vertical {
  @extend .small-button;
  img {
    clear: both;
  }
}

.close-icon-button {
  @extend .icon-button;
  span {
    padding: 0 0.5rem;
  }
}

/*
 * Square buttons;
 * These are buttons that (generally) hold just an icon. To use them with the
 * icon do so like this, extending existing button classes. So for example with
 * the primary button, add 'square-button' on the end to make it a square:
 *
 * <a class="primary-button square-button"><img /></a>
 *
 * Any <span> will not be displayed, in case you make a mistake and include it.
 */
.square-button {
  @extend .small-button;
  padding: 0.6rem 0.4rem 0.6rem 0.6rem;
  span {
    display: none;
  }
}

/*
 * Corner buttons;
 * Some buttons have their corners cut off like the cards, the class you need
 * to use is 'corner-button', but since this is rather complex it is held in
 * the mixins area; this is how to use it (where size=small,medium,large):
 *
 * <div class="corner-button-{size}">
 *  <div class="corner corner-right"></div>
 *  Text goes here
 * </div>
 */
.corner-button-small {
  @include corner-button(2.5rem, 0.5rem)
}
.corner-button-medium {
  @include corner-button(4rem, 0.8rem);
}
.corner-button-large {
  @include corner-button(6rem, 1rem);
}

/*
 * Rich Corner Button;
*/
.rich-corner-button {
  @include rich-corner-button(3.5rem, 2rem, $mast_colour_white);
  //@include bgcolours($mast_colour_grey_very_light);
}

/*
 * DAR buttons;
 *
 * Daily Attendance Report button, with paperclip/stack of papers and number,
 * use like so, passing in the size small/medium/large;
 *
 * <div class="dar-button-${size}">
 *   <div class="dar-br"></div>
 *   <div class="dar-r"></div>
 *   <div class="dar-tr"></div>
 *     <span>123</span>
 *   </div>
 * </div>
 */
.dar-button-small {
  @include dar-button(small);
}
.dar-button-medium {
  @include dar-button(medium);
}
.dar-button-large {
  @include dar-button(large);
}

.primary-button, .secondary-button, .grey-button, .light-grey-button, .transparent-light-button, .transparent-dark-button, .white-button, .icon-button {
  @extend .basic-button;
}

/*
 * Arrowed buttons;
 * Some buttons have arrows along their bottom edge to indicate a section is
 * selected;
 *   add the class 'arrowed' to the <a></a> to add this arrow
 *
 * Have added some arrowed classes to base.scss
 */
.arrowed {
  // todo either alter this to use arrowed in base.scss, or if feeling brave,
  //    change use of this to those in base.scss across the application
  &:after {
    @include border(1px, solid, $mast_colour_white);
    border-top: none;
    border-left: none;
    @extend .pos-abs;
    content: '';
    bottom: -0.4rem;
    left: calc(50% - 0.3rem);
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
  }
}

.primary-button.arrowed {
  &:after {
    border-color: $mast_colour_orange;
    background-color: $mast_colour_orange;
  }
  &:hover:after {
    border-color: $mast_colour_red_dull;
    background-color: $mast_colour_red_dull;
  }
}
.secondary-button.arrowed {
  &:after {
    border-color: $mast_colour_blue_mid;
    background-color: $mast_colour_blue_mid;
  }
  &:hover:after {
    border-color: $mast_colour_blue_dark;
    background-color: $mast_colour_blue_dark;
  }
}
.light-grey-button.arrowed {
  &:after {
    border-color: $mast_colour_grey_light;
    background-color: $mast_colour_grey_light;
  }
  &:hover:after {
    border-color: $mast_colour_grey_mid;
    background-color: $mast_colour_grey_mid;
  }
}
.grey-button.arrowed {
  &:after {
    border-color: $mast_colour_grey_dark;
    background-color: $mast_colour_grey_dark;
  }
  &:hover:after {
    border-color: $mast_colour_grey_very_dark;
    background-color: $mast_colour_grey_very_dark;
  }
}
.white-button.arrowed {
  &:after {
    background-color: $mast_colour_pure_white;
    border-color: $mast_colour_grey_light;
  }
  &:hover:after {
    background-color: $mast_colour_grey_very_light;
    border-color: $mast_colour_grey_light;
  }
}

.primary-button {
  @include bgcolours($mast_colour_red_dull, $mast_colour_orange);
  @include arrow($mast_colour_red_dull);
}

.secondary-button {
  @include bgcolours($mast_colour_blue_dark, $mast_colour_blue_mid);
  @include arrow($mast_colour_blue_dark);
}

.secondary-button.active {
  @include border(1px, solid, $mast_colour_white);
  @include bgcolours($mast_colour_blue_dark, $mast_colour_blue_very_dark);
}

.light-grey-button {
  @include bgcolours($mast_colour_grey_mid, $mast_colour_grey_light);
  @include arrow($mast_colour_grey_mid);
}

.grey-button {
  @include bgcolours($mast_colour_grey_very_dark, $mast_colour_grey_dark);
  @include arrow($mast_colour_grey_very_dark);
}

.transparent-light-button {
  @include border(1px, solid, $mast_colour_grey_mid);
  @include bgcolours($mast_colour_grey_very_light);
  color: $mast_colour_blue_dark;
  &:focus, &:hover, &:active {
    color: $mast_colour_blue_very_dark;
  }
}

.transparent-dark-button {
  white-space: nowrap;
  @include border(1px, solid, $mast_colour_white);
  @include bgcolours($mast_colour_blue_dark);
}

.transparent-button {
  @extend .transparent-light-button;
  &:focus{
    background-color: $mast_colour_grey_light;
  }
}

.transparent-button-white {
  @extend .transparent-dark-button;
  @include bgcolours($mast_colour_white);
  // This is specifically for the search filter; NB _not_ &:active
  &.active {
    @include bgcolours($mast_colour_white, $mast_colour_white);
  }
}

.white-button {
  // @extend the transparent light button for color/hover only;
  @extend .transparent-light-button;
  @include border(1px, solid, $mast_colour_grey_very_light);
  @include bgcolours($mast_colour_grey_very_light, $mast_colour_pure_white);
  @include arrow($mast_colour_grey_very_light);
}

.white-button-grey-border {
  @extend .white-button;
  @include border(1px, solid, $mast_colour_grey_light);
}

/* for use with the back-button directive */
.back-button {
  cursor: pointer;

  span {
    margin: 5px 0;
    display: inline-block;
    line-height: 0;
  }

  svg {
    height: 70px;
    width: 70px;
    polygon, path {
      stroke: $mast_colour_white;
    }
  }
}

/*
 * Circular button: to use:
 *   <div class="circle-button">
 *    <span>NuM</span>
 *   </div>
 */
.circle-button {
  @include border(2px, solid, $mast_colour_blue_dark);
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  -moz-border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  text-align: center;
  span {
    color: $mast_colour_blue_dark;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding-top: 0.65rem;
    display: inline-block;
    margin: auto;
  }

  &.percentage {
    float: left;

    &::after {
      content: '';
    }
    span {
      @extend .percentage;
      font-size: 1rem;
    }

    & + div {
      float: left;
      margin-top: 1rem;
      margin-left: 0.5rem;
      span {
        color: $mast_colour_blue_dark;
        font-weight: 700;
      }
    }
  }
}

.circle-label {
  float: left;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.asset-model-search-button, .asset-model-search-button:hover {
  @include border( 1px, solid, $mast_colour_red_dull);
  background-color: $mast_colour_red_dull;
}

// Arrow button with 'open' text
.open-arrow-button {
  .wrapper {
    min-height: 2rem;
    position: relative;
    display: inline-block;
    transition: all .3s ease 0s;

    .text {
      margin: -0.4rem auto auto;
      font-size: 0.8rem;
      line-height: 0.8rem;
      position: absolute;
      top: 50%;
      left: 0;
      opacity: 0;
    }
  }

  &:hover {
    .wrapper {
      padding-left: 40px;

      .text {
        opacity: 1;
      }
    }
  }
}
