
//  Debugger styles
.debug-btn {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  opacity: .5;
  z-index: 5;
  &:hover {
    opacity: 1;
  }
}

modal-body {
  .debug-btn {
    display: none;
  }
  .debug-example {
    background: #fff;
    border-top:1px solid #999;
    padding-top: 1em;
    color: #000;
    * {
      position: relative;
    }
  }
}

pre.debug,
debug {
  white-space: pre-wrap;
  display: block;
  background: #fff;
  color: #000;
  text-align: left;
  font-size: 11px;
  font-family: "Lucida Console", Monaco, monospace;
  overflow-x: auto;
  padding: .3rem;
  line-height: 1.3rem;
  &:before {
    content: "Debug: " attr(ng-bind) attr(data-ng-bind);
    display: block;
    margin: -0.3rem;
    margin-bottom: 0;
    padding: .1rem;
    background: #ccc;
  }
}
