/*
 * MAST_Dropdowns;
 *
 *   Refers to select dropdown boxes; two main options available;
 *   - standard <select> will be a select with a light background, grey border
 *   - dark <select class="dark"> will be dark blue with a white border
 *
 * NB: Both select dropdowns have white background options (unalterable because
 *     of limitations of standard html5)
 */

select {
  color: $mast_colour_blue_dark;
  min-height: 3rem;
  line-height: 2rem;
  padding: 0.4rem 2rem 0.4rem 0.5rem;
  background: url(../images/arrow-blue-down.png) no-repeat calc(100% - 0.5rem) $mast_colour_white;
  &.dark {
    color: $mast_colour_white;
    @include border(1px, solid, $mast_colour_white);
  }
  &.left {
    direction: rtl;
  }
  &.right {
    direction: ltr;
  }
  &:hover, &:active {
    @extend .actionable;
    > option {
      background-color: $mast_colour_white;
    }
  }
  &:focus {
    background: url(../images/arrow-blue-up.png) no-repeat calc(100% - 0.5rem) $mast_colour_grey_light;
  }

  option {
    &:not(:active) {
      color: $mast_colour_grey_very_dark;
    }
  }
}

/*
 * Specifically for the dropdown components - styled to be the same as the
 * guide;
 *  - select dropdown
 */
.wrap-dd-select {
  @extend .pos-rel;
  @include border(1px, solid, $mast_colour_grey_mid);
  width: 24rem;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  line-height: 1.8rem;
  min-height: 3.8rem;
  background: url(../images/arrow-blue-down.png) no-repeat calc(100% - 0.5rem) $mast_colour_white;
  @extend .actionable;
  outline: none;
  color: $mast_colour_blue_dark;
  &.disabled, [disabled] {
    background-color: $mast_colour_grey_very_light;
    color: $mast_colour_grey_mid;
  }
  .active & {
    background: url(../images/arrow-blue-up.png) no-repeat calc(100% - 0.5rem) $mast_colour_grey_very_light;
  }
  .dropdown {
    margin-left: 0;
    &.left {
      direction: ltr;
      left: 0;
    }
    &.right {
      direction: rtl;
      right: 0;
    }
    width: 100%;
    @include pos-abs(100%, 0);
    @include border(1px, solid, $mast_colour_grey_mid);
    border-top-color: $mast_colour_grey_light;
    z-index: 100;
    background-color: $mast_colour_pure_white;
    list-style: none;
    visibility: hidden;
    max-height: 300px;
    overflow-y: auto; /*Provide an auto overflow to display scroll*/
    li {
      &:hover {
        background-color: $mast_colour_grey_very_light;
      }
      a {
        @include border(1px, solid, $mast_colour_grey_light, bottom);
        line-height: 1.8rem;
        display: block;
        padding: 1rem;
        color: $mast_colour_grey_dark;
        &:hover {
          color: $mast_colour_blue_dark;
        }
        &:last-of-type & {
          border: none;
        }
      }
    }
  }
}

[dropdown-select] {
  width: auto;
  display: inline-block;
  &.active .dropdown {
    visibility: visible;
  }
}
