/*
 * Please put form styling here;
 *   input, textarea, labels, radio, checkboxes, legends, fieldsets etc;
 */

form {
  fieldset {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    legend {
      padding: 0.2rem 0.5rem;
      margin: 0 0 0.5rem 0;
      background-color: $mast_colour_white;
      border-radius: 5px;
      @include border(1px, solid, $mast_colour_grey_light);
    }
  }

  .form-control {
    padding: 0 1rem;
  }

  .form-control-left, .form-control-right {
    width: 49%;
  }

  .form-control-right {
    float: right;
  }

  .form-control-clear {
    clear: both;
  }

  textarea {
    resize:vertical;
  }

  label {
    width: auto;
    .white {
      color: $mast_colour_pure_white;
    }
    .grey {
      color: $mast_colour_grey_very_dark;
    }
    span {
      font-size: 75%;
    }
  }

  label.left {
    text-align: left;
    float: left;
    width: 10rem;
    + input {
      width: 20rem;
    }
  }

  label + input,
  label + select,
  label + textarea,
  label + ul,
  label + div > button {
    margin-top: 0.5rem !important;
  }

  input:not([type=submit]):not([type=reset]):not([disabled]),
    textarea:not([disabled]) {
    background-color: $mast_colour_pure_white;
  }

  input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {
    @include border(1px, solid, $mast_colour_red_bright);
    // TODO get a decent image of a red warning symbol
    background-image: url('../images/red_warning.png');
    background-position: calc(100% - 1rem) 50%;
    background-repeat: no-repeat;
    // Number needs a little more space because of the arrows;
    &[type="number"] {
      &.ng-invalid-number, &.ng-invalid-min, &.ng-invalid-max, &.ng-invalid-required,
        &.ng-invalid-maxlength {
        &:focus, &:active, &:hover {
          background-position: calc(100% - 2rem) 50%;
        }
        &.ng-valid-date:focus, &.ng-valid-date:active, &.ng-valid-date:hover {
          background-position: calc(100% - 4.2rem) 50%;
        }
      }
    }
  }

  input.typeahead-clearable {
    padding-right: 4.5rem !important;
  }

  .date-picker .validation-error {
    padding: 1rem;
  }

  .validation-error {
    @extend .pos-rel;
    padding: 0 0 1rem 0;
    span, li {
      color: $mast_colour_red_bright;
      font-weight: 700;
      &.light {
        color: $mast_colour_white !important;
      }
    }
  }
  ul.validation-error {
    list-style-type: none;
    margin-left: 0;
  }

  input.fifty, textarea.fifty {
    width: 32rem !important;
  }

  .item-selected {
    display: table;
    padding: 0;
    float: left;
    margin-right: 1rem;
    > * {
      padding: .75rem;
      display: table-cell;
      &:last-child {
        padding-left: 0;
      }
    }
  }
}

ng-form {
  @extend form;
}

label[class*='header'] {
  display: inline-block;
}

//
// Button-group / Segmented [ for radio button groups ]
//
.button-group.dark {
  $colour: $mast_colour_white;
  @include button-group-style(true, $colour, $colour);
  > li.radio-button-disabled {
    #{$child-selectors} {
      cursor: default;
      pointer-events: none;
      background: rgba($colour, 0.25);
    }
  }
}

.button-group.light {
  > li {
    input:checked {
      + label {
        background-color: $mast_colour_pure_white;
        color: $mast_colour_blue_very_dark;
        &:hover {
          background-color: $mast_colour_blue_mid;
        }
      }
    }
    input:not(:checked) {
      &:hover {
        + label {
          background-color: $mast_colour_blue_mid;
          color: $mast_colour_pure_white;
        }
      }
    }
  }
}


.top-header {
  padding-left: 0;
  padding-bottom: 0.5em;
}

.button-group.segmented {
  > li {
    input {
      &:checked {
        + label.chosen {
          background: rgba($mast_colour_blue_very_dark, 0.25);
          color: white;
        }
        + label.disabled {
             background: rgba($mast_colour_blue_very_dark, 0.25);
        }
        + label {
          &:before {
            content: none;
          }
        }
      }
    }
    input + label {
      min-width: 8rem;
    }
    label[disabled]
    {
      background-color: $mast_colour_grey_light;
    }
  }
}

//
// CHECKBOXES / RADIO BUTTONS
//

// for _checkboxes_ and _radio_ buttons they must be written like so:
//   <div class="checkbox">
//     <div>
//       <input type="checkbox" /> (or radio)
//       <label></label>
//     </div>
//     <div class="validation-error" role="alert">
//     </div>
//   </div>
// etc
input[type=checkbox], input[type=radio] {
  display: none;
}
.checkbox.light label, .radio.light label {
  color: $mast_colour_white;
}

.checkbox, .radio {
  padding-top: 0.5rem;
  margin: 0 0 1rem 0;
  label {
    @extend .pos-rel;
    display: inline-block;
    @extend .actionable;
    padding-left: 1.8rem;
    margin-right: 1rem;
    font-size: 1rem;

    &:before {
      @extend .pos-abs;
      z-index: 100;
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      left: 0;
      bottom: -1px;
      background-color: $mast_colour_pure_white;
      top: calc(50% - 0.75rem);
    }
  }
  &.light label {
    color: $mast_colour_white;
  }
  // If you want horizontal checkboxes and/or radio buttons simple use the
  // construction as above but add the class 'horizontal' to the checkbox div;
  &.horizontal div {
    display: inline-block;
    float: left;
    + div { float: none; }
  }
  div {
    margin: 0 0 0.8rem 0;
    padding: 0.4rem 0 0.6rem 0;
    label:before {
      @include border(1px, solid, $mast_colour_grey_mid);
    }
    // Disabled checkboxes/radio buttons will be greyed out;
    [disabled] ~ label:before {
      background-color: $mast_colour_grey_light;
    }
  }
}
.checkbox {
  label {
    padding-left: 3rem;
    &:before {
      width: 2.5rem;
      height: 2.5rem;
      bottom: -0.7rem;
    }
  }
  div {
    margin: 0 0 1.2rem 0;
    padding: 0.6rem 0.8rem 0.8rem 0;
  }
}
.checkbox:not(.horizontal) div + div {
  margin-top: 1rem;
}
.radio div label:before {
  border-radius: 0.8rem;
}
input[type=checkbox]:checked + label:before {
  @extend .text-center;
  @include border(1px, solid, $mast_colour_blue_mid);
  content: "\2713";
  background-color: $mast_colour_blue_mid;
  font-size: 2.0rem;
  padding: 0.6rem 0 0 0.5rem;
  color: $mast_colour_white;
  bottom: -0.7rem;
  line-height: 1.3rem;
}
input[type=radio]:checked + label:before {
  @extend .text-center;
  content: "\2022";
  color: $mast_colour_blue_mid;
  font-size: 3.7rem;
  line-height: 1.3rem;
}

//
// New checkboxes, from directive; .checkbox-container will become .checkbox
//   <div class="checkbox-container">
//     <label for="checkbox-name">Label Before: Truth or Lies</label>
//     <checkbox
//       ng-model="vm.checkboxModel"
//       name="checkbox-name"
//       id="checkbox-name"
//       ng-true-value="truth"
//       ng-false-value="lies"
//       large></checkbox>
//   </div>
//
// Size can be 'default', 'large', or 'largest'
//
.checkbox-container:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.checkbox-container {
  display: table;
  line-height: 1;
}
.checkbox-dir {
  @extend .pos-rel;
  width: 2.5rem;
  height: 2.5rem;
  max-height: 2.5rem;
  border: 0;
  margin: 0.3rem 0;
  &:hover {
    @extend .actionable;
  }
  span {
    @include pos-abs(calc(50% - 1.25rem), 0);
    width: 2.5rem;
    height: 2.5rem;
    background-color: $mast_colour_pure_white;
    @include border(1px, solid, $mast_colour_grey_mid);
    color: $mast_colour_pure_white;
    font-size: 2.2rem;
    padding: 0.1rem 0 0 0;
  }
  &.checked {
    span {
      background-color: $mast_colour_blue_mid;
      border: none;
    }
    span:before {
      content: "\2713";
      padding: 0 0 0 0.2rem;
    }
  }
  &:focus, &:active {
    outline: none;
  }

  &[disabled] span {
    background-color: $mast_colour_grey_light !important;
  }
}
label, .checkbox-dir {
  vertical-align: middle;
  display: table-cell;
}
label {
  padding: 0 0.5rem 0 0;
  text-align: right;
  &:hover {
    @extend .actionable;
  }
}
.checkbox-dir ~ label {
  padding: 0 0 0 0.5rem;
  text-align: left;
}
.checkbox-def {
  width: 1rem;
  height: 1rem;
  max-height: 1rem;
  span {
    @include pos-abs(calc(50% - 0.5rem), 0);
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    padding: 0;
  }
  &.checked span:before {
    padding: 0 0 0 0.2rem;
  }
}
.checkbox-std {
  width: 1.5rem;
  height: 1.5rem;
  max-height: 1.5rem;
  span {
    @include pos-abs(calc(50% - 0.75rem), 0);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    padding: 0;
  }
  &.checked span:before {
    padding: 0 0 0 0.1rem;
  }
}

//07/05/2016@vik - styling for file inputs, hides actual ugly input, shows button
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
        @extend .secondary-button;
    }
    &:focus, &.has-focus {
      + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }
    }
}
