img.mast-icon {
  height: 58px;
  width: 62px;
  object-fit: none;
  &.mast-icon-user {
    object-position: -470px -180px;
  }
  &.mast-icon-search {
    object-position: -195px -180px;
  }
  &.mast-icon-print {
    object-position: -330px -180px;
  }
  &.mast-icon-plus {
    object-position: -330px -314px;
  }
  &.mast-icon-minus {
    object-position: -191px -314px;
  }
  &.mast-icon-gt {
    object-position: -450px -314px;
  }
}

.icon {
  width: 23px !important;
  height: 21px !important;
  object-fit: none;
}
[class^="icon-small-"] {
  @extend .icon;
}
.icon-small-mag { object-position: -74px -67px; }
.icon-small-print { object-position: -123px -67px; }
.icon-small-user { object-position: -176px -68px; }
.icon-small-minus { object-position: -73px -118px; }
.icon-small-plus { object-position: -124px -119px; }
.icon-small-arrow-right { object-position: -176px -120px; }
.icon-small-arrow-down { object-position: -226px -120px; }
.icon-small-arrow-up { object-position: -278px -120px; }
.icon-small-select { object-position: -72px -169px; }
.icon-small-add { object-position: -124px -169px; }
.icon-small-calendar { object-position: -175px -169px; }
.icon-small-check { object-position: -226px -168px; }
.icon-small-cross { object-position: -278px -169px; }
.icon-small-graph { object-position: -72px -220px; }
.icon-small-paper { object-position: -125px -221px; }
.icon-small-play { object-position: -175px -220px; }
.icon-small-lines { object-position: -227px -219px; }
.icon-small-paperclip { object-position: -73px -270px; }
.icon-small-tablet { object-position: -126px -271px; }
.icon-small-trash { object-position: -176px -271px; }
.icon-disabled { -webkit-filter:brightness(75%); }
