/*
 * General layout css;
 */

.content-body {
  @include grid-block(12);
  background-color: $mast_colour_white;
  padding: 0 3.6rem; // Padding on sides of the main pages;

  > .grid-content {
    overflow: hidden;
  }
}

.content-body-no-padding {
  @extend .content-body;
  padding: 0;
}

.content-body-padding {
  padding: 0 3.6rem;
}

// used to move the main content down below the header
//  because the header is fixed, content would otherwise sit at top of
//  page and be partially obscured by the header
.header-spacer {
  height: 2.5rem;
}

.tab-contents {
  padding: 1rem 0;
  .small-12 {
    padding: 0;
  }
}

.view-block {
  .box {
    background: $mast_colour_grey_light;
    padding: .75rem 2rem;
    color: $mast_colour_black;
    font-weight: bold;
    display: inline-block;
  }

  .list-box {
    @extend .box;
    margin-right: 1rem;
  }
}

.view-label {
  font-weight: bold;
  color: $mast_colour_grey_dark;
}

.line .view-block {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    flex-grow: 5;
    flex-basis: 0;
  }
  .view-label {
    font-weight: bold;
    color: $mast_colour_blue_dark;
    flex-grow: 1;
    flex-basis: 8rem;
  }
}

.list .view-block {
  padding: .5rem;
  .view-label {
    color: $mast_colour_grey_mid;
    font-size: .75rem;
    font-weight: bold;
    padding: .5rem 0;
  }
  .view-text {
    color: $mast_colour_blue_mid;
  }
}

.item-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  button {
    margin: 0;
  }
  li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    font-size: 1rem;
    margin-top: .5rem;
    > div {
      padding: .3rem;
      flex-grow: 1;
      flex-basis: 0;
      align-self: center;
    }
    .nr {
      flex-grow: 0;
      flex-basis: 3rem;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
    }
    .body {
      flex-grow: 0;
      flex-basis: 25rem;
      max-height: 6rem;
      padding: .5rem 1rem .5rem .5rem;
      overflow: hidden;
      position: relative;
    }
    .title {
      color: $mast_colour_blue_dark;
      font-weight: bold;
    }
    .desc {
      font-size: .7rem;
    }
    .dates {
      font-size: .8rem;
    }
    .view-all {
      position: absolute;
      top: 4rem;
      right: 1rem;
      text-decoration: underline;
      cursor: pointer;
      padding: 0 .5rem;
      margin: 2px;
      color: $mast_colour_blue_dark;
    }
    .expanded {
      overflow: visible;
      max-height: none;
      .view-all {
        position: relative;
        float: right;
        top: auto;
        right: auto;
      }
    }
    .status {
      text-align: right;
    }
    .actions {
      flex-grow: 0;
      flex-basis: 10rem;
      text-align: right;
      padding: 1rem;
      .svg-icon-Tick:before {
        position: absolute;
        margin-left: -3rem;
      }
      svg {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.header-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
  > div {
    flex-grow: 3;
    flex-basis: 0;
    align-self: auto;
  }
  div h2  {
    padding-top: 0;
    margin-top: 0;
    strong, b {
      color: $mast_colour_pure_white;
    }
  }
  [data-back-button] {
    flex-grow: 0;
    flex-basis: 5rem;
  }
  .status {
    color: $mast_colour_blue_very_light;
    font-weight: bold;
    padding-bottom: 1em;
  }
  .linked-defect {
      font-size:.75rem;
  }
  .buttons {
    text-align: right;
    padding-right: .5rem;
    align-self: auto;
    flex-grow: 0;
    flex-basis: auto;
    button {
      margin: 0 .5rem;
    }
  }
  .disclaimer {
    font-size: .8rem;
    color: $mast_colour_white;
    padding: 1rem 0;
  }
}
