.#{$modal-overlay-class} {
  &.full {
    > .modal {
      height: 100%;
      background: linear-gradient(to bottom, rgba(white, 0), rgba($mast_colour_blue_very_dark, 1) 80%);
      overflow-y: auto;
    }
  }

  .close-button {
    color: $mast_colour_white;
    text-decoration: underline;
    &:hover {
      color: $mast_colour_pure_white;
    }
  }

  &.inner {
    > .modal {
      background: $mast_colour_blue_very_dark;
      overflow-y: auto;
      border: none;
    }

    &.modal-overlay {
      background-color: transparent;
    }
  }

  .modal {
    overflow-y: auto;
  }

  modal-body button {
    padding: 0.8rem;
    word-wrap: break-word;
  }
}

.modal-title {
  padding-bottom: 15px;
}

.modal-footer {
  padding: 10px 0px;
}
