/**
File is here for quick testing before figuring out where changes should live in scss structure
This file is included in scss last, so these styles should override previously defined styles.

This file would generally be empty.

where are these used? should be in scss structure somewhere if wanted */
.left {
  float: left;
  padding-top: 10px;
}

.right {
  float: right;
  padding-top: 10px;
}
