.tabs {
  justify-content: flex-end; // Pushes tabs to the right
  .tab-item {
    text-align: center;
    padding: 0;
    &:not(.is-active) {
      a {
        color: $mast_colour_white;
      }
      &:hover {
        background-color: $mast_colour_grey_dark;
      }
    }
    &.is-active {
      font-family: 'OpenSans-Bold', sans-serif;
      &:hover {
        background-color: $mast_colour_white;
      }
    }
    &.is-disabled {
      a {
        color: $mast_colour_grey_light;
      }
    }
    a {
      display: inline-block;
      padding: 1rem 1rem;
      width: 100%;
      height: 100%;
    }
  }
}

/**
 * This is rather specific, and not particularly elegant but solves a problem.
 * Angular, by default, applies `display: none` to all elements with a class of
 * `ng-hide`. In doing so, it makes it impossible to calculate the width and height
 * of elements contained within a hidden element. To get around this we overide the
 * default behaviour of `ng-hide` and instead use a combination of `position: absolute`,
 * and `top`, `left` values instead. This specifically relates to tabbed content
 *
 * See: https://docs.angularjs.org/api/ng/directive/ngHide#overriding-ng-hide-
 */
.ng-hide[data-ng-show]:not(.ng-hide-animate) {
  display: block !important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tab-content > .ng-hide {
  // because the element is now position absolute, it loses its width so we need
  // to reset it - 100% is a safe default for this
  width: 100%;
}

form, ng-form {
  // related to the hiding of content and using `position: absolute` instead of
  // `display: none` we need to position the form relative to prevent the hidden
  // content from escaping the bounds of the form.
  position: relative;
}
