.modal-table {
  thead > tr {
    background: $mast_colour_blue_dark;

    > th {
      @extend .text-left;
      font-family: 'OpenSans-Light';
      font-weight: lighter;
      padding: 15px 25px 15px 0px;
    }

    th:nth-of-type(1) {
      padding: 15px 0px 15px 15px;
    }
  }

  tbody > tr {
    background: rgba($mast_colour_blue_very_dark, 0.8);
    border-top: 3px solid rgba(0, 0, 0, 0.05);

    &.selected {
      background: rgba($mast_colour_blue_dark, 0.7);
    }

    > td {
      font-family: 'OpenSans-Light';
      padding-right: 20px;
      margin-left: 5px;
    }

    td:nth-of-type(1) {
      padding: 5px 0px;

      label {
        font-weight: bold;
      }

      >:first-child {
        margin: 0px 10px 0px 7px;
      }
    }
  }
}

.asset-model {
  nav {
    li {
      &[disabled], &.disabled {
        @include border(1px, solid, $mast_colour_grey_light);
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }
}

.item-attributes-columns {
  col:nth-of-type(1) {
    width: 35%;
  }
  col:nth-of-type(2) {
    width: 36%;
  }
  col:nth-of-type(3) {
    width: 18%;
  }
  col:nth-of-type(4) {
    width: 11%;
  }
}

.case-milestones-columns {
  col:nth-of-type(1) {
    width: 5%;
  }
  col:nth-of-type(2) {
    width: 35%;
  }
  col:nth-of-type(3) {
    width: 25%;
  }
  col:nth-of-type(4) {
    width: 10%;
  }
  col:nth-of-type(5) {
    width: 5%;
  }
  col:nth-of-type(6) {
    width: 10%;
  }
  col:nth-of-type(7) {
    width: 10%;
  }
}

.case-milestones-dueDate {
  col:nth-of-type(1) {
    width: 80%;
  }
  col:nth-of-type(2) {
    width: 20%;
  }
}
