@each $font-face in 'OpenSans-Light','OpenSans-Regular','OpenSans-Bold' {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('fonts/#{$font-face}.ttf') format('truetype');
  }
}

@font-face {
  font-family: 'MAST'; font-weight: normal; font-style: normal;
  src: url('fonts/MAST.ttf') format('truetype');
}

body {
  font-family: "OpenSans-Regular", sans-serif ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "OpenSans-Light", sans-serif;
  &.bold {
    font-weight: normal;
    font-family: "OpenSans-Regular", sans-serif;
  }
  color: $mast_colour_white;
}

// This is temporary, need a better way to style the #masthead name
body h2:first-child {
  font-size: 1.6rem;
  padding: 0.4rem 0 0.3rem;
  text-transform: none;
  color: $mast_colour_grey_very_light;
}

.white {
  color: $mast_colour_white;
}

.grey {
  color: $mast_colour_grey_mid;
}

.blue {
  color: $mast_colour_blue_dark;
}

h2 {
  &.searchResultHeader {
    color: $mast_colour_blue_mid;
  }
  &.mid {
    color: $mast_colour_grey_mid !important;
  }
}

.white-space, [ng-bind], [data-ng-bind] {
  white-space: pre-wrap;
}

.ellipsise {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.percentage::after {
  content: '%';
}

[class^="svg-icon-"]:before, [class*=" svg-icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MAST' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.5rem;
  button & {
    font-size: inherit;
    line-height: 1rem;
  }
  text-transform: none;
  line-height: 2.5rem;
  width: 2rem;
  height: 2rem;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.svg-icon-large {
  &:before {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.svg-icon-View:before { content: "\e900"; }
.svg-icon-Video:before { content: "\e901"; }
.svg-icon-Up:before { content: "\e902"; }
.svg-icon-Tick:before { content: "\e903"; }
.svg-icon-Search:before { content: "\e904"; }
.svg-icon-Right:before { content: "\e905"; }
.svg-icon-Profile:before { content: "\e906"; }
.svg-icon-Print:before { content: "\e907"; }
.svg-icon-Plus:before { content: "\e908"; }
.svg-icon-Notes:before { content: "\e909"; }
.svg-icon-List:before { content: "\e90a"; }
.svg-icon-Left:before { content: "\e90b"; }
.svg-icon-Information:before { content: "\e90c"; }
.svg-icon-Image:before { content: "\e90d"; }
.svg-icon-Hierachy:before { content: "\e90e"; }
.svg-icon-File:before { content: "\e90f"; }
.svg-icon-Expand:before { content: "\e910"; }
.svg-icon-Edit:before { content: "\e911"; }
.svg-icon-Download:before { content: "\e912"; }
.svg-icon-Down:before { content: "\e913"; }
.svg-icon-Delete:before { content: "\2715"; }
.svg-icon-Collapse:before { content: "\e915"; }
.svg-icon-Close:before { content: "\e916"; }
.svg-icon-Chart:before { content: "\e917"; }
.svg-icon-Calendar:before { content: "\e918"; }
.svg-icon-Batch:before { content: "\e919"; }
.svg-icon-Attachment:before { content: "\e91a"; }
.svg-icon-Alert:before { content: "\e91b"; }
