.validation-dark { /* For use on dark backgrounds */
  color: $mast_colour_white;
  font-weight: 700;
}

.validation-light { /* For use on light backgrounds */
  color: $mast_colour_red_bright;
  font-weight: 700;
}
