<small-modal
  class="white text-center"
  id="modal-item-name-updated"
  title="'Creation error'">
  <modal-body>
    <p>{{errorText}}</p>
  </modal-body>
  <modal-footer>
    <button
      class="primary-button"
      data-ng-click="$close(true)">Close
    </button>
  </modal-footer>
</small-modal>
