<div>
  <button
    data-ng-if="!vm.data.selected.length"
    data-ng-click="vm.open()"
    class="grey-button"
    name="item"
    id="actionable-item-item">Select Item</button>
  <span data-ng-if="!vm.data.selected && !vm.data.validate.required">
    <i>
      [If left blank the {{vm.data.typeName}} will sit against the asset item]
    </i>
  </span>
  <div
    data-ng-repeat="item in vm.data.selected"
    class="background-light-grey item item-selected">
    <div>
      <strong
        class="very-dark-grey"
        data-ng-bind="item.name"></strong>
    </div>
    <div
      class="grey actionable"
      data-ng-click="vm.removeItem(item)">
      &#10005;
    </div>
  </div>
  <button
    data-ng-if="vm.data.values.length"
    data-ng-click="vm.open()"
    class="grey-button change-selection"
    name="item"
    id="actionable-item-item">
    Change selection
  </button>
</div>
