<div class="grid-container">
  <div class="grid-block vertical align-center">
    <div class="grid-container align-center">
      <div class="modal-title" data-ng-transclude="header">
        <h1>{{::title}}</h1>
      </div>
      <div data-ng-transclude="body"></div>
      <div class="grid-content modal-footer" data-ng-transclude="footer">
      </div>
    </div>
  </div>
</div>
