<div class="reveal">
  <div data-ng-transclude="header">
    <h1 class="center white title">{{::title}}</h1>
  </div>
  <div data-ng-transclude="body"></div>
  <div class="" data-ng-transclude="footer"></div>
</div>
